force-app/main/default/flows/AttivitaOffertaApprovata.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Fields</name>
        <label>Set_Fields</label>
        <locationX>639</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>Get_Activity.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiusa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Activity</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Attività - Offerta Approvata {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attività - Offerta Approvata</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Activity</name>
        <label>Get Activity</label>
        <locationX>484</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activity</name>
        <label>Update Activity</label>
        <locationX>807</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>Approvazione_Offerta</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Activity</inputReference>
    </recordUpdates>
    <screens>
        <name>Approvazione_Offerta</name>
        <label>Approvazione Offerta</label>
        <locationX>960</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultScreen</name>
            <fieldText>&lt;p&gt;Attività approvata correttamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Approvazione Offerta</label>
        <locationX>814</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Activity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
