force-app/main/default/flows/HDL_FL_VO_Script_Prezzo_Sicurezza.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Bonus_Decision_0</name>
        <label>Bonus Decision</label>
        <locationX>836</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Bonus_Loop_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotBonusNatura</defaultConnectorLabel>
        <rules>
            <name>isBonusNatura_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bonus_Loop_0.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bonus Natura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condizioni_Economiche_Bonus_0</targetReference>
            </connector>
            <label>isBonusNatura</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servizio_Decision_0_0</name>
        <label>Servizio Decision</label>
        <locationX>616</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Condizioni_Economiche_Aziende_GAS_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isGAS</defaultConnectorLabel>
        <rules>
            <name>isEE_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta_0.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condizioni_Economiche_Aziende_EE_0</targetReference>
            </connector>
            <label>isEE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servizio_Decision_0_0_0</name>
        <label>Servizio Decision</label>
        <locationX>616</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Dati_Tecnici_Aziende_GAS_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isGAS</defaultConnectorLabel>
        <rules>
            <name>isEE_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta_0.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dati_Tecnici_Aziende_EE_0_0</targetReference>
            </connector>
            <label>isEE</label>
        </rules>
    </decisions>
    <formulas>
        <name>NomeOffertaCalcolato_Introduzione</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!HDT_FL_Script_Gestione_Ordini.NomeOffertaOutput} , &quot;Imola&quot;), &quot;Prezzo Sicurezza Hera Imola&quot;,&quot;Prezzo Sicurezza Hera&quot;)</expression>
    </formulas>
    <formulas>
        <name>NomeOffertaCE_Aziende</name>
        <dataType>String</dataType>
        <expression> IF(CONTAINS({!LoopOrdiniFigliOfferta_0.CommercialProduct__c} , &quot;Imola&quot;), &quot;Prezzo Sicurezza Hera Imola&quot;, 
  IF(CONTAINS({!LoopOrdiniFigliOfferta_0.CommercialProduct__c} , &quot;Lavoro&quot;), &quot;Prezzo Sicurezza Hera&quot;, &quot;Prezzo Sicurezza Hera&quot;))</expression>
    </formulas>
    <formulas>
        <name>ProfiloCalcolato_Aziende</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!LoopOrdiniFigliOfferta_0.CommercialProduct__c} , &quot;24&quot;), &quot;24&quot;, 
 IF(CONTAINS({!LoopOrdiniFigliOfferta_0.CommercialProduct__c} , &quot;123&quot;), &quot;123&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>HDL FL VO Script - Prezzo Sicurezza {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDL FL VO Script - Prezzo Sicurezza</label>
    <loops>
        <name>Bonus_Loop_0</name>
        <label>Bonus Loop</label>
        <locationX>616</locationX>
        <locationY>1094</locationY>
        <collectionReference>GetOrderItems_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bonus_Decision_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Servizio_Decision_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrdiniFigliOfferta_0</name>
        <label>LoopOrdiniFigliOfferta</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>HDT_FL_Script_Gestione_Ordini.AssignOrdiniFigliOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Servizio_Decision_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Items_Vas_Loop</name>
        <label>Order Items Vas Loop</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <collectionReference>HDT_FL_Script_Gestione_Ordini.AssignOrdiniFigliVASBonusOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HDT_Script_VAS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bundle_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOrderItems_0</name>
        <label>GetOrderItems</label>
        <locationX>616</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bonus_Loop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOrdiniFigliOfferta_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Bundle_Screen</name>
        <label>Bundle Screen</label>
        <locationX>176</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Durata_Contratto</targetReference>
        </connector>
        <fields>
            <name>textb1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[7 . Servizi Bundle]&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textb2</name>
            <fieldText>&lt;p&gt;7.1 [“DIARIO DEI CONSUMI”] – SOLO SE IL CLIENTE HA FORNITO L’INDIRIZZO MAIL]&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Con la sottoscrizione dell’offerta Luce o dell’offerta Gas, avrà a disposizione, gratuitamente, per tutta la durata della fornitura, il servizio DIARIO DEI CONSUMI. A questo proposito, mi conferma che:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	il numero di addetti che lavorano nella sua attività è XXXX?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;•	la superficie dello stabile è XXXX metri quadri?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;Il report di DIARIO DEI CONSUMI le sarà inviato all’indirizzo mail indicato.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Qualora Lei eserciti il recesso dal contratto sottoscritto, o lo stesso si sciolga per qualsiasi motivo, il servizio non sarà più disponibile.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Il servizio citato è descritto in dettaglio nel plico contrattuale che riceverà.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.PrimaryEmail__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condizioni_Economiche_Aziende_EE_0</name>
        <label>Condizioni Economiche Aziende EE</label>
        <locationX>484</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOrderItems_0</targetReference>
        </connector>
        <fields>
            <name>text_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[3. Condizioni economiche Energia elettrica per {!LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c}]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;•	Le propongo di seguito le condizioni economiche, valide per un periodo di 12 mesi di {!LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c} per la sua attività economica.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text1_0_0_0</name>
            <fieldText>&lt;p&gt;Il profilo 123 prevede un prezzo applicato alla componente energia differenziato secondo le tre fasce orarie F1, F2 ed F3 definite dall’Autorità per l’energia elettrica il gas e il sistema idrico.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Il prezzo della componente energia, per il periodo da lei scelto, assumerà il valore di 0,1674 €/kWh in F1, 0,1696 €/kWh in F2 e 0,1531 €/kWh in F3. Qualora il misuratore non sia idoneo alla rilevazione dell’energia elettrica per fascia oraria, sarà applicato invece un prezzo uguale in tutte le ore della giornata e pari a 0,1630 €/kWh.&lt;/p&gt;&lt;p&gt;I prezzi comunicati sono inclusivi delle perdite di rete; in bolletta invece saranno esposti al netto delle perdite e pari a:&amp;nbsp;&lt;/p&gt;&lt;p&gt;Profilo F1 0,1519 €/kWh, Profilo F2: 0,1539 €/kWh, F3: 0,1389 €/kWh, F24 ore: 0,1479 €/kWh&lt;/p&gt;&lt;p&gt;Tali prezzi saranno applicati sia ai consumi effettivi che alle relative perdite di rete, (10,2% per un cliente in bassa tensione e 3,8% per un cliente in media tensione), ottenendo lo stesso risultato del prezzo al lordo delle perdite applicato ai consumi effettivi.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Luce</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>123</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_0_0</name>
            <fieldText>&lt;p&gt;Il profilo 24 prevede un prezzo applicato alla componente energia uguale in tutte le ore del giorno ed assumerà, per il periodo da lei scelto, il valore di 0,1630 €/kWh.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Il prezzo comunicato è inclusivo delle perdite di rete; in bolletta invece sarà esposto al netto delle perdite e pari a 0,1479 €/kWh&lt;/p&gt;&lt;p&gt;Tale prezzo sarà applicato sia ai consumi effettivi che alle relative perdite di rete, (10,2% per un cliente in bassa tensione e 3,8% per un cliente in media tensione), ottenendo lo stesso risultato del prezzo al lordo delle perdite applicato ai consumi effettivi.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Luce</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>24</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_2_0</name>
            <fieldText>&lt;p&gt;•	Il prezzo descritto verrà applicato ai consumi effettivi ed alle perdite di rete e rappresenta circa il 70%	 della spesa annua per un cliente con 10 kW di potenza impegnata ed un consumo annuo di 10.000 kWh, escluse Iva ed imposte.&lt;/p&gt;&lt;p&gt;•	Sono a carico del cliente i restanti corrispettivi compresi nella spesa per la materia energia, corrispettivo di commercializzazione, pari a 124,71 €/punto di fornitura/anno, e dispacciamento, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dall’Autorità, che insieme rappresentano il restante 30% circa della spesa annua.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Luce</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_3_0</name>
            <fieldText>&lt;p&gt;Il profilo 123 prevede un prezzo applicato alla componente energia differenziato secondo le tre fasce orarie F1, F2 ed F3 definite dall’Autorità per l’energia elettrica il gas e il sistema idrico.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Il prezzo della componente energia, per il periodo da lei scelto, assumerà il valore di 0,1674 €/kWh in F1, 0,1526 €/kWh in F2 e 0,1378 €/kWh in F3. Qualora il misuratore non sia idoneo alla rilevazione dell’energia elettrica per fascia oraria, sarà applicato invece un prezzo uguale in tutte le ore della giornata e pari a 0,1550 €/kWh.&lt;/p&gt;&lt;p&gt;I prezzi comunicati sono inclusivi delle perdite di rete; in bolletta invece saranno esposti al netto delle perdite e pari a:&amp;nbsp;&lt;/p&gt;&lt;p&gt;Profilo F1 0,1519 €/kWh, Profilo F2: 0,1385 €/kWh, F3: 0,1250 €/kWh, F24 ore: 0,1406 €/kWh&lt;/p&gt;&lt;p&gt;Tali prezzi saranno applicati sia ai consumi effettivi che alle relative perdite di rete, (10,2% per un cliente in bassa tensione e 3,8% per un cliente in media tensione), ottenendo lo stesso risultato del prezzo al lordo delle perdite applicato ai consumi effettivi.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>123</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Imola Luce</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_0_1</name>
            <fieldText>&lt;p&gt;Il profilo 24 prevede un prezzo applicato alla componente energia uguale in tutte le ore del giorno ed assumerà, per il periodo da lei scelto, il valore di 0,1550 €/kWh.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Imola Luce</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>24</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_0_2</name>
            <fieldText>&lt;p&gt;Il prezzo comunicato è inclusivo delle perdite di rete; in bolletta invece sarà esposto al netto delle perdite e pari a 0,1406 €/kWh&lt;/p&gt;&lt;p&gt;Tale prezzo sarà applicato sia ai consumi effettivi che alle relative perdite di rete, (10,2% per un cliente in bassa tensione e 3,8% per un cliente in media tensione), ottenendo lo stesso risultato del prezzo al lordo delle perdite applicato ai consumi effettivi.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pezzo Sicurezza Hera Imola Luce</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text2_0_0_3</name>
            <fieldText>&lt;p&gt;Può sostenere la produzione di energia da fonti rinnovabili scegliendo di attivare l’opzione Energia Verde. L’adesione a tale opzione comporta il versamento di un corrispettivo pari a 0,0025 €/kWh applicato ai consumi a lei fatturati.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma di volere attivare l’opzione Energia Verde?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	 Il prezzo descritto verrà applicato ai consumi effettivi ed alle perdite di rete e rappresenta circa il 69%	 della spesa annua per un cliente con 10 kW di potenza impegnata ed un consumo annuo di 10.000 kWh, escluse Iva ed imposte.&lt;/p&gt;&lt;p&gt;•	Sono a carico del cliente i restanti corrispettivi compresi nella spesa per la materia energia, corrispettivo di commercializzazione, pari a 124,71 €/punto di fornitura/anno, e dispacciamento, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dall’Autorità, che insieme rappresentano il restante 31% circa della spesa annua.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Verde</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text10</name>
            <fieldText>&lt;p&gt;Nella prima bolletta ci saranno inoltre i costi della voltura, quelli previsti dal distributore attualmente pari ad € 25,81 e quelli previsti da Hera Comm/EstEnergy pari ad € 23,00&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.Volture__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text4_0_0_0</name>
            <fieldText>&lt;p&gt;•	Sono inoltre a suo carico tasse, Iva ed imposte previste dalla legge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condizioni_Economiche_Aziende_GAS_0</name>
        <label>Condizioni Economiche Aziende GAS</label>
        <locationX>748</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOrderItems_0</targetReference>
        </connector>
        <fields>
            <name>text_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[3. Condizioni economiche Energia elettrica per {!NomeOffertaCE_Aziende}]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;•	Le propongo di seguito le condizioni economiche, valide per un periodo di 12 mesi, di {!NomeOffertaCE_Aziende} Gas per la sua attività economica.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text_0_0_0_0_1</name>
            <fieldText>&lt;p&gt;Il prezzo applicato alla componente energia, per il periodo da lei scelto, è pari a 75,5 c€/Smc, riferito ad un potere calorifico del gas di 38,52 Mega Joule/ metro cubo, ed in sede di fatturazione sarà adeguato al contenuto energetico del gas fornito.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Il prezzo fisso descritto rappresenta circa l’84% della spesa annua per un cliente con 10.000 metri cubi di consumo annuo, escluse IVA ed imposte.&lt;/p&gt;&lt;p&gt;•	Sono a carico del cliente i corrispettivi compresi nella spesa per la materia gas naturale, ovvero quota vendita al dettaglio pari a 82,39 €/punto di fornitura/anno e 0,007946 €/Smc e oneri aggiuntivi, come previsti dall’Autorità, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dall’Autorità, che insieme rappresentano il restante 16% circa della spesa annua.&lt;/p&gt;&lt;p&gt;•	L’incidenza percentuale dei corrispettivi indicati si riferisce all’ambito tariffario nord-orientale e può variare in relazione all’ambito tariffario di riferimento in cui è sito il punto di fornitura.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Gas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Rete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text1_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;Il prezzo applicato alla componente energia, per il periodo da lei scelto, è pari a 74,5 c€/Smc, riferito ad un potere calorifico del gas di 38,52 Mega Joule/ metro cubo, ed in sede di fatturazione sarà adeguato al contenuto energetico del gas fornito.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Il prezzo fisso descritto rappresenta circa l’84% della spesa annua per un cliente con 10.000 metri cubi di consumo annuo, escluse IVA ed imposte.&lt;/p&gt;&lt;p&gt;•	Sono a carico del cliente i corrispettivi compresi nella spesa per la materia gas naturale, ovvero quota vendita al dettaglio pari a 82,39 €/punto di fornitura/anno e 0,007946 €/Smc e oneri aggiuntivi, come previsti dall’Autorità, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dall’Autorità, che insieme rappresentano il restante 16% circa della spesa annua.&lt;/p&gt;&lt;p&gt;L’incidenza percentuale dei corrispettivi indicati si riferisce all’ambito tariffario nord-orientale e può variare in relazione all’ambito tariffario di riferimento&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Prezzo Sicurezza Hera Gas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.CommercialProduct__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Extra Rete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text12</name>
            <fieldText>&lt;p&gt;•	Nella prima bolletta ci saranno inoltre i costi della voltura, quelli previsti da Hera Comm/EstEnergy/Hera Comm Marche pari ad € 25,00 e quelli applicabili a discrezione del Distributore Locale.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.Volture__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condizioni_Economiche_Famiglie_EE_Text4_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;•	Sono inoltre a suo carico tasse, IVA ed imposte previste dalla legge.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condizioni_Economiche_Bonus_0</name>
        <label>Condizioni Economiche Bonus</label>
        <locationX>704</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bonus_Loop_0</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conferma_Adesione</name>
        <label>Conferma Adesione</label>
        <locationX>176</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfermaAdesione</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[9 Conferma Adesione]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma quindi che aderisce all’offerta&amp;nbsp;Luce e/o all’offerta&amp;nbsp;Gas?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Se deve inviare un reclamo o richiesta di informazioni, può indirizzarle in forma scritta alla nostra sede legale.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	La informo che, qualora lei abbia i requisiti previsti per legge e voglia l’applicazione dell’aliquota IVA ridotta al 10%, ci dovrà restituire, debitamente compilata, la modulistica predisposta a tale scopo che troverà all’interno del plico contrattuale che riceverà per posta.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Le ricordo che in qualsiasi momento e senza alcuna spesa può scegliere le condizioni economiche e contrattuali di riferimento della nostra offerta PLACET a prezzo fisso o a prezzo variabile, di cui può trovare maggiori informazioni sul nostro sito internet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Conferisce il consenso al trattamento dei dati per finalità promozionali anche tramite comunicazioni elettroniche e sistemi automatizzati di chiamata?&lt;/p&gt;&lt;p&gt;XXXXX [SI/NO]&lt;/p&gt;&lt;p&gt;•	Conferisce il consenso allo svolgimento di attività volte all’analisi delle preferenze, abitudini e/o scelte di consumo?&lt;/p&gt;&lt;p&gt;XXXXX [SI/NO]&lt;/p&gt;&lt;p&gt;•	Mi conferma inoltre che oggi è il {!$Flow.CurrentDateTime}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Bene, sig. {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.LastName__c} abbiamo terminato la registrazione, benvenuto/a in HERA COMM/ HERA COMM MARCHE/ESTENERGY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dati_Tecnici_Aziende_EE_0_0</name>
        <label>Dati Tecnici Aziende EE</label>
        <locationX>484</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopOrdiniFigliOfferta_0</targetReference>
        </connector>
        <fields>
            <name>Dati_Tecnici_Famiglie_EE_Text1_0_0</name>
            <fieldText>&lt;p&gt;[3.3 Dati Tecnici Energia Elettrica]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che l’attuale fornitore per l’Energia Elettrica è {!LoopOrdiniFigliOfferta_0.DistributorFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;•	Mi indica Ragione sociale e partita IVA riportati sulla bolletta della luce [nel caso sia il sottoscrittore procedere; in caso contrario chiedere autorizzazione a voltura] ?&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;{!LoopOrdiniFigliOfferta_0.Contact__r.LastName}&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;{!LoopOrdiniFigliOfferta_0.Contact__r.VATNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textfix11</name>
            <fieldText>&lt;p&gt;•	La informiamo che effettueremo la voltura contestualmente alla data di cambio venditore&lt;/p&gt;&lt;p&gt;•	Conferma di possedere titolo idoneo a sottoscrivere la fornitura?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;•	Conferma che Ragione sociale e partita IVA del precedente intestatario sono {!LoopOrdiniFigliOfferta_0.PreviousHoldeCompanyName__c} {!LoopOrdiniFigliOfferta_0.PreviousHolderVatNumber__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;•	 [Se esiste per il precedente venditore (facoltativo)] Conferma che il codice cliente è XXXXX?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta_0.Volture__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dati_Tecnici_Famiglie_EE_Text3_0_0</name>
            <fieldText>&lt;p&gt;•	È già a Libero Mercato?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che il codice POD è {!LoopOrdiniFigliOfferta_0.ServicePointCodeFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che la tensione di fornitura è {!LoopOrdiniFigliOfferta_0.VoltageLevel__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che la potenza impegnata è {!LoopOrdiniFigliOfferta_0.PowerCommitted__c} kW?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;•	Mi conferma che il profilo scelto è il {!ProfiloCalcolato_Aziende} e la durata del prezzo fisso è 12 mesi?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;CONFERMO&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che la fornitura elettrica è in {!LoopOrdiniFigliOfferta_0.SupplyAddressFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dati_Tecnici_Aziende_GAS_0_0</name>
        <label>Dati Tecnici Aziende GAS</label>
        <locationX>748</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopOrdiniFigliOfferta_0</targetReference>
        </connector>
        <fields>
            <name>Dati_Tecnici_Famiglie_GAS_Text1_0_0</name>
            <fieldText>&lt;p&gt;[Dati Tecnici Gas]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che l’attuale fornitore Gas è {!LoopOrdiniFigliOfferta_0.DistributorFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi indica Ragione sociale e partita IVA riportati sulla bolletta del gas [nel caso sia il sottoscrittore procedere; in caso contrario chiedere autorizzazione a voltura]?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dati_Tecnici_Famiglie_GAS_Text3_0_0</name>
            <fieldText>&lt;p&gt;•	È già a Libero Mercato?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che pdr e matricola del contatore GAS sono {!LoopOrdiniFigliOfferta&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;_0&lt;/span&gt;.ServicePointCodeFormula__c}, {!LoopOrdiniFigliOfferta&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;_0&lt;/span&gt;.MeterSN__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;•	Mi conferma che  la durata del prezzo fisso è 12 mesi?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Mi conferma che la fornitura di gas è in {!LoopOrdiniFigliOfferta&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;_0&lt;/span&gt;.SupplyAddressFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dati_Tecnici_Famiglie_GAS_Text8_0_0</name>
            <fieldText>&lt;p&gt;[Se il cliente ha un’attività per cui ha diritto ad agevolazioni fiscali]&lt;/p&gt;&lt;p&gt;•	Le ricordo che in alcuni casi le forniture di gas naturale sono soggette all’imposta di consumo statale ed alle addizionali regionali agevolate. Mi conferma che la sua attività è XXXXX?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;Bene, allora la informo che troverà la modulistica di richiesta all’interno del plico contrattuale da restituire debitamente compilata.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Durata_Contratto</name>
        <label>Durata Contratto</label>
        <locationX>176</locationX>
        <locationY>2534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Conferma_Adesione</targetReference>
        </connector>
        <fields>
            <name>Durata_Contratto_Text1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[8 Durata Contratto]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;•	La informo che il contratto si conclude al termine della telefonata.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	L’offerta può essere sostituita solo previa nostra comunicazione scritta.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;•	Il contratto è a tempo indeterminato ed in qualsiasi momento potrà recedere con una raccomandata con ricevuta di ritorno, da inviare con preavviso di 9 mesi presso l’indirizzo della nostra sede legale.&lt;/p&gt;&lt;p&gt;•	Qualora il punto di fornitura di energia elettrica sia connesso in bassa tensione e/o&amp;nbsp;i consumi di gas non siano superiori a 200.000 Smc/anno può recedere in qualsiasi momento entro e non oltre il giorno dieci del mese precedente la data di cambio venditore.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDT_FL_Script_Gestione_Ordini</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>HDT_FL_Script_Gestione_Ordini</name>
        <label>HDT_FL_Script_Gestione_Ordini</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>HDT_Script_Introduzione</targetReference>
        </connector>
        <flowName>HDT_FL_Script_Gestione_Ordini</flowName>
        <inputAssignments>
            <name>idOrdinePadreInput</name>
            <value>
                <elementReference>idOrdinePadreInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>famigliaProdottoOffertaInput</name>
            <value>
                <elementReference>offertaInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>HDT_Script_Anagrafica</name>
        <label>HDT Script - Anagrafica</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>LoopOrdiniFigliOfferta_0</targetReference>
        </connector>
        <flowName>HDT_Script_Anagrafica</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.LoginChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>categoriaChiamata</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.CustomerCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ModalitaPagamentoInput</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.modalitaPagamentoOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessTypeInput</name>
            <value>
                <stringValue>NotVas</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HDT_Script_Introduzione</name>
        <label>HDT Script - Introduzione</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>HDT_Script_Anagrafica</targetReference>
        </connector>
        <flowName>HDT_Script_Introduzione</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.LoginChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channelInput</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.ChannelOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isAxa</name>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>offerNameInput</name>
            <value>
                <elementReference>NomeOffertaCalcolato_Introduzione</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HDT_Script_VAS</name>
        <label>HDT Script - VAS</label>
        <locationX>264</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
        <flowName>HDT_Script_VAS</flowName>
        <inputAssignments>
            <name>getInputCanale</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputCategoria</name>
            <value>
                <stringValue>Famiglie</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputOrderId</name>
            <value>
                <elementReference>Order_Items_Vas_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>idOrdinePadreInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offertaInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrdinePadre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
