force-app/main/default/flows/HDL_FL_VO_Script_Mini_VO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Offerta</name>
        <label>Offerta</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OffertaSingola</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrdiniOfferta.CommercialProductLink__r.OfferteVocalOrder__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrdiniOfferta</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>SalesCompanyFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.SalesCompany__c} , &quot;Hera Comm S.p.A&quot;), &quot;HERA COMM, SOCIETÀ DI VENDITA DI ENERGIA ELETTRICA E GAS, CON SEDE A IMOLA, IN VIA MOLINO ROSSO 8&quot;, 
 IF(ISPICKVAL({!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.SalesCompany__c} , &quot;Hera Comm Marche&quot;), &quot;HERA COMM MARCHE, SOCIETÀ DI VENDITA GAS CON SEDE A URBINO, VIA SASSO 120 E DI HERA COMM CON SEDE A IMOLA, VIA MOLINO ROSSO 8&quot;, 
  IF(ISPICKVAL({!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.SalesCompany__c} , &quot;EstEnergy S.p.A&quot;), &quot;ESTENERGY SOCIETÀ DI VENDITA DI ENERGIA ELETTRICA E GAS, CON SEDE A TRIESTE, IN VIA DEI RETTORI 1&quot;, &quot;HERA COMM, SOCIETÀ DI VENDITA DI ENERGIA ELETTRICA E GAS, CON SEDE A IMOLA, IN VIA MOLINO ROSSO 8&quot;)))</expression>
    </formulas>
    <interviewLabel>HDL FL VO Script - Mini VO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDL FL VO Script - Mini VO</label>
    <loops>
        <name>LoopOrdiniOfferta</name>
        <label>LoopOrdiniOfferta</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>HDT_FL_Script_Gestione_Ordini.AssignOrdiniFigliOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Offerta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MinoVO_text1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>MinoVO_text1</name>
        <label>MinoVO_text1</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MinoVO_text2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;[INIZIO REGISTRAZIONE]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Operatore: Chiamo per conto di {!SalesCompanyFormula}. Nell&apos;ambito di questa telefonata ho raccolto il suo interesse a ricevere una nostra proposta contrattuale personalizzata relativa all&apos;offerta {!OffertaSingola} nel rispetto delle disposizione di cui al Codice del Consumo e di cui al Codice di Condotta Commerciale per la vendita di energia elettrica e di gas, di cui può prendere visione sul sito www.autorita.energia.it.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Operatore: Mi conferma che Lei è il Sig./ra {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.LastName__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.FirstName__c} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;ed il suo codice fiscale è {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.FiscalCode__c}.&lt;/p&gt;&lt;p&gt;Cliente: Confermo&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Operatore: Mi autorizza e quindi conferma che desidera ricevere la nostra proposta , comprensiva della documentazione contrattuale a mezzo mail all&apos;indirizzo {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.ShippingMail__c}(oppure SMS al numero numero {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.PhoneNumber__c})&lt;/p&gt;&lt;p&gt;Cliente: Confermo&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Operatore: Bene Sig./ra &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.LastName__c} {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.FirstName__c} &lt;/span&gt;abbiamo terminato la registrazione, in breve tempo riceverà tutta la documentazione contrattuale che, se lo riterrà, potrà sottoscrivere attraverso il codice che le invieremo via sms.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Operatore: Prima di terminare mi conferma che oggi è il {!$Flow.CurrentDate}&lt;/p&gt;&lt;p&gt;Cliente: Confermo&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Operatore: Grazie Sig./ra arrivederci&lt;/p&gt;&lt;p&gt;&lt;b&gt;[FINE REGISTRAZIONE]&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDT_FL_Script_Gestione_Ordini</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>HDT_FL_Script_Gestione_Ordini</name>
        <label>HDT_FL_Script_Gestione_Ordini</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>LoopOrdiniOfferta</targetReference>
        </connector>
        <flowName>HDT_FL_Script_Gestione_Ordini</flowName>
        <inputAssignments>
            <name>idOrdinePadreInput</name>
            <value>
                <elementReference>idOrdinePadreInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>famigliaProdottoOffertaInput</name>
            <value>
                <elementReference>offertaInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>idOrdinePadreInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offertaInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OffertaSingola</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrdinePadre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
