force-app/main/default/flows/HDL_FL_VO_Script_Prezzo_Netto_Relax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignCaldaiaSicura</name>
        <label>AssignCaldaiaSicura</label>
        <locationX>1964</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistCaldaiaSicura</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera Caldaia Sicura</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContaWatt</name>
        <label>AssignContaWatt</label>
        <locationX>1172</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistContaWatt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera ContaWatt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEbike</name>
        <label>AssignEbike</label>
        <locationX>3020</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistEbike</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEE</name>
        <label>AssignEE</label>
        <locationX>1478</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>IsEnergiaElettrica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CanaleVenditaDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFotoVoltaico</name>
        <label>AssignFotoVoltaico</label>
        <locationX>3812</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistFotoVoltaico</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGas</name>
        <label>AssignGas</label>
        <locationX>2094</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>isGas</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CanaleVenditaDecision_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInstallazione</name>
        <label>AssignInstallazione</label>
        <locationX>1874</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>ContainsInstallazioneTermostato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsKitLed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInstallazioneStandard</name>
        <label>AssignInstallazioneStandard</label>
        <locationX>1874</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>ContainsInstallazioneStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CounterLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLED</name>
        <label>AssignLED</label>
        <locationX>644</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistLED</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera LED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLedKit</name>
        <label>AssignLedKit</label>
        <locationX>1874</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>KitLedVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsWallBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentAnalisiConsumi</name>
        <label>AssignmentAnalisiConsumi</label>
        <locationX>1763</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AnalisiConsumi</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HDT_FL_Script_Gestione_Ordini</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMonopattino</name>
        <label>AssignMonopattino</label>
        <locationX>3284</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistMonopattino</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNoProblemAcqua</name>
        <label>AssignNoProblemAcqua</label>
        <locationX>2756</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistNoProblemAcqua</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera No Problem Acqua</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNoProblemGas</name>
        <label>AssignNoProblemGas</label>
        <locationX>1700</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistNoProblemGas</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera No Problem Gas</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNoProblemLuce</name>
        <label>AssignNoProblemLuce</label>
        <locationX>1436</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistNoProblemLuce</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera No Problem Luce</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderPadreId</name>
        <label>AssignOrderPadreId</label>
        <locationX>1895</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>idPadre</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetParent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getChilds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRicaricaPrivata</name>
        <label>AssignRicaricaPrivata</label>
        <locationX>2492</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistRicaricaPrivata</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Ricarica Privata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRicaricaPubblica</name>
        <label>AssignRicaricaPubblica</label>
        <locationX>2228</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistRicaricaPubblica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSanifica</name>
        <label>AssignSanifica</label>
        <locationX>3548</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistSanifica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignThermo</name>
        <label>AssignThermo</label>
        <locationX>908</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>ExistThermo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VasNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hera Thermo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariabiliConcatenate</name>
        <label>AssignVariabiliConcatenate</label>
        <locationX>1786</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>NomiFamiglie_Bonus_Concatenati</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDT_FL_Script_Concatenazione_Ordini_Figli.AssignNomi_E_Famiglie_Bonus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OfferteVocalOrder_Concatenazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDT_FL_Script_Concatenazione_Ordini_Figli.AssignOfferteVocalOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomiFamiglie_Promo_Concatenate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDT_FL_Script_Concatenazione_Ordini_Figli.AssignNomi_E_Famiglie_Promozioni</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomiFamiglie_OfferteCommerciali_Concatenate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDT_FL_Script_Concatenazione_Ordini_Figli.AssignNomi_E_Famiglia_OfferteCommerciali</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Servizio_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterTermostato</name>
        <label>CounterTermostato</label>
        <locationX>1874</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>TermostatoQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsTermostatoConInstallazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterWallBox</name>
        <label>CounterWallBox</label>
        <locationX>1874</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>WallBoxCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConstainsInstallStandard</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bonus_Decision</name>
        <label>Bonus Decision</label>
        <locationX>1874</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>GetOrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotBonus</defaultConnectorLabel>
        <rules>
            <name>isBonus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NomiFamiglie_Bonus_Concatenati</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bonus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NomiFamiglie_Bonus_Concatenati</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Soluzioni Sostenibili</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BONUS_FAM_GAS_OUT</targetReference>
            </connector>
            <label>isBonus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bonus_Decision_0</name>
        <label>Bonus Decision</label>
        <locationX>2314</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>GetOrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotBonus</defaultConnectorLabel>
        <rules>
            <name>isBonus_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NomiFamiglie_Bonus_Concatenati</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bonus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NomiFamiglie_Bonus_Concatenati</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Soluzioni Sostenibili</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BONUS_FAM_GAS_INB</targetReference>
            </connector>
            <label>isBonus</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanaleVenditaDecision</name>
        <label>CanaleVenditaDecision</label>
        <locationX>1478</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>GetOrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isInbound</defaultConnectorLabel>
        <rules>
            <name>isOutbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.Channel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderItem</targetReference>
            </connector>
            <label>isOutbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanaleVenditaDecision_0</name>
        <label>CanaleVenditaDecision</label>
        <locationX>2094</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Condizioni_Economiche_Famiglie_Gas_Inbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isInbound</defaultConnectorLabel>
        <rules>
            <name>isOutbound_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.Channel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Condizioni_Economiche_Famiglie_Gas_Outbound</targetReference>
            </connector>
            <label>isOutbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanaleVenditaDecision_0_0</name>
        <label>CanaleVenditaDecision</label>
        <locationX>1588</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>LoopOrdiniFigliOfferta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isInbound</defaultConnectorLabel>
        <rules>
            <name>isOutbound_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.Channel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOrdiniFigliOfferta</targetReference>
            </connector>
            <label>isOutbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanaleVenditaDecision_0_0_0</name>
        <label>CanaleVenditaDecision</label>
        <locationX>1984</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>Dati_Tecnici_Famiglie_Gas_Inbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isInbound</defaultConnectorLabel>
        <rules>
            <name>isOutbound_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.Channel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dati_Tecnici_Famiglie_Gas_Outbound</targetReference>
            </connector>
            <label>isOutbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Categoria_Cliente_Decision</name>
        <label>Categoria Cliente Decision</label>
        <locationX>1895</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>isAziende</defaultConnectorLabel>
        <rules>
            <name>isFamiglie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Famiglie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOrdiniFigliOfferta</targetReference>
            </connector>
            <label>isFamiglie</label>
        </rules>
    </decisions>
    <decisions>
        <name>Categoria_Cliente_Decision_0</name>
        <label>Categoria Cliente Decision</label>
        <locationX>380</locationX>
        <locationY>6422</locationY>
        <defaultConnectorLabel>isAziende</defaultConnectorLabel>
        <rules>
            <name>isFamiglie_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Famiglie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Durata_Contratto</targetReference>
            </connector>
            <label>isFamiglie</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChannelDecision</name>
        <label>ChannelDecision</label>
        <locationX>182</locationX>
        <locationY>6638</locationY>
        <defaultConnector>
            <targetReference>Conferma_Adesione_Screen_Inbound_FAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inbound</defaultConnectorLabel>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_FL_Script_Gestione_Ordini.ChannelOutput</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conferma_Adesione_Screen_Outbound_FAM</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConstainsInstallStandard</name>
        <label>ConstainsInstallStandard</label>
        <locationX>2006</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>CounterLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INSTALLAZIONE STANDARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignInstallazioneStandard</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsKitLed</name>
        <label>ContainsKitLed</label>
        <locationX>2006</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>ContainsWallBox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HERA LED 2 KIT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLedKit</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsTermostato</name>
        <label>ContainsTermostato</label>
        <locationX>2006</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>ContainsTermostatoConInstallazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TERMOSTATO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONSEGNA TERMOSTATO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CounterTermostato</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsTermostatoConInstallazione</name>
        <label>ContainsTermostatoConInstallazione</label>
        <locationX>2006</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>ContainsKitLed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TERMOSTATO CON INSTALLAZIONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignInstallazione</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsVas</name>
        <label>ContainsVas?</label>
        <locationX>1302</locationX>
        <locationY>5522</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderChildVas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Items_Vas_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsWallBox</name>
        <label>ContainsWallBox</label>
        <locationX>2006</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>ConstainsInstallStandard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLoop.ProductName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WALLBOX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CounterWallBox</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionAnalisiConsumi</name>
        <label>DecisionAnalisiConsumi</label>
        <locationX>1895</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>HDT_FL_Script_Gestione_Ordini</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contains</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChilds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentAnalisiConsumi</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionServiziBuddle</name>
        <label>DecisionServiziBuddle</label>
        <locationX>1302</locationX>
        <locationY>5222</locationY>
        <defaultConnector>
            <targetReference>ContainsVas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Contains Analisi Consumi</defaultConnectorLabel>
        <rules>
            <name>Contains_Analisi_Consumi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnalisiConsumi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Analisi_Consumi_FAM</targetReference>
            </connector>
            <label>Contains Analisi Consumi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servizio_Decision</name>
        <label>Servizio Decision</label>
        <locationX>1786</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>AssignGas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isGas</defaultConnectorLabel>
        <rules>
            <name>isEE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEE</targetReference>
            </connector>
            <label>isEE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Servizio_Decision_0</name>
        <label>Servizio Decision</label>
        <locationX>1786</locationX>
        <locationY>4322</locationY>
        <defaultConnector>
            <targetReference>CanaleVenditaDecision_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isGas</defaultConnectorLabel>
        <rules>
            <name>isEE_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrdiniFigliOfferta.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CanaleVenditaDecision_0_0</targetReference>
            </connector>
            <label>isEE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vas_Presenti_Decision</name>
        <label>Vas Presenti Decision</label>
        <locationX>1414</locationX>
        <locationY>5846</locationY>
        <defaultConnector>
            <targetReference>WhichVasName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isVas</defaultConnectorLabel>
        <rules>
            <name>isNotVAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Items_Vas_Loop</targetReference>
            </connector>
            <label>isNotVAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichVasName</name>
        <label>WhichVasName</label>
        <locationX>2360</locationX>
        <locationY>5954</locationY>
        <defaultConnector>
            <targetReference>Order_Items_Vas_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HeraLed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLED</targetReference>
            </connector>
            <label>HeraLed</label>
        </rules>
        <rules>
            <name>HeraThermo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>THERMO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignThermo</targetReference>
            </connector>
            <label>HeraThermo</label>
        </rules>
        <rules>
            <name>HeraContaWatt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CONTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContaWatt</targetReference>
            </connector>
            <label>HeraContaWatt</label>
        </rules>
        <rules>
            <name>HeraNoProblemLuce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PROBLEM LUCE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNoProblemLuce</targetReference>
            </connector>
            <label>HeraNoProblemLuce</label>
        </rules>
        <rules>
            <name>HeraNoProblemGas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PROBLEM GAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNoProblemGas</targetReference>
            </connector>
            <label>HeraNoProblemGas</label>
        </rules>
        <rules>
            <name>HeraCaldaiaSicura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CALDAIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCaldaiaSicura</targetReference>
            </connector>
            <label>HeraCaldaiaSicura</label>
        </rules>
        <rules>
            <name>HeraRicaricaPubblica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PUBBLICA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRicaricaPubblica</targetReference>
            </connector>
            <label>HeraRicaricaPubblica</label>
        </rules>
        <rules>
            <name>HeraRicaricaPrivata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PRIVATA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRicaricaPrivata</targetReference>
            </connector>
            <label>HeraRicaricaPrivata</label>
        </rules>
        <rules>
            <name>HeraNoProblemAcqua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PROBLEM ACQUA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNoProblemAcqua</targetReference>
            </connector>
            <label>HeraNoProblemAcqua</label>
        </rules>
        <rules>
            <name>HERA_E_BIKE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HERA E-BIKE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEbike</targetReference>
            </connector>
            <label>HERA E-BIKE</label>
        </rules>
        <rules>
            <name>HERA_MONOPATTINO_ELETTRICO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HERA MONOPATTINO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMonopattino</targetReference>
            </connector>
            <label>HERA MONOPATTINO ELETTRICO</label>
        </rules>
        <rules>
            <name>HERA_SANIFICA_ARIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SANIFICATORE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSanifica</targetReference>
            </connector>
            <label>HERA SANIFICA ARIA</label>
        </rules>
        <rules>
            <name>HERA_FOTOVOLTAICO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HDT_Script_VAS.outputVasType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>HERA FV KIT FAIDATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFotoVoltaico</targetReference>
            </connector>
            <label>HERA FOTOVOLTAICO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaPriceF0</name>
        <dataType>Number</dataType>
        <expression>{!LoopOrdiniFigliOfferta.CommercialProductLink__r.PriceF0__c}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>NomeOffertaCalcolato_Introduzione</name>
        <dataType>String</dataType>
        <expression>{!HDT_FL_Script_Gestione_Ordini.NomeOffertaOutput}</expression>
    </formulas>
    <interviewLabel>HDL FL VO Script - Prezzo Netto Relax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDL FL VO Script - Prezzo Netto Relax</label>
    <loops>
        <name>CounterLoop</name>
        <label>CounterLoop</label>
        <locationX>1786</locationX>
        <locationY>2630</locationY>
        <collectionReference>GetOrderItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContainsTermostato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Servizio_Decision_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOrdiniFigliOfferta</name>
        <label>LoopOrdiniFigliOfferta</label>
        <locationX>1302</locationX>
        <locationY>1190</locationY>
        <collectionReference>HDT_FL_Script_Gestione_Ordini.AssignOrdiniFigliOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HDT_FL_Script_Concatenazione_Ordini_Figli</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOrderChildVas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Order_Items_Vas_Loop</name>
        <label>Order Items Vas Loop</label>
        <locationX>380</locationX>
        <locationY>5630</locationY>
        <collectionReference>HDT_FL_Script_Gestione_Ordini.AssignOrdiniFigliVASBonusOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HDT_Script_VAS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Categoria_Cliente_Decision_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getChilds</name>
        <label>getChilds</label>
        <locationX>1895</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionAnalisiConsumi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPadre</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>VasSubtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analisi Consumi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderChildVas</name>
        <label>getOrderChildVas</label>
        <locationX>1302</locationX>
        <locationY>4898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPadre</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderId</name>
        <label>getOrderId</label>
        <locationX>1302</locationX>
        <locationY>5006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idPadre</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>VasSubtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analisi Consumi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderItem</name>
        <label>GetOrderItem</label>
        <locationX>1786</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CounterLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOrdiniFigliOfferta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderProduct</name>
        <label>getOrderProduct</label>
        <locationX>1302</locationX>
        <locationY>5114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionServiziBuddle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOrderId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParent</name>
        <label>GetParent</label>
        <locationX>1895</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOrderPadreId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOrdinePadreInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Analisi_Consumi_FAM</name>
        <label>Analisi Consumi</label>
        <locationX>1170</locationX>
        <locationY>5330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContainsVas</targetReference>
        </connector>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Servizi in bundle alle offerte&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DIARIO DEI CONSUMI&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Con la sottoscrizione dellofferta &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Gas&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;, avr a disposizione, gratuitamente, per tutta la durata della fornitura, i servizi &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;DIARIO DEI CONSUMI&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; e &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Hera Fast check up&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;. A questo proposito, mi conferma che:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;	il numero di abitanti della sua abitazione  {!getOrderProduct.OccupantsNumber__c} e la superficie  {!getOrderProduct.Surface__c} metri quadri?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_4</name>
            <fieldText>&lt;p&gt;	La sua abitazione  {!getOrderProduct.DwellingType__c} ?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_5</name>
            <fieldText>&lt;p&gt;	Lei  il proprietario dellabitazione?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getOrderProduct.OwnerAC__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Si</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getOrderProduct.OwnerAC__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_6</name>
            <fieldText>&lt;p&gt;	Lei non  il proprietario dellabitazione?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getOrderProduct.OwnerAC__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getOrderProduct.OwnerAC__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_7</name>
            <fieldText>&lt;p&gt;Il report di DIARIO DEI CONSUMI le sar inviato allindirizzo mail indicato.&lt;/p&gt;&lt;p&gt;Qualora Lei eserciti il recesso dal contratto sottoscritto, o lo stesso si sciolga per qualsiasi motivo, i servizi, di cui ricever il dettaglio nel plico contrattuale, non saranno pi disponibili.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_8</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;HERA FAST CHECK UP&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_AC_OUT_FAM_GAS_TEXT_9</name>
            <fieldText>&lt;p&gt;Con la sottoscrizione dellofferta &lt;strong&gt;Gas&lt;/strong&gt;, avr a disposizione, gratuitamente sui Servizi On Line, per tutta la durata della fornitura, il servizio &lt;strong&gt;Hera Fast check up&lt;/strong&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Qualora Lei eserciti il recesso dal contratto sottoscritto, o lo stesso si sciolga per qualsiasi motivo, il servizio, di cui ricever il dettaglio nel plico contrattuale, non sar pi disponibile.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BONUS_FAM_GAS_INB</name>
        <label>BONUS_FAM_GAS_INB</label>
        <locationX>2182</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOrderItem</targetReference>
        </connector>
        <fields>
            <name>PNR_BONUS_INB_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bonus Soluzioni Sostenibili&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Scegliendo di acquistare anche una delle soluzioni sostenibili di Hera Comm riceverai uno sconto di 20,00  per ogni fornitura, riconosciuto in bolletta a copertura della componente energia e ripartito in due quote eguali nei primi due bimestri di fornitura.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BONUS_FAM_GAS_OUT</name>
        <label>BONUS_FAM_GAS_OUT</label>
        <locationX>1742</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOrderItem</targetReference>
        </connector>
        <fields>
            <name>PNR_BONUS_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bonus Soluzioni Sostenibili&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Scegliendo di acquistare anche una delle soluzioni sostenibili di Hera Comm riceverai uno sconto di 20,00  per ogni fornitura, riconosciuto in bolletta a copertura della componente energia e ripartito in due quote eguali nei primi due bimestri di fornitura.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bonus_Obbligatorio_FAM_GAS_INB</name>
        <label>Bonus Obbligatorio</label>
        <locationX>2314</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bonus_Decision_0</targetReference>
        </connector>
        <fields>
            <name>PNR_BONUS_OBB_INB_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bonus /a&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; previsto un bonus di 80, che verr erogato in 12 quote di uguale valore con frequenza mensile a partire dallattivazione del contratto. Tale bonus ha un impatto del 6% circa sulla spesa annua.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bonus_Obbligatorio_FAM_GAS_OUT</name>
        <label>Bonus Obbligatorio</label>
        <locationX>1874</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bonus_Decision</targetReference>
        </connector>
        <fields>
            <name>PNR_BONUS_OBB_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Bonus /a&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; previsto un bonus di 80, che verr erogato in 12 quote di uguale valore con frequenza mensile a partire dallattivazione del contratto. Tale bonus ha un impatto del 6% circa sulla spesa annua.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condizioni_Economiche_Famiglie_Gas_Inbound</name>
        <label>Condizioni Economiche Famiglie Gas Inbound</label>
        <locationX>2314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bonus_Obbligatorio_FAM_GAS_INB</targetReference>
        </connector>
        <fields>
            <name>PNR_CE_INB_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Condizioni economiche Gas naturale per: {!LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CE_INB_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;Le condizioni economiche della nostra offerta {!LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c} sono valide 12 mesi.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Il prezzo applicato alla componente energia sar il prezzo medio mensile del mercato italiano PSV, incrementato di un corrispettivo sui consumi pari a {!FormulaPriceF0}  al metro cubo, e in bolletta sar denominato prezzo netto. Varier mensilmente e sar adeguato al contenuto energetico del gas fornito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CE_INB_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;Il prezzo netto ed il contributo rappresentano circa il 61% della spesa annua per un cliente domestico, escluse IVA ed imposte.&lt;/p&gt;&lt;p&gt;	Sono a carico del cliente i corrispettivi compresi nella spesa per la materia gas naturale, ovvero quota vendita al dettaglio pari a 144 /punto di fornitura/anno e oneri aggiuntivi come previsti dallAutorit, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dallAutorit, che insieme rappresentano il restante 39% circa della spesa annua.&lt;/p&gt;&lt;p&gt;	Lincidenza percentuale dei corrispettivi indicati si riferisce allambito tariffario nord-orientale e pu variare in relazione allambito tariffario di riferimento in cui  sito il punto di fornitura.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Netto Relax Casa Gas</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CE_INB_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;	Nella prima bolletta ci saranno inoltre i costi della voltura previsti da {!HDT_Script_Introduzione.salesCompany} in misura pari a  25,00 e quelli applicabili a discrezione del Distributore Locale.&lt;/p&gt;&lt;p&gt;	Sono inoltre a suo carico tasse, IVA ed imposte previste dalla legge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.VoltureType__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Mortis Causa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Condizioni_Economiche_Famiglie_Gas_Outbound</name>
        <label>Condizioni Economiche Famiglie Gas Outbound</label>
        <locationX>1874</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bonus_Obbligatorio_FAM_GAS_OUT</targetReference>
        </connector>
        <fields>
            <name>PNR_CE_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Condizioni economiche Gas naturale per: {!LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CE_OUT_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;Le condizioni economiche della nostra offerta {!LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c} sono valide 12 mesi.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Il prezzo applicato alla componente energia sar il prezzo medio mensile del mercato italiano PSV, incrementato di un corrispettivo sui consumi pari a {!FormulaPriceF0}  al metro cubo, e in bolletta sar denominato prezzo netto. Varier mensilmente e sar adeguato al contenuto energetico del gas fornito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CE_OUT_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;Il prezzo netto ed il contributo rappresentano circa il 61% della spesa annua per un cliente domestico, escluse IVA ed imposte.&lt;/p&gt;&lt;p&gt;	Sono a carico del cliente i corrispettivi compresi nella spesa per la materia gas naturale, ovvero quota vendita al dettaglio pari a 144 /punto di fornitura/anno e oneri aggiuntivi come previsti dallAutorit, e nella spesa per il trasporto, la gestione del contatore ed oneri di sistema, come previsti dallAutorit, che insieme rappresentano il restante 39% circa della spesa annua.&lt;/p&gt;&lt;p&gt;	Lincidenza percentuale dei corrispettivi indicati si riferisce allambito tariffario nord-orientale e pu variare in relazione allambito tariffario di riferimento in cui  sito il punto di fornitura.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.CommercialProductLink__r.OfferteVocalOrder__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prezzo Netto Relax Casa Gas</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CE_OUT_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;	Nella prima bolletta ci saranno inoltre i costi della voltura previsti da {!HDT_Script_Introduzione.salesCompany} in misura pari a  25,00 e quelli applicabili a discrezione del Distributore Locale.&lt;/p&gt;&lt;p&gt;	Sono inoltre a suo carico tasse, IVA ed imposte previste dalla legge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.VoltureType__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Mortis Causa</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conferma_Adesione_Screen_Inbound_FAM</name>
        <label>Conferma Adesione Screen Inbound FAM</label>
        <locationX>314</locationX>
        <locationY>6746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Conferma adesione&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	La informo che il contratto di fornitura ed il contratto {!VasNames} si concluderanno al momento della conferma dellavvenuta ricezione della documentazione contrattuale.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_27</name>
            <fieldText>&lt;p&gt;	Mi conferma che vuole aderire alle offerte tramite registrazione di questa telefonata ed accetta quindi le condizioni contrattuali del servizio &lt;strong&gt;Gas&amp;nbsp;&lt;/strong&gt;che le ho descritto fin qui?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera LED&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_4</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Thermo&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_5</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera ContaWatt&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_6</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Luce&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_7</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Gas&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_8</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Caldaia Sicura&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_28</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Ricarica Pubblica&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistRicaricaPubblica</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_29</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Ricarica Privata&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistRicaricaPrivata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_9</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Acqua&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_10</name>
            <fieldText>&lt;p&gt;	Le ricordo che il contratto si conclude al termine della telefonata.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Le invieremo tramite posta il plico contrattuale con le specifiche che le ho elencato per la sua fornitura, e comprensivo della scheda di confrontabilit dellofferta, rispetto al regime di tutela.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_11</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Le invieremo inoltre il plico contrattuale con le specifiche di {!VasNames}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_14</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per il contratto di fornitura, entro 14 giorni dal ricevimento, potr esercitare il diritto di ripensamento, inviando un fax al numero verde 800.999.600, oppure una e-mail allindirizzo contratti@gruppohera.it oppure una raccomandata con ricevuta di ritorno presso lindirizzo della nostra sede legale.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_15</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Thermo&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; e &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera LED&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_16</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Thermo&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_17</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera LED&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_18</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Il recesso pu essere esercitato su tutti i termostati acquistati, e non solo su una parte di essi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TermostatoQuantity</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TermostatoQuantity</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_19</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Le ricordo che, ad avvenuta installazione da parte del tecnico, non potr pi recedere dal servizio di installazione.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsInstallazioneTermostato</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_20</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per ogni contratto il recesso pu inoltre essere esercitato su tutti i KIT abbinati al medesimo contratto di fornitura e non solo su una parte di essi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>KitLedVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_21</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera ContaWatt&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla consegna per il dispositivo e con un preavviso di almeno 30 giorni per il servizio.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_30</name>
            <fieldText>&lt;p&gt;	Mi conferma che vuole ricevere da AXA Partners la comunicazione sullaccettazione o mancata accettazione delladesione alla polizza, la data di effetto della copertura assicurativa e la data di cessazione delladesione mediante email o SMS?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>HeraNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_22</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Luce&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nel set informativo della polizza, entro 30 giorni dalladesione al contratto di polizza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_23</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Gas&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nel set informativo della polizza, entro 30 giorni dalladesione al contratto di polizza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_24</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Caldaia Sicura&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla data di conclusione del Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_31</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Ricarica Pubblica&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla data di conclusione del Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistRicaricaPubblica</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_32</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Il recesso pu essere esercitato su tutte le Wall Box acquistate, e non solo su una parte di esse.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistRicaricaPrivata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WallBoxCounter</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_33</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Le ricordo che, ad avvenuta installazione da parte del tecnico, non potr pi recedere dal Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistRicaricaPrivata</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsInstallazioneStandard</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_25</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Acqua&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla data di conclusione del Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_INB_FAM_GAS_TEXT_26</name>
            <fieldText>&lt;p&gt;	Se deve inviare un reclamo o una richiesta di informazioni, pu indirizzarle in forma scritta alla nostra sede legale.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Se non riceve risposta al reclamo, o non ritiene la risposta ricevuta soddisfacente, pu ricorrere al Servizio di Conciliazione ARERA oppure alla Conciliazione Paritetica attraverso le modalit indicate sul sito www.gruppohera.it&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Le ricordo che in qualsiasi momento e senza alcuna spesa pu scegliere le condizioni economiche e contrattuali di riferimento per:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	la fornitura di gas in regime di tutela.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	la nostra offerta PLACET a prezzo fisso o a prezzo variabile, di cui pu trovare maggiori informazioni sul nostro sito internet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferisce il consenso al trattamento dei dati per finalit promozionali anche tramite comunicazioni elettroniche e sistemi automatizzati di chiamata?&lt;/p&gt;&lt;p&gt;	SI/NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferisce il consenso allo svolgimento di attivit volte allanalisi delle preferenze, abitudini e/o scelte di consumo?&lt;/p&gt;&lt;p&gt;	SI/NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mi conferma inoltre che oggi  il {!$Flow.CurrentDateTime}?&lt;/p&gt;&lt;p&gt;	CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Bene, sig. {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.LastName__c} abbiamo terminato la registrazione, benvenuto in {!HDT_Script_Introduzione.salesCompany}.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;[***FINE REGISTRAZIONE**]&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Conferma_Adesione_Screen_Outbound_FAM</name>
        <label>Conferma Adesione Screen Outbound FAM</label>
        <locationX>50</locationX>
        <locationY>6746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Conferma adesione&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	La informo che il contratto di fornitura ed il contratto {!VasNames} si concluderanno al momento della conferma dellavvenuta ricezione della documentazione contrattuale.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;	Mi conferma aderisce all&apos;offerta &lt;strong&gt;Gas&amp;nbsp;&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera LED&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_4</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Thermo&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_5</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera ContaWatt&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_6</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Luce&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_7</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Gas&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_8</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera Caldaia Sicura&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_9</name>
            <fieldText>&lt;p&gt;Mi conferma che aderisce all&apos;offerta &lt;strong&gt;Hera No Problem Acqua&lt;/strong&gt;?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_10</name>
            <fieldText>&lt;p&gt;Mi conferma che vuole ricevere la documentazione contrattuale e la scheda di confrontabilit dellofferta rispetto al regime di tutela presso il suo indirizzo di comunicazione postale?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.DocSendingMethod__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>E-Mail</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_11</name>
            <fieldText>&lt;p&gt;	Mi conferma che vuole ricevere la documentazione contrattuale e la scheda di confrontabilit dellofferta rispetto al regime di tutela via e-mail?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.DocSendingMethod__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>E-Mail</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_12</name>
            <fieldText>&lt;p&gt;	Mi conferma che vuole ricevere da AXA Assistance la comunicazione sullaccettazione o mancata accettazione delladesione alla polizza, la data di effetto della copertura assicurativa e la data di cessazione delladesione mediante email o SMS?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_13</name>
            <fieldText>&lt;p&gt;	Nei prossimi 10 giorni provvederemo a verificare la ricezione della documentazione contrattuale e la conclusione del contratto. La verifica potr avvenire in due modalit:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Attraverso un nostro operatore che la ricontatter per chiederle conferma;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Con le credenziali personali che trover indicate allinterno della documentazione contrattuale e con le quali potr chiamare il numero verde oppure accedere al sito internet per confermare la conclusione del contratto ed ascoltare la registrazione di questa telefonata.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_14</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per il contratto di fornitura, entro 14 giorni dal ricevimento, potr esercitare il diritto di ripensamento, inviando un fax al numero verde 800.999.600, oppure una e-mail allindirizzo contratti@gruppohera.it oppure una raccomandata con ricevuta di ritorno presso lindirizzo della nostra sede legale.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_15</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Thermo&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; e &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera LED&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_16</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Thermo&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_17</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera LED&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, entro &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;14 giorni dalla consegna del prodotto, Lei potr esercitare il diritto di recesso nelle modalit che trover indicate nel documento Istruzioni per il reso e il recesso.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_18</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Il recesso pu essere esercitato su tutti i termostati acquistati, e non solo su una parte di essi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TermostatoQuantity</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TermostatoQuantity</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_19</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Le ricordo che, ad avvenuta installazione da parte del tecnico, non potr pi recedere dal servizio di installazione.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistThermo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContainsInstallazioneTermostato</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_20</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per ogni contratto il recesso pu inoltre essere esercitato su tutti i KIT abbinati al medesimo contratto di fornitura e non solo su una parte di essi.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistLED</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>KitLedVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_21</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera ContaWatt&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla consegna per il dispositivo e con un preavviso di almeno 30 giorni per il servizio.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistContaWatt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_22</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Luce&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nel set informativo della polizza, entro 30 giorni dalladesione al contratto di polizza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemLuce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_23</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Gas&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nel set informativo della polizza, entro 30 giorni dalladesione al contratto di polizza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemGas</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_24</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera Caldaia Sicura&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla data di conclusione del Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistCaldaiaSicura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_25</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;	Per &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hera NoProblem Acqua&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, Lei potr esercitare il diritto di recesso, nelle modalit che trover indicate nelle Condizioni Generali di Contratto relative al Servizio, entro 14 giorni dalla data di conclusione del Contratto.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistNoProblemAcqua</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_CA_OUT_FAM_GAS_TEXT_26</name>
            <fieldText>&lt;p&gt;	Se deve inviare un reclamo o una richiesta di informazioni, pu indirizzarle in forma scritta alla nostra sede legale.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Se non riceve risposta al reclamo, o non ritiene la risposta ricevuta soddisfacente, pu ricorrere al Servizio di Conciliazione ARERA oppure alla Conciliazione Paritetica attraverso le modalit indicate sul sito www.gruppohera.it&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Le ricordo che in qualsiasi momento e senza alcuna spesa pu scegliere le condizioni economiche e contrattuali di riferimento per:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	la fornitura di gas in regime di tutela.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	la nostra offerta PLACET a prezzo fisso o a prezzo variabile, di cui pu trovare maggiori informazioni sul nostro sito internet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferisce il consenso al trattamento dei dati per finalit promozionali anche tramite comunicazioni elettroniche e sistemi automatizzati di chiamata?&lt;/p&gt;&lt;p&gt;	SI/NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferisce il consenso allo svolgimento di attivit volte allanalisi delle preferenze, abitudini e/o scelte di consumo?&lt;/p&gt;&lt;p&gt;	SI/NO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Mi conferma inoltre che oggi  il {!$Flow.CurrentDateTime}?&lt;/p&gt;&lt;p&gt;	CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Bene, sig. {!HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.LastName__c} abbiamo terminato la registrazione, benvenuto in {!HDT_Script_Introduzione.salesCompany}.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;[***FINE REGISTRAZIONE**]&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dati_Tecnici_Famiglie_Gas_Inbound</name>
        <label>Dati Tecnici Famiglie Gas Inbound</label>
        <locationX>2116</locationX>
        <locationY>4538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopOrdiniFigliOfferta</targetReference>
        </connector>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;	Mi conferma che lattuale fornitore gas  {!LoopOrdiniFigliOfferta.DistributorFormula__c} ?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;	Mi conferma che nella bolletta del gas sono presenti i dati anagrafici della persona cui va intestato il contratto?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;	La informiamo che effettueremo la voltura contestualmente alla data di cambio venditore.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferma di possedere titolo idoneo a sottoscrivere la fornitura.&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferma di essere titolare del diritto di [propriet/locazione/comodato] sullimmobile?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;	Conferma che Cognome, Nome e Codice Fiscale del precedente intestatario sono&lt;/p&gt;&lt;p&gt;{!LoopOrdiniFigliOfferta.PreviousCustomer__r.LastName}  {!LoopOrdiniFigliOfferta.PreviousCustomer__r.FirstName} e {!LoopOrdiniFigliOfferta.PreviousCustomer__r.FiscalCode__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.PreviousCustomer__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_4</name>
            <fieldText>&lt;p&gt;	Conferma che Cognome, Nome e codice Fiscale del precedente intestatario sono {!LoopOrdiniFigliOfferta.PreviousHolderLastName__c} {!LoopOrdiniFigliOfferta.PreviousHolderFirstName__c} e {!LoopOrdiniFigliOfferta.PreviousHolderFiscalCode__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.PreviousHolderFirstName__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;	Mi conferma che usa il gas per {!LoopOrdiniFigliOfferta.ImplantType__c}?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Mi conferma che il codice PDR del contatore GAS  {!LoopOrdiniFigliOfferta.ServicePointCodeFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Mi conferma che la fornitura di gas  in {!LoopOrdiniFigliOfferta.SupplyAddressFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_6</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Operatore&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: La informo che per procedere all&apos;attivazione del punto  necessario restituire il modulo &quot;Dichiarazione sostitutiva dell&apos;atto di notoriet relativa al titolo attestante la propriet, detenzione o possesso dell&apos;abitazione per il quale  richiesta la fornitura&quot; correttamente compilato e sottoscritto, unitamente alla copia del documento di identit.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subentro Gas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subentro</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione In delibera</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione Fuori delibera</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_7</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Operatore&lt;/strong&gt;: Ho recepito la lettura, consideri che la lettura di voltura verr determinata dal Distributore Locale alla data di effettiva decorrenza. Mi conferma la lettura pari a {!LoopOrdiniFigliOfferta.ReadingValueMeter__c}?&lt;/p&gt;&lt;p&gt;Cliente: CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.Subprocess__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Con Autolettura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_8</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Operatore&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Una volta effettuato l&apos;accertamento della modulistica che lei invier in autonomia al Distributore, le verr comunicata la data di apertura che rappresenter la decorrenza del suo contratto. Nella prima bolletta le saranno addebitati i diritti fissi di attivazione previsti dalle Condizioni Generali di Contratto.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione In delibera</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_INB_FAM_GAS_TEXT_9</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Operatore&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: Richiederemo dunque un&apos;apertura al distributore locale. La data di apertura rappresenter dunque la decorrenza del suo contratto. Nella prima bolletta le saranno addebitati i diritti fissi di attivazione previsti dalle Condizioni Generali di Contratto&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione In delibera</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prima Attivazione Fuori delibera</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subentro Gas</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subentro</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dati_Tecnici_Famiglie_Gas_Outbound</name>
        <label>Dati Tecnici Famiglie Gas Outbound</label>
        <locationX>1852</locationX>
        <locationY>4538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopOrdiniFigliOfferta</targetReference>
        </connector>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;	Mi conferma che lattuale fornitore gas  {!LoopOrdiniFigliOfferta.DistributorFormula__c} ?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;	Mi conferma che nella bolletta del gas sono presenti i dati anagrafici della persona cui va intestato il contratto?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT_2</name>
            <fieldText>&lt;p&gt;	La informiamo che effettueremo la voltura contestualmente alla data di cambio venditore.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferma di possedere titolo idoneo a sottoscrivere la fornitura.&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Conferma di essere titolare del diritto di [propriet/locazione/comodato] sullimmobile?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT_3</name>
            <fieldText>&lt;p&gt;	Conferma che Cognome, Nome e Codice Fiscale del precedente intestatario sono&lt;/p&gt;&lt;p&gt;{!LoopOrdiniFigliOfferta.PreviousCustomer__r.LastName}  {!LoopOrdiniFigliOfferta.PreviousCustomer__r.FirstName} e {!LoopOrdiniFigliOfferta.PreviousCustomer__r.FiscalCode__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.PreviousCustomer__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT_4</name>
            <fieldText>&lt;p&gt;	Conferma che Cognome, Nome e codice Fiscale del precedente intestatario sono {!LoopOrdiniFigliOfferta.PreviousHolderLastName__c} {!LoopOrdiniFigliOfferta.PreviousHolderFirstName__c} e {!LoopOrdiniFigliOfferta.PreviousHolderFiscalCode__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.PreviousHolderFirstName__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura con Switch</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LoopOrdiniFigliOfferta.ProcessType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voltura</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PNR_DT_OUT_FAM_GAS_TEXT_5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;	Mi conferma che usa il gas per {!LoopOrdiniFigliOfferta.ImplantType__c}?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Mi conferma che il codice PDR del contatore GAS  {!LoopOrdiniFigliOfferta.ServicePointCodeFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Mi conferma che la fornitura di gas  in {!LoopOrdiniFigliOfferta.SupplyAddressFormula__c}?&lt;/p&gt;&lt;p&gt;CONFERMO&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Durata_Contratto</name>
        <label>Durata Contratto</label>
        <locationX>182</locationX>
        <locationY>6530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChannelDecision</targetReference>
        </connector>
        <fields>
            <name>PNR_DC_OUT_FAM_GAS_TEXT</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Durata contratto&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PNR_DC_OUT_FAM_GAS_TEXT_1</name>
            <fieldText>&lt;p&gt;In riferimento allofferta &lt;strong&gt;Gas PREZZO NETTO RELAX CASA &lt;/strong&gt;le ricordo le seguenti condizioni contrattuali:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	La presente offerta pu essere sostituita solo previa nostra comunicazione scritta.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Il contratto  a tempo indeterminato ed in qualsiasi momento potr recedere entro e non oltre il giorno 10 (dieci) del mese precedente la data di cambio venditore.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Ricever una bolletta bimestrale per i consumi elettrici, mentre per il gas la frequenza sar bimestrale per consumi compresi fra 500 e 3000 smc/anno, almeno quadrimestrale per consumi inferiori a 500 smc/anno, mensile per consumi superiori a 3000 smc/anno.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	In mancanza di consumi reali, questi saranno stimati, con successivo conguaglio.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	Le ricordo che in caso di pagamento delle bollette oltre la data di scadenza saranno addebitati gli interessi di mora e, se la morosit persiste le pu essere sospesa la fornitura.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;	In mancanza di consumi reali, questi saranno stimati, con successivo conguaglio.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1769</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>HDT_FL_Script_Concatenazione_Ordini_Figli</name>
        <label>HDT_FL_Script_Concatenazione_Ordini_Figli</label>
        <locationX>1786</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>AssignVariabiliConcatenate</targetReference>
        </connector>
        <flowName>HDT_FL_Script_Concatenazione_Ordini_Figli</flowName>
        <inputAssignments>
            <name>OrdineFiglioCorrente</name>
            <value>
                <elementReference>LoopOrdiniFigliOfferta.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>HDT_FL_Script_Gestione_Ordini</name>
        <label>HDT_FL_Script_Gestione_Ordini</label>
        <locationX>1895</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>HDT_Script_Introduzione</targetReference>
        </connector>
        <flowName>HDT_FL_Script_Gestione_Ordini</flowName>
        <inputAssignments>
            <name>famigliaProdottoOffertaInput</name>
            <value>
                <elementReference>offertaInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idOrdinePadreInput</name>
            <value>
                <elementReference>idOrdinePadreInput</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>HDT_Script_Anagrafica</name>
        <label>HDT_Script_Anagrafica</label>
        <locationX>1895</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Categoria_Cliente_Decision</targetReference>
        </connector>
        <flowName>HDT_Script_Anagrafica</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.ChannelOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>categoriaChiamata</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.CustomerCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ModalitaPagamentoInput</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.modalitaPagamentoOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessTypeInput</name>
            <value>
                <stringValue>NotVas</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HDT_Script_Introduzione</name>
        <label>HDT_Script_Introduzione</label>
        <locationX>1895</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>HDT_Script_Anagrafica</targetReference>
        </connector>
        <flowName>HDT_Script_Introduzione</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.LoginChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channelInput</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.ChannelOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>offerNameInput</name>
            <value>
                <elementReference>NomeOffertaCalcolato_Introduzione</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>salesCompanyToDisplay</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>HDT_Script_VAS</name>
        <label>HDT_Script_VAS</label>
        <locationX>1414</locationX>
        <locationY>5738</locationY>
        <connector>
            <targetReference>Vas_Presenti_Decision</targetReference>
        </connector>
        <flowName>HDT_Script_VAS</flowName>
        <inputAssignments>
            <name>checkForVas</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputCanale</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.ChannelOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputCategoria</name>
            <value>
                <elementReference>HDT_FL_Script_Gestione_Ordini.AssignOrderPadreOutput.Account.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputOrderId</name>
            <value>
                <elementReference>Order_Items_Vas_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AnalisiConsumi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContainsInstallazioneStandard</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContainsInstallazioneTermostato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistCaldaiaSicura</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistContaWatt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistEbike</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistFotoVoltaico</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistLED</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistMonopattino</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistNoProblemAcqua</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistNoProblemGas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistNoProblemLuce</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistRicaricaPrivata</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistRicaricaPubblica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistSanifica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExistThermo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>idOrdinePadreInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idPadre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsEnergiaElettrica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isGas</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KitLedVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NomiFamiglie_Bonus_Concatenati</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NomiFamiglie_OfferteCommerciali_Concatenate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomiFamiglie_Promo_Concatenate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>offertaInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfferteVocalOrder_Concatenazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermostatoQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VasNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WallBoxCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
