force-app/main/default/flows/HDL_FL_Script_Comfort_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>RB2Choice_Interlocutore</name>
        <choiceText>Interlocutore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Interlocutore</stringValue>
        </value>
    </choices>
    <choices>
        <name>RB2Choice_Intestatario</name>
        <choiceText>Intestatario</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intestatario</stringValue>
        </value>
    </choices>
    <choices>
        <name>RB3Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RB3Choice_NonInteressato</name>
        <choiceText>Ho ricevuto ma non sono interessato a procedere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ho ricevuto ma non sono interessato a procedere</stringValue>
        </value>
    </choices>
    <choices>
        <name>RB3Choice_Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBChoice_Confermo</name>
        <choiceText>Sono io/Può parlare con me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sono io/Può parlare con me</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBChoice_NonConfermo</name>
        <choiceText>Non è disponibile al momento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non è disponibile al momento</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DecisionPoint</name>
        <label>DecisionPoint</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Non Proseguo</defaultConnectorLabel>
        <rules>
            <name>Proseguo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comfort_RB3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RB3Choice_Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proseguo_Screen</targetReference>
            </connector>
            <label>Proseguo</label>
        </rules>
        <rules>
            <name>Rinuncia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comfort_RB3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RB3Choice_NonInteressato</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ripensamento_Screen</targetReference>
            </connector>
            <label>Rinuncia</label>
        </rules>
    </decisions>
    <interviewLabel>HDL FL Script - Comfort Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDL FL Script - Comfort Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCampaignMember</name>
        <label>GetCampaignMember</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCampaignMemberInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comfort_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCampaignMember.RelatedActivity__r.Order__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Comfort_Screen</name>
        <label>Comfort Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionPoint</targetReference>
        </connector>
        <fields>
            <name>Comfort_Text1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Buon giorno, sono Nome e Cognome dell&apos;ufficio commerciale di HeraComm, la informo che la telefonata è registrata e proviene dall&apos;Italia. La sto chiamando in merito alla registrazione telefonica fatta il&amp;nbsp;&amp;nbsp;Data Front Office&amp;nbsp;&amp;nbsp;con il mio collega e relativa alle offerte&amp;nbsp;{!GetOrder.CommercialProduct__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Avrei bisogno di parlare con il/la sig./ra&amp;nbsp;{!GetCampaignMember.Contact.Account.FirstName__c} {!GetCampaignMember.Contact.Account.LastName__c}&amp;nbsp;è lei ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comfort_RB1</name>
            <choiceReferences>RBChoice_Confermo</choiceReferences>
            <choiceReferences>RBChoice_NonConfermo</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comfort_Text2</name>
            <fieldText>&lt;p&gt;Molto bene, lei è l&apos;intestatario del contratto oppure è la persona con cui è stata effettuata la registrazione (interlocutore)?&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RBChoice_Confermo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comfort_RB2</name>
            <choiceReferences>RB2Choice_Intestatario</choiceReferences>
            <choiceReferences>RB2Choice_Interlocutore</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RBChoice_Confermo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comfort_Text3</name>
            <fieldText>&lt;p&gt;Operatore: Ha ricevuto la documentazione contrattuale che abbiamo inviato relativa all&apos;offerta&amp;nbsp;&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetOrder.CommercialProduct__c}&lt;/span&gt;&amp;nbsp;&amp;nbsp;?&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comfort_RB3</name>
            <choiceReferences>RB3Choice_Si</choiceReferences>
            <choiceReferences>RB3Choice_NonInteressato</choiceReferences>
            <choiceReferences>RB3Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Proseguo_Screen</name>
        <label>Proseguo Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Proseguo_Text1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Bene Sig./ra a questo punto procederemo con una breve registrazione in cui Lei mi dovrà Confermare la corretta ricezione della documentazione. PROCEDERE AL VOCAL CONFERMA&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;INIZIO REGISTRAZIONE - ATTIVARE TASTO REGISTRA&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Procederò ora alla registrazione per la conferma dell&apos;avvenuta ricezione della documentazione contrattuale.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;:&amp;nbsp;Mi conferma che lei è la Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}&amp;nbsp;e che il suo codice fiscale è&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FiscalCode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma di aver ricevuto la documentazione contrattuale che abbiamo inviato relativa all&apos;offerta&amp;nbsp;{!GetOrder.CommercialProduct__c}&amp;nbsp;&amp;nbsp;?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma che oggi è il&amp;nbsp;&amp;nbsp;{!$Flow.CurrentDate}&amp;nbsp;?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;SI&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Bene Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}&amp;nbsp;&amp;nbsp;abbiamo terminato la telefonata. Le confermo l&apos;avvenuta conclusione del contratto e le do il benvenuto in Hera Comm.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ripensamento_Screen</name>
        <label>Ripensamento Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Ripensamento_Text1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Bene Sig./ra a questo punto procederemo con una breve registrazione in cui Lei mi dovrà Confermare la corretta ricezione della documentazione E LA SUA VOLONTA DI&amp;nbsp;RIFFIUTARE LA PROPOSTA COMMERCIALE.&lt;/p&gt;&lt;p&gt;INIZIO REGISTRAZIONE - ATTIVARE TASTO REGISTRA&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Procederò ora alla registrazione per la RINUNCIA ALLA PROPOSTA COMMERCIALE.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;:&amp;nbsp;Mi conferma che lei è la Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}&amp;nbsp;&amp;nbsp;e che il suo codice fiscale è&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FiscalCode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma di aver ricevuto la documentazione contrattuale che abbiamo inviato relativa all&apos;offerta&amp;nbsp;&amp;nbsp;{!GetOrder.CommercialProduct__c}&amp;nbsp;&amp;nbsp;?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma DI VOLER ANNULLARE LA RICHIESTA DELL’ATTIVAZIONE DEL CONTRATTO PER OFFERTA {!GetOrder.CommercialProduct__c}?&lt;/p&gt;&lt;p&gt;MI CONFERMA&amp;nbsp;che oggi è il&amp;nbsp;&amp;nbsp;13 ottobre 2020&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Bene Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}&amp;nbsp;&amp;nbsp;abbiamo terminato la telefonata. Le confermo L’ANNULLAMENTO DEL CONTRATTO.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RB2Choice_Intestatario</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ripensamento_Text2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Procederò ora alla registrazione per la RINUNCIA ALLA PROPOSTA COMMERCIALE.&lt;/p&gt;&lt;p&gt;Operatore:&amp;nbsp;Mi conferma che lei è la Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Contact__r.FirstName} {!GetOrder.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt; :MI CONFERMA DI ESSERE SOGGETTO AUTORIZZATO DAL TITOLARE DEL CONTRATTO {!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}&amp;nbsp;CON CODICE FISCALE&amp;nbsp;&amp;nbsp;{!GetOrder.Account.FiscalCode__c} ALLA RICHIESTA DI ANNULLAMENTO DELLA PROPOSTA COMMERCIALE LUCE /GAS.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma di aver ricevuto la documentazione contrattuale che abbiamo inviato relativa all&apos;offerta&amp;nbsp;&amp;nbsp;{!GetOrder.CommercialProduct__c}&amp;nbsp;&amp;nbsp;?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Mi conferma DI VOLER ANNULLARE LA RICHIESTA DELL’ATTIVAZIONE DEL CONTRATTO PER OFFERTA {!GetOrder.CommercialProduct__c} INTESTATO A {!GetOrder.Account.FirstName__c} {!GetOrder.Account.LastName__c}?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Cliente&lt;/b&gt;: SI&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;MI CONFERMA&amp;nbsp;che oggi è il&amp;nbsp;{!$Flow.CurrentDate}0&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Operatore&lt;/b&gt;: Bene Sig./ra&amp;nbsp;&amp;nbsp;{!GetOrder.Contact__r.FirstName} {!GetOrder.Contact__r.LastName}&amp;nbsp;&amp;nbsp;abbiamo terminato la telefonata. Le confermo L’ANNULLAMENTO DEL CONTRATTO.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Comfort_RB2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RB2Choice_Interlocutore</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCampaignMember</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>idCampaignMemberInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
