force-app/main/default/flows/HDT_Script_Vas_Standalone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>HDT Script - Vas Standalone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT Script - Vas Standalone</label>
    <loops>
        <name>LoopOrdiniFigli</name>
        <label>LoopOrdiniFigli</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>GetOrdersFigli</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HDT_Script_VAS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Conferma_Adesione</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetOrderPadre</name>
        <label>GetOrderPadre</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrdersFigli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idOrdinePadreInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrdersFigli</name>
        <label>GetOrdersFigli</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HDT_Script_Introduzione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderPadre.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProcessType__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>VAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Conferma_Adesione</name>
        <label>Conferma Adesione</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Vas_Generico_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;[6. Conferma Adesione VAS]&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vas_Generico_1</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;La informo che ogni contratto sarà concluso al momento della conferma dell’avvenuta ricezione della documentazione contrattuale.&amp;nbsp;&lt;/li&gt;&lt;li&gt;Nei prossimi 10 giorni provvederemo a verificare la ricezione della documentazione contrattuale e la conclusione [del/di ogni] contratto. La verifica potrà avvenire in due modalità:&lt;ul&gt;&lt;li&gt;Attraverso un nostro operatore che la ricontatterà per chiederle conferma;&lt;/li&gt;&lt;li&gt;Con le credenziali personali che troverà indicate all’interno della documentazione contrattuale e con le quali potrà accedere al sito internet per confermare la conclusione [del/di ogni] contratto ed ascoltare la registrazione di questa telefonata.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vas_Generico_2</name>
            <fieldText>&lt;p&gt;Se deve inviare un reclamo o una richiesta di informazioni, può indirizzarle in forma scritta alla nostra sede legale o agli altri canali di contatto indicati nella bolletta. Conferisce il consenso al trattamento dei dati per finalità promozionali anche tramite comunicazioni elettroniche e sistemi automatizzati di chiamata?&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;SI/NO&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Conferisce il consenso allo svolgimento di attività volte all’analisi delle preferenze, abitudini e/o scelte di consumo?&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;SI/NO&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Prima di concludere la registrazione, mi conferma oggi è il {!$Flow.CurrentDateTime}?&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;CONFERMO&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bene, sig. {!GetOrderPadre.Account.LastName__c} abbiamo terminato la registrazione, benvenuto/a in&lt;b&gt; &lt;/b&gt;Hera Comm/Hera Comm Marche / Hera Comm NordEst!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;[***FINE REGISTRAZIONE***]&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrderPadre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>HDT_Script_Anagrafica</name>
        <label>HDT Script - Anagrafica</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>LoopOrdiniFigli</targetReference>
        </connector>
        <flowName>HDT_Script_Anagrafica</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <stringValue>Famiglie</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>categoriaChiamata</name>
            <value>
                <stringValue>Famiglie</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>GetOrderPadre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessTypeInput</name>
            <value>
                <stringValue>VAS</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HDT_Script_Introduzione</name>
        <label>HDT Script - Introduzione</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>HDT_Script_Anagrafica</targetReference>
        </connector>
        <flowName>HDT_Script_Introduzione</flowName>
        <inputAssignments>
            <name>callType</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderData</name>
            <value>
                <elementReference>GetOrderPadre</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>HDT_Script_VAS</name>
        <label>HDT Script - VAS</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>LoopOrdiniFigli</targetReference>
        </connector>
        <flowName>HDT_Script_VAS</flowName>
        <inputAssignments>
            <name>getInputCanale</name>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputCategoria</name>
            <value>
                <stringValue>Famiglie</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getInputOrderId</name>
            <value>
                <elementReference>LoopOrdiniFigli.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>idOrdinePadreInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
