force-app/main/default/flows/HDT_FL_GestionePagamenti_ComunicazionePagamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Mod_Pag_VA</name>
        <label>Assegna Mod Pag VA</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ModalitaPagamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virtual Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Account_Erede_Beneficiario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Titolare_Conto</name>
        <label>Assegna Titolare Conto</label>
        <locationX>50</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>BeneficiaryAccount.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalcoloCodiceCausale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_Abi_Mod_Pagamento</name>
        <label>Assegna Valori Abi - Mod Pagamento</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>AbiCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbiCodeSelector.abi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bonifico_da_effettuare_verso_VA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaPredefault</name>
        <label>AssegnaPredefault</label>
        <locationX>924</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CaseInput.Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaVariabili</name>
        <label>AssegnaVariabili</label>
        <locationX>380</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.PaidAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.TotalCover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountDifference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanABI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbiCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.DocumentPaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModalitaPagamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.AccountholderTypeBeneficiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TitolareConto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.BeneficiaryAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BeneficiaryAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiornamento_Case_Fine_Bozza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaVariabili_0</name>
        <label>AssegnaVariabili</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.TotalCover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountDifference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_In_Lavorazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaVariabili_0_0</name>
        <label>AssegnaVariabili</label>
        <locationX>1546</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GetCaseNonBozza.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseNonBozza.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiornamento_Case_Fine_Bozza_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ModalitaPagamentoNoVA</name>
        <label>ModalitaPagamentoNoVA</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ModalitaPagamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Virtual Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Account_Erede_Beneficiario</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Virtual_Account</name>
        <choiceText>No Virtual Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Virtual Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pagatore_Alternativo</name>
        <choiceText>Pagatore Alternativo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pagatore Alternativo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stesso_Sottoscrittore</name>
        <choiceText>Stesso Sottoscrittore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stesso Sottoscrittore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Virtual_Account</name>
        <choiceText>Virtual Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual Account</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assegna_Account_Erede_Beneficiario</name>
        <label>Assegna Account Erede Beneficiario</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>CalcoloCodiceCausale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Stesso_Sottoscrittore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TitolareConto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stesso_Sottoscrittore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Titolare_Conto</targetReference>
            </connector>
            <label>Is Stesso Sottoscrittore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bonifico_da_effettuare_verso_VA</name>
        <label>Bonifico da effettuare verso VA?</label>
        <locationX>182</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>ModalitaPagamentoNoVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_VA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bonifico_da_effettuare_verso_il_virtual_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Si</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Mod_Pag_VA</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canale_di_Pagamento</name>
        <label>Canale di Pagamento?</label>
        <locationX>380</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>CalcoloCodiceCausale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>Bonifico_BANCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato.ChannelOfPayment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banca BONIFICO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseAggiornato.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione Pagamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_Account_0</targetReference>
            </connector>
            <label>Bonifico BANCA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_In_Bozza_Question</name>
        <label>Case In Bozza?</label>
        <locationX>1235</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_Review_Dati_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Case_In_Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaPredefault</targetReference>
            </connector>
            <label>Case In Bozza?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comunicazione_Pagamento_o_Doppi_Pagamenti_Incassi</name>
        <label>Comunicazione Pagamento o Doppi Pagamenti/Incassi?</label>
        <locationX>567</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>AssegnaVariabili_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doppi Pagamenti/Incassi</defaultConnectorLabel>
        <rules>
            <name>Comunicazione_Pagamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione Pagamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseAggiornato.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promessa di Pagamento Ente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canale_di_Pagamento</targetReference>
            </connector>
            <label>Comunicazione Pagamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_o_Conferma_0</name>
        <label>Salva In Bozza o Conferma?</label>
        <locationX>924</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <description>SubFlow per la gestione del processo &quot;Comunicazione Pagamento&quot;</description>
    <formulas>
        <name>AmountDifference</name>
        <dataType>Currency</dataType>
        <expression>{!GetCaseAggiornato.TotalResidue__c} - {!GetCaseAggiornato.PaidAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>HDT_FL_GestionePagamenti_ComunicazionePagamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Pagamenti - Comunicazione Pagamento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CalcoloCodiceCausale</name>
        <label>CalcoloCodiceCausale</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaVariabili</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>567</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comunicazione_Pagamento_o_Doppi_Pagamenti_Incassi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseNonBozza</name>
        <label>GetCaseNonBozza</label>
        <locationX>1546</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaVariabili_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_In_Lavorazione</name>
        <label>Aggiorna In Lavorazione</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>924</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Inserire_altri_documenti_0_0_0</targetReference>
        </connector>
        <inputReference>CaseInput</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiornamento_Case_Fine_Bozza</name>
        <label>Aggiornamento In Da Inviare</label>
        <locationX>380</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Loading_Screen</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiornamento_Case_Fine_Bozza_0</name>
        <label>Aggiornamento In Da Inviare</label>
        <locationX>1546</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loading_Screen_0</targetReference>
        </connector>
        <inputReference>GetCaseNonBozza</inputReference>
    </recordUpdates>
    <screens>
        <name>Inserire_altri_documenti_0_0_0</name>
        <label>Inserire altri documenti?</label>
        <locationX>924</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Inserimento_Dati_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_2_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentSelector_0_0_0</name>
            <extensionName>c:hdtAccountStatementPickerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingProfileId</name>
                <value>
                    <elementReference>CaseInput.BillingProfile__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>CaseInput.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractAccount</name>
                <value>
                    <elementReference>CaseInput.BillingProfile__r.ContractAccountCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>codiceCliente</name>
                <value>
                    <elementReference>CaseInput.Account.CustomerCode__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen</name>
        <label>Loading Screen</label>
        <locationX>380</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0</name>
        <label>Loading Screen</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>924</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_o_Conferma_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>CaseInput.RecordType.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserire Documenti</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Review_Dati_0</name>
        <label>Screen Review Dati</label>
        <locationX>1546</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCaseNonBozza</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_3_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>ComPag - Riepilogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Virtual_Account_0</name>
        <label>Virtual Account</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assegna_Valori_Abi_Mod_Pagamento</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Virtual_Account_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Virtual_Account_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitolareConto</name>
                    <choiceReferences>Pagatore_Alternativo</choiceReferences>
                    <choiceReferences>Stesso_Sottoscrittore</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Stesso_Sottoscrittore</defaultSelectedChoiceReference>
                    <fieldText>Titolare del conto o Beneficiario</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BeneficiaryAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Erede/Beneficiario</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BeneficiaryAccount__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TitolareConto</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pagatore_Alternativo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Virtual_Account_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bonifico_da_effettuare_verso_il_virtual_Account</name>
                    <choiceReferences>Si</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bonifico da effettuare verso il Virtual Account?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AbiCodeSelector</name>
            <extensionName>c:hdtAbiCodeSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1109</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_In_Bozza_Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annullamento_Prestazione_0</name>
        <label>Annullamento Prestazione</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AbiCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddDocuemnts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FakeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentSelected__c</objectType>
    </variables>
    <variables>
        <name>MetodoPagamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModalitaPagamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avanti</stringValue>
        </value>
    </variables>
    <variables>
        <name>RealCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DocumentSelected__c</objectType>
    </variables>
</Flow>
