force-app/main/default/flows/HDT_FL_Relate_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>ExistRecord</name>
        <label>ExistRecord?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>IsAssigned_IsCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAssigned_IsCase</name>
        <label>IsAssigned/IsCase?</label>
        <locationX>407</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>IsAssigned_IsOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_IsAssigned/IsCase</defaultConnectorLabel>
        <rules>
            <name>TRUE_IsAssigned_IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wrts_prcgvr__ActivityTemplate__r.wrts_prcgvr__ObjectType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activity_Case</targetReference>
            </connector>
            <label>TRUE_IsAssigned/IsCase?</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAssigned_IsOrder</name>
        <label>IsAssignedIsOrder</label>
        <locationX>605</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>FALSE_IsAssignedIsOrder</defaultConnectorLabel>
        <rules>
            <name>TRUE_IsAssigned_IsOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.wrts_prcgvr__ActivityTemplate__r.wrts_prcgvr__ObjectType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activity_Order</targetReference>
            </connector>
            <label>TRUE_IsAssignedIsOrder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ObjectId</name>
        <dataType>String</dataType>
        <expression>{!$Record.wrts_prcgvr__ObjectId__c}</expression>
    </formulas>
    <interviewLabel>HDT_FL_Relate_Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched Flow Relate Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle</name>
        <label>Get Automation Toggle</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistRecord</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND (4 AND 5 ) AND 6</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_FL_Relate_Activity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BEFORE_INSERT</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipDueDateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_AutomationToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Activity_Case</name>
        <label>Assign Activity Case</label>
        <locationX>209</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Formula_ObjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Activity_Order</name>
        <label>Assign Activity Order</label>
        <locationX>473</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Formula_ObjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle</targetReference>
        </connector>
        <object>wrts_prcgvr__Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
