force-app/main/default/flows/HDT_FL_DataEnrichmentPostSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Arricchimento_Dati</name>
        <label>Arricchimento Dati</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>HDT_WS_ArricchimentoDatiTemp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_Vuota</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractCode</name>
            <value>
                <elementReference>GetContract.SAPContractCode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>impianto</name>
            <value>
                <elementReference>codiceImpianto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pod</name>
            <value>
                <elementReference>pod</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>HandleResponseDataEnrichment</name>
        <label>Handle Response Data Enrichment</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <actionName>HDT_UTL_DataEnrichmentPostSales</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Processo</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>GetInputCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serializedResponse</name>
            <value>
                <elementReference>Arricchimento_Dati</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GetInputCase</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assegna_Altri_Dati</name>
        <label>Assegna Altri Dati</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetServicePoint.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assegnazione dei parametri di chiamata del servisio per service point Energy</description>
        <name>Assegna_parametri_SP_Energy</name>
        <label>Assegna parametri SP Energy</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>pod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetServicePoint.ServicePointCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codiceImpianto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Arricchimento_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Valorizzazione dei parametri della chiamata verso il servizio per il non Energy</description>
        <name>Assegna_parametri_SP_No_Energy</name>
        <label>Assegna parametri SP No Energy</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>pod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codiceImpianto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetServicePoint.SAPImplantCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Arricchimento_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assegna i valori per le variabili necessarie al sottoprocesso di adesione Fondo Fughe</description>
        <name>Assegna_variabili_per_Adesione_Fondo</name>
        <label>Assegna variabili per Adesione Fondo</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adesione Fondo Fughe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.JointBottomAdhesion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Altri_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assegna i valori per le variabili necessarie al sottoprocesso di rinuncia Fondo Fughe</description>
        <name>Assegna_variabili_per_Rinuncia_Fondo</name>
        <label>Assegna variabili per Rinuncia Fondo</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rinuncia Fondo Fughe</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.JointBottomAdhesion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Altri_Dati</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica del processo chiamate l&apos;arricchimento, per specifiche valorizzazioni post chiamata richieste dal processo</description>
        <name>Check_Processo</name>
        <label>Check Processo</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assegna_Altri_Dati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri Processi</defaultConnectorLabel>
        <rules>
            <name>Rinuncia_Fondo_Fughe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adesione Rinuncia Fondo Fughe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.JointBottomAdhesion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_variabili_per_Rinuncia_Fondo</targetReference>
            </connector>
            <label>Rinuncia Fondo Fughe</label>
        </rules>
        <rules>
            <name>Adesione_Fondo_Fughe</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adesione Rinuncia Fondo Fughe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.JointBottomAdhesion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.JointBottomAdhesion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.JointBottomAdhesion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_variabili_per_Adesione_Fondo</targetReference>
            </connector>
            <label>Adesione Fondo Fughe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parametri_di_chiamata</name>
        <label>Parametri di chiamata</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assegna_parametri_SP_No_Energy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Energy</defaultConnectorLabel>
        <rules>
            <name>Energy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetServicePoint.CommoditySector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetServicePoint.CommoditySector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_parametri_SP_Energy</targetReference>
            </connector>
            <label>Energy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Vuota</name>
        <label>Response Vuota?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>HandleResponseDataEnrichment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Vuota</defaultConnectorLabel>
        <rules>
            <name>Vuota</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Arricchimento_Dati</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Arricchimento_Dati</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Vuota</label>
        </rules>
    </decisions>
    <description>Flow per la gestione dell&apos;arricchimento dati postSales</description>
    <interviewLabel>Arricchimento Dati PostSales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Arricchimento Dati PostSales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServicePoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCase</name>
        <label>GetInputCase</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parametri_di_chiamata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServicePoint</name>
        <label>GetServicePoint</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInputCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServicePoint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>446</locationX>
        <locationY>1670</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>codiceImpianto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicePointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
