force-app/main/default/flows/HDT_FL_GestioneReclami_TriggerAfterContenitore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Aumenta_Counter</name>
        <label>Aumenta Counter</label>
        <locationX>1232</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterLavorazione</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_0</name>
        <label>Aumenta Counter</label>
        <locationX>1496</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterSospeso</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_0_0</name>
        <label>Aumenta Counter</label>
        <locationX>1760</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterRispostaInviata</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_0_0_0</name>
        <label>Aumenta Counter</label>
        <locationX>2024</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterAnnullato</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_0_0_0_0</name>
        <label>Aumenta Counter</label>
        <locationX>2552</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterElaborazioneRisposta</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_0_0_0_0_0</name>
        <label>Aumenta Counter</label>
        <locationX>2288</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterChiuso</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumenta_Counter_1</name>
        <label>Aumenta Counter</label>
        <locationX>2816</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CounterElements</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ExistRecord</name>
        <label>ExistRecord?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Case_nel_Contenitore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAutomationToggle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Fase</name>
        <label>Quale Fase?</label>
        <locationX>2024</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Aumenta_Counter_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>In_Lavorazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Lavorazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter</targetReference>
            </connector>
            <label>In Lavorazione</label>
        </rules>
        <rules>
            <name>Sospeso</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sospeso per richiesta parere</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sospeso per verifica DL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sospeso manualmente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter_0</targetReference>
            </connector>
            <label>Sospeso</label>
        </rules>
        <rules>
            <name>Risposta_Inviata</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risposta Inviata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risposta Inviata - Attesa Rettifica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter_0_0</targetReference>
            </connector>
            <label>Risposta Inviata</label>
        </rules>
        <rules>
            <name>Annullato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annullato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter_0_0_0</targetReference>
            </connector>
            <label>Annullato</label>
        </rules>
        <rules>
            <name>Chiuso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter_0_0_0_0_0</targetReference>
            </connector>
            <label>Chiuso</label>
        </rules>
        <rules>
            <name>Elaborazione_Risposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_sui_case_nel_Contenitore.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elaborazione Risposta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aumenta_Counter_0_0_0_0</targetReference>
            </connector>
            <label>Elaborazione Risposta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Fase_deve_andare_il_Contenitore</name>
        <label>Quale Fase deve andare il Contenitore?</label>
        <locationX>1144</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Nessun cambio</defaultConnectorLabel>
        <rules>
            <name>Contenitore_In_Lavorazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterLavorazione</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterSospeso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterRispostaInviata</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterChiuso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Lavorazione</targetReference>
            </connector>
            <label>Contenitore - In Lavorazione</label>
        </rules>
        <rules>
            <name>Contenitore_Sospeso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterSospeso</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterRispostaInviata</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterChiuso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Sospesa</targetReference>
            </connector>
            <label>Contenitore - Sospeso</label>
        </rules>
        <rules>
            <name>Contenitore_Risposta_Inviata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterRispostaInviata</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterChiuso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Risposta_Inviata</targetReference>
            </connector>
            <label>Contenitore - Risposta Inviata</label>
        </rules>
        <rules>
            <name>Contenitore_Annullato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterAnnullato</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterElements</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Annullato</targetReference>
            </connector>
            <label>Contenitore - Annullato</label>
        </rules>
        <rules>
            <name>Contenitore_Chiuso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterChiuso</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterElements</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Chiuso</targetReference>
            </connector>
            <label>Contenitore - Chiuso</label>
        </rules>
        <rules>
            <name>Contenitore_Elaborazione_Risposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterElements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CounterElaborazioneRisposta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_In_Elaborazione_Risposta</targetReference>
            </connector>
            <label>Contenitore - Elaborazione Risposta</label>
        </rules>
    </decisions>
    <description>Trigger Flow che gestisce l&apos;avanzamento della fase del Case Contenitore all&apos;interno del Cluster Reclami</description>
    <environments>Default</environments>
    <interviewLabel>GestioneReclami_TriggerAfterContenitore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Trigger After Contenitore</label>
    <loops>
        <name>Loop_sui_case_nel_Contenitore</name>
        <label>Loop sui case nel Contenitore</label>
        <locationX>1144</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Case_nel_Contenitore</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quale_Fase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quale_Fase_deve_andare_il_Contenitore</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_nel_Contenitore</name>
        <label>Get Case nel Contenitore</label>
        <locationX>1144</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_sui_case_nel_Contenitore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAutomationToggle</name>
        <label>GetAutomationToggle</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistRecord</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND ( 4 AND 5 ) AND 6</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_FL_GestioneReclami_TriggerAfterContenitore</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>AFTER_INSERT;AFTER_UPDATE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipDueDateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_AutomationToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Passa_In_Annullato</name>
        <label>Passa In Annullato</label>
        <locationX>1144</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Annullato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_In_Chiuso</name>
        <label>Passa In Chiuso</label>
        <locationX>1408</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_In_Elaborazione_Risposta</name>
        <label>Passa In Elaborazione Risposta</label>
        <locationX>1672</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Elaborazione Risposta</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_In_Lavorazione</name>
        <label>Passa In Lavorazione</label>
        <locationX>352</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_In_Risposta_Inviata</name>
        <label>Passa In Risposta Inviata</label>
        <locationX>880</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Risposta Inviata</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_In_Sospesa</name>
        <label>Passa In Sospesa</label>
        <locationX>616</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsContainer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Sospesa</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAutomationToggle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamo Scritto/Rich. Info</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CounterAnnullato</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterChiuso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterElaborazioneRisposta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterElements</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterLavorazione</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterRispostaInviata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterSospeso</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
