force-app/main/default/flows/HDT_FL_GestioneDisattivazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close_Discard_Activity</name>
        <label>Chiudi Activity Scarto</label>
        <locationX>3933</locationX>
        <locationY>3182</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Case_Per_Risottomissione</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Request</name>
        <label>Submit Request</label>
        <locationX>2338</locationX>
        <locationY>2846</locationY>
        <actionName>HDT_SRV_BpCaVariationFacade</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Callout</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Request_0</name>
        <label>Submit Request</label>
        <locationX>3911</locationX>
        <locationY>2270</locationY>
        <actionName>HDT_SRV_BpCaVariationFacade</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Callout_0</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Dati_Recapito</name>
        <label>Assegna Dati Recapito</label>
        <locationX>3006</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>3270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>3534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>4062</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeVotiveModena.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Cluster_per_Votive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>3798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_FT_0</name>
        <label>Assegna FT</label>
        <locationX>2360</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inviaMA3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Output</name>
        <label>Assegna Output</label>
        <locationX>2492</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FT_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Output_0</name>
        <label>Assegna Output</label>
        <locationX>4065</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inviaMA3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Phase_KO_SAP</name>
        <label>Assegna Phase KO SAP</label>
        <locationX>2206</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Phase_KO_SAP_0</name>
        <label>Assegna Phase KO SAP</label>
        <locationX>3779</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type</name>
        <label>Assegna Process Type</label>
        <locationX>3006</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiusura Contatore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0</name>
        <label>Assegna Process Type</label>
        <locationX>3270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Altri Motivi/Richiesta Cliente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>4062</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Votive Modena Cessazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disattivazioni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>3534</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rifiuto Voltura</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>3798</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recesso per Ripensamento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>2195</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0</name>
        <label>AssegnaValori</label>
        <locationX>2789</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato_0.NotPerformedBefore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnazioniDaServicePoint</name>
        <label>Assegnazioni da ServicePoint</label>
        <locationX>2039</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.BillingProfile__r.BillSendingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.WrittenReceiptRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataRicezioneRichiesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddress_0_0</name>
        <label>AssignAddress</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingStreetNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetNumberExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingStreetNumberExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAddressLwc.theCase.InvoicingPlace__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAddress_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAddress_Cessazione</name>
        <label>AssignAddress</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyStreetNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyStreetNumberExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyStreetNumberExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyPlace__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAddress_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCommodity</name>
        <label>AssignCommodity</label>
        <locationX>545</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Commodity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ambiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichProcessType_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDatiSoggetto</name>
        <label>AssignDatiSoggetto</label>
        <locationX>1117</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>getTariCase_0.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase_0.Account.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase_0.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase_0.Account.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase_0.Birthday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase_0.Account.BirthDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase_0.Birthcity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase_0.Account.BirthProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase_0.AlternativeAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase_0.Account.BillingAddressFormula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateGetTariCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignParams</name>
        <label>assignParams</label>
        <locationX>1403</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.accountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.Account.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.SupplyCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.cluster</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.Cluster__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.contactChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.Channel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.processType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.subProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.Subprocess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paramsRequiredAttachments.SubscriberType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPreAttachments.SubscriberType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenReminderAllegati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase_0_0</name>
        <label>assignPhase</label>
        <locationX>1667</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>getTariCase_1.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseTari_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase_0_0_0</name>
        <label>assignPhase</label>
        <locationX>1403</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>getTariCase_1.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestione documentale</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseTari_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhase_0_0_0_0</name>
        <label>assignPhase</label>
        <locationX>1931</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>getTariCase_1.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase_1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseTari_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProcessType</name>
        <label>assignProcessType</label>
        <locationX>281</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>processTypeForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CessazioneForm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FirstTariForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProcessType_0</name>
        <label>assignProcessType</label>
        <locationX>545</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>processTypeForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CessazionePostForm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FirstTariForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignStatus</name>
        <label>assignStatus</label>
        <locationX>1667</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>getTariCase_1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Case_Per_Risottomissione</name>
        <label>Init Case Per Risottomissione</label>
        <locationX>3933</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.HerokuPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_current_month</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese corrente</label>
        <locationX>2459</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Current_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese successivo a quello corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_next_month</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese successivo</label>
        <locationX>2723</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Next_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreCompilazione</name>
        <label>PreCompilazione</label>
        <locationX>633</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>getTariCase.RequestSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da contribuente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase.DeclarationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase.CustomerRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase.SubscriptionPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTariCase.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase.SubscriberType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTariCase.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updatePreForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sendMA3</name>
        <label>sendMA3</label>
        <locationX>3402</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>sendMA3Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Il_Case_in_Bozza_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Rilavorazione_Scarto</name>
        <label>Rilavorazione Scarto?</label>
        <locationX>4065</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Update_Status_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wizard Normale</defaultConnectorLabel>
        <rules>
            <name>Wizard_Scarto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Discard_Activity</targetReference>
            </connector>
            <label>Wizard Scarto</label>
        </rules>
    </decisions>
    <decisions>
        <description>Il process type attuale è uguale a Recesso per Ripensamento?</description>
        <name>Current_Process_Recesso_Ripensamento</name>
        <label>Current Process Recesso Ripensamento?</label>
        <locationX>2789</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Aggiornato_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Current_Process_Recesso_Ripensamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Ripensamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Aggiornato</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente</name>
        <label>Data Ricezione Richiesta &lt;= 10 del mese corrente?</label>
        <locationX>2591</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>NotPerformedBeforeDate_equal_last_day_next_month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.WrittenReceiptRequestDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Get_10_current_month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotPerformedBeforeDate_equal_last_day_current_month</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Callout</name>
        <label>Esito Callout</label>
        <locationX>2338</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Votive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Request.outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Phase_KO_SAP</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Callout_0</name>
        <label>Esito Callout</label>
        <locationX>3911</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Check_Rilavorazione_Scarto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Request_0.outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Phase_KO_SAP_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>FT_0_0_0</name>
        <label>FT?</label>
        <locationX>2492</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>inviaMA3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FT_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.EndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>4000-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusura Contatore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.CommodityFormula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_FT_0</targetReference>
            </connector>
            <label>FT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza_0</name>
        <label>Il Case è in Bozza?</label>
        <locationX>3534</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Case_Layout_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Bozza_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Layout</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>inviaMA3</name>
        <label>inviaMA3?</label>
        <locationX>2492</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Votive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Invia_Modifica_Anagrafica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invia_MA3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Request</targetReference>
            </connector>
            <label>Invia Modifica Anagrafica</label>
        </rules>
    </decisions>
    <decisions>
        <name>inviaMA3_0</name>
        <label>inviaMA3?</label>
        <locationX>4065</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Check_Rilavorazione_Scarto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Invia_Modifica_Anagrafica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invia_MA3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Request_0</targetReference>
            </connector>
            <label>Invia Modifica Anagrafica</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChecked</name>
        <label>isChecked</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>AssignAddress_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Indirizzo_Alternativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getTariCase</targetReference>
            </connector>
            <label>Indirizzo Alternativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modifica_Dati_di_recapito</name>
        <label>Modifica Dati di recapito?</label>
        <locationX>3534</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Il_Case_in_Bozza_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dati non modificati</defaultConnectorLabel>
        <rules>
            <name>Invia_MA3</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoiceEmailAddress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pec</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoiceCertifiedEmailAddress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>presso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModInvioBollValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.BillSendingMethod__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>indirizzo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoicingAddressFormula__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Errore Lavorazione SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendMA3</targetReference>
            </connector>
            <label>Invia MA3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processi_Tari</name>
        <label>Processi Tari?</label>
        <locationX>2039</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Quale_Processo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_DisattivazioniTari</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCommodity</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>processTypeToForm</name>
        <label>processTypeToForm</label>
        <locationX>545</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>FirstTariForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cessazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignProcessType</targetReference>
            </connector>
            <label>Cessazione</label>
        </rules>
        <rules>
            <name>Cessazione_post_accertamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessazione post accertamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignProcessType_0</targetReference>
            </connector>
            <label>Cessazione post accertamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>3534</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assegna_Process_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Votive Modena Cessazione</defaultConnectorLabel>
        <rules>
            <name>Chiusura_Contatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusura Contatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type</targetReference>
            </connector>
            <label>Chiusura Contatore</label>
        </rules>
        <rules>
            <name>Recesso_Altri_Motivi_Richiesta_Cliente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Altri Motivi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso su Richiesta Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0</targetReference>
            </connector>
            <label>Recesso Altri Motivi/Richiesta Cliente</label>
        </rules>
        <rules>
            <name>Rifiuto_Voltura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Rifiuto Voltura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0_0</targetReference>
            </connector>
            <label>Rifiuto Voltura</label>
        </rules>
        <rules>
            <name>Recesso_per_Ripensamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Ripensamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0_0_0</targetReference>
            </connector>
            <label>Recesso per Ripensamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualit_DelSottoscrittore</name>
        <label>QualitàDelSottoscrittore</label>
        <locationX>1249</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>SecondTariForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>altre qualità</defaultConnectorLabel>
        <rules>
            <name>Soggetto_passivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase_0.SubscriberType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soggetto passivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDatiSoggetto</targetReference>
            </connector>
            <label>Soggetto passivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riapertura</name>
        <label>Riapertura?</label>
        <locationX>545</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>PreCompilazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_riap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>processTypeToForm</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riapertura_1</name>
        <label>Riapertura?</label>
        <locationX>1007</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Qualit_DelSottoscrittore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Riap_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valori_popolati</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_o_Conferma</name>
        <label>Salva In Bozza o Conferma</label>
        <locationX>3003</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcoloCodiceCausale</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scelta_pulsantiera</name>
        <label>Scelta pulsantiera</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>isChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>AnnullamentoChoice</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>newAddressLwc.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addressForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubFlowAnnullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scelta_pulsantiera_0</name>
        <label>Scelta pulsantiera</label>
        <locationX>545</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>getTariCase_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>AnnullamentoChoice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFom_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SubFlowAnnullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Salva_in_bozza_Coiche_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFom_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva in bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scelta_pulsantiera_0_0</name>
        <label>Scelta pulsantiera</label>
        <locationX>1007</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>getPreAttachments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>AnnullamentoChoice_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFom_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SubFlowAnnullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Salva_in_bozza_Coiche_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFom_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva in bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scelta_pulsantiera_0_0_0</name>
        <label>Scelta pulsantiera</label>
        <locationX>1403</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>getTariCase_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>AnnullamentoChoice_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtflownavButtons_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SubFlowAnnullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valori_popolati</name>
        <label>Valori popolati?</label>
        <locationX>765</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Qualit_DelSottoscrittore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_pop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase_0.FirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_0.LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_0.AlternativeAddress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_0.Birthday__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_0.Birthcity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SecondTariForm</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Votive</name>
        <label>Votive?</label>
        <locationX>2492</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Current_Process_Recesso_Ripensamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Votive</defaultConnectorLabel>
        <rules>
            <name>Votive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Cessazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori</targetReference>
            </connector>
            <label>Votive</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichProcess</name>
        <label>WhichProcess</label>
        <locationX>1667</locationX>
        <locationY>4790</locationY>
        <defaultConnector>
            <targetReference>assignPhase_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cessazione without Documental</defaultConnectorLabel>
        <rules>
            <name>Cessazione_with_Documental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase_1.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_1.RequestSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da contribuente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTariCase_1.ModuleFromContributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPhase_0_0_0</targetReference>
            </connector>
            <label>Cessazione with Documental</label>
        </rules>
        <rules>
            <name>Cessazione_post_accertamento_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTariCase_1.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessazione post accertamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPhase_0_0</targetReference>
            </connector>
            <label>Cessazione post accertamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichProcessType_0</name>
        <label>WhichProcessType</label>
        <locationX>545</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AssignAddress_Cessazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cessazione</defaultConnectorLabel>
        <rules>
            <name>Cessazione_post_accertamento_choice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cessazione post accertamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSetAddress</targetReference>
            </connector>
            <label>Cessazione post accertamento</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SendingMethodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillSendingMethod__c</picklistField>
        <picklistObject>BillingProfile__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DataRicezioneRichiesta</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Input_Case.WrittenReceiptRequestDate__c} ),TODAY(),{!Get_Input_Case.WrittenReceiptRequestDate__c} )</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere il giorno 10 del mese corrente</description>
        <name>Formula_Get_10_current_month</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 10)</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere l&apos;ultimo giorno del mese corrente</description>
        <name>Formula_Get_Last_Day_Current_Month</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12,
DATE( YEAR( TODAY() ), MONTH( TODAY() ), 31 ),
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1 ) - 1)</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere l&apos;ultimo giorno del mese successivo a quello corrente</description>
        <name>Formula_Get_Last_Day_Next_Month</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12,
DATE(YEAR( TODAY()) +1, 1, 31),
DATE(YEAR(TODAY()), MONTH(TODAY()) +2 , 1) -1 )</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestioneDisattivazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Disattivazioni</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CalcoloCodiceCausale</name>
        <label>Calcolo Codice Causale</label>
        <locationX>2492</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato</name>
        <label>Get_Case_Aggiornato</label>
        <locationX>2591</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato_0</name>
        <label>Get_Case_Aggiornato</label>
        <locationX>2987</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>2039</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnazioniDaServicePoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPreAttachments</name>
        <label>getPreAttachments</label>
        <locationX>1403</locationX>
        <locationY>3950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignParams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeVotiveModena</name>
        <label>GetRecordTypeVotiveModena</label>
        <locationX>4062</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_VotiveModena</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTariCase</name>
        <label>getTariCase</label>
        <locationX>545</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Riapertura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTariCase_0</name>
        <label>getTariCase_0</label>
        <locationX>1007</locationX>
        <locationY>2918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Riapertura_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTariCase_1</name>
        <label>getTariCase_1</label>
        <locationX>1667</locationX>
        <locationY>4550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>2195</locationX>
        <locationY>3878</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Cluster_per_Votive</name>
        <label>Aggiorna Cluster per Votive</label>
        <locationX>4062</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>Aggiorna Case</label>
        <locationX>2039</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Processi_Tari</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>2789</locationX>
        <locationY>4550</locationY>
        <connector>
            <targetReference>Loading_Spinner_screen</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>4065</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>Loading_Spinner_screen_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>2206</locationX>
        <locationY>3206</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>3779</locationX>
        <locationY>2630</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAddress_0</name>
        <label>updateAddress</label>
        <locationX>545</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>getTariCase</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseTari_1</name>
        <label>updateCaseTari_1</label>
        <locationX>1667</locationX>
        <locationY>5126</locationY>
        <inputReference>getTariCase_1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGetTariCase_0</name>
        <label>UpdateGetTariCase_0</label>
        <locationX>1117</locationX>
        <locationY>3398</locationY>
        <connector>
            <targetReference>SecondTariForm</targetReference>
        </connector>
        <inputReference>getTariCase_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePostAttachments</name>
        <label>updatePostAttachments</label>
        <locationX>1403</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Scelta_pulsantiera_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdditionalAttachments__c</field>
            <value>
                <elementReference>componentAttachment.additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MandatoryAttachments__c</field>
            <value>
                <elementReference>componentAttachment.required</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePreForm</name>
        <label>updatePreForm</label>
        <locationX>633</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>processTypeToForm</targetReference>
        </connector>
        <inputReference>getTariCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Layout</name>
        <label>Case Layout</label>
        <locationX>3003</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0</name>
        <label>Case Layout</label>
        <locationX>4065</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Output_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0</name>
        <label>Case Layout</label>
        <locationX>3006</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0</name>
        <label>Case Layout</label>
        <locationX>3270</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>3534</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>4062</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecordTypeVotiveModena</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>3798</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FirstTariForm</name>
        <label>FirstTariForm</label>
        <locationX>545</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scelta_pulsantiera_0</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFom_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>processTypeForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>getTariCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Spinner_screen</name>
        <label>Loading Spinner screen</label>
        <locationX>2789</locationX>
        <locationY>4670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Spinner_screen_0</name>
        <label>Loading Spinner screen</label>
        <locationX>4065</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenReminderAllegati</name>
        <label>ScreenAllegati</label>
        <locationX>1403</locationX>
        <locationY>4190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updatePostAttachments</targetReference>
        </connector>
        <fields>
            <name>componentAttachment</name>
            <extensionName>c:hdtAttachmentManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paramsWrap</name>
                <value>
                    <elementReference>paramsRequiredAttachments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtflownavButtons_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSetAddress</name>
        <label>ScreenSetAddress</label>
        <locationX>248</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scelta_pulsantiera</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkAddress</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Indirizzo non trovato</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>newAddressLwc</name>
            <extensionName>c:hdtTargetObjectAddressForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelCase</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideNavigationButtons</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theCase</name>
                <value>
                    <elementReference>Get_Input_Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>addressForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>addressForm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>Get_Input_Case.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SecondTariForm</name>
        <label>SecondTariForm</label>
        <locationX>1007</locationX>
        <locationY>3710</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scelta_pulsantiera_0_0</targetReference>
        </connector>
        <fields>
            <name>ScreenHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFom_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>DisattivazioniTariSecondForm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>getTariCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1913</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestione_Annullamento_Subflow</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>3251</locationX>
        <locationY>2150</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SubFlowAnnullamento</name>
        <label>SubFlowAnnullamento</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isCheckOwnerOk</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <elementReference>Get_Input_Case.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultBillMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>indirizzo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModInvioBollValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paramsRequiredAttachments</name>
        <apexClass>HDT_LC_AttachmentManager</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>presso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processTypeForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Save_Or_Confirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendMA3Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
