force-app/main/default/flows/HDT_FL_GestioneAutoletture.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cerca_Processi_di_vendita_elegibili</name>
        <label>Cerca Processi di vendita elegibili</label>
        <locationX>642</locationX>
        <locationY>346</locationY>
        <actionName>HDT_UTL_SelfReadings</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Autolettura_da_processo_check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseCreatedDateTime</name>
            <value>
                <elementReference>Get_Case.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadataRecordName</name>
            <value>
                <stringValue>Autolettura_da_processo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>servicePointId</name>
            <value>
                <elementReference>Get_Case.ServicePoint__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Close_Discard_Activity</name>
        <label>Close Discard Activity</label>
        <locationX>2148</locationX>
        <locationY>255</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>selfReading</name>
        <label>selfReading</label>
        <locationX>2653</locationX>
        <locationY>228</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Spinner</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>discardSelfReading</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>GetDiscardActivity.Case__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>GetDiscardActivity.Type__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_codice_causale_da_switch</name>
        <label>Assign codice causale (da switch)</label>
        <locationX>1150</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>CausalCodeProcessReading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcolo_Codice_Causale_Lettura_da_Switch.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Dati_Autolettura_da_processo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Codice_Causale_da_voltura</name>
        <label>Assign Codice Causale (da voltura)</label>
        <locationX>1148</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>CausalCodeProcessReading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcolo_Codice_Causale_Lettura_da_Voltura.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseForVoltura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrorMessage</name>
        <label>AssignErrorMessage</label>
        <locationX>1266</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>ReadingError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attenzione! Autolettura non inserita correttamente si prega di reinserirla.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inserimento_Letture</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Autolettura_da_processo_check</name>
        <label>Autolettura da processo?</label>
        <locationX>788</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Set_Codice_Venditore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autolettura da cliente</defaultConnectorLabel>
        <rules>
            <name>Set_Autolettura_da_processo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cerca_Processi_di_vendita_elegibili.isProcessReading</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Codice_Causale_Autolettura_da_processo</targetReference>
            </connector>
            <label>Autolettura da processo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Codice_Causale_Autolettura_da_processo</name>
        <label>Codice Causale Autolettura da processo?</label>
        <locationX>793</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lettura_da_switch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cerca_Processi_di_vendita_elegibili.orderRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_SwitchIn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cerca_Processi_di_vendita_elegibili.orderRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_VolturaConSwitch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcolo_Codice_Causale_Lettura_da_Switch</targetReference>
            </connector>
            <label>Lettura da switch</label>
        </rules>
        <rules>
            <name>Lettura_da_voltura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cerca_Processi_di_vendita_elegibili.orderRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_Voltura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcolo_Codice_Causale_Lettura_da_Voltura</targetReference>
            </connector>
            <label>Lettura da voltura</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lettura</name>
        <label>Check Lettura</label>
        <locationX>1676</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Refresh_Case_Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autolettura_da_processo_Multi_oraria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refresh_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autolettura da processo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtSelfReadingComponent.isMono</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Autolettura_Multi_oraria</targetReference>
            </connector>
            <label>Autolettura da processo Multi-oraria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Processo</name>
        <label>Check Processo</label>
        <locationX>2138</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>discard_Rework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDiscardActivity</targetReference>
            </connector>
            <label>discard Rework</label>
        </rules>
        <rules>
            <name>Autolettura_da_cliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refresh_Case_Final.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autolettura da cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcolo_Codice_Causale</targetReference>
            </connector>
            <label>Autolettura da cliente</label>
        </rules>
        <rules>
            <name>Autolettura_da_processo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refresh_Case_Final.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autolettura da processo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fase_Da_Inviare</targetReference>
            </connector>
            <label>Autolettura da processo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_pulsante_premuto</name>
        <label>Pulsante premuto?</label>
        <locationX>1402</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_Lettura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Salva_in_bozza_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtSelfReadingComponent.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Data_Lettura_Cliente</targetReference>
            </connector>
            <label>Salva in bozza</label>
        </rules>
        <rules>
            <name>Annullamento_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtSelfReadingComponent.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Point</name>
        <label>Check Service Point</label>
        <locationX>634</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>Cerca_Processi_di_vendita_elegibili</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service Point OK</defaultConnectorLabel>
        <rules>
            <name>Service_Point_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.PODPDRFormula__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Case_Screen</targetReference>
            </connector>
            <label>Service Point KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>2304</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Esito predefinito</defaultConnectorLabel>
        <rules>
            <name>Check_Preliminari_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDiscardActivity.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check preliminari KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Phase</targetReference>
            </connector>
            <label>Check Preliminari KO</label>
        </rules>
        <rules>
            <name>KO_MDM_or_SAP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDiscardActivity.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Esito KO da SAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDiscardActivity.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Esito KO pre-MDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selfReading</targetReference>
            </connector>
            <label>KO MDM or SAP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lettura_Inserita_Correttamente</name>
        <label>Lettura Inserita Correttamente?</label>
        <locationX>1984</locationX>
        <locationY>864</locationY>
        <defaultConnector>
            <targetReference>Check_Processo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inserita</defaultConnectorLabel>
        <rules>
            <name>Non_Inserita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetReadings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignErrorMessage</targetReference>
            </connector>
            <label>Non Inserita</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calcola il codice venditore per le autoletture, che non possono richiamare arricchimento dati.

TODO: Formula da adeguare in Wave 2.</description>
        <name>CompanyCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.CommodityFormula__c} = &apos;Gas&apos;, &apos;10V0000160&apos;, &apos;13V0000000&apos;)</expression>
    </formulas>
    <formulas>
        <name>ReadingCustomerDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT({!hdtSelfReadingComponent.readingCustomerDate}))</expression>
    </formulas>
    <interviewLabel>Gestione Autoletture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Autoletture</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Calcolo_Codice_Causale</name>
        <label>Calcolo Codice Causale</label>
        <locationX>2395</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fase_Attesa_check_preliminari</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case_Final.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case_Final.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case_Final.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calcolo_Codice_Causale_Lettura_da_Switch</name>
        <label>Calcolo Codice Causale Lettura da Switch</label>
        <locationX>1025</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_codice_causale_da_switch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autolettura_switch</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calcolo_Codice_Causale_Lettura_da_Voltura</name>
        <label>Calcolo Codice Causale Lettura da Voltura</label>
        <locationX>1026</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Codice_Causale_da_voltura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autolettura_voltura</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>466</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Service_Point</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDiscardActivity</name>
        <label>GetDiscardActivity</label>
        <locationX>2143</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Discard_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReadings</name>
        <label>GetReadings</label>
        <locationX>1970</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lettura_Inserita_Correttamente</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CaseEle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseGas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reading__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Refresh_Case</name>
        <label>Refresh Case</label>
        <locationX>1138</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserimento_Letture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Refresh_Case_Final</name>
        <label>Refresh Case</label>
        <locationX>1855</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetReadings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Il tracciato del DL prevede solo autoletture da processo ELE mono-orario, in caso di multi annulliamo il Case che rimane solo su sfdc per tracciatura.</description>
        <name>Annullamento_Autolettura_Multi_oraria</name>
        <label>Annullamento Autolettura Multi-oraria</label>
        <locationX>1684</locationX>
        <locationY>214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancellationNote__c</field>
            <value>
                <stringValue>Lettura di processo multi-orario non acquisibile dal DL.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CancellationReason__c</field>
            <value>
                <stringValue>Autolettura non acquisibile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Codice_Venditore</name>
        <label>Set Codice Venditore + Distributore</label>
        <locationX>994</locationX>
        <locationY>552</locationY>
        <connector>
            <targetReference>Refresh_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DistributorCode__c</field>
            <value>
                <elementReference>Get_Case.ServicePoint__r.Distributor__r.Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesCompanyCode__c</field>
            <value>
                <elementReference>CompanyCodeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Data_Lettura_Cliente</name>
        <label>Set Data Lettura Cliente</label>
        <locationX>1410</locationX>
        <locationY>301</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refresh_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReadingDate__c</field>
            <value>
                <elementReference>ReadingCustomerDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dati_Autolettura_da_processo</name>
        <label>Set Dati Autolettura da processo</label>
        <locationX>1333</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Set_Codice_Venditore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CausalCode__c</field>
            <value>
                <elementReference>CausalCodeProcessReading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Cerca_Processi_di_vendita_elegibili.orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Autolettura da processo</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fase_Attesa_check_preliminari</name>
        <label>Set Fase Attesa check preliminari</label>
        <locationX>2529</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Spinner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CausalCode__c</field>
            <value>
                <elementReference>Calcolo_Codice_Causale.CausalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Attesa check preliminari</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReadingDate__c</field>
            <value>
                <elementReference>ReadingCustomerDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fase_Da_Inviare</name>
        <label>Set Fase Da Inviare</label>
        <locationX>2477</locationX>
        <locationY>675</locationY>
        <connector>
            <targetReference>Spinner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReadingDate__c</field>
            <value>
                <elementReference>ReadingCustomerDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Phase</name>
        <label>Update Case Phase</label>
        <locationX>2809</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Spinner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDiscardActivity.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Attesa check preliminari</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseForVoltura</name>
        <label>UpdateCaseForVoltura</label>
        <locationX>1265</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Set_Codice_Venditore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CausalCode__c</field>
            <value>
                <elementReference>CausalCodeProcessReading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Autolettura da processo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VulturePracticeReference__c</field>
            <value>
                <elementReference>Cerca_Processi_di_vendita_elegibili.orderId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Inserimento_Letture</name>
        <label>Inserimento Letture</label>
        <locationX>1265</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_pulsante_premuto</targetReference>
        </connector>
        <fields>
            <name>selfReadingDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di &lt;/b&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!Refresh_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutoletturaReadOnlyFields</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Refresh_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Refresh_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ReadingError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayTextMiddle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Inserire la lettura del Cliente:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtSelfReadingComponent</name>
            <extensionName>c:hdtSelfReading</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>commodity</name>
                <value>
                    <elementReference>Get_Case.CommodityFormula__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isVolture</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBackButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDraftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resumedFromDraft</name>
                <value>
                    <elementReference>ResumeFromDraft</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledReadingDate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>servicePointId</name>
                <value>
                    <elementReference>Get_Case.ServicePoint__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadingWindows</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isProcessReading</name>
                <value>
                    <elementReference>Cerca_Processi_di_vendita_elegibili.isProcessReading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Case_Screen</name>
        <label>Invalid Case Screen</label>
        <locationX>645</locationX>
        <locationY>780</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidCaseText</name>
            <fieldText>&lt;p&gt;Case invalido, Service Point non presente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Spinner</name>
        <label>Spinner</label>
        <locationX>2813</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NavigationSpinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>70</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestione_Annullamento</name>
        <label>Gestione Annullamento</label>
        <locationX>1411</locationX>
        <locationY>760</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Refresh_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordToCancell</name>
            <value>
                <elementReference>Refresh_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CausalCodeProcessReading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReadingError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
