force-app/main/default/flows/HDT_FL_GestioneVariazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CercaCaseConAltraFornitura</name>
        <label>Cerca Case con Altra Fornitura</label>
        <locationX>3284</locationX>
        <locationY>734</locationY>
        <actionName>HDT_UTL_Variations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Case_Altra_Fornitura_Trovati</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>GetInputCase.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>GetInputCase.CommodityFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>servicePointId</name>
            <value>
                <elementReference>GetInputCase.ServicePoint__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Aggiorna_Fase_in_Attesa_Allineamento_RCU</name>
        <label>Aggiorna Fase in Attesa Allineamento RCU</label>
        <locationX>2030</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Attesa Allineamento Anagrafica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Attesa_Allineamento_RCU_0</name>
        <label>Aggiorna Fase in Attesa Allineamento RCU</label>
        <locationX>3086</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Attesa Allineamento Anagrafica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Attesa_Data_Decorrenza</name>
        <label>Aggiorna Fase in Attesa Data Decorrenza</label>
        <locationX>2822</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In attesa Data Decorrenza</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Da_Inviare</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicazione verso Heroku OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Da_Inviare_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>4142</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Comunicazione verso Heroku OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Da_Inviare_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>4934</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Da_Inviare_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>5726</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Da_Inviare_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>6782</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Elaborazione_Manuale</name>
        <label>Aggiorna Fase in Elaborazione Manuale</label>
        <locationX>5990</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Elaborazione_Manuale_0</name>
        <label>Aggiorna Fase in Elaborazione Manuale</label>
        <locationX>7046</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Fase_in_Validazion</name>
        <label>Aggiorna Fase in Validazione</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseFiscale.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In attesa validazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseFiscale.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_addressCheck</name>
        <label>Assegna addressCheck</label>
        <locationX>3152</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>addressCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CercaCaseConAltraFornitura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_addressCheck_0</name>
        <label>Assegna addressCheck</label>
        <locationX>3416</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>addressCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CercaCaseConAltraFornitura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFoundOtherCase</name>
        <label>Assegna FoundOtherCase</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FoundOtherCaseFiscale</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenInputFiscale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFoundOtherCase_0</name>
        <label>Assegna FoundOtherCase</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FoundOtherCaseFiscale</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenInputFiscale</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Altro_Case_Trovato</name>
        <label>Altro Case Trovato?</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>AssegnaFoundOtherCase_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovato</defaultConnectorLabel>
        <rules>
            <name>Trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseStessoSottoprocessoFornitura</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaFoundOtherCase</targetReference>
            </connector>
            <label>Trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Altra_Fornitura_Trovati</name>
        <label>Case Altra Fornitura Trovati?</label>
        <locationX>3284</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Non Trovati</defaultConnectorLabel>
        <rules>
            <name>Trovati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CercaCaseConAltraFornitura</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0_0</targetReference>
            </connector>
            <label>Trovati</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Validit_Nel_futuro</name>
        <label>Data Validità Nel futuro?</label>
        <locationX>2954</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Fase_in_Attesa_Allineamento_RCU_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Presente</defaultConnectorLabel>
        <rules>
            <name>Futuro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCaseAggiornato.ResidenceChangeDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Attesa_Data_Decorrenza</targetReference>
            </connector>
            <label>Futuro</label>
        </rules>
    </decisions>
    <decisions>
        <name>InRete_o_ExtraRete</name>
        <label>InRete o ExtraRete?</label>
        <locationX>5858</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Fase_in_Elaborazione_Manuale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExtraRete</defaultConnectorLabel>
        <rules>
            <name>InRete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato.DistributorName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>InRete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Da_Inviare_0_0_0</targetReference>
            </connector>
            <label>InRete</label>
        </rules>
    </decisions>
    <decisions>
        <name>InRete_o_ExtraRete_0</name>
        <label>InRete o ExtraRete?</label>
        <locationX>6914</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Fase_in_Elaborazione_Manuale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExtraRete</defaultConnectorLabel>
        <rules>
            <name>InRete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.DistributorName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>InRete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Da_Inviare_0_0_0_0</targetReference>
            </connector>
            <label>InRete</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm</name>
        <label>OutcomeForm</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInputCaseFiscale</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0</name>
        <label>OutcomeForm</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Validazion</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0</name>
        <label>OutcomeForm</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Da_Inviare</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>2030</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Attesa_Allineamento_RCU</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>4142</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Da_Inviare_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>2954</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInputCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>4934</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Da_Inviare_0_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0_0_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>5858</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutcomeForm_0_0_0_0_0_0_0_0</name>
        <label>OutcomeForm</label>
        <locationX>6914</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annullata_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Annullata</label>
        </rules>
        <rules>
            <name>Conferma_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InRete_o_ExtraRete_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>3878</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fiscale</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiscale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiscale  - IVA Esenzione/Revoca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Sottoprocesso</targetReference>
            </connector>
            <label>Fiscale/Fiscale Iva Esenzione</label>
        </rules>
        <rules>
            <name>Modifica_Portale_SOL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica Portale SOL Gestione Energia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0</targetReference>
            </connector>
            <label>Modifica Portale SOL</label>
        </rules>
        <rules>
            <name>Marcatura_Uso_PdR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marcatura/Uso PdR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione indirizzo di fornitura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0</targetReference>
            </connector>
            <label>Marcatura/Uso PdR - Variazione Indirizzo Fornitura</label>
        </rules>
        <rules>
            <name>Modifica_Tariffa_Residente_Non_Residente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica Tariffa Residente/Non Residente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stesso_Indirizzo</targetReference>
            </connector>
            <label>Modifica Tariffa Residente/Non Residente</label>
        </rules>
        <rules>
            <name>Altri_Processi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condizioni Contrattuali Errate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestione Calamità</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dettaglio Bolletta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BP/CA - errata categoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0_0_0</targetReference>
            </connector>
            <label>Altri Processi</label>
        </rules>
        <rules>
            <name>Modifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica Layout di dettaglio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica/Azzeramento Consumo Annuo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0_0_0_0</targetReference>
            </connector>
            <label>Modifica Layout/Consumo</label>
        </rules>
        <rules>
            <name>Cambio_Contatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio contatore non registrato</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Cambio Contatore</label>
        </rules>
        <rules>
            <name>Mancata_Telelettura_Lettura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mancata Telelettura/lettura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputFiscale_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Mancata Telelettura/Lettura</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stesso_Indirizzo</name>
        <label>Stesso Indirizzo?</label>
        <locationX>3284</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assegna_addressCheck_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Differente</defaultConnectorLabel>
        <rules>
            <name>Uguale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.AddressFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetInputCase.Account.ShippingAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_addressCheck</targetReference>
            </connector>
            <label>Uguale</label>
        </rules>
    </decisions>
    <description>Flow per la gestione dei processi del Cluster Variazioni
--&gt; Versione per primo release su Devw1</description>
    <formulas>
        <name>VariazioneFiscalePhase</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!GetInputCase.Type}, &quot;Fiscale&quot;), &quot;In attesa validazione&quot;, &quot;Elaborazione Manuale&quot;)</expression>
    </formulas>
    <formulas>
        <name>VariazioneFiscaleProcess</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!GetInputCase.Type},&quot;Fiscale&quot;),&quot;Fiscale &quot; &amp; {!GetInputCaseFiscale.CommodityFormula__c},&quot;GetInputCase.Type&quot;)</expression>
    </formulas>
    <interviewLabel>Gestione Variazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Variazioni</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>5858</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InRete_o_ExtraRete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseStessoSottoprocessoFornitura</name>
        <label>Get Case Stesso Sottoprocesso Fornitura</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Altro_Case_Trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GetInputCaseFiscale.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCaseFiscale.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServicePoint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCaseFiscale.ServicePoint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCase</name>
        <label>Get Input Case</label>
        <locationX>3878</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Processo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCaseAggiornato</name>
        <label>Get Input Case Aggiornato</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Validit_Nel_futuro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCaseFiscale</name>
        <label>Get Input Case Fiscale</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseStessoSottoprocessoFornitura</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <inputReference>GetInputCaseFiscale</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0</name>
        <label>Aggiorna Case</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>2030</locationX>
        <locationY>758</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>2954</locationX>
        <locationY>1670</locationY>
        <inputReference>GetInputCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>4142</locationX>
        <locationY>758</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>4934</locationX>
        <locationY>758</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>5858</locationX>
        <locationY>1094</locationY>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0_0_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>6914</locationX>
        <locationY>974</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Sottoprocesso</name>
        <label>Screen Sottoprocesso</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Sottoprocesso</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale</name>
        <label>Screen Input Fiscale</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarningFiscale</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 68, 0);&quot;&gt;Attenzione!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 68, 0);&quot;&gt;Esiste già un altro Case di Variazione - Fiscale con stesso Sottoprocesso e per lo stesso punto di fornitura&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FoundOtherCaseFiscale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCaseFiscale.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCaseFiscale.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>VariazioneFiscaleProcess</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>2030</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayInfo</name>
            <fieldText>&lt;p&gt;Valutare se necessario innescare un Case di &lt;b&gt;&quot;Modifica/Azzeramento Consumo Annuo&quot;&lt;/b&gt; dal &lt;b&gt;Service Catalog&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetInputCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Marcatura/Uso PdR</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>2954</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayInfo_0</name>
            <fieldText>&lt;p&gt;Indirizzo di fornitura selezionata e indirizzo di residenza differiscono tra loro.&lt;/p&gt;&lt;p&gt;Alla chiusura del Wizard è necessario innescare un Case di &quot;Modifica Residenza&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>addressCheck</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayInfo1</name>
            <fieldText>&lt;p&gt;Alla chiusura del Wizard innescare un Case di &quot;Autolettura&quot; e/o &quot;Modifica consumo Annuo&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CercaCaseConAltraFornitura</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>4142</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0_0_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>4934</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0_0_0_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>5858</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenInputFiscale_0_0_0_0_0_0_0</name>
        <label>Screen Input Fiscale</label>
        <locationX>6914</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OutcomeForm_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3752</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInputCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addressCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundOtherCaseFiscale</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
