force-app/main/default/flows/HDT_FL_GestionePagamenti_PagamentoUnicoAnnualeTARI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>calcAnnualita</name>
        <label>calcAnnualita</label>
        <locationX>941</locationX>
        <locationY>1766</locationY>
        <actionName>HDT_UTL_TariManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>View_annualit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Process_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>calculateAnnualPaymentEffectiveness</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Aggiorna_Case_In_attesa</name>
        <label>Aggiorna Case In attesa</label>
        <locationX>743</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>get_case_dopo_doc.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In attesa Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case_dopo_doc.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Salva_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bozza_annullata</name>
        <label>Bozza annullata</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Process_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Process_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Aggiorna_Case_Da_Inviare</name>
        <label>Copy 1 of Aggiorna Case Da Inviare</label>
        <locationX>941</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>get_case_dopo_doc.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case_dopo_doc.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Salva_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stringa_attiva</name>
        <label>stringa attiva</label>
        <locationX>413</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>get_case_aggiornato.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHIEDO di ricevere ogni anno il bollettino precompilato per il pagamento della TARI ….</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stringa_disattiva</name>
        <label>stringa disattiva</label>
        <locationX>677</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>get_case_aggiornato.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHIEDO la revoca della disposizione di pagamento in unica soluzione……</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>avanti</name>
        <label>quale step</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Compatibilit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>annullata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selezione_fornitura.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>annulla_processo</targetReference>
            </connector>
            <label>annullata</label>
        </rules>
    </decisions>
    <decisions>
        <name>avanti_0</name>
        <label>quale step</label>
        <locationX>545</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>calcAnnualita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>annullata_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>annulla_processo_0</targetReference>
            </connector>
            <label>annullata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avviso_anno_prossimo</name>
        <label>Avviso anno prossimo</label>
        <locationX>941</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Inserimento_allegato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mostra_avviso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcAnnualita.annuality</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Process_Case.CustomerRequestDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_avviso_anno_prossimo</targetReference>
            </connector>
            <label>Mostra avviso</label>
        </rules>
    </decisions>
    <decisions>
        <name>controllo_risultato_documentale</name>
        <label>controllo risultato documentale</label>
        <locationX>875</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Aggiorna_Case_Da_Inviare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>in_attesa_documentazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>componentDocumentale.skipDocumentalPhase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Case_In_attesa</targetReference>
            </connector>
            <label>in attesa documentazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Compatibile</name>
        <label>Is Compatibile?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Bozza_annullata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compatibile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selezione_fornitura.IsCompatibile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arricchimento_Dati</targetReference>
            </connector>
            <label>Compatibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_fase</name>
        <label>Perfezionamento documentazione</label>
        <locationX>941</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Aggiorna_Case_Da_Inviare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case_aggiornato.RequestSource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da contribuente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case_aggiornato.ModuleFromContributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>quale_stringa</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_stato</name>
        <label>Quale stato?</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Campi_input_operatore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selezione_fornitura</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>quale_step</name>
        <label>quale bottone</label>
        <locationX>677</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>get_case_dopo_doc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>componentDocumentale.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_annulla_processo</targetReference>
            </connector>
            <label>annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>quale_stringa</name>
        <label>quale stringa</label>
        <locationX>677</locationX>
        <locationY>2702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>attiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case_aggiornato.AnnualUnicInstallment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attiva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stringa_attiva</targetReference>
            </connector>
            <label>attiva</label>
        </rules>
        <rules>
            <name>disattiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case_aggiornato.AnnualUnicInstallment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disattiva</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>stringa_disattiva</targetReference>
            </connector>
            <label>disattiva</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HDT_FL_GestionePagamenti_PagamentoUnicoAnnualeTARI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Pagamenti - Pagamento Unico Annuale TARI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_case_aggiornato</name>
        <label>get case aggiornato</label>
        <locationX>941</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_fase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Process_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case_dopo_doc</name>
        <label>get case dopo doc</label>
        <locationX>875</locationX>
        <locationY>3398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>controllo_risultato_documentale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_aggiornato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Case</name>
        <label>Get Process Case</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_stato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <inputReference>Get_Process_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Salva_Case</name>
        <label>Salva Case</label>
        <locationX>941</locationX>
        <locationY>4226</locationY>
        <inputReference>get_case_dopo_doc</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>677</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>screenDocumentale</targetReference>
        </connector>
        <inputReference>get_case_aggiornato</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Campi_input_operatore</name>
        <label>Campi input operatore</label>
        <locationX>545</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>avanti_0</targetReference>
        </connector>
        <fields>
            <name>testata_sezione</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Process_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Process_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Process_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva in bozza</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inserimento_allegato</name>
        <label>Inserimento allegato</label>
        <locationX>941</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_case_aggiornato</targetReference>
        </connector>
        <fields>
            <name>allegatiObb</name>
            <extensionName>c:hdtAttachmentManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Process_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>navigazione</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Process_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_avviso_anno_prossimo</name>
        <label>Screen avviso anno prossimo</label>
        <locationX>809</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>Inserimento_allegato</targetReference>
        </connector>
        <fields>
            <name>testo_avviso</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(199, 7, 20); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgba(235, 236, 240, 0.592);&quot;&gt;&lt;u&gt;Attenzione: avvisare il cliente che la rata unica sarà attiva dall’anno prossimo.&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenDocumentale</name>
        <label>screenDocumentale</label>
        <locationX>677</locationX>
        <locationY>3158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>quale_step</targetReference>
        </connector>
        <fields>
            <name>componentDocumentale</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>get_case_aggiornato.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAmbiente</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_case_aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <elementReference>get_case_aggiornato.Origin</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>PagamentoTARI</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_annualit</name>
        <label>View annualità</label>
        <locationX>941</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Indietro</backButtonLabel>
        <connector>
            <targetReference>Avviso_anno_prossimo</targetReference>
        </connector>
        <fields>
            <name>Annuity</name>
            <fieldText>&lt;p&gt;Data limite: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!calcAnnualita.limitDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Annualità: {!calcAnnualita.annuality}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nav</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Process_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Process_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>annulla_processo</name>
        <label>annulla processo</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Process_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>annulla_processo_0</name>
        <label>annulla processo</label>
        <locationX>149</locationX>
        <locationY>1766</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Arricchimento_Dati</name>
        <label>Arricchimento Dati</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Campi_input_operatore</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Selezione_fornitura.Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Process_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>Selezione_fornitura.ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Compatibilit</name>
        <label>Compatibilità</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Is_Compatibile</targetReference>
        </connector>
        <flowName>HDT_FL_SubFlowCompatibility</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Process_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Copy_1_of_annulla_processo</name>
        <label>annulla processo</label>
        <locationX>479</locationX>
        <locationY>3398</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Selezione_fornitura</name>
        <label>Selezione fornitura</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>avanti</targetReference>
        </connector>
        <flowName>HDT_FL_SupplySelection</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Process_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <elementReference>Get_Process_Case.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TargetObject</name>
            <value>
                <stringValue>Fornitura</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Id of the process Case</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
