force-app/main/default/flows/HDT_FL_GestioneReclami_GestioneStampa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Conferma_Indennizzo</name>
        <label>Conferma Indennizzo</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_IndemnityConfirmation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contenitore</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>GetInputCase.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstLevel</name>
            <value>
                <elementReference>GetInputCase.FirstLevelComplaintClassification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isContainer</name>
            <value>
                <elementReference>GetInputCase.IsContainer__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>note</name>
            <value>
                <elementReference>GetInputCase.Note__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>secondLevel</name>
            <value>
                <elementReference>GetInputCase.SecondLevelComplaintClassification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>servicePointId</name>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetCaseContenuti</name>
        <label>GetCaseContenuti</label>
        <locationX>50</locationX>
        <locationY>3614</locationY>
        <actionName>HDT_UTL_Case</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopToUpdateInRIspostaInviata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>GetInputCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Contenitore</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CaseCollectionApex</assignToReference>
            <name>childCases</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AggiornaFase</name>
        <label>AggiornaFase</label>
        <locationX>314</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Risposta Inviata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_a_Collection</name>
        <label>Assegna a Collection</label>
        <locationX>358</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseToLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActivityToLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ToLoop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_a_collection_0</name>
        <label>Assegna a collection</label>
        <locationX>138</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>CaseCollectionRIspostaInviata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopToUpdateInRIspostaInviata</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopToUpdateInRIspostaInviata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Indennizzo_Confermato</name>
        <label>Assegna Indennizzo Confermato</label>
        <locationX>347</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.IndemnityConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Indennizzo_Confermato_0</name>
        <label>Assegna Indennizzo Confermato</label>
        <locationX>611</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.IndemnityConfirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Societa_di_Vendita</name>
        <label>Assegna Societa di Vendita</label>
        <locationX>237</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSocietaVendita.SellerCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSocietaVendita.SalesCompanyCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaInputCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Societa_di_Vendita_0</name>
        <label>Assegna Societa di Vendita</label>
        <locationX>765</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSocietaVendita_0.SellerCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSocietaVendita_0.SalesCompanyCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AggiornaInputCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaActivityToLoop</name>
        <label>AssegnaActivityToLoop</label>
        <locationX>358</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>ActivityToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetActivityPraticaGestita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaStatoActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaCase</name>
        <label>AssegnaCase</label>
        <locationX>314</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>CaseToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseInviato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GestioneIndennizzi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaCase_0</name>
        <label>AssegnaCase</label>
        <locationX>666</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>CaseToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AggiornamentoChildCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GestioneIndennizzi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaCaseToLoop</name>
        <label>AssegnaCaseToLoop</label>
        <locationX>974</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseToLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ToLoop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase</name>
        <label>AssegnaFase</label>
        <locationX>138</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>CaseToLoop.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToLoop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetActivityPraticaGestita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0</name>
        <label>AssegnaFase</label>
        <locationX>402</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>CaseToLoop.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseToLoop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetActivityPraticaGestita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0</name>
        <label>AssegnaFase</label>
        <locationX>1194</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>CaseToLoop.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Risposta Inviata - Attesa Rettifica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetActivityPraticaGestita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_1</name>
        <label>AssegnaFase</label>
        <locationX>138</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>LoopToUpdateInRIspostaInviata.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Risposta Inviata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_a_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFlagToLoop</name>
        <label>AssegnaFlagToLoop</label>
        <locationX>50</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>ToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseContenuti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaStatoActivity</name>
        <label>AssegnaStatoActivity</label>
        <locationX>358</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>ActivityToLoop.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiusa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.ActivityEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.ClosedByUsername__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.wrts_prcgvr__IsClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.UserCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.UserCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.ClosingCreatorGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CreatorGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityToLoop.ClosingUserChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LoginChannel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaToLoop</name>
        <label>AssegnaToLoop</label>
        <locationX>50</locationX>
        <locationY>6374</locationY>
        <assignmentItems>
            <assignToReference>ToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ToLoop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSize</name>
        <label>AssignSize</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>LinkInputSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetContentDocumentLinkInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferma_Indennizzo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountContentDocumentLinkAfter</name>
        <label>CountContentDocumentLinkAfter</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkAfter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetContentDocumentLinkAfter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creazione_Activity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActivityTrovata</name>
        <label>ActivityTrovata</label>
        <locationX>666</locationX>
        <locationY>5126</locationY>
        <defaultConnector>
            <targetReference>AssegnaCaseToLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>ActivityFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActivityPraticaGestita</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetActivityPraticaGestita</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaActivityToLoop</targetReference>
            </connector>
            <label>ActivityFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contenitore</name>
        <label>Contenitore?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Indennizzo_Confermato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>StandAlone</defaultConnectorLabel>
        <rules>
            <name>Contenitore_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.IsContainer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Documentale</targetReference>
            </connector>
            <label>Contenitore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contenitore_1</name>
        <label>Contenitore?</label>
        <locationX>182</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>AggiornaFase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Contenitore</defaultConnectorLabel>
        <rules>
            <name>Contenitore_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.IsContainer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaFlagToLoop</targetReference>
            </connector>
            <label>Contenitore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creazione_Activity</name>
        <label>Creazione Activity?</label>
        <locationX>182</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Contenitore_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Activity</defaultConnectorLabel>
        <rules>
            <name>CreazioneActivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LinkInputSize</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ContentDocumentLinkAfter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivityTemplate</targetReference>
            </connector>
            <label>CreazioneActivity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Indennizzo_Confermato</name>
        <label>Indennizzo Confermato?</label>
        <locationX>479</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assegna_Indennizzo_Confermato_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Confermato</defaultConnectorLabel>
        <rules>
            <name>Confermato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Conferma_Indennizzo.indemnityNotConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Indennizzo_Confermato</targetReference>
            </connector>
            <label>Confermato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Fase</name>
        <label>Quale Fase</label>
        <locationX>666</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>AssegnaFase_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Attesa Rettifica</defaultConnectorLabel>
        <rules>
            <name>Completata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionRight__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionRight__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaFase</targetReference>
            </connector>
            <label>Completata - No indennizzo</label>
        </rules>
        <rules>
            <name>Completata_Indennizzo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionRight__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionDocumentEmissionDay__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionRight__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionDocumentEmissionDay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaFase_0</targetReference>
            </connector>
            <label>Completata - Indennizzo</label>
        </rules>
        <rules>
            <name>Completata_Rich_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToLoop.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richiesta di informazioni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssegnaFase_0</targetReference>
            </connector>
            <label>Completata - Rich Info.</label>
        </rules>
        <rules>
            <name>Completata_Ambiente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToLoop.CorrectionRight__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.CustomerRequestAccomplished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseToLoop.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambiente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AssegnaFase_0</targetReference>
            </connector>
            <label>Completata - Ambiente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Trovato</name>
        <label>Record Trovato</label>
        <locationX>897</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetSocietaVendita_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovato</defaultConnectorLabel>
        <rules>
            <name>Trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCity</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDV_valorizzata</targetReference>
            </connector>
            <label>Trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDV_valorizzata</name>
        <label>SDV valorizzata?</label>
        <locationX>501</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>GetSocietaVendita_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Valorizzata</defaultConnectorLabel>
        <rules>
            <name>Valorizzata_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCity.SDV__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCity.SDV__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSocietaVendita</targetReference>
            </connector>
            <label>Valorizzata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Societa_di_Vendita_Non_Valorizzata</name>
        <label>Societa di Vendita Non Valorizzata?</label>
        <locationX>479</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>GetCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Valorizzata</defaultConnectorLabel>
        <rules>
            <name>Valorizzata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.SalesCompany__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.SalesCompany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Valorizzata</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToLoop_0</name>
        <label>ToLoop?</label>
        <locationX>358</locationX>
        <locationY>5606</locationY>
        <defaultConnector>
            <targetReference>AggiornaActivityCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ToLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornamentoChildCases</targetReference>
            </connector>
            <label>Loop</label>
        </rules>
    </decisions>
    <description>Flow che simula l&apos;azione del tasto stampa e gestisce l&apos;avanzamento di fase</description>
    <environments>Default</environments>
    <formulas>
        <name>ServiceGas</name>
        <dataType>Boolean</dataType>
        <expression>IF(TEXT({!GetInputCase.ServicePoint__r.CommoditySector__c}) = &quot;Gas&quot;, true, false)</expression>
    </formulas>
    <interviewLabel>Gestione Reclami - Stampa (SIMULAZIONE) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Stampa</label>
    <loops>
        <name>AggiornamentoChildCases</name>
        <label>AggiornamentoChildCases</label>
        <locationX>50</locationX>
        <locationY>4310</locationY>
        <collectionReference>CaseCollectionApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssegnaCase_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssegnaToLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopToUpdateInRIspostaInviata</name>
        <label>LoopToUpdateInRIspostaInviata</label>
        <locationX>50</locationX>
        <locationY>3734</locationY>
        <collectionReference>CaseCollectionApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssegnaFase_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AggiornaCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateActivity</name>
        <label>CreateActivity</label>
        <locationX>50</locationX>
        <locationY>3158</locationY>
        <connector>
            <targetReference>Contenitore_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>GetActivityTemplate.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__ActivityTemplate__c</field>
            <value>
                <elementReference>GetActivityTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <elementReference>GetActivityTemplate.wrts_prcgvr__Subject__c</elementReference>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetActivityPraticaGestita</name>
        <label>GetActivityPraticaGestita</label>
        <locationX>666</locationX>
        <locationY>5006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActivityTrovata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseToLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>wrts_prcgvr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aperta</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In gestione</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActivityTemplate</name>
        <label>GetActivityTemplate</label>
        <locationX>50</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risposta Motivata Con Allegato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__ActivityTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>479</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseInviato</name>
        <label>GetCaseInviato</label>
        <locationX>314</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCity</name>
        <label>GetCity</label>
        <locationX>897</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Trovato</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCaseAggiornato</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.SupplyCity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceEle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceGas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceGas</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentDocumentLinkAfter</name>
        <label>GetContentDocumentLinkAfter</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountContentDocumentLinkAfter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentDocumentLinkInput</name>
        <label>GetContentDocumentLinkInput</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCase</name>
        <label>Get Input Case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContentDocumentLinkInput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSocietaVendita</name>
        <label>GetSocietaVendita</label>
        <locationX>237</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Societa_di_Vendita</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCaseAggiornato</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comune__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCity.SDV__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Marcatura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALTRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALTRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.CommoditySector__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_MatriceSocietaVendita__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSocietaVendita_0</name>
        <label>GetSocietaVendita</label>
        <locationX>765</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Societa_di_Vendita_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCaseAggiornato</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comune__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALTRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Marcatura__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALTRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALTRO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.CommoditySector__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_MatriceSocietaVendita__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case_0</name>
        <label>Aggiorna Case</label>
        <locationX>479</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Societa_di_Vendita_Non_Valorizzata</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaActivityCollection</name>
        <label>AggiornaActivityCollection</label>
        <locationX>446</locationX>
        <locationY>5726</locationY>
        <connector>
            <targetReference>AggiornaCases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AggiornaCases</targetReference>
        </faultConnector>
        <inputReference>ActivityCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>314</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>GetCaseInviato</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCases</name>
        <label>AggiornaCases</label>
        <locationX>446</locationX>
        <locationY>5846</locationY>
        <inputReference>CaseCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCollection</name>
        <label>AggiornaCollection</label>
        <locationX>50</locationX>
        <locationY>4190</locationY>
        <connector>
            <targetReference>AggiornamentoChildCases</targetReference>
        </connector>
        <inputReference>CaseCollectionRIspostaInviata</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaInputCase</name>
        <label>AggiornaInputCase</label>
        <locationX>237</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>GetCaseAggiornato</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>182</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetContentDocumentLinkAfter</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserire Allegati</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Reclami Stampa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtDocumentSignature</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>GetInputCase.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Reclamo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableSignMode</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>entryChannel</name>
                <value>
                    <elementReference>GetInputCase.ComplaintEntryChannel__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInputCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GestioneIndennizzi</name>
        <label>Gestione Indennizzi</label>
        <locationX>666</locationX>
        <locationY>4550</locationY>
        <connector>
            <targetReference>Quale_Fase</targetReference>
        </connector>
        <flowName>HDT_FL_GestioneIndennizzi</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseToLoop.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>ActivityToLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseCollectionApex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseCollectionRIspostaInviata</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseToLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkAfter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndennizzoNonConfermato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkInputSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ToLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
