force-app/main/default/flows/HDT_FL_GestionePreventivi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calcola_Importo_Preventivo</name>
        <label>Calcola Importo Preventivo</label>
        <locationX>2030</locationX>
        <locationY>5270</locationY>
        <actionName>HDT_UTL_AmountQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esiste_Importo_Configurato</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>Get_Input_Case.CommodityFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intendedUse</name>
            <value>
                <elementReference>Get_Input_Case_0.IntendedUse__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <elementReference>Get_Input_Case.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplyUseType</name>
            <value>
                <elementReference>Get_Input_Case_0.SupplyUseType__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calculate some info mandatory for the Case record</description>
        <name>Calcola_Info_Preventivo</name>
        <label>Calcola Info Preventivo</label>
        <locationX>2629</locationX>
        <locationY>4454</locationY>
        <actionName>HDT_UTL_QuoteManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esiste_Configurazione</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorConfigurationScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caliber</name>
            <value>
                <elementReference>Get_Input_Case_0.CaliberRequested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>GetCommodityFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connectionType</name>
            <value>
                <elementReference>Get_Input_Case_0.ConnectionType__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displacementDistance</name>
            <value>
                <elementReference>Get_Input_Case_0.DisplacementDistance__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>energyUseType</name>
            <value>
                <elementReference>Get_Input_Case_0.UseTypeEnergy__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>localDispatcher</name>
            <value>
                <elementReference>Get_Input_Case_0.DistributorName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationtype</name>
            <value>
                <elementReference>Get_Input_Case_0.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phaseAvalaible</name>
            <value>
                <elementReference>Get_Input_Case_0.PhaseTypeAvailable__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phaseType</name>
            <value>
                <elementReference>Get_Input_Case_0.PhaseTypeRequested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>powerAvailable</name>
            <value>
                <elementReference>Get_Input_Case_0.PowerAvailable__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>powerCommitted</name>
            <value>
                <elementReference>Get_Input_Case_0.PowerCommitted__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>powerRequested</name>
            <value>
                <elementReference>Get_Input_Case_0.PowerRequested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <stringValue>Preventivi</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>seller</name>
            <value>
                <elementReference>Get_Input_Case_0.SuppliedCompany</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subprocess</name>
            <value>
                <elementReference>Get_Input_Case_0.Subprocess__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>supplyType</name>
            <value>
                <elementReference>Get_Input_Case_0.SupplyType__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voltage</name>
            <value>
                <elementReference>Get_Input_Case_0.VoltageLevelRequested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voltageAvailable</name>
            <value>
                <elementReference>Get_Input_Case_0.VoltageLevelAvailable__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Check_Criterio_Elegibilit</name>
        <label>Check Criterio Elegibilità</label>
        <locationX>1735</locationX>
        <locationY>3086</locationY>
        <actionName>HDT_UTL_ElegibilityCriteriaCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Criterio_superato</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CheckCriteriEleggibilita</assignToReference>
            <name>abortProcess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CheckEleggibilitaWarning</assignToReference>
            <name>abortProcessWarning</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chiudi_Attivit_di_scarto</name>
        <label>Chiudi Attività di scarto</label>
        <locationX>1507</locationX>
        <locationY>8414</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Case_For_Sottomissione</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>HDT_UTL_Case_0</name>
        <label>HDT_UTL_Case</label>
        <locationX>2721</locationX>
        <locationY>2030</locationY>
        <actionName>HDT_UTL_Case</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetRecordTypePreventivi</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>GetCaseNuovoImpianto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>CreaBpCa</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Opzione</name>
        <label>Predefault_CalcolaOpzione</label>
        <locationX>2079</locationX>
        <locationY>7046</locationY>
        <actionName>HDT_UTL_Case</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OptionBlank</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OptionBlank</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cluster</name>
            <value>
                <elementReference>Get_Input_Case_0.Cluster__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>Get_Input_Case_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>implantType</name>
            <value>
                <elementReference>Get_Input_Case_0.ServicePointType__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>powerRequested</name>
            <value>
                <elementReference>Get_Input_Case_0.PowerRequested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesCompany</name>
            <value>
                <elementReference>Get_Input_Case_0.SalesCompany__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Aggiorna_Corrispettivo_Fisso</name>
        <label>Aggiorna Corrispettivo Fisso</label>
        <locationX>1898</locationX>
        <locationY>5510</locationY>
        <assignmentItems>
            <assignToReference>CorrispettivoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Importo_Preventivo.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Importo_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggiorna_Importo_Case</name>
        <label>Aggiorna Importo Case</label>
        <locationX>1733</locationX>
        <locationY>6710</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrispettivoVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaComponenteFissaVariabile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaCodici</name>
        <label>AggiornaCodici</label>
        <locationX>1551</locationX>
        <locationY>7622</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.DistributorCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case_0.Distributor__r.Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opzione.salesCompanyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opzione.salesCompany</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.AtecoCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtecoCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.RateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RateCategoryFromCaseCommodity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaCodiciIstruttoria</name>
        <label>AggiornaCodiciIstruttoria</label>
        <locationX>1815</locationX>
        <locationY>7622</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.DistributorCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11-HERASPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11-HERASPA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hera Comm S.p.A</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.AtecoCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AtecoCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.RateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RateCategoryFromCaseCommodity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Codice_Operazione_01</name>
        <label>Assegna Codice Operazione 01</label>
        <locationX>2079</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Codice_Operazione_02</name>
        <label>Assegna Codice Operazione 02</label>
        <locationX>2343</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_Attesa_Conferma_Preventivo_Cliente</name>
        <label>Assegna Fase Attesa Conferma Preventivo Cliente</label>
        <locationX>1815</locationX>
        <locationY>9482</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attesa conferma preventivo cliente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Quotation_Validity_Date_0</name>
        <label>Assegna Quotation Validity Date</label>
        <locationX>5247</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.QuotationValidityDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Quotation_Validity_Date_Acqua</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_0</name>
        <label>Assegna Valori</label>
        <locationX>1947</locationX>
        <locationY>4814</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Info_Preventivo.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.QuotationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Info_Preventivo.QuoteType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OperationCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preventivo_Rapido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Valori_Distributore</name>
        <label>Assegna Valori Distributore</label>
        <locationX>3764</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Distributore.DistributorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Distributore.DistributorCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ClientIdentificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_Distributore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaComponenteFissaVariabile</name>
        <label>AssegnaComponenteFissaVariabile</label>
        <locationX>1733</locationX>
        <locationY>6830</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.FixedAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirittiFissi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.VariableAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComponenteVariabile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opzione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaDaServicePoint</name>
        <label>AssegnaDaServicePoint</label>
        <locationX>5379</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.PowerLimitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.PhaseTypeRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.PhaseTypeAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.VoltageLevelRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.VoltageLevelAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.UseTypeEnergy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.UseTypeEnergy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SelfCertificationInstance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePointType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.ImplantType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.CaliberRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.CaliberAvailable__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valorizzare_Potenza_Richiesta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaImportoNullo</name>
        <label>AssegnaImportoNullo</label>
        <locationX>2426</locationX>
        <locationY>5150</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Opzione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaOpzione</name>
        <label>AssegnaOpzione</label>
        <locationX>2167</locationX>
        <locationY>7286</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.TensionOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opzione.option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nuovo_Impianto_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaPotenzaRichiesta</name>
        <label>AssegnaPotenzaRichiesta</label>
        <locationX>5731</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.PowerRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.PowerCommitted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commodity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaPredefaultSpostamentoContatoreVarPortata</name>
        <label>AssegnaPredefaultSpostamentoContatoreVarPortata</label>
        <locationX>5467</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.PowerRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.PowerCommitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributorNoteFormulaType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commodity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaQuotation_Validity_Date_1</name>
        <label>AssegnaQuotation Validity Date</label>
        <locationX>2497</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.QuotationValidityDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Quotation_Validity_Date_Acqua</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calcola_Info_Preventivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaRecordType</name>
        <label>AssegnaRecordType</label>
        <locationX>2853</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>GetCaseNuovoImpianto.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypePreventivi.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseNuovoImpianto.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseNuovoImpianto.Contact.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseNuovoImpianto.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseNuovoImpianto.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bpChooserLWC.results</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NuovoImpAggAttButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCaseNuovoImpianto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaRipristoFornInterr</name>
        <label>AssegnaRipristoFornInterr</label>
        <locationX>5203</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Iva 22% (Cod. 02)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.PowerRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.PowerCommitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributorNoteFormulaType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commodity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaTipoConnessione</name>
        <label>AssegnaTipoConnessione</label>
        <locationX>5247</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ConnectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Temporanea</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaDaServicePoint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaTipoConnessione_0</name>
        <label>AssegnaTipoConnessione</label>
        <locationX>5511</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ConnectionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permanente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaDaServicePoint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_00</name>
        <label>AssegnaValori</label>
        <locationX>5995</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_1</name>
        <label>AssegnaValori</label>
        <locationX>2101</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.CaliberRequested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtSystemaCapacityConversion.outcomeCaliberClass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.SystemCapacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertCapacityToNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Commodity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriNoCodOperazione</name>
        <label>AssegnaValoriNoCodOperazione</label>
        <locationX>2211</locationX>
        <locationY>4814</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Info_Preventivo.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.QuotationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Info_Preventivo.QuoteType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.OperationCode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Preventivo_Rapido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corrispettivo_Aumento</name>
        <label>Corrispettivo Aumento</label>
        <locationX>1238</locationX>
        <locationY>6062</locationY>
        <assignmentItems>
            <assignToReference>CorrispettivoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrispettivoAumentoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offerta_Placet_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corrispettivo_Diminuzione</name>
        <label>Corrispettivo Diminuzione</label>
        <locationX>1634</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>CorrispettivoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirittiFissi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Offerta_Placet_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corrispettivo_Placet</name>
        <label>Corrispettivo Placet</label>
        <locationX>1304</locationX>
        <locationY>6398</locationY>
        <assignmentItems>
            <assignToReference>CorrispettivoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrispettivoPlacetFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Importo_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CostoPrestazioneAssignment</name>
        <label>Costo Prestazione</label>
        <locationX>1106</locationX>
        <locationY>5846</locationY>
        <assignmentItems>
            <assignToReference>CostoPrestazioneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostoPrestazioneDomFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corrispettivo_Aumento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CostoPrestazioneAssignment_0</name>
        <label>Costo Prestazione</label>
        <locationX>1370</locationX>
        <locationY>5846</locationY>
        <assignmentItems>
            <assignToReference>CostoPrestazioneVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostoPrestazioneNonDomFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corrispettivo_Aumento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Diritti_Fissi_Dom</name>
        <label>Diritti Fissi</label>
        <locationX>1304</locationX>
        <locationY>5390</locationY>
        <assignmentItems>
            <assignToReference>DirittiFissi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirittiFissiFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AumentoDiminuzionePotenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Diritti_Fissi_NonDom</name>
        <label>Diritti Fissi</label>
        <locationX>1568</locationX>
        <locationY>5390</locationY>
        <assignmentItems>
            <assignToReference>DirittiFissi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirittiFissiNonDomFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AumentoDiminuzionePotenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Case_For_Sottomissione</name>
        <label>Init Case For Sottomissione</label>
        <locationX>1507</locationX>
        <locationY>8534</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.HerokuPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.DistributorPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prestazione_Distrubutore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pratica_non_gestita_per_DL</name>
        <label>Pratica non gestita per DL</label>
        <locationX>2343</locationX>
        <locationY>9362</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pratica non gestita per il DL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non gestito DL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preventivo_da_inviare</name>
        <label>Preventivo da Inviare</label>
        <locationX>2079</locationX>
        <locationY>9482</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case_0.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCaseDaInviare</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CartaceoChoice</name>
        <choiceText>Cartaceo in presenza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stampa cartaceo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditCheckKO</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Credit Check KO&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Check KO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreditCheckOK</name>
        <choiceText>Credit Check OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Check OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>DistanzaSpostamento01Choice</name>
        <choiceText>01 - Entro 10m</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 - Entro 10m</stringValue>
        </value>
    </choices>
    <choices>
        <name>DistanzaSpostamento02Choice</name>
        <choiceText>02 - Oltre 10m</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - Oltre 10m</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnergiaElettricaChoice</name>
        <choiceText>Energia Elettrica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Energia Elettrica</stringValue>
        </value>
    </choices>
    <choices>
        <name>FaseMonoChoice</name>
        <choiceText>Monofase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monofase</stringValue>
        </value>
    </choices>
    <choices>
        <name>FaseTriChoice</name>
        <choiceText>Trifase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trifase</stringValue>
        </value>
    </choices>
    <choices>
        <name>GasChoice</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OtpChoice</name>
        <choiceText>OTP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OTP</stringValue>
        </value>
    </choices>
    <choices>
        <name>PostaCartaceaChoice</name>
        <choiceText>Posta cartacea</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Posta cartacea</stringValue>
        </value>
    </choices>
    <choices>
        <name>TensioneAATChoice</name>
        <choiceText>AAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>TensioneATChoice</name>
        <choiceText>AT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AT</stringValue>
        </value>
    </choices>
    <choices>
        <name>TensioneBT</name>
        <choiceText>BT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT</stringValue>
        </value>
    </choices>
    <choices>
        <name>TensioneMTChoice</name>
        <choiceText>MT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MT</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AumentoDiminuzionePotenza</name>
        <label>Aumento o Diminuzione Potenza?</label>
        <locationX>1436</locationX>
        <locationY>5606</locationY>
        <defaultConnector>
            <targetReference>Corrispettivo_Diminuzione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Diminuzione</defaultConnectorLabel>
        <rules>
            <name>Aumento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.PowerRequested__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Input_Case_0.PowerAvailable__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Domestico_o_Non_Domestico_0</targetReference>
            </connector>
            <label>Aumento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>2365</locationX>
        <locationY>3566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conferma_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtSystemaCapacityConversion.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtSystemaCapacityConversion.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori_1</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtSystemaCapacityConversion.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtSystemaCapacityConversion.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_1</name>
        <label>Avanzamento</label>
        <locationX>3676</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Avanti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtCommodityScreen.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtCommodityScreen.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseNuovoImpianto</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtCommodityScreen.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtCommodityScreen.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Annulla_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_2</name>
        <label>Avanzamento</label>
        <locationX>2035</locationX>
        <locationY>8654</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Annullamento_Prestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hdtDocumentSignature.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtDocumentSignature.cancelCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prestazione_Distrubutore</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bozza_o_Continua</name>
        <label>Bozza o Continua?</label>
        <locationX>2853</locationX>
        <locationY>2966</locationY>
        <defaultConnectorLabel>Bozza</defaultConnectorLabel>
        <rules>
            <name>Continua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordEditFormScreen_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordEditFormScreen_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Criterio_Elegibilit</targetReference>
            </connector>
            <label>Continua</label>
        </rules>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordEditFormScreen_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordEditFormScreen_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Criterio_superato</name>
        <label>Criterio superato?</label>
        <locationX>1735</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Variazione_Portata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Superato</defaultConnectorLabel>
        <rules>
            <name>Non_Superato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckCriteriEleggibilita</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Criteri_Eleggibilita</targetReference>
            </connector>
            <label>Non Superato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Codice_Operazione_Valorizzato</name>
        <label>Codice Operazione Valorizzato?</label>
        <locationX>2079</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>AssegnaValoriNoCodOperazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Valorizzato</defaultConnectorLabel>
        <rules>
            <name>Valorizzato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calcola_Info_Preventivo.OperationCode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Valori_0</targetReference>
            </connector>
            <label>Valorizzato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commodity</name>
        <label>Commodity?</label>
        <locationX>5379</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>AggiornaCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altre Commodity</defaultConnectorLabel>
        <rules>
            <name>Commodity_Acqua_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Quotation_Validity_Date_0</targetReference>
            </connector>
            <label>Acqua</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Commodity</name>
        <label>Commodity?</label>
        <locationX>2629</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>Calcola_Info_Preventivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altre Commodity</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Acqua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCommodityFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaQuotation_Validity_Date_1</targetReference>
            </connector>
            <label>Acqua</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domestico_o_Non_Domestico</name>
        <label>Domestico o Non Domestico</label>
        <locationX>1436</locationX>
        <locationY>5270</locationY>
        <defaultConnector>
            <targetReference>Diritti_Fissi_NonDom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Domestico</defaultConnectorLabel>
        <rules>
            <name>Domestico</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.SupplyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case_0.SupplyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-Domestico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Diritti_Fissi_Dom</targetReference>
            </connector>
            <label>Domestico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domestico_o_Non_Domestico_0</name>
        <label>Domestico o Non Domestico</label>
        <locationX>1238</locationX>
        <locationY>5726</locationY>
        <defaultConnector>
            <targetReference>CostoPrestazioneAssignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Domestico</defaultConnectorLabel>
        <rules>
            <name>Domestico_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.SupplyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case_0.SupplyType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A-Domestico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CostoPrestazioneAssignment</targetReference>
            </connector>
            <label>Domestico</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_Configurazione</name>
        <label>Esiste Configurazione?</label>
        <locationX>2629</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>ErrorConfigurationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Esiste</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calcola_Info_Preventivo.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Codice_Operazione_Valorizzato</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_Importo_Configurato</name>
        <label>Esiste Importo Configurato?</label>
        <locationX>2030</locationX>
        <locationY>5390</locationY>
        <defaultConnector>
            <targetReference>ErroreImportiScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Esiste Importo</defaultConnectorLabel>
        <rules>
            <name>EsisteImporto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calcola_Importo_Preventivo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Corrispettivo_Fisso</targetReference>
            </connector>
            <label>Esiste Importo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fase</name>
        <label>Fase?</label>
        <locationX>4476</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Case non Riprendibile</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Processo</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
        <rules>
            <name>Heroku_KO_Esecuzione_Lavori</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione verso Heroku KO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.PhaseStory__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dati Tecnici Ricevuti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riepilogo_Non_Bozza</targetReference>
            </connector>
            <label>Heroku KO Esecuzione Lavori</label>
        </rules>
    </decisions>
    <decisions>
        <name>FT</name>
        <label>FT?</label>
        <locationX>5379</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>AssegnaTipoConnessione_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NON FT</defaultConnectorLabel>
        <rules>
            <name>FT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.EndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>4000-12-31</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaTipoConnessione</targetReference>
            </connector>
            <label>FT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Discard_Rework</name>
        <label>Is Discard Rework</label>
        <locationX>4476</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Check_Servizio_Q02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Input_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NecessitaDocumentale</name>
        <label>Necessita Documentale</label>
        <locationX>1903</locationX>
        <locationY>8414</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NotNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prestazione_Distrubutore</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nuovo_Impianto_0</name>
        <label>Nuovo Impianto</label>
        <locationX>2079</locationX>
        <locationY>7502</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri processi</defaultConnectorLabel>
        <rules>
            <name>NuovoImpianto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuovo Impianto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aggiunta Attacco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaCodici</targetReference>
            </connector>
            <label>NuovoImpianto</label>
        </rules>
        <rules>
            <name>Istruttoria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Istruttoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaCodiciIstruttoria</targetReference>
            </connector>
            <label>Istruttoria</label>
        </rules>
        <rules>
            <name>Rimozione_Impianto_Acqua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rimozione Impianto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case_0.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sottoprocesso</targetReference>
            </connector>
            <label>Rimozione Impianto Acqua</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offerta_Placet_Decision</name>
        <label>Offerta Placet?</label>
        <locationX>1436</locationX>
        <locationY>6278</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Importo_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altra offerta</defaultConnectorLabel>
        <rules>
            <name>Offerta_Placet_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.Contract__r.Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offerta Placet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corrispettivo_Placet</targetReference>
            </connector>
            <label>Offerta Placet</label>
        </rules>
    </decisions>
    <decisions>
        <name>OptionBlank</name>
        <label>OptionBlank</label>
        <locationX>2079</locationX>
        <locationY>7166</locationY>
        <defaultConnector>
            <targetReference>AssegnaOpzione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotBlank</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opzione.option</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opzione.option</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Nuovo_Impianto_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prestazione_Gestita</name>
        <label>Prestazione Gestita?</label>
        <locationX>2079</locationX>
        <locationY>9242</locationY>
        <defaultConnector>
            <targetReference>Pratica_non_gestita_per_DL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Gestita</defaultConnectorLabel>
        <rules>
            <name>Gestita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prestazione_Distrubutore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preventivo_Rapido_0</targetReference>
            </connector>
            <label>Gestita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preventivo_Rapido</name>
        <label>Preventivo Rapido?</label>
        <locationX>2079</locationX>
        <locationY>5030</locationY>
        <defaultConnector>
            <targetReference>AssegnaImportoNullo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Analitico - Predeterminabile</defaultConnectorLabel>
        <rules>
            <name>Rapido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calcola_Info_Preventivo.QuoteType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rapido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Processo_0</targetReference>
            </connector>
            <label>Rapido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Preventivo_Rapido_0</name>
        <label>Preventivo Rapido o Istruttoria?</label>
        <locationX>1815</locationX>
        <locationY>9362</locationY>
        <defaultConnector>
            <targetReference>Preventivo_da_inviare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Analitico - Predeterminabile</defaultConnectorLabel>
        <rules>
            <name>Is_Istruttoria_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Istruttoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Preventivo_da_inviare</targetReference>
            </connector>
            <label>Istruttoria</label>
        </rules>
        <rules>
            <name>Rapido_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calcola_Info_Preventivo.QuoteType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rapido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_Attesa_Conferma_Preventivo_Cliente</targetReference>
            </connector>
            <label>Rapido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Case</name>
        <label>Riprendi Case</label>
        <locationX>3676</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Calcola_Distributore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Creazione</defaultConnectorLabel>
        <rules>
            <name>Riprendi_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommodityScreen</targetReference>
            </connector>
            <label>Riprendi</label>
        </rules>
    </decisions>
    <decisions>
        <name>RiprendiCase</name>
        <label>RiprendiCase?</label>
        <locationX>5071</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>FT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Creazione</defaultConnectorLabel>
        <rules>
            <name>Riprendi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Processo_Screen</targetReference>
            </connector>
            <label>Riprendi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_O_Conferma</name>
        <label>Salva In Bozza O Conferma</label>
        <locationX>2079</locationX>
        <locationY>8294</locationY>
        <defaultConnectorLabel>Bozza</defaultConnectorLabel>
        <rules>
            <name>Discard_ReWork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chiudi_Attivit_di_scarto</targetReference>
            </connector>
            <label>Discard ReWork</label>
        </rules>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NecessitaDocumentale</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_o_Continua</name>
        <label>Salva In Bozza o Continua?</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Continua_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_In_Lavorazione</targetReference>
            </connector>
            <label>Continua</label>
        </rules>
        <rules>
            <name>Annullamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Prestazione_0</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sottoprocesso</name>
        <label>Sottoprocesso?</label>
        <locationX>2211</locationX>
        <locationY>7622</locationY>
        <defaultConnector>
            <targetReference>Assegna_Codice_Operazione_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Soppressione Attacco</defaultConnectorLabel>
        <rules>
            <name>Sezionamento_Allacciamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sezionamento Allacciamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Codice_Operazione_01</targetReference>
            </connector>
            <label>Sezionamento Allacciamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Processo</name>
        <label>Tipo Processo</label>
        <locationX>2692</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>RiprendiCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri Processi</defaultConnectorLabel>
        <rules>
            <name>Votive_Modena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spostamento Votive Modena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inserimento_Dati</targetReference>
            </connector>
            <label>Votive Modena</label>
        </rules>
        <rules>
            <name>Nuovo_Impianto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuovo Impianto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aggiunta Attacco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Istruttoria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Case</targetReference>
            </connector>
            <label>Nuovo Impianto - Aggiunta Attacco - Istruttoria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Processo_0</name>
        <label>Tipo Processo?</label>
        <locationX>1733</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Calcola_Importo_Preventivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro processo</defaultConnectorLabel>
        <rules>
            <name>Variazione_Potenza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_0.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Potenza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Domestico_o_Non_Domestico</targetReference>
            </connector>
            <label>Variazione Potenza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Processo_Nuovo_Impianto</name>
        <label>Tipo Processo Nuovo Impianto?</label>
        <locationX>2853</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypePreventivi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Tipo_Processo_Nuovo_Impianto_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseNuovoImpianto.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nuovo Impianto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDT_UTL_Case_0</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valorizzare_Potenza_Richiesta</name>
        <label>Valorizzare Potenza Richiesta?</label>
        <locationX>5379</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>AssegnaPotenzaRichiesta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Potenza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unificazione POD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commodity</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Ripristino_Fornitura_Gas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ripristino Fornitura Interrotta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaRipristoFornInterr</targetReference>
            </connector>
            <label>Ripristino Fornitura Gas</label>
        </rules>
        <rules>
            <name>Spostamento_Contatore</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Portata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spostamento Contatore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaPredefaultSpostamentoContatoreVarPortata</targetReference>
            </connector>
            <label>Spostamento Contatore/Variazione Portata Gas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Variazione_Portata</name>
        <label>Variazione Portata?</label>
        <locationX>2629</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Commodity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri processi</defaultConnectorLabel>
        <rules>
            <name>VariazionePortata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Portata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inserimento_Portata</targetReference>
            </connector>
            <label>Variazione Portata</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del cluster Preventivi</description>
    <dynamicChoiceSets>
        <name>ClasseContatoreChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CaliberAvailable__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MarketPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Market__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServizioPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Commodity__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoFornituraPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SupplyType__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AtecoCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Input_Case_0.Account.RecordType.DeveloperName} = &quot;HDT_RT_Residenziale&quot;, &quot;999999&quot;,&quot;K74878&quot;)</expression>
    </formulas>
    <formulas>
        <name>Calcola_Quotation_Validity_Date_Acqua</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 1,MONTH(TODAY()),DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>ComponenteVariabile</name>
        <dataType>Number</dataType>
        <expression>{!Get_Input_Case_0.Amount__c} - {!DirittiFissi}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ConvertCapacityToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!hdtSystemaCapacityConversion.outcomeSystemCapacity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CorrispettivoAumentoFormula</name>
        <dataType>Number</dataType>
        <expression>{!CostoPrestazioneVar} + {!DirittiFissi}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CorrispettivoPlacetFormula</name>
        <dataType>Number</dataType>
        <expression>{!CorrispettivoVar} - {!QuotaVenditaVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CostoPrestazioneDomFormula</name>
        <dataType>Number</dataType>
        <expression>IF( {!Get_Input_Case_0.PowerAvailable__c} &gt; 30,
({!Get_Input_Case_0.PowerRequested__c} - {!Get_Input_Case_0.PowerAvailable__c}) * {!QuotaPotenzaDomesticoVar},
({!Get_Input_Case_0.PowerRequested__c} * 1.1 - {!Get_Input_Case_0.PowerAvailable__c}) * {!QuotaPotenzaDomesticoVar}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CostoPrestazioneNonDomFormula</name>
        <dataType>Number</dataType>
        <expression>IF( {!Get_Input_Case_0.PowerAvailable__c} &gt; 30,
({!Get_Input_Case_0.PowerRequested__c} - {!Get_Input_Case_0.PowerAvailable__c}) * {!QuotaPotenzaVar},
({!Get_Input_Case_0.PowerRequested__c}*1.1 - {!Get_Input_Case_0.PowerAvailable__c}) * {!QuotaPotenzaVar}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DirittiFissiFormula</name>
        <dataType>Number</dataType>
        <expression>{!QuotaVenditaVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DirittiFissiNonDomFormula</name>
        <dataType>Number</dataType>
        <expression>{!QuotaDistribuzioneVar} + {!QuotaVenditaVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DistributorCodeSearch</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Get_Input_Case_0.Type}) = &quot;Rimozione Impianto&quot;,
    IF({!Get_Input_Case_0.DistributorCode__c} = &quot;10D8060000&quot;,{!Get_Input_Case_0.DistributorCode__c},&quot;RIMOZIONEIMPIANTO&quot;)   
 
     ,{!Get_Input_Case_0.DistributorCode__c})</expression>
    </formulas>
    <formulas>
        <name>DistributorNoteFormulaType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Input_Case.DistributorNote__c}),
TEXT({!Get_Input_Case.Type}),
{!Get_Input_Case.DistributorNote__c} &amp; &quot;-&quot; &amp; TEXT({!Get_Input_Case.Type}))</expression>
    </formulas>
    <formulas>
        <name>FormulaCodicePrestazione</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Calcola_Info_Preventivo.OperationCode__c}),&quot;&quot;,{!Calcola_Info_Preventivo.OperationCode__c} )</expression>
    </formulas>
    <formulas>
        <name>GetCommodityFormula</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_Input_Case_0.CommodityFormula__c})),{!Get_Input_Case_0.CommodityFormula__c},TEXT({!Get_Input_Case_0.Commodity__c}))</expression>
    </formulas>
    <formulas>
        <name>LabelNextFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Input_Case.Type}) = &apos;Istruttoria&apos; || TEXT({!Get_Input_Case.Type}) = &apos;Nuovo Impianto&apos;|| TEXT({!Get_Input_Case.Type}) = &apos;Modifica Impianto&apos; || TEXT({!Get_Input_Case.Type})=&apos;Rimozione Impianto&apos;, &apos;Conferma Pratica&apos;, &apos;Avanti&apos;)</expression>
    </formulas>
    <formulas>
        <name>NuovoImpAggAttCommodity</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Input_Case.Type}) &amp; &quot; &quot; &amp; &quot;commodity&quot;</expression>
    </formulas>
    <formulas>
        <name>OperationCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Calcola_Info_Preventivo.OperationCode__c}), &quot;&quot;,{!Calcola_Info_Preventivo.OperationCode__c})</expression>
    </formulas>
    <formulas>
        <name>PreviousButtonFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
      TEXT({!Get_Input_Case.Type}) = &quot;Nuovo Impianto&quot;,
      TEXT({!Get_Input_Case.Type}) = &quot;Aggiunta Attacco&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ProcessTypeCommodity</name>
        <dataType>String</dataType>
        <expression>IF(
OR(TEXT({!Get_Input_Case.Type})=&quot;Nuovo Impianto&quot; ,TEXT({!Get_Input_Case.Type})=&quot;Aggiunta Attacco&quot; ) ,
IF(ISBLANK(TEXT({!GetCaseNuovoImpianto.Commodity__c})),
TEXT({!Get_Input_Case.Type}) + &quot; &quot; + TEXT({!Get_Input_Case.Commodity__c}),
TEXT({!Get_Input_Case.Type}) + &quot; &quot; + TEXT({!GetCaseNuovoImpianto.Commodity__c})),
IF(OR(ISPICKVAL({!Get_Input_Case.Type},&quot;Spostamento Contatore&quot;),ISPICKVAL({!Get_Input_Case.Type},&quot;Mod. Imp. - Em. Imp. - Var. Portata&quot;),ISPICKVAL({!Get_Input_Case.Type},&quot;Rimozione Impianto&quot;),ISPICKVAL({!Get_Input_Case.Type},&quot;Modifica Impianto&quot;)),TEXT({!Get_Input_Case.Type}) + &quot; &quot; + {!Get_Input_Case.CommodityFormula__c}, TEXT({!Get_Input_Case.Type}))
)</expression>
    </formulas>
    <formulas>
        <name>ProcessTypeRecapFormula</name>
        <dataType>String</dataType>
        <expression>IF( OR(TEXT({!Get_Input_Case.Type}) = &quot;Nuovo Impianto&quot;,TEXT({!Get_Input_Case.Type}) = &quot;Aggiunta Attacco&quot;,TEXT({!Get_Input_Case.Type}) = &quot;Istruttoria&quot;),
&quot;Preventivi Riepilogo Nuovo Impianto&quot;,
&quot;Preventivi Riepilogo&quot;)</expression>
    </formulas>
    <formulas>
        <description>Valorizzo il campo &quot;RateCategory__c&quot; dal campo &quot;Commodity&quot; del Case</description>
        <name>RateCategoryFromCaseCommodity</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Input_Case_0.Commodity__c}, &quot;Gas&quot;), &quot;GAS_ALLACCIAMENTO&quot;,
IF(ISPICKVAL({!Get_Input_Case_0.Commodity__c}, &quot;Energia Elettrica&quot;), &quot;ELE_ALLACCIAMENTO&quot;,
IF(ISPICKVAL({!Get_Input_Case_0.Commodity__c}, &quot;Acqua&quot;), &quot;ACQ_ALLACC&quot;,&quot;&quot;)))</expression>
    </formulas>
    <formulas>
        <name>RecordTypeDevNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetCaseNuovoImpianto.Commodity__c}) = &quot;Gas&quot;,&quot;HDT_RT_PreventiviGas&quot;,&quot;HDT_RT_PreventiviEle&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(OR(TEXT({!Get_Input_Case.Type}) = &quot;Nuovo Impianto&quot;,TEXT({!Get_Input_Case.Type}) = &quot;Aggiunta Attacco&quot;),
IF(ISBLANK({!GetRecordTypePreventivi.Id}),{!Get_Input_Case.RecordType.Id},{!GetRecordTypePreventivi.Id}),
{!Get_Input_Case.RecordType.Id})</expression>
    </formulas>
    <formulas>
        <name>SalesCompanyCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Input_Case_0.Commodity__c}) = &quot;Gas&quot;, &quot;10V0000160&quot;,
              IF(TEXT({!Get_Input_Case_0.Commodity__c}) = &quot;Energia Elettrica&quot;, &quot;13V0000000&quot;,IF(TEXT({!Get_Input_Case_0.Commodity__c}) = &quot;Acqua&quot;,&quot;11-HERASPA&quot;,&quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestionePreventivi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Preventivi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Metodo che interroga il Case partendo dall&apos;ID</description>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>4476</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case_0</name>
        <label>Get Input Case</label>
        <locationX>2853</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bozza_o_Continua</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseNuovoImpianto</name>
        <label>GetCaseNuovoImpianto</label>
        <locationX>2853</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_Processo_Nuovo_Impianto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>2853</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attivo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypePreventivi</name>
        <label>GetRecordTypePreventivi</label>
        <locationX>2853</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeDevNameFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if the current service is managed by the local dispatcher</description>
        <name>Prestazione_Distrubutore</name>
        <label>Prestazione Distrubutore</label>
        <locationX>2079</locationX>
        <locationY>9122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prestazione_Gestita</targetReference>
        </connector>
        <filterLogic>(1 OR 9) AND (2 OR 8) AND 3 AND 4 AND 5 AND (6 OR  7)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case_0.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case_0.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case_0.CausalCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subservice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case_0.OperationCode__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DistributorCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributorCodeSearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>DistributorCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case_0.Commodity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_AdminServiceDispatcher__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>2079</locationX>
        <locationY>10154</locationY>
        <inputReference>Get_Input_Case_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_2</name>
        <label>Aggiorna Case</label>
        <locationX>2079</locationX>
        <locationY>8054</locationY>
        <connector>
            <targetReference>RiepilogoRapidoScreen</targetReference>
        </connector>
        <inputReference>Get_Input_Case_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_Distributore</name>
        <label>Aggiorna Case Distributore</label>
        <locationX>3764</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>CommodityScreen</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Fase_In_Lavorazione</name>
        <label>Aggiorna Fase In Lavorazione</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationValidityDate__c</field>
            <value>
                <elementReference>Get_Input_Case.QuotationValidityDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>5379</locationX>
        <locationY>2102</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Processo_Screen</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_00</name>
        <label>AggiornaCase</label>
        <locationX>5995</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>LoadingSpinner</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCaseDaInviare</name>
        <label>AggiornaCaseDaInviare</label>
        <locationX>2079</locationX>
        <locationY>9602</locationY>
        <connector>
            <targetReference>Loading_Screen</targetReference>
        </connector>
        <inputReference>Get_Input_Case_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCaseNuovoImpianto</name>
        <label>AggiornaCaseNuovoImpianto</label>
        <locationX>2853</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Processo_Screen</targetReference>
        </connector>
        <inputReference>GetCaseNuovoImpianto</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ChooseBillingProfile</name>
        <label>ChooseBillingProfile</label>
        <locationX>3676</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_1</targetReference>
        </connector>
        <fields>
            <name>bpChooserLWC</name>
            <extensionName>c:hdtBillingProfileSelectionFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchLabel</name>
                <value>
                    <stringValue>Seleziona il Billing Profile del cliente o creane uno nuovo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Affina la ricerca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionType</name>
                <value>
                    <stringValue>BillingProfile_VarDom</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CommodityScreen</name>
        <label>CommodityAddressScreen</label>
        <locationX>3676</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseBillingProfile</targetReference>
        </connector>
        <fields>
            <name>CommodityDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtGenericAddressChooser</name>
            <extensionName>c:hdtGenericAddressChooserFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressType</name>
                <value>
                    <stringValue>ServicePoint</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Indirizzo di Fornitura</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtCommodityScreen</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>NuovoImpAggAttCommodity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>Get_Input_Case.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorConfigurationScreen</name>
        <label>ErrorConfigurationScreen</label>
        <locationX>3179</locationX>
        <locationY>4694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorConfigurationText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Attenzione!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Non esiste alcun tipo preventivo configurato, tornare indietro per modificare i dati o chiudi il Preventivo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroreImportiScreen</name>
        <label>ErroreImportiScreen</label>
        <locationX>2162</locationX>
        <locationY>5510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroreImportoText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(237, 6, 6);&quot;&gt;Attenzione!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Non esiste alcun importo configurato, torna indietro per variare i dati o chiudi il Case&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen</name>
        <label>Loading Screen</label>
        <locationX>2079</locationX>
        <locationY>9722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case_0.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LoadingSpinner</name>
        <label>LoadingSpinner</label>
        <locationX>5995</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Processo_Screen</name>
        <label>Input Dati Screen</label>
        <locationX>2853</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Input_Case_0</targetReference>
        </connector>
        <fields>
            <name>VariazioneTensioneDisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i campi sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RecordEditFormScreen_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessTypeCommodity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>RecordTypeIdFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <elementReference>NuovoImpAggAttButton</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Riepilogo_Non_Bozza</name>
        <label>Riepilogo Non Bozza</label>
        <locationX>5995</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssegnaValori_00</targetReference>
        </connector>
        <fields>
            <name>displayHeaderNonBozza</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i campi sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormNb</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelReadOnlySection</name>
                <value>
                    <stringValue>Riepilogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessTypeRecapFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RiepilogoRapidoScreen</name>
        <label>RiepilogoRapidoScreen</label>
        <locationX>2079</locationX>
        <locationY>8174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_O_Conferma</targetReference>
        </connector>
        <fields>
            <name>RiepilogoRapidoText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelReadOnlySection</name>
                <value>
                    <stringValue>Riepilogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <elementReference>LabelNextFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessTypeRecapFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Criteri_Eleggibilita</name>
        <label>Screen Criteri Eleggibilita</label>
        <locationX>842</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Annulla_Prestazione</targetReference>
        </connector>
        <fields>
            <name>DisplayWarning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!CheckEleggibilitaWarning}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Alla pressione del tasto &quot;Conferma Pratica&quot; si procederà con l&apos;Annullamento della prestazione&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>flowNavButtons</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>2035</locationX>
        <locationY>8534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_2</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_00</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case_0.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preventivo_Analitico_Text</name>
            <fieldText>&lt;p&gt;Attenzione! Qualora il preventivo venga ritipizzato in Predeterminabile, le seguenti modalità di firma e spedizione verranno utilizzate per l&apos;invio della documentazione al cliente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Calcola_Info_Preventivo.QuoteType__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Analitico</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtDocumentSignature</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteType</name>
                <value>
                    <elementReference>Calcola_Info_Preventivo.QuoteType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <elementReference>$User.LoginChannel__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Preventivo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_o_Continua</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i campi sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Votive Modena</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Portata</name>
        <label>Screen Inserimento Portata</label>
        <locationX>2365</locationX>
        <locationY>3446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplaySystemCapacityConversion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Inserire Portata (kcalh) e/o Classe Contatore&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtSystemaCapacityConversion</name>
            <extensionName>c:hdtSystemCapacityConversion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultCaliberClass</name>
                <value>
                    <elementReference>Get_Input_Case.CaliberAvailable__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>4350</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Discard_Rework</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annulla_Prestazione</name>
        <label>Annulla Prestazione</label>
        <locationX>3707</locationX>
        <locationY>3086</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0</name>
        <label>Annulla Prestazione</label>
        <locationX>2365</locationX>
        <locationY>3686</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annullamento_Prestazione</name>
        <label>Annullamento Prestazione</label>
        <locationX>2387</locationX>
        <locationY>8414</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annullamento_Prestazione_0</name>
        <label>Annullamento Prestazione</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calcola_Distributore</name>
        <label>Calcola Distributore</label>
        <locationX>3764</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assegna_Valori_Distributore</targetReference>
        </connector>
        <flowName>HDT_FL_CalcolaDistributore</flowName>
        <inputAssignments>
            <name>Marcatura</name>
            <value>
                <elementReference>Get_Input_Case.Account.CustomerMarking__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Check_Servizio_Q02</name>
        <label>Check Servizio Q02</label>
        <locationX>4564</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
        <flowName>HDT_FL_GestioneServizioQ02</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CheckCriteriEleggibilita</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckEleggibilitaWarning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CorrispettivoVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CostoPrestazioneVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreditCheckOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </variables>
    <variables>
        <name>DirittiFissi</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DirittiFissiVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case ricevuto in input dal sistema chiamante</description>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocalDispatcher</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LocalDispatcher__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>NuovoImpAggAttButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrestazioneVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PreviousButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuotaDistribuzioneVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>25.2</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuotaPotenzaDomesticoVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>56.38</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuotaPotenzaVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>71.32</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuotaVenditaVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>23.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SaveInDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SaveOrConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
