force-app/main/default/flows/HDT_FL_ActivityNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Is_Sportello</name>
        <label>E&apos; di tipo Sportello?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_Sportello</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notifica Attività</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Notification</name>
        <label>Invia Notifica</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>QAdLogin__c</field>
            <value>
                <elementReference>$Record.QAdLogin__c</elementReference>
            </value>
        </inputAssignments>
        <object>HDT_PEV_activityReceived__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Sportello</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sportello</stringValue>
            </value>
        </filters>
        <object>wrts_prcgvr__Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Notification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HDT_PEV_activityReceived__e</objectType>
    </variables>
</Flow>
