force-app/main/default/flows/HDT_FL_WizardRecordAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HDT_UTL_Case_caseFlowPredefaults_sollecito</name>
        <label>HDT_UTL_Case caseFlowPredefaults</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>HDT_UTL_Case</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parent_case_variable_assignment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>Get_case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>genericInputString</name>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>process</name>
            <value>
                <elementReference>$Label.invio_sollecito</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Parent_case_variable_assignment</name>
        <label>Parent case variable assignment</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_case.NoticeNumber__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_case.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_case.LastNoticeDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDT_UTL_Case_caseFlowPredefaults_sollecito.effectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_parent_case</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <expression>{!Get_case.Description} &amp; BR() &amp; {!HDT_UTL_Case_caseFlowPredefaults_sollecito.cancellationNote}</expression>
    </formulas>
    <formulas>
        <name>CaseNote</name>
        <dataType>String</dataType>
        <expression>{!Get_case.Description}&amp;BR()&amp;{!$Label.Note_Ultimo_Sollecito} &amp;{!Note}</expression>
    </formulas>
    <interviewLabel>HDT_FL_WizardRecordAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_WizardRecordAction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_informativa_case</name>
        <label>create informativa case</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <stringValue>Informative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_case.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note__c</field>
            <value>
                <elementReference>Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>Get_case.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_infortiva_rt.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Informative</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_infortiva_rt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Note__c</queriedFields>
        <queriedFields>NoticeId__c</queriedFields>
        <queriedFields>Subprocess__c</queriedFields>
        <queriedFields>NoticeNumber__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>PhoneNumber__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_infortiva_rt</name>
        <label>get infortiva rt</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Informative</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_parent_case</name>
        <label>update parent case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>create_informativa_case</targetReference>
        </connector>
        <inputReference>Get_case</inputReference>
    </recordUpdates>
    <screens>
        <name>Get_Note</name>
        <label>Get Note</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HDT_UTL_Case_caseFlowPredefaults_sollecito</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
