force-app/main/default/flows/HDT_FL_GestioneReclami_VerificheDatiAlDl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_a_CaseFlow</name>
        <label>Assegna a CaseFlow</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FlowCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Creato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valorizzazione_Tipologia_Richiesta_Cliente_Finale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_a_CaseFlow_0</name>
        <label>Assegna a CaseFlow</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>FlowCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valorizzazione_Tipologia_Richiesta_Cliente_Finale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nuovo_Tentativo_SI</name>
        <label>Nuovo Tentativo SI</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.NewAttempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Richiest_Cliente_Finale_Reclamo_Scritto</name>
        <label>Tipo Richiest Cliente Finale ---&gt; Reclamo Scritto</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamo Scritto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Tentativo_Esistente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tipo_Richiest_Cliente_Finale_Richieste_Info</name>
        <label>Tipo Richiest Cliente Finale ---&gt; Richieste Info</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Richiesta Info Scritta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Tentativo_Esistente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Nuovo_tentativo</name>
        <label>Check Nuovo tentativo</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primo Tentativo</defaultConnectorLabel>
        <rules>
            <name>Nuovo_Tentativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Tentativo_Esistente</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VecchioTentativoNonScaduto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nuovo_Tentativo_SI</targetReference>
            </connector>
            <label>Nuovo Tentativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dati_Tecnici_M03</name>
        <label>Dati Tecnici M03?</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Salva_in_Bozza_o_Conferma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>M01/M02</defaultConnectorLabel>
        <rules>
            <name>M03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.TechnicalDataRequestType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Activity_Gestione_Disco</targetReference>
            </connector>
            <label>M03</label>
        </rules>
    </decisions>
    <decisions>
        <name>Richiesta_Parere_Esterno</name>
        <label>Richiesta Parere Esterno?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assegna_a_CaseFlow_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Chiamata Processo</defaultConnectorLabel>
        <rules>
            <name>Parere_Esterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputCaseReclamo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_Case_Reclamo</targetReference>
            </connector>
            <label>Parere Esterno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_Bozza_o_Conferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>512</locationX>
        <locationY>2366</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_a_Da_Inviare</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valorizzazione_Tipologia_Richiesta_Cliente_Finale</name>
        <label>Valorizzazione Tipologia Richiesta Cliente Finale</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Tentativo_Esistente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altre tipologie</defaultConnectorLabel>
        <rules>
            <name>Reclami_Scritti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowCase.ParentId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowCase.Parent.ComplaintType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo Scritto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Richiest_Cliente_Finale_Reclamo_Scritto</targetReference>
            </connector>
            <label>Reclami Scritti</label>
        </rules>
        <rules>
            <name>Richieste_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowCase.ParentId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowCase.Parent.ComplaintType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richiesta Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Richiest_Cliente_Finale_Richieste_Info</targetReference>
            </connector>
            <label>Richieste Info</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del Processo Verifiche Dati al DL</description>
    <formulas>
        <name>CheckIsBozza</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!InputCase.Phase__c}, &apos;Bozza&apos;)</expression>
    </formulas>
    <formulas>
        <name>VecchioTentativoNonScaduto</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!Get_Case_Tentativo_Esistente.CreatedDate}) + 50 &lt; DATEVALUE({!FlowCase.CreatedDate})</expression>
    </formulas>
    <interviewLabel>GestioneReclami_VerificheDatiAlDl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Verifiche Dati Al DL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Activity_Gestione_Disco</name>
        <label>Crea Activity Gestione Disco</label>
        <locationX>116</locationX>
        <locationY>2366</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Flow_Case_Aggiornato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__ActivityTemplate__c</field>
            <value>
                <stringValue>a1Y1j000000i0QxEAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <stringValue>Gestione Disco</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Case_di_Verifica_Dati_al_DL</name>
        <label>Crea Case di Verifica Dati al DL</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Case_Creato</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>InputCaseReclamo.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commodity__c</field>
            <value>
                <elementReference>InputCaseReclamo.Commodity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>InputCaseReclamo.Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeterCode__c</field>
            <value>
                <elementReference>InputCaseReclamo.MeterCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>InputCaseReclamo.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>InputCaseReclamo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Verifica_Dati_al_DL.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SupplyType__c</field>
            <value>
                <elementReference>InputCaseReclamo.SupplyType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Creato</name>
        <label>Get Case Creato</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_a_CaseFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crea_Case_di_Verifica_Dati_al_DL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Tentativo_Esistente</name>
        <label>Get Case Tentativo Esistente</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Nuovo_tentativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServicePoint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.ServicePoint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Case_Aggiornato</name>
        <label>Get Flow Case Aggiornato</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Layout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Verifica_Dati_al_DL</name>
        <label>Get Record Type Verifica Dati al DL</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Case_di_Verifica_Dati_al_DL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_VerificaDatiAlDl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>314</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>DisplayHeader_0</targetReference>
        </connector>
        <inputReference>FlowCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Fase_Case_Reclamo</name>
        <label>Aggiorna Fase Case Reclamo</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Record_Type_Verifica_Dati_al_DL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCaseReclamo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Sospeso per verifica DL</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare</name>
        <label>Passa a Da Inviare</label>
        <locationX>380</locationX>
        <locationY>2486</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Layout</name>
        <label>Case Layout</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dati_Tecnici_M03</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!FlowCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.TechnicalDataRequestType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayHeader_0</name>
        <label>Inserimento Dati Tecnici</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Flow_Case_Aggiornato</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!FlowCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_1</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Tipo Dati Tecnici</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Richiesta_Parere_Esterno</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputCaseReclamo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
