force-app/main/default/flows/HDT_FL_GestioneReclami.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Id_Contenitore</name>
        <label>Assegna Id Contenitore</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>IdContenitore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountStessoReclamo.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Linka_Case_Corrente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Id_Contenitore_0</name>
        <label>Assegna Id Contenitore</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>IdContenitore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Case_Contenitore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Linka_Case_Corrente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type</name>
        <label>Assegna Process Type</label>
        <locationX>1458</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Altri Venditori</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_inserimento_dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0</name>
        <label>Assegna Process Type</label>
        <locationX>1722</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Venditori HC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_inserimento_dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>1986</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Votive Modena Contestazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_inserimento_dati</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Altri_Venditori_o_Venditori_HC</name>
        <label>Altri Venditori o Venditori HC?</label>
        <locationX>1590</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assegna_Process_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Venditori HC</defaultConnectorLabel>
        <rules>
            <name>Altri_Venditori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comportamento Altri Venditori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type</targetReference>
            </connector>
            <label>Altri Venditori</label>
        </rules>
    </decisions>
    <decisions>
        <name>Altro_Reclamo_Esiste</name>
        <label>Altro Reclamo Esiste?</label>
        <locationX>875</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Processo_Reclami_Scritti_Richieste_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountStessoReclamo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Alert</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esiste_Contenitore</name>
        <label>Esiste Contenitore?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Crea_Case_Contenitore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Esiste</defaultConnectorLabel>
        <rules>
            <name>Esiste_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountStessoReclamo.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Id_Contenitore</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigazione</name>
        <label>Navigazione?</label>
        <locationX>644</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Avanti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavigationButton.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esiste_Contenitore</targetReference>
            </connector>
            <label>Avanti</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>1150</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Nessun_Processo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nessun Processo Selezionato</defaultConnectorLabel>
        <rules>
            <name>Verifica_Dati_al_DL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifica Dati al DL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Processo_Verifiche_Dati_Al_DL</targetReference>
            </connector>
            <label>Verifica Dati al DL</label>
        </rules>
        <rules>
            <name>Reclami_Scritti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo Scritto/Rich. Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Bozza</targetReference>
            </connector>
            <label>Reclami Scritti/Rich. Info</label>
        </rules>
        <rules>
            <name>Comportamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comportamento Altri Venditori</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comportamento Venditori HC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Altri_Venditori_o_Venditori_HC</targetReference>
            </connector>
            <label>Comportamento</label>
        </rules>
        <rules>
            <name>Votive_Modena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spostamento Votive Modena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0_0</targetReference>
            </connector>
            <label>Votive Modena</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Bozza</name>
        <label>Riprendi Bozza?</label>
        <locationX>1078</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Processo_Reclami_Scritti_Richieste_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Bozza</defaultConnectorLabel>
        <rules>
            <name>Non_Riprendi_Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountStessoReclamo</targetReference>
            </connector>
            <label>Non Riprendi Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_Bozza_o_Conferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>1150</locationX>
        <locationY>2438</locationY>
        <defaultConnectorLabel>Salva in Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Fase_in_Lavorazione</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del Cluster Reclami</description>
    <interviewLabel>Gestione Reclami {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Case_Contenitore</name>
        <label>Crea Case Contenitore</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Assegna_Id_Contenitore_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Input_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <stringValue>Reclami</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Input_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContainer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Get_Input_Case.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>Get_Input_Case.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Input_Case.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Get_Input_Case.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Input_Case.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>1150</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Processo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountStessoReclamo</name>
        <label>GetAccountStessoReclamo</label>
        <locationX>875</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Altro_Reclamo_Esiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamo Scritto/Rich. Info</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Fase_in_Lavorazione</name>
        <label>Aggiorna Fase in Lavorazione</label>
        <locationX>1018</locationX>
        <locationY>2558</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Linka_Case_Corrente</name>
        <label>Linka Case Corrente</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Linka_Case_Corrente_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdContenitore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Linka_Case_Corrente_0</name>
        <label>Linka Case Corrente</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Processo_Reclami_Scritti_Richieste_Info_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountStessoReclamo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdContenitore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Nessun_Processo</name>
        <label>Nessun Processo</label>
        <locationX>2250</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Nessun Processo Selezionato&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Verificare che il campo Type sia opportunamente valorizzato con il processo da eseguire&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Alert</name>
        <label>Screen Alert</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigazione</targetReference>
        </connector>
        <fields>
            <name>DiplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Esiste un altro Case di Reclamo per lo stesso Account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Alla pressione del tasto &quot;Avanti&quot; verrà creato il Case Contenitore o linkato se questo è già presente a sistema&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavigationButton</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_inserimento_dati</name>
        <label>Screen inserimento dati</label>
        <locationX>1150</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_Bozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i campi sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Processo_Reclami_Scritti_Richieste_Info_0</name>
        <label>Processo Reclami Scritti/Richieste Info</label>
        <locationX>1078</locationX>
        <locationY>1982</locationY>
        <flowName>HDT_FL_GestioneReclami_ReclamiScritti</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Processo_Verifiche_Dati_Al_DL</name>
        <label>Processo Verifiche Dati Al DL</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneReclami_VerificheDatiAlDl</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>IdContenitore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
