force-app/main/default/flows/HDT_FL_CreationManualRelated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createAndInsertActivity</name>
        <label>createAndInsertActivity</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assegnazioneToUpdate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>createActivityByObjectIdAndTemplateName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>picklistOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dettaglioEsitoApex</assignToReference>
            <name>dettaglioEsito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>esitoApex</assignToReference>
            <name>esito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newActivityId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>createAndInsertActivity_0</name>
        <label>createAndInsertActivity</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assegnazioneToUpdate_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>createActivityByObjectIdAndTemplateName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>picklistPreavviso</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dettaglioEsitoApex</assignToReference>
            <name>dettaglioEsito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>esitoApex</assignToReference>
            <name>esito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newActivityId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>createAndInsertActivity_0_0</name>
        <label>createAndInsertActivity</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assegnazioneToUpdate_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>createActivityByObjectIdAndTemplateName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>picklistGiroContatore</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dettaglioEsitoApex</assignToReference>
            <name>dettaglioEsito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>esitoApex</assignToReference>
            <name>esito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newActivityId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>createAndInsertActivity_0_0_0</name>
        <label>createAndInsertActivity</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assegnazioneToUpdate_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>createActivityByObjectIdAndTemplateName</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>picklistCaseDefault</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dettaglioEsitoApex</assignToReference>
            <name>dettaglioEsito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>esitoApex</assignToReference>
            <name>esito</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newActivityId</assignToReference>
            <name>recordId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assegnazioneToUpdate</name>
        <label>assegnazioneToUpdate</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>activityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newActivityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteAperturaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteAperturaOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteChiusuraToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteChiusuraOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTentativiToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numeroTentativiOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoAttivitaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoAttivitaOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoContattoToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoContattoOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnazioneToUpdate_0</name>
        <label>assegnazioneToUpdate</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>activityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newActivityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteAperturaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteAperturaPreavviso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteChiusuraToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteChiusuraPreavviso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTentativiToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numeroTentativiPreavviso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoAttivitaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoAttivitaPreavviso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoContattoToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoContattoPreavviso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnazioneToUpdate_0_0</name>
        <label>assegnazioneToUpdate</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>activityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newActivityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteAperturaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteAperturaGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteChiusuraToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteChiusuraGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTentativiToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numeroTentativiGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoAttivitaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoAttivitaGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoContattoToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoContattoGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assegnazioneToUpdate_0_0_0</name>
        <label>assegnazioneToUpdate</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>activityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newActivityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteAperturaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteAperturaCaseDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noteChiusuraToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noteChiusuraCaseDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numeroTentativiToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numeroTentativiCaseDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoAttivitaToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoAttivitaCaseDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>esitoContattoToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>esitoContattoGiroContatore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateActivity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Clienteirreperibile</name>
        <choiceText>Cliente irreperibile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cliente irreperibile</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContattareilclientePostsales</name>
        <choiceText>Contattare il cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS_CRP002__CONTATTARE_IL_CLIENTE_POSTSALES</stringValue>
        </value>
    </choices>
    <choices>
        <name>contattareilclienteSales</name>
        <choiceText>Contattare il cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS_CRP001__CONTATTARE_IL_CLIENTE_SALES</stringValue>
        </value>
    </choices>
    <choices>
        <name>GiroContatoreDaGestire</name>
        <choiceText>Giro contatore da gestire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS_AUT005__GIRO_CONTATORE_DA_GESTIRE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Negativo</name>
        <choiceText>Negativo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Negativo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Okcontattato</name>
        <choiceText>OK contattato</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ok contattato</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pec_Da_DL_Case</name>
        <choiceText>PEC da DL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEC_DA_DL_CASE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pec_Da_DL_Order</name>
        <choiceText>PEC da DL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PEC_DA_DL_ORDER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Positivo</name>
        <choiceText>Positivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Positivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PreavvisoCessazione</name>
        <choiceText>Preavviso cessazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CBS_MOR007__PREAVVISO_CESSAZIONE</stringValue>
        </value>
    </choices>
    <decisions>
        <name>casoCase</name>
        <label>casoCase</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>newManualAct_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>casoPreavviso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_Morosita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newManualAct</targetReference>
            </connector>
            <label>casoPreavviso</label>
        </rules>
        <rules>
            <name>casoGiroContatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_Autolettura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newManualAct_0_0</targetReference>
            </connector>
            <label>casoGiroContatore</label>
        </rules>
    </decisions>
    <decisions>
        <name>orderOrCase</name>
        <label>orderOrCase</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>parentCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>casoCase</targetReference>
            </connector>
            <label>parentCase</label>
        </rules>
        <rules>
            <name>parentOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newManualAct_0</targetReference>
            </connector>
            <label>parentOrder</label>
        </rules>
    </decisions>
    <interviewLabel>HDT_FL_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_CreationManualRelated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>orderOrCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateActivity</name>
        <label>updateActivity</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>screenEsito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityOutcome__c</field>
            <value>
                <elementReference>esitoAttivitaToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttemptCount__c</field>
            <value>
                <elementReference>numeroTentativiToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosingNote__c</field>
            <value>
                <elementReference>noteChiusuraToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactResult__c</field>
            <value>
                <elementReference>esitoContattoToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpeningNote__c</field>
            <value>
                <elementReference>noteAperturaToUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
    </recordUpdates>
    <screens>
        <name>newManualAct</name>
        <label>newManualAct</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAndInsertActivity_0</targetReference>
        </connector>
        <fields>
            <name>showInformation</name>
            <fieldText>&lt;p&gt;Codice cliente: &lt;b&gt;&lt;i&gt;{!getCase.Account.CustomerCode__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Codice pratica: &lt;b&gt;&lt;i&gt;{!getCase.CaseNumber}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newManualAct_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newManualAct_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklistPreavviso</name>
                    <choiceReferences>ContattareilclientePostsales</choiceReferences>
                    <choiceReferences>PreavvisoCessazione</choiceReferences>
                    <choiceReferences>Pec_Da_DL_Case</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>numeroTentativiPreavviso</name>
                    <dataType>Number</dataType>
                    <fieldText>Numero tentativi</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>picklistPreavviso</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ContattareilclientePostsales</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>picklistPreavviso</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pec_Da_DL_Case</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>noteAperturaPreavviso</name>
                    <fieldText>Note di apertura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newManualAct_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>esitoContattoPreavviso</name>
                    <choiceReferences>Okcontattato</choiceReferences>
                    <choiceReferences>Clienteirreperibile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito contatto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>picklistPreavviso</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ContattareilclientePostsales</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>picklistPreavviso</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pec_Da_DL_Case</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>esitoAttivitaPreavviso</name>
                    <choiceReferences>Positivo</choiceReferences>
                    <choiceReferences>Negativo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito attività</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>noteChiusuraPreavviso</name>
                    <fieldText>Note di chiusura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>newManualAct_0</name>
        <label>newManualAct</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAndInsertActivity</targetReference>
        </connector>
        <fields>
            <name>showInformation_0</name>
            <fieldText>&lt;p&gt;Codice cliente: &lt;b&gt;&lt;i&gt;{!getOrder.Account.CustomerCode__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Codice pratica: &lt;b&gt;&lt;i&gt;{!getOrder.OrderNumber}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newManualAct_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newManualAct_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklistOrder</name>
                    <choiceReferences>contattareilclienteSales</choiceReferences>
                    <choiceReferences>Pec_Da_DL_Order</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>numeroTentativiOrder</name>
                    <dataType>Number</dataType>
                    <fieldText>Numero tentativi</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>noteAperturaOrder</name>
                    <fieldText>Note di apertura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newManualAct_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>esitoContattoOrder</name>
                    <choiceReferences>Okcontattato</choiceReferences>
                    <choiceReferences>Clienteirreperibile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito contatto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>esitoAttivitaOrder</name>
                    <choiceReferences>Positivo</choiceReferences>
                    <choiceReferences>Negativo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito attività</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>noteChiusuraOrder</name>
                    <fieldText>Note di chiusura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>newManualAct_0_0</name>
        <label>newManualAct</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAndInsertActivity_0_0</targetReference>
        </connector>
        <fields>
            <name>showInformation_0_0</name>
            <fieldText>&lt;p&gt;Codice cliente: &lt;b&gt;&lt;i&gt;{!getCase.Account.CustomerCode__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Codice pratica: &lt;b&gt;&lt;i&gt;{!getCase.CaseNumber}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newManualAct_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newManualAct_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklistGiroContatore</name>
                    <choiceReferences>ContattareilclientePostsales</choiceReferences>
                    <choiceReferences>GiroContatoreDaGestire</choiceReferences>
                    <choiceReferences>Pec_Da_DL_Case</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>numeroTentativiGiroContatore</name>
                    <dataType>Number</dataType>
                    <fieldText>Numero tentativi</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>picklistGiroContatore</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ContattareilclientePostsales</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>picklistGiroContatore</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pec_Da_DL_Case</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>noteAperturaGiroContatore</name>
                    <fieldText>Note di apertura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newManualAct_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>esitoContattoGiroContatore</name>
                    <choiceReferences>Okcontattato</choiceReferences>
                    <choiceReferences>Clienteirreperibile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito contatto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>picklistGiroContatore</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ContattareilclientePostsales</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>picklistGiroContatore</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pec_Da_DL_Case</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>esitoAttivitaGiroContatore</name>
                    <choiceReferences>Positivo</choiceReferences>
                    <choiceReferences>Negativo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito attività</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>noteChiusuraGiroContatore</name>
                    <fieldText>Note di chiusura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>newManualAct_0_0_0</name>
        <label>newManualAct</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createAndInsertActivity_0_0_0</targetReference>
        </connector>
        <fields>
            <name>showInformation_0_0_0</name>
            <fieldText>&lt;p&gt;Codice cliente: &lt;b&gt;&lt;i&gt;{!getCase.Account.CustomerCode__c}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Codice pratica: &lt;b&gt;&lt;i&gt;{!getCase.CaseNumber}&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newManualAct_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>newManualAct_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklistCaseDefault</name>
                    <choiceReferences>ContattareilclientePostsales</choiceReferences>
                    <choiceReferences>Pec_Da_DL_Case</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipologia</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>numeroTentativiCaseDefault</name>
                    <dataType>Number</dataType>
                    <fieldText>Numero tentativi</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>noteAperturaCaseDefault</name>
                    <fieldText>Note di apertura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>newManualAct_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>esitoContattoCaseDefault</name>
                    <choiceReferences>Okcontattato</choiceReferences>
                    <choiceReferences>Clienteirreperibile</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito contatto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>esitoAttivitaCaseDefault</name>
                    <choiceReferences>Positivo</choiceReferences>
                    <choiceReferences>Negativo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Esito attività</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>noteChiusuraCaseDefault</name>
                    <fieldText>Note di chiusura</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenEsito</name>
        <label>screenEsito</label>
        <locationX>710</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>esitoKO</name>
            <fieldText>&lt;p&gt;Errore nella creazione dell&apos;attività!&lt;/p&gt;&lt;p&gt;Dettagli: {!dettaglioEsitoApex}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>esitoApex</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>KO</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>esitoOK</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Attività creata correttamente!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Clicca qui per navigare verso l&apos;&lt;/span&gt;&lt;a href=&quot;/{!activityId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;attività manuale&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>esitoApex</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>OK</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dettaglioEsitoApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>esitoApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>esitoAttivitaToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>esitoContattoToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>noteAperturaToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noteChiusuraToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numeroTentativiToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>templateActivity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
