force-app/main/default/flows/HDT_FL_Annulla_Pratica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>annullaContratti</name>
        <label>annullaContratti</label>
        <locationX>484</locationX>
        <locationY>586</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>annullaContratti</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getActivity.Order__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>annullaPratica</name>
        <label>annullaPratica</label>
        <locationX>105</locationX>
        <locationY>585</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>annullaPratica</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getActivity.Case__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>annullaPratica_0</name>
        <label>annullaPratica</label>
        <locationX>275</locationX>
        <locationY>792</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>annullaPratica</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getActivity.Order__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>chiudiAttivita</name>
        <label>chiudiAttivita</label>
        <locationX>274</locationX>
        <locationY>436</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkTypeDatiDiscordanti</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>chiudiAttivita</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getActivity.Order__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>chiudiAttivita_0</name>
        <label>chiudiAttivita</label>
        <locationX>107</locationX>
        <locationY>437</locationY>
        <actionName>HDT_UTL_Scarti</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>annullaPratica</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>chiudiAttivita</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>getActivity.Case__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>checkTypeDatiDiscordanti</name>
        <label>checkTypeDatiDiscordanti</label>
        <locationX>267</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>annullaPratica_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DatiDiscordanti</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActivity.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dati Discordanti</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>annullaContratti</targetReference>
            </connector>
            <label>DatiDiscordanti</label>
        </rules>
    </decisions>
    <decisions>
        <name>parentObject</name>
        <label>parentObject</label>
        <locationX>171</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActivity.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chiudiAttivita</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActivity.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chiudiAttivita_0</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <interviewLabel>HDT_FL_Annulla_Pratica {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_Annulla_Pratica</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getActivity</name>
        <label>getActivity</label>
        <locationX>176</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>parentObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getActivity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
