force-app/main/default/flows/HDT_FL_GestioneReclami_ComposizioneCorpoRisposta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Case_Contenuti</name>
        <label>Assegna Case Contenuti</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CaseContenutiRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aggiorna_Case_Contenuti</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_Contenuti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Popola_risposta_template</name>
        <label>Popola risposta template</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>Aggiorna_Case_Contenuti.ComplaintBodyResponse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Contenitore.ComplaintBodyResponse__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Case_Contenuti</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Annullamento_Prestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0</name>
        <label>Avanzamento</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Annullamento_Prestazione_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtFlowNavButtons.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Composizione_Risposta_Reclamo_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0_0</name>
        <label>Avanzamento</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Annullamento_Prestazione_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Contenitore</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Contenitore_0</name>
        <label>Case Contenitore?</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Composizione_Risposta_Reclamo_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Contenitore</defaultConnectorLabel>
        <rules>
            <name>Contenitore_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.IsContainer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleziona_Case_Contenuti_0</targetReference>
            </connector>
            <label>Contenitore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_Contenuto_stato_selezionato</name>
        <label>Il Case Contenuto è stato selezionato?</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case_Contenuti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Selezionato</defaultConnectorLabel>
        <rules>
            <name>Selezionato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selezione_Case_contenitori_0</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Aggiorna_Case_Contenuti.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Popola_risposta_template</targetReference>
            </connector>
            <label>Selezionato</label>
        </rules>
    </decisions>
    <description>Flow per la composizione del corpo della risposta del reclamo</description>
    <dynamicChoiceSets>
        <name>CaseContenuti</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Gestione Reclami - Composizione Corpo Risposta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Composizione Corpo Risposta</label>
    <loops>
        <name>Aggiorna_Case_Contenuti</name>
        <label>Aggiorna Case Contenuti</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Case_Contenuti</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Il_Case_Contenuto_stato_selezionato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aggiorna_Case_Contenuti_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Contenitore</name>
        <label>Get Case Contenitore</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Contenuti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Contenuti</name>
        <label>Get Case Contenuti</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggiorna_Case_Contenuti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Contenitore_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case_Contenuti_0</name>
        <label>Aggiorna Case Contenuti</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <inputReference>CaseContenutiRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Composizione_Risposta_Reclamo_0</name>
        <label>Composizione Risposta Reclamo</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Input_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Componi Corpo Risposta Reclamo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Seleziona i Template e premi il tasto &quot;Componi Corpo Risposta&quot; per generare il corpo della risposta; dopodiché effettua le modifiche necessarie.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtComposeBodyResponse_0</name>
            <extensionName>c:hdtComposeBodyResponse</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Composizione_Risposta_Reclamo_0_0</name>
        <label>Composizione Risposta Reclamo</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Input</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Componi Corpo Risposta Reclamo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Seleziona i Template e premi il tasto &quot;Componi Corpo Risposta&quot; per generare il corpo della risposta; dopodiché effettua le modifiche necessarie.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtComposeBodyResponse_0_0</name>
            <extensionName>c:hdtComposeBodyResponse</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Input</name>
        <label>Screen Input</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Composizione Risposta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Input_0</name>
        <label>Screen Input</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Composizione Risposta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seleziona_Case_Contenuti_0</name>
        <label>Seleziona Case Contenuti</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Avanzamento_0</targetReference>
        </connector>
        <fields>
            <name>SelectChildCases</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Seleziona i Case contenuti nel Contenitore &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Seleziona i Case contenuti nel Contenitore per i quali vuoi utilizzare il medesimo corpo della risposta al Reclamo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selezione_Case_contenitori_0</name>
            <choiceReferences>CaseContenuti</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selezione Case contenuti</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hdtFlowNavButtons</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Annullamento_Prestazione</name>
        <label>Annullamento Prestazione</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annullamento_Prestazione_0</name>
        <label>Annullamento Prestazione</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Composizione_Risposta_Reclamo_0</targetReference>
        </connector>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annullamento_Prestazione_0_0</name>
        <label>Annullamento Prestazione</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_Case_Contenitore</targetReference>
        </connector>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseContenutiRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Input_Case.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
