force-app/main/default/flows/HDT_FL_Gestione_Modifiche_Anagrafiche_Modifica_Privacy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Campi_Consenso_Marketing</name>
        <label>Update Campi Consenso Marketing</label>
        <locationX>2616</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyMarketingChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyMarketingChoiceSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>post-sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Consenso_Profilazione_Aggiornato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Campi_Consenso_Marketing_Campi_Soft_Spam</name>
        <label>Update Campi Consenso Marketing + Campi Soft Spam</label>
        <locationX>2634</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyMarketingChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyMarketingChoiceSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>post-sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.HasOptedOutSoftSpam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacySoftSpamChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacySoftSpamChoiceSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>post-sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Consenso_Profilazione_Aggiornato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Campi_Consenso_Profilazione</name>
        <label>Update Campi Consenso Profilazione</label>
        <locationX>2844</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyProfilingChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacyProfilingChoiceSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>post-sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Soft_spam_modificato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Campi_Soft_Spam</name>
        <label>Update Campi Soft-Spam</label>
        <locationX>3083</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacySoftSpamChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Individual.PrivacySoftSpamChoiceSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>post-sales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Individual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Consenso_Marketing_Aggiornato</name>
        <label>Consenso Marketing Aggiornato?</label>
        <locationX>2524</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Check_Consenso_Profilazione_Aggiornato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consenso_Marketing_da_NO_a_SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.MarketingPrivacy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_Individual.MarketingPrivacy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campi_Consenso_Marketing_Campi_Soft_Spam</targetReference>
            </connector>
            <label>Consenso Marketing da NO a SI</label>
        </rules>
        <rules>
            <name>ConsensoMarketingModificato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.MarketingPrivacy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Individual.MarketingPrivacy__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campi_Consenso_Marketing</targetReference>
            </connector>
            <label>Consenso Marketing Modificato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consenso_Profilazione_Aggiornato</name>
        <label>Consenso Profilazione Aggiornato?</label>
        <locationX>2716</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Check_Soft_spam_modificato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consenso_Profilazione_Aggiornato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.ProfilingPrivacy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Individual.ProfilingPrivacy__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campi_Consenso_Profilazione</targetReference>
            </connector>
            <label>Consenso Profilazione Aggiornato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Soft_spam_modificato</name>
        <label>Soft-spam modificato?</label>
        <locationX>2943</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Update_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Soft_spam_Modificato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.HasOptedOutSoftSpam__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Individual.HasOptedOutSoftSpam__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campi_Soft_Spam</targetReference>
            </connector>
            <label>Soft-spam Modificato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Individual_trovato</name>
        <label>Individual trovato?</label>
        <locationX>975</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Screen_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Individual.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Step_Processo</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step</name>
        <label>Next Step?</label>
        <locationX>2120</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Annullamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Salva_In_Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva In Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_0</name>
        <label>Next Step?</label>
        <locationX>1553</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Set_Fase_Attesa_Modulo_Firmato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Annullamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step_Processo</name>
        <label>Next Step Processo</label>
        <locationX>1254</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Inserimento_Dati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inserimento Consensi</defaultConnectorLabel>
        <rules>
            <name>Stampa</name>
            <conditionLogic>4 AND (1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sportello</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Documentale</targetReference>
            </connector>
            <label>Stampa</label>
        </rules>
    </decisions>
    <interviewLabel>Gestione_Modifiche_Anagrafiche_Modifica_Privacy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione_Modifiche_Anagrafiche_Modifica_Privacy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>462</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>617</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Individual</name>
        <label>Get Individual</label>
        <locationX>794</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual_trovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.IndividualId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Individual</name>
        <label>Get Updated Individual</label>
        <locationX>2357</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Consenso_Marketing_Aggiornato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Individual.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fase_Attesa_Modulo_Firmato</name>
        <label>Set Fase Attesa Modulo Firmato</label>
        <locationX>1934</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Attesa Modulo Firmato</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fase</name>
        <label>Update Fase</label>
        <locationX>3391</locationX>
        <locationY>511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Individual</name>
        <label>Update Individual</label>
        <locationX>3213</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Update_Fase</targetReference>
        </connector>
        <inputReference>Get_Updated_Individual</inputReference>
    </recordUpdates>
    <screens>
        <name>Inserimento_Dati</name>
        <label>Inserimento Dati</label>
        <locationX>1925</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <fields>
            <name>DT1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formCase</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Modifica Privacy - Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DT2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Inserire i nuovi consensi privacy ed allegare il modulo privacy firmato:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formIndividual</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva in bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Modifica Privacy - Individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Individual.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentRecordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelCase</assignToReference>
                <name>cancelCase</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SaveInDraft</assignToReference>
                <name>saveInDraft</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>1441</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_0</targetReference>
        </connector>
        <fields>
            <name>DT4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignatureManagerFlow</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteType</name>
                <value>
                    <elementReference>Get_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelCase</assignToReference>
                <name>cancelCase</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Errore</name>
        <label>Screen Errore</label>
        <locationX>984</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gestione_Annullamento</targetReference>
        </connector>
        <fields>
            <name>DT1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Attenzione! Il contatto del cliente non è agganciato a nessun Individual. Contattare un amministratore di sistema.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Premendo Avanti la pratica verrà Annullata.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestione_Annullamento</name>
        <label>Gestione Annullamento</label>
        <locationX>2047</locationX>
        <locationY>50</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordToCancell</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CancelCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextPhase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveInDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
