force-app/main/default/flows/HDT_FL_ResumeActivity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>changes</name>
        <label>changes</label>
        <locationX>491</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>currentActivity.SuspensionDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentActivity.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aperta</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentActivity.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aperta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordActivity</name>
        <label>recordActivity</label>
        <locationX>300</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>currentActivity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>changes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>nullDate</name>
        <dataType>Date</dataType>
    </constants>
    <description>flow chiamato dal pulsante &quot;Riprendi attività&quot;</description>
    <interviewLabel>HDT_FL_Riprendi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_ResumeActivity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getActivity</name>
        <label>getActivity</label>
        <locationX>162</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>622</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>endScreenFlow</targetReference>
        </connector>
        <inputReference>currentActivity</inputReference>
    </recordUpdates>
    <screens>
        <name>endScreenFlow</name>
        <label>endScreenFlow</label>
        <locationX>752</locationX>
        <locationY>221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finishText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(32, 221, 35);&quot;&gt;&lt;i&gt;{!getActivity.Name} ripresa correttamente!&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getActivity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentActivity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
</Flow>