force-app/main/default/flows/HDT_FL_GestioneMorosita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreaCaseRiattivazione</name>
        <label>Crea Case Riattivazione</label>
        <locationX>1518</locationX>
        <locationY>398</locationY>
        <actionName>HDT_SRV_CreateGenericCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetCreatedCase</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputSobj</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseCluster</name>
            <value>
                <stringValue>Morosità</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseType</name>
            <value>
                <stringValue>Riattivazione Fornitura</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputSobj</name>
            <value>
                <elementReference>getParentCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDevName</name>
            <value>
                <stringValue>HDT_RT_Morosita</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AggiornaCreatedCase_0_0</name>
        <label>AggiornaCreatedCase</label>
        <locationX>1386</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetCreatedCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.RelatedCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChildSospensione.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedCase.Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.CompetentOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChildSospensione.CompetentOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.IsContainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCreatedCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AggiornaCreatedCase_0_0_0</name>
        <label>AggiornaCreatedCase</label>
        <locationX>1650</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetCreatedCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedCase.Contact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.CompetentOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentCase.CompetentOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCreatedCase.IsContainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCreatedCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Da_Inviare</name>
        <label>Assegna Fase In Da Inviare</label>
        <locationX>996</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Codice_Causale_0.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Codice_Causale_0.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Da_Inviare_0</name>
        <label>Assegna Fase In Da Inviare</label>
        <locationX>50</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Codice_Causale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Codice_Causale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Lavorazione</name>
        <label>Assegna Fase In Lavorazione</label>
        <locationX>732</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.NotCancellable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Lavorazione_0</name>
        <label>Assegna Fase In Lavorazione</label>
        <locationX>1524</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInputCase</name>
        <label>AssegnaInputCase</label>
        <locationX>1518</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>InputCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCreatedCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Controlli_Compatibilit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>864</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.SelfCertificationAcquisitionAsl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutoCertAslUppercase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Serivizio_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazioni</name>
        <label>Assegnazioni</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.ClientIdentificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.VatNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputCase.Account.VATNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazioni_0</name>
        <label>Assegnazioni</label>
        <locationX>1062</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputCase.ServicePoint__r.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.ClientIdentificationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.VatNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputCase.Account.VATNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazioni_0_0_0</name>
        <label>Assegnazioni</label>
        <locationX>468</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreaCaseContenitore_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegnazioni</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazioni_0_0_0_0</name>
        <label>Assegnazioni</label>
        <locationX>204</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContenitoreStessoContratto.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegnazioni</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaseTrovato</name>
        <label>CaseTrovato?</label>
        <locationX>1518</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AggiornaCreatedCase_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovato</defaultConnectorLabel>
        <rules>
            <name>Trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChildSospensione</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AggiornaCreatedCase_0_0</targetReference>
            </connector>
            <label>Trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compatibile</name>
        <label>Compatibile?</label>
        <locationX>1518</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>GetInputCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compatibile</defaultConnectorLabel>
        <rules>
            <name>Non_Compatibile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompatible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCompatible</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Non Compatibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContenitorePresenteASistema</name>
        <label>ContenitorePresenteASistema?</label>
        <locationX>336</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>CreaCaseContenitore_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non presente</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContenitoreStessoContratto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazioni_0_0_0_0</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>EsisteContenitore</name>
        <label>EsisteContenitore?</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>GetContenitoreStessoContratto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Esiste</defaultConnectorLabel>
        <rules>
            <name>Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazioni</targetReference>
            </connector>
            <label>Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>IlCaseInBozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>1716</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>InputDati_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QualeProcesso</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Innesco_Da_Sospensione</name>
        <label>Innesco Da Sospensione?</label>
        <locationX>1716</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetInputCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account</defaultConnectorLabel>
        <rules>
            <name>Sospensione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentCase</targetReference>
            </connector>
            <label>Sospensione</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualeProcesso</name>
        <label>Quale Processo?</label>
        <locationX>1117</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>ScreenErroreType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Riattivazione_Fornitura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riattivazione Fornitura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsisteContenitore</targetReference>
            </connector>
            <label>Riattivazione Fornitura</label>
        </rules>
        <rules>
            <name>Gestione_Disalimentabilit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestione Disalimentabilità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazioni_0</targetReference>
            </connector>
            <label>Gestione Disalimentabilità</label>
        </rules>
        <rules>
            <name>Votive_Modena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Pagamenti Morosità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputDati_0_0</targetReference>
            </connector>
            <label>Votive Modena</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>1656</locationX>
        <locationY>2486</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_In_Lavorazione_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma_0</name>
        <label>Salva In Bozza O Conferma?</label>
        <locationX>182</locationX>
        <locationY>3518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calcola_Codice_Causale</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma_0_0</name>
        <label>Salva In Bozza O Conferma?</label>
        <locationX>1062</locationX>
        <locationY>2726</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serivizio_0</name>
        <label>Serivizio?</label>
        <locationX>864</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Calcola_Codice_Causale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Energia Elettrica</defaultConnectorLabel>
        <rules>
            <name>Gas_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_In_Lavorazione</targetReference>
            </connector>
            <label>Gas</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del cluster morosità</description>
    <formulas>
        <name>AutoCertAslUppercase</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetCaseAggiornato.SelfCertificationAcquisitionAsl__c}),&quot;&quot;,UPPER({!GetCaseAggiornato.SelfCertificationAcquisitionAsl__c}))</expression>
    </formulas>
    <formulas>
        <name>DefaultAmount</name>
        <dataType>Currency</dataType>
        <expression>100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PhoneNumberFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetInputCase.PhoneNumber__c}),
      IF(ISBLANK({!GetInputCase.Contact.Phone}),&quot;123&quot;,{!GetInputCase.Contact.Phone}),
      {!GetInputCase.PhoneNumber__c}
)</expression>
    </formulas>
    <interviewLabel>Gestione Morosità {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Morosità</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreaCaseContenitore_0_0</name>
        <label>CreaCaseContenitore</label>
        <locationX>468</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Assegnazioni_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetInputCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingProfile__c</field>
            <value>
                <elementReference>GetInputCase.BillingProfile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <elementReference>GetInputCase.Cluster__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyOwner__c</field>
            <value>
                <elementReference>GetInputCase.CompanyOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetInputCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>GetInputCase.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>GetInputCase.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContainer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>GetInputCase.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetInputCase.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicePoint__c</field>
            <value>
                <elementReference>GetInputCase.ServicePoint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contenitore Morosità</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Calcola_Codice_Causale</name>
        <label>Calcola Codice Causale</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Fase_In_Da_Inviare_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Calcola_Codice_Causale_0</name>
        <label>Calcola Codice Causale</label>
        <locationX>996</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Fase_In_Da_Inviare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>864</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetChildSospensione</name>
        <label>GetChildSospensione</label>
        <locationX>1518</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseTrovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getParentCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sospensione Fornitura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GetCreatedCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContenitoreStessoContratto</name>
        <label>GetContenitoreStessoContratto</label>
        <locationX>336</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContenitorePresenteASistema</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sospensione Fornitura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCreatedCase</name>
        <label>GetCreatedCase</label>
        <locationX>1518</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChildSospensione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreaCaseRiattivazione</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCase</name>
        <label>Get Input Case</label>
        <locationX>1716</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IlCaseInBozza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentCase</name>
        <label>getParentCase</label>
        <locationX>1518</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreaCaseRiattivazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>182</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>InputDati</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case_0</name>
        <label>Aggiorna Case</label>
        <locationX>1062</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>InputDati_0</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0</name>
        <label>Aggiorna Case</label>
        <locationX>50</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Loading_Screen</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>2316</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Loading_Screen_0_0</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>732</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>1524</locationX>
        <locationY>2726</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>996</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Loading_Screen_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCreatedCase_0</name>
        <label>AggiornaCreatedCase</label>
        <locationX>1518</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Arricchimento_Dati</targetReference>
        </connector>
        <inputReference>GetCreatedCase</inputReference>
    </recordUpdates>
    <screens>
        <name>InputDati</name>
        <label>Input Dati</label>
        <locationX>182</locationX>
        <locationY>3398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDati_0</name>
        <label>Input Dati</label>
        <locationX>1062</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserire Allegati</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDati_0_0</name>
        <label>Input Dati</label>
        <locationX>1656</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDati_0_0_0</name>
        <label>Input Dati</label>
        <locationX>2316</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AggiornaCase_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen</name>
        <label>Loading Screen</label>
        <locationX>50</locationX>
        <locationY>3998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0</name>
        <label>Loading Screen</label>
        <locationX>996</locationX>
        <locationY>3566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0_0</name>
        <label>Loading Screen</label>
        <locationX>2316</locationX>
        <locationY>2486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtFlowNavigationButton_0_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErroreType</name>
        <label>Screen Errore Type</label>
        <locationX>2052</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Errore&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Processo non selezionato correttamente, si prega di innescare nuovamente il Case dal Catalogo Servizi&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1590</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Innesco_Da_Sospensione</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Arricchimento_Dati</name>
        <label>Arricchimento Dati</label>
        <locationX>1518</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>AssegnaInputCase</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>GetCreatedCase.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>GetCreatedCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>GetCreatedCase.ServicePoint__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Controlli_Compatibilit</name>
        <label>Controlli Compatibilità</label>
        <locationX>1518</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Compatibile</targetReference>
        </connector>
        <flowName>HDT_FL_SubFlowCompatibility</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsCompatible</assignToReference>
            <name>IsCompatible</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCompatible</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
