force-app/main/default/flows/HDT_FL_GestioneDisattivazioni.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close_Discard_Activity_0</name>
        <label>Chiudi Activity Scarto</label>
        <locationX>1832</locationX>
        <locationY>2150</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Case_Per_Risottomissione_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Request</name>
        <label>Submit Request</label>
        <locationX>193</locationX>
        <locationY>2726</locationY>
        <actionName>HDT_SRV_BpCaVariationFacade</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Callout</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Request_0</name>
        <label>Submit Request</label>
        <locationX>1810</locationX>
        <locationY>2606</locationY>
        <actionName>HDT_SRV_BpCaVariationFacade</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Esito_Callout_0</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Dati_Recapito</name>
        <label>Assegna Dati Recapito</label>
        <locationX>883</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>1147</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>1411</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>1939</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeVotiveModena.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Cluster_per_Votive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Dati_Recapito_0_0_0_0</name>
        <label>Assegna Dati Recapito</label>
        <locationX>1675</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.modInvioBoll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.pec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>presso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.presso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indirizzo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillDeliveryChooser_0_0_0_0.indirizzo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_FT_0</name>
        <label>Assegna FT</label>
        <locationX>215</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inviaMA3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Output</name>
        <label>Assegna Output</label>
        <locationX>347</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FT_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Output_0</name>
        <label>Assegna Output</label>
        <locationX>1964</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Rilavorazione_Scarto_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Phase_KO_SAP</name>
        <label>Assegna Phase KO SAP</label>
        <locationX>61</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornatoForUpdate.NotPerformedBefore__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornatoForUpdate.DistributorNote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorFlowCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Phase_KO_SAP_0</name>
        <label>Assegna Phase KO SAP</label>
        <locationX>1678</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornatoForUpdate_0.NotPerformedBefore__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornatoForUpdate_0.DistributorNote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorFlowCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type</name>
        <label>Assegna Process Type</label>
        <locationX>883</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiusura Contatore</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0</name>
        <label>Assegna Process Type</label>
        <locationX>1147</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Altri Motivi/Richiesta Cliente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>1939</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Votive Modena Cessazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disattivazioni</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>1411</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rifiuto Voltura</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>1675</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recesso per Ripensamento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Layout_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>50</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0</name>
        <label>AssegnaValori</label>
        <locationX>644</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato_0.NotPerformedBefore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0_0</name>
        <label>AssegnaValori</label>
        <locationX>1964</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato_0_0.NotPerformedBefore__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnazioniDaServicePoint</name>
        <label>Assegnazioni da ServicePoint</label>
        <locationX>1411</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.ServicePoint__r.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ModInvioBollValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Case.BillingProfile__r.BillSendingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.WrittenReceiptRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataRicezioneRichiesta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Case_Per_Risottomissione_0</name>
        <label>Init Case Per Risottomissione</label>
        <locationX>1832</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.HerokuPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.DistributorPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inviaMA3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_current_month</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese corrente</label>
        <locationX>314</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Current_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_current_month_0</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese corrente</label>
        <locationX>1634</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Current_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese successivo a quello corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_next_month</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese successivo</label>
        <locationX>578</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Next_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Campo NotPerformedBeforeDate__c uguale all&apos;ultimo giorno del mese successivo a quello corrente</description>
        <name>NotPerformedBeforeDate_equal_last_day_next_month_0</name>
        <label>NotPerformedBeforeDate = ultimo giorno mese successivo</label>
        <locationX>1898</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.NotPerformedBefore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Get_Last_Day_Next_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sendMA3</name>
        <label>sendMA3</label>
        <locationX>1279</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>sendMA3Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Il_Case_in_Bozza_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Rilavorazione_Scarto_0</name>
        <label>Rilavorazione Scarto?</label>
        <locationX>1964</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>inviaMA3_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wizard Normale</defaultConnectorLabel>
        <rules>
            <name>Wizard_Scarto_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Discard_Activity_0</targetReference>
            </connector>
            <label>Wizard Scarto</label>
        </rules>
    </decisions>
    <decisions>
        <description>Il process type attuale è uguale a Recesso per Ripensamento?</description>
        <name>Current_Process_Recesso_Ripensamento</name>
        <label>Current Process Recesso Ripensamento?</label>
        <locationX>644</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Aggiornato_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Current_Process_Recesso_Ripensamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Ripensamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Aggiornato</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente</name>
        <label>Data Ricezione Richiesta &lt;= 10 del mese corrente?</label>
        <locationX>446</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>NotPerformedBeforeDate_equal_last_day_next_month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.WrittenReceiptRequestDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Get_10_current_month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotPerformedBeforeDate_equal_last_day_current_month</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente_0_0_0</name>
        <label>Data Ricezione Richiesta &lt;= 10 del mese corrente?</label>
        <locationX>1766</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>NotPerformedBeforeDate_equal_last_day_next_month_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornatoRecesso.WrittenReceiptRequestDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Get_10_current_month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotPerformedBeforeDate_equal_last_day_current_month_0</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Callout</name>
        <label>Esito Callout</label>
        <locationX>193</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Votive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Request.outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornatoForUpdate</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Esito_Callout_0</name>
        <label>Esito Callout</label>
        <locationX>1810</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Recesso_Ripensamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>KO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Request_0.outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornatoForUpdate_0</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>FT_0_0_0</name>
        <label>FT?</label>
        <locationX>347</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>inviaMA3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FT_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.EndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateValue>4000-12-31</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusura Contatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_FT_0</targetReference>
            </connector>
            <label>FT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza_0</name>
        <label>Il Case è in Bozza?</label>
        <locationX>1411</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Case_Layout_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Bozza_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Layout</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>inviaMA3</name>
        <label>inviaMA3?</label>
        <locationX>347</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Votive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Invia_Modifica_Anagrafica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invia_MA3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Request</targetReference>
            </connector>
            <label>Invia Modifica Anagrafica</label>
        </rules>
    </decisions>
    <decisions>
        <name>inviaMA3_0</name>
        <label>inviaMA3?</label>
        <locationX>1964</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Recesso_Ripensamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Invia_Modifica_Anagrafica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invia_MA3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Request_0</targetReference>
            </connector>
            <label>Invia Modifica Anagrafica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modifica_Dati_di_recapito</name>
        <label>Modifica Dati di recapito?</label>
        <locationX>1411</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Il_Case_in_Bozza_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dati non modificati</defaultConnectorLabel>
        <rules>
            <name>Invia_MA3</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoiceEmailAddress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pec</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoiceCertifiedEmailAddress__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>presso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ModInvioBollValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.BillSendingMethod__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>indirizzo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Input_Case.BillingProfile__r.InvoicingAddressFormula__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Errore Lavorazione SAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendMA3</targetReference>
            </connector>
            <label>Invia MA3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>1411</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assegna_Process_Type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Votive Modena Cessazione</defaultConnectorLabel>
        <rules>
            <name>Chiusura_Contatore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chiusura Contatore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type</targetReference>
            </connector>
            <label>Chiusura Contatore</label>
        </rules>
        <rules>
            <name>Recesso_Altri_Motivi_Richiesta_Cliente</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Altri Motivi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso su Richiesta Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0</targetReference>
            </connector>
            <label>Recesso Altri Motivi/Richiesta Cliente</label>
        </rules>
        <rules>
            <name>Rifiuto_Voltura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Rifiuto Voltura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0_0</targetReference>
            </connector>
            <label>Rifiuto Voltura</label>
        </rules>
        <rules>
            <name>Recesso_per_Ripensamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Ripensamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0_0_0</targetReference>
            </connector>
            <label>Recesso per Ripensamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recesso_Ripensamento</name>
        <label>Recesso Ripensamento?</label>
        <locationX>1964</locationX>
        <locationY>3758</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Aggiornato_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recesso_Ripensamento_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recesso per Ripensamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornatoRecesso</targetReference>
            </connector>
            <label>Recesso Ripensamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_o_Conferma</name>
        <label>Salva In Bozza o Conferma</label>
        <locationX>858</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcoloCodiceCausale</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Votive</name>
        <label>Votive?</label>
        <locationX>347</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>Current_Process_Recesso_Ripensamento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Votive</defaultConnectorLabel>
        <rules>
            <name>Votive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Cessazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori</targetReference>
            </connector>
            <label>Votive</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SendingMethodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillSendingMethod__c</picklistField>
        <picklistObject>BillingProfile__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DataRicezioneRichiesta</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Input_Case.WrittenReceiptRequestDate__c} ),TODAY(),{!Get_Input_Case.WrittenReceiptRequestDate__c} )</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere il giorno 10 del mese corrente</description>
        <name>Formula_Get_10_current_month</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 10)</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere l&apos;ultimo giorno del mese corrente</description>
        <name>Formula_Get_Last_Day_Current_Month</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12,
DATE( YEAR( TODAY() ), MONTH( TODAY() ), 31 ),
DATE( YEAR( TODAY() ), MONTH( TODAY() ) + 1, 1 ) - 1)</expression>
    </formulas>
    <formulas>
        <description>Formula per ottenere l&apos;ultimo giorno del mese successivo a quello corrente</description>
        <name>Formula_Get_Last_Day_Next_Month</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( TODAY() ) = 12,
DATE(YEAR( TODAY()) +1, 1, 31),
DATE(YEAR(TODAY()), MONTH(TODAY()) +2 , 1) -1 )</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestioneDisattivazioni {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Disattivazioni</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreaActivityScarto</name>
        <label>CreaActivityScarto</label>
        <locationX>61</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Assegna_Phase_KO_SAP</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscardCategory__c</field>
            <value>
                <stringValue>Scarto complesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscardDescription__c</field>
            <value>
                <elementReference>Submit_Request.commenti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeScarto.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <elementReference>Submit_Request.commenti</elementReference>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreaActivityScarto_0</name>
        <label>CreaActivityScarto</label>
        <locationX>1678</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>Assegna_Phase_KO_SAP_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscardCategory__c</field>
            <value>
                <stringValue>Scarto complesso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DiscardDescription__c</field>
            <value>
                <elementReference>Submit_Request_0.commenti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeScarto_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Errore Lavorazione SAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <elementReference>Submit_Request_0.commenti</elementReference>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CalcoloCodiceCausale</name>
        <label>Calcolo Codice Causale</label>
        <locationX>347</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato</name>
        <label>Get_Case_Aggiornato</label>
        <locationX>446</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato_0</name>
        <label>Get_Case_Aggiornato</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato_0_0</name>
        <label>Get_Case_Aggiornato</label>
        <locationX>2162</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>1411</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnazioniDaServicePoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoForUpdate</name>
        <label>GetCaseAggiornatoForUpdate</label>
        <locationX>61</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeScarto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoForUpdate_0</name>
        <label>GetCaseAggiornatoForUpdate</label>
        <locationX>1678</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeScarto_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoRecesso</name>
        <label>GetCaseAggiornatoRecesso</label>
        <locationX>1766</locationX>
        <locationY>3878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Inserimento_Richiesta_minore_uguale_10_mese_corrente_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeScarto</name>
        <label>GetRecordTypeScarto</label>
        <locationX>61</locationX>
        <locationY>3086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreaActivityScarto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Scarto</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wrts_prcgvr__Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeScarto_0</name>
        <label>GetRecordTypeScarto</label>
        <locationX>1678</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreaActivityScarto_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Scarto</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wrts_prcgvr__Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeVotiveModena</name>
        <label>GetRecordTypeVotiveModena</label>
        <locationX>1939</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_VotiveModena</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>50</locationX>
        <locationY>4118</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Cluster_per_Votive</name>
        <label>Aggiorna Cluster per Votive</label>
        <locationX>1939</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Modifica_Dati_di_recapito</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>Aggiorna Case</label>
        <locationX>1411</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Quale_Processo</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>644</locationX>
        <locationY>4790</locationY>
        <connector>
            <targetReference>Loading_Spinner_screen</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>1964</locationX>
        <locationY>4550</locationY>
        <connector>
            <targetReference>Loading_Spinner_screen_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>61</locationX>
        <locationY>3446</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0_0_0_0_0_0</name>
        <label>Aggiorna Fase in Da Inviare</label>
        <locationX>1678</locationX>
        <locationY>3326</locationY>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Layout</name>
        <label>Case Layout</label>
        <locationX>858</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0</name>
        <label>Case Layout</label>
        <locationX>1964</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Output_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0</name>
        <label>Case Layout</label>
        <locationX>883</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0</name>
        <label>Case Layout</label>
        <locationX>1147</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>1411</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>1939</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetRecordTypeVotiveModena</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Layout_0_0_0_0_0_0</name>
        <label>Case Layout</label>
        <locationX>1675</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assegna_Dati_Recapito_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confermare l&apos;indirizzo di recapito della bolletta di chiusura o selezionarne uno differente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BillDeliveryChooser_0_0_0_0</name>
            <extensionName>c:hdtBillDeliveryChooser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Spinner_screen</name>
        <label>Loading Spinner screen</label>
        <locationX>644</locationX>
        <locationY>4910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Spinner_screen_0</name>
        <label>Loading Spinner screen</label>
        <locationX>1964</locationX>
        <locationY>4670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1285</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestione_Annullamento_Subflow</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultBillMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>indirizzo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ModInvioBollValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>presso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Save_Or_Confirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendMA3Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
