force-app/main/default/flows/HDT_FL_GestioneContrattoNonRichiesto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assegna_a_Collection</name>
        <label>Assegna a Collection</label>
        <locationX>314</locationX>
        <locationY>2505</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRelatedCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCaseAggiornato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCaseCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Variabili_Contratto</name>
        <label>Assegna Variabili Contratto</label>
        <locationX>1476</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaDataDecorrenza</name>
        <label>AssegnaDataDecorrenza</label>
        <locationX>1602</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EffectiveDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaInputCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>841</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.RelatedCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtGenericTableFlow.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.ServicePoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.TaxRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Taxes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.Taxes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.RateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.RateCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.BillingProfile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyStreetNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyStreetNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SupplyCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.DistributorCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.DistributorCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SalesCompanyCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord.SalesCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaDataDecorrenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0</name>
        <label>AssegnaValori</label>
        <locationX>1426</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtGenericTableFlow.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.ServicePoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.TaxRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.VAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Taxes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderAccise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.RateCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.RateCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.BillingProfile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SupplyPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SupplyCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyStreetNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SupplyStreetNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.BillingProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyStreetName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SupplyStreetName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SupplyCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SupplyCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.DistributorCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.DistributorCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompanyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SalesCompanyCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.SalesCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SalesCompany__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssegnaDataDecorrenza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_1</name>
        <label>AssegnaValori</label>
        <locationX>1704</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>GetCaseNonBozza.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCaseNonBozza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated</name>
        <label>AssegnaValoriRelated</label>
        <locationX>50</locationX>
        <locationY>2169</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annullato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>314</locationX>
        <locationY>2289</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>578</locationX>
        <locationY>2169</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annullamento - Da inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.CancellationReasonDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revoca risoluzione per pratica errata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.CancellationReasonCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCancellationCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.CancellationRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.CancellationNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedCase.NotCancellable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>851</locationX>
        <locationY>2137</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annullato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annullato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>1105</locationX>
        <locationY>2289</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0_0_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>1405</locationX>
        <locationY>2427</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0_0.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0_0.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0_0_0_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>1655</locationX>
        <locationY>2420</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pratica In Attesa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0_0.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausaleCode_0_0.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriRelated_0_0_0_0_0_0_0</name>
        <label>AssegnaValoriRelated</label>
        <locationX>1253</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annullamento - Da inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.CancellationReasonDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revoca risoluzione per pratica errata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.CancellationReasonCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderCancellationCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.CancellationRequestDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.CancellationNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetRelatedOrder.NotCancellable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>1106</locationX>
        <locationY>753</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.draft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.draft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Order</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0</name>
        <label>Avanzamento</label>
        <locationX>1101</locationX>
        <locationY>1519</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annulla_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annullamento_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_in_Bozza</name>
        <label>Case in Bozza?</label>
        <locationX>1585</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Input_Dati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResumeFromDraft_0</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Order</name>
        <label>Case/Order?</label>
        <locationX>1089</locationX>
        <locationY>856</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.objName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedRecord</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.objName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedRecord_0</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Order_0</name>
        <label>Case/Order?</label>
        <locationX>1238</locationX>
        <locationY>1809</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Case_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.objName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseAggiornato.RelatedCase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedCase</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Order_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>hdtGenericTableFlow.objName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCaseAggiornato.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedOrder</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>CodiceContrattoNullo</name>
        <label>CodiceContrattoNullo?</label>
        <locationX>1228</locationX>
        <locationY>1048</locationY>
        <defaultConnector>
            <targetReference>GetContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Nullo</defaultConnectorLabel>
        <rules>
            <name>Nullo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedRecord_0.SapContractCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori_0</targetReference>
            </connector>
            <label>Nullo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Decorrenza_Inferiore</name>
        <label>Data Decorrenza Inferiore?</label>
        <locationX>1502</locationX>
        <locationY>2289</locationY>
        <defaultConnector>
            <targetReference>AssegnaValoriRelated_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Switch Superiore</defaultConnectorLabel>
        <rules>
            <name>Switch_Inferiore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato.EffectiveDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetRelatedOrder.EffectiveDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValoriRelated_0_0_0_0_0</targetReference>
            </connector>
            <label>Switch Inferiore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processo_Compatibile</name>
        <label>Processo Compatibile?</label>
        <locationX>1492</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Case_Order_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compatibile</defaultConnectorLabel>
        <rules>
            <name>Non_Compatibile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCompatibile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCompatibile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Non Compatibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResumeFromDraft_0</name>
        <label>ResumeFromDraft?</label>
        <locationX>1448</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>AssegnaDataDecorrenza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi</defaultConnectorLabel>
        <rules>
            <name>Nuovo</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputCase.RelatedCase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seleziona_Correlata</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stato_Record_Correlato</name>
        <label>Stato Record Correlato</label>
        <locationX>314</locationX>
        <locationY>2049</locationY>
        <defaultConnector>
            <targetReference>AssegnaValoriRelated_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annullamento</defaultConnectorLabel>
        <rules>
            <name>Non_Inviato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.HerokuPracticeCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValoriRelated</targetReference>
            </connector>
            <label>Non Inviato</label>
        </rules>
        <rules>
            <name>Completato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completata</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCausaleCode</targetReference>
            </connector>
            <label>Completato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stato_Record_Correlato_0</name>
        <label>Stato Record Correlato</label>
        <locationX>1370</locationX>
        <locationY>2049</locationY>
        <defaultConnector>
            <targetReference>AssegnaValoriRelated_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annullamento</defaultConnectorLabel>
        <rules>
            <name>Non_Inviato_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOrder.HerokuPracticeCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValoriRelated_0_0_0</targetReference>
            </connector>
            <label>Non Inviato</label>
        </rules>
        <rules>
            <name>Completato_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOrder.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completata</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Ele</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Gas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCausaleCode_0</targetReference>
            </connector>
            <label>Completato</label>
        </rules>
        <rules>
            <name>Switch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Ele</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Gas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedOrder.ProcessType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switch in Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCausaleCode_0_0</targetReference>
            </connector>
            <label>Switch</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseCancellationCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
       OR({!GetRelatedCase.CommodityFormula__c} = &quot;Gas&quot;,
                TEXT({!GetRelatedCase.Type}) = &quot;Risoluzione Punto Sospeso&quot;,
                TEXT({!GetRelatedCase.Type}) = &quot;Risoluzione No Sospensione&quot;,
                 TEXT({!GetRelatedCase.Type}) = &quot;Recesso per Altri Motivi&quot;,
                 TEXT({!GetRelatedCase.Type}) = &quot;Recesso per Rifiuto Voltura&quot;,
                 TEXT({!GetRelatedCase.Type}) = &quot;Risoluzione No Disalimentabile&quot;
     ),&quot;SG04&quot;,&quot;SW07&quot;)</expression>
    </formulas>
    <formulas>
        <name>EffectiveDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
     DAY({!$Flow.CurrentDate}) &lt;= 10, 
     IF(
        MONTH({!$Flow.CurrentDate} ) = 12,
        DATE( YEAR( {!$Flow.CurrentDate}), 12, 31 ),
        DATE( YEAR( {!$Flow.CurrentDate} ), MONTH ( {!$Flow.CurrentDate}) + 1, 1 ) - 1 
      ),
     IF(
        MONTH({!NextMonthDate}) = 12,
        DATE( YEAR( {!NextMonthDate}), 12, 31 ),
        DATE( YEAR( {!NextMonthDate}), MONTH ( {!NextMonthDate}) + 1, 1 ) - 1 
       )
)</expression>
    </formulas>
    <formulas>
        <name>NextMonthDate</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR({!$Flow.CurrentDate}), MONTH({!$Flow.CurrentDate}) + 1, DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>OrderAccise</name>
        <dataType>String</dataType>
        <expression>IF({!GetRelatedRecord_0.Commodity__c} = &quot;Energia Elettrica&quot;, TEXT({!GetRelatedRecord_0.ExciseEle__c}), TEXT({!GetRelatedRecord_0.ExciseGAS__c}))</expression>
    </formulas>
    <formulas>
        <name>OrderCancellationCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
     OR({!GetRelatedOrder.Commodity__c} = &quot;Gas&quot;,
              TEXT({!GetRelatedOrder.ProcessType__c}) = &quot;Switch in Gas&quot;,
              TEXT({!GetRelatedOrder.ProcessType__c}) = &quot;Voltura&quot;
  ),&quot;SG04&quot;,&quot;SW07&quot;)</expression>
    </formulas>
    <formulas>
        <name>PreviousButtonFormula</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!ResumeFromDraft})</expression>
    </formulas>
    <interviewLabel>Gestione Contratto Non Richiesto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Contratto Non Richiesto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>1246</locationX>
        <locationY>1603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compatibilita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseNonBozza</name>
        <label>GetCaseNonBozza</label>
        <locationX>1705</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCausaleCode</name>
        <label>GetCausaleCode</label>
        <locationX>314</locationX>
        <locationY>2169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValoriRelated_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCausaleCode_0</name>
        <label>GetCausaleCode</label>
        <locationX>1106</locationX>
        <locationY>2169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValoriRelated_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCausaleCode_0_0</name>
        <label>GetCausaleCode</label>
        <locationX>1502</locationX>
        <locationY>2169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Data_Decorrenza_Inferiore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>1319</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_Variabili_Contratto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedRecord_0.SapContractCode__c</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>OrderContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetInputCase</name>
        <label>GetInputCase</label>
        <locationX>1591</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_in_Bozza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedCase</name>
        <label>GetRelatedCase</label>
        <locationX>314</locationX>
        <locationY>1929</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stato_Record_Correlato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.RelatedCase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOrder</name>
        <label>GetRelatedOrder</label>
        <locationX>1370</locationX>
        <locationY>1929</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stato_Record_Correlato_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedRecord</name>
        <label>GetRelatedRecord</label>
        <locationX>842</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hdtGenericTableFlow.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedRecord_0</name>
        <label>GetRelatedRecord</label>
        <locationX>1106</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CodiceContrattoNullo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hdtGenericTableFlow.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>1458</locationX>
        <locationY>2790</locationY>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCaseCollection</name>
        <label>AggiornaCaseCollection</label>
        <locationX>314</locationX>
        <locationY>2625</locationY>
        <inputReference>CaseCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCaseNonBozza</name>
        <label>AggiornaCaseNonBozza</label>
        <locationX>1707</locationX>
        <locationY>808</locationY>
        <inputReference>GetCaseNonBozza</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaInputCase</name>
        <label>AggiornaInputCase</label>
        <locationX>1106</locationX>
        <locationY>1329</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaOrder</name>
        <label>AggiornaOrder</label>
        <locationX>1022</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
        <inputReference>GetRelatedOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1367</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Errore!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Richiesta non correttamente selezionata. Tornare indietro e ripetere la procedura; se il problema dovesse persistere contattare l&apos;amministratore di sistema&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen</label>
        <locationX>1722</locationX>
        <locationY>1939</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Errore!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Richiesta non correttamente selezionata. Tornare indietro e ripetere la procedura; se il problema dovesse persistere contattare l&apos;amministratore di sistema&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Dati</name>
        <label>Input Dati</label>
        <locationX>1708</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCaseNonBozza</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Contratto Non Richiesto - Riepilogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Inserimento Dati</label>
        <locationX>1572</locationX>
        <locationY>1395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <elementReference>PreviousButtonFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>GetInputCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seleziona_Correlata</name>
        <label>Seleziona Correlata</label>
        <locationX>1106</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Selezionare la richiesta di riferimento&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtGenericTableFlow</name>
            <extensionName>c:hdtGenericTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelCancelButton</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelect</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchKey</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>GetInputCase.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableName</name>
                <value>
                    <stringValue>Prova</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1465</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetInputCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annullamento_Prestazione_0</name>
        <label>Annullamento Prestazione</label>
        <locationX>401</locationX>
        <locationY>1119</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>GetInputCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Compatibilita</name>
        <label>Compatibilita</label>
        <locationX>1392</locationX>
        <locationY>1602</locationY>
        <connector>
            <targetReference>Processo_Compatibile</targetReference>
        </connector>
        <flowName>HDT_FL_SubFlowCompatibility</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>GetCaseAggiornato.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsCompatibile</assignToReference>
            <name>IsCompatible</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCompatibile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OrderContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
