force-app/main/default/flows/HDT_FL_ActivitySetStartDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_activity_start_date</name>
        <label>Imposta Data Inizio Attività</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityStartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>now</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ExistRecord</name>
        <label>ExistRecord?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>set_activity_start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAutomationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Activity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activity - Popola Data Inizio Attività</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAutomationRecord</name>
        <label>GetAutomationRecord</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistRecord</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND (4 AND 5 ) AND 6</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_FL_ActivitySetStartDate</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </filters>
        <filters>
            <field>SkipUsernames__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BEFORE_INSERT</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipEvents__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>*</stringValue>
            </value>
        </filters>
        <filters>
            <field>SkipDueDateTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_AutomationToggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAutomationRecord</targetReference>
        </connector>
        <object>wrts_prcgvr__Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
