force-app/main/default/flows/HDT_FL_ActivityForwardToAgency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>go_to_new_activity_acton</name>
        <label>Vai a Nuova Attività</label>
        <locationX>1272</locationX>
        <locationY>2846</locationY>
        <actionName>c:HDT_LCP_RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>forwarding_activity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_activities_to_lists_assignment</name>
        <label>Aggiungi Attività a Liste</label>
        <locationX>1184</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>activities_to_insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forwarding_activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activities_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parent_activity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>activities_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_recordId_to_list_assignment</name>
        <label>Aggiungi RecordId a Lista</label>
        <locationX>832</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>forwarding_activity_set</name>
        <label>Compila Attività di Inoltro</label>
        <locationX>1184</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>forwarding_activity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestione Agenzia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.ParentActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activities_loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_get.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>note_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>suspend_parent_activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>id_save_assignment</name>
        <label>Salva ID</label>
        <locationX>1360</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>forwarding_activity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_created_activity_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>select_created_activity_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>suspend_parent_activity</name>
        <label>Sospendi Attività Madre</label>
        <locationX>1184</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>parent_activity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activities_loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_activity.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sospesa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_activities_to_lists_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>massive_forwarding_decision</name>
        <label>Inoltro Massivo?</label>
        <locationX>1096</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>select_created_activity_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>massive_forwarding_yes_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>massive_operation_decision</name>
        <label>Operazione Massiva?</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>permissionset_get</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>massive_operation_no_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_recordId_to_list_assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>record_selected_decision</name>
        <label>Record Selezionati?</label>
        <locationX>1184</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>empty_selection_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>record_selected_yes_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insert_note</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_is_supervisor_decision</name>
        <label>L&apos;Utente è Supervisore?</label>
        <locationX>1360</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>unauthorized_user_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>user_is_supervisor_yes_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>permissionset_assignment_get</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>record_selected_decision</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>Activity - Inoltro ad Agenzia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activity - Inoltro ad Agenzia</label>
    <loops>
        <name>activities_loop</name>
        <label>Loop su Attività</label>
        <locationX>1096</locationX>
        <locationY>1574</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>forwarding_activity_set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>forwarding_activity_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>select_created_activity_loop</name>
        <label>Seleziona Attività Creata</label>
        <locationX>1272</locationX>
        <locationY>2510</locationY>
        <collectionReference>activities_to_insert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>id_save_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>go_to_new_activity_acton</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>forwarding_activity_create</name>
        <label>Crea Attività di Inoltro</label>
        <locationX>1096</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>suspend_parent_activities</targetReference>
        </connector>
        <inputReference>activities_to_insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>permissionset_assignment_get</name>
        <label>Permission Set Assignment</label>
        <locationX>1360</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>user_is_supervisor_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionset_get.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>permissionset_get</name>
        <label>Permission Set</label>
        <locationX>1360</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>permissionset_assignment_get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_OmniSupervisorPermissionSet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recordtype_get</name>
        <label>RecordType</label>
        <locationX>1096</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>activities_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wrts_prcgvr__Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>suspend_parent_activities</name>
        <label>Sospendi Attività Inoltrate</label>
        <locationX>1096</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>massive_forwarding_decision</targetReference>
        </connector>
        <inputReference>activities_to_update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>empty_selection_screen</name>
        <label>Screen - Selezione Vuota</label>
        <locationX>1272</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>empty_selection_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(56, 56, 56);&quot;&gt;ATTENZIONE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(56, 56, 56);&quot;&gt;Nessun record selezionato.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>insert_note</name>
        <label>Inserisci Note</label>
        <locationX>1096</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordtype_get</targetReference>
        </connector>
        <fields>
            <name>note_input</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>unauthorized_user_screen</name>
        <label>Screen - Utente non Autorizzato</label>
        <locationX>1536</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>unauthorized_user_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(56, 56, 56); font-size: 18px;&quot;&gt;ATTENZIONE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(56, 56, 56); font-size: 14px;&quot;&gt;L&apos;utente non è autorizzato a usare questa funzionalità.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>massive_operation_decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activities_to_insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>activities_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>forwarding_activity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_activity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
