force-app/main/default/flows/HDT_FL_GestioneReclami_ReclamoScrittoDaCittadinoDue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calculate_Expiration_Date</name>
        <label>Calculate Expiration Date</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <actionName>HDT_UTL_Case</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignExpirationDate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cluster</name>
            <value>
                <stringValue>Reclami</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentCase</name>
            <value>
                <elementReference>GetInputCaseAggiornato</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>calculateExpirationDate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesCompany</name>
            <value>
                <elementReference>SupplyCityFormula</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assegna_Process_Type_0</name>
        <label>Assegna Process Type</label>
        <locationX>468</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamo Cittadino Seconda Classificazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Seconda_Classificazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.CorrectionRight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rimuovi_Link_Reiterazione_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_2</name>
        <label>AssegnaValori</label>
        <locationX>182</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoSecondaClassificazione.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoSecondaClassificazione.ChangePhaseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriActivity</name>
        <label>AssegnaValoriActivity</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Get_Activity.ActivityEndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.ClosedByUsername__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.wrts_prcgvr__IsClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.UserCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.UserCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.ClosingCreatorGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CreatorGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.ClosingUserChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.LoginChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Activity.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chiusa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Attivita</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignExpirationDate</name>
        <label>AssignExpirationDate</label>
        <locationX>336</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.AmountToPayInInstallments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Expiration_Date.AmountToPayInInstallments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Expiration_Date.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.CompletedDocumentationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Expiration_Date.CompletedDocumentationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.DepositExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Expiration_Date.DepositExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.DepositAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Expiration_Date.DepositAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Diritto_Rettifica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rimuovi_Link_Reiterazione_0</name>
        <label>Rimuovi Link Reiterazione</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.RelatedCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornato.IsReiteration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankValue</name>
        <choiceText>Nessuna Classificazione Selezionata</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Conferma</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confermare</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonConfermare</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Confermare</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>743</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Annulla_Prestazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_00.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_00.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInputCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0_0</name>
        <label>Avanzamento</label>
        <locationX>468</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Annulla_Prestazione_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annulla</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornatoSecondaClassificazione</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blocco_Sollecito_0</name>
        <label>Blocco Sollecito? (Fixare al completamento della build DM)</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Get_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Blocco</defaultConnectorLabel>
        <rules>
            <name>Blocco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornatoSecondaClassificazione.ReminderBlock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivityBloccoSollecito</targetReference>
            </connector>
            <label>Blocco</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diritto_Rettifica</name>
        <label>Diritto Rettifica?</label>
        <locationX>468</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Rimuovi_Link_Reiterazione_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Diritto alla Rettifica</defaultConnectorLabel>
        <rules>
            <name>Diritto_alla_Rettifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCaseAggiornato.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rettifica Doppia Fatturazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori</targetReference>
            </connector>
            <label>Diritto alla Rettifica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riclassificato</name>
        <label>Riclassificato?</label>
        <locationX>468</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Diritto_Rettifica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetInputCaseAggiornato.FirstLevelComplaintClassification__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Expiration_Date</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PrimoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FirstLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuartoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FourthLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuintoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FithLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SecondoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SecondLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TerzoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ThirdLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ParentCaseFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetInputCaseAggiornato.ParentId}),{!GetInputCaseAggiornato.RelatedCase__r.ParentId},{!GetInputCaseAggiornato.ParentId} )</expression>
    </formulas>
    <formulas>
        <name>SupplyCityFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetInputCaseAggiornato.SupplyCity__c}), {!GetInputCaseAggiornato.ServicePoint__r.SupplyCity__c},{!GetInputCaseAggiornato.SupplyCity__c})</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestioneReclami_ReclamoScrittoDaCittadinoDue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_GestioneReclami_ReclamoScrittoDaCittadinoDue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Activity_Blocco_Sollecito</name>
        <label>Crea Activity Blocco Sollecito</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Get_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>GetCaseAggiornatoSecondaClassificazione.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>GetActivityBloccoSollecito.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__ActivityTemplate__c</field>
            <value>
                <elementReference>GetActivityBloccoSollecito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <stringValue>Creare e Risolvere Case di Blocco Sollecito</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Activity</name>
        <label>Get Activity</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValoriActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In gestione</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>743</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Classificazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActivityBloccoSollecito</name>
        <label>Get Activity Blocco Sollecito</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Activity_Blocco_Sollecito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocco Sollecito</stringValue>
            </value>
        </filters>
        <filters>
            <field>wrts_prcgvr__ObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__ActivityTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoSecondaClassificazione</name>
        <label>GetCaseAggiornatoSecondaClassificazione</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blocco_Sollecito_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCaseAggiornato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInputCaseAggiornato</name>
        <label>GetInputCaseAggiornato</label>
        <locationX>468</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Riclassificato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Attivita</name>
        <label>Aggiorna Attivita</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>AssegnaValori_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AssegnaValori_2</targetReference>
        </faultConnector>
        <inputReference>Get_Activity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>182</locationX>
        <locationY>3086</locationY>
        <inputReference>GetCaseAggiornatoSecondaClassificazione</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0</name>
        <label>AggiornaCase</label>
        <locationX>468</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Assegna_Process_Type_0</targetReference>
        </connector>
        <inputReference>GetInputCaseAggiornato</inputReference>
    </recordUpdates>
    <screens>
        <name>Controllo_Classificazione</name>
        <label>Controllo Classificazione</label>
        <locationX>743</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Ricontrolla la Classificazione del Case&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_00</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>RiclassificazioneDaCittadino</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Seconda_Classificazione</name>
        <label>Screen Seconda Classificazione</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCaseAggiornato.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCaseAggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annulla_Prestazione</name>
        <label>Annulla Prestazione</label>
        <locationX>1018</locationX>
        <locationY>518</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Reclamo da cittadino</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0_0_0</name>
        <label>Annulla Prestazione</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Reclamo da cittadino</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetInputCaseAggiornato.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseReiterazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContenitore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsReiterato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
