force-app/main/default/flows/HDT_FL_ModificaContrattoInPreAttivazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignOutput</name>
        <label>AssignOutput</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Field_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOutput_0</name>
        <label>AssignOutput</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>pod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pod_Pdr</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOutput_0_0</name>
        <label>AssignOutput</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Field_Form_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>headerOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Header_0</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>BollettaFatturazione</name>
        <choiceText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Modifica modalità di invio bolletta e indirizzo di fatturazione.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ContrattoAnagrafica</name>
        <choiceText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Modifica dati contratto/dati anagrafici&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ModalitaPagamento</name>
        <choiceText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Modifica modalità di pagamento&lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>PagamentoFatturazione</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Modifica modalità di pagamento e fatturazione&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <decisions>
        <description>Se case id null, il contratto non è presente e va prima creato</description>
        <name>CaseId_Present</name>
        <label>CaseId Present</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>SelPod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selezione POD</defaultConnectorLabel>
        <rules>
            <name>Retrieve_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRecived</targetReference>
            </connector>
            <label>Retrieve Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Innesco_da_Lead</name>
        <label>Innesco da Lead?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Selezione_Modifiche_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecived.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selezione_Modifiche</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_Field_Form</name>
        <dataType>String</dataType>
        <expression>&quot;Modifica Contr Preattivazione&quot; &amp; CASE({!Modifiche_Desiderate_0}, 1, IF({!CaseRecived.Account.RecordType.DeveloperName}=&quot;HDT_RT_Residenziale&quot;, &quot; Anagr Res&quot;, &quot; Anagr Non Res&quot;), 2, 
IF({!CaseRecived.Account.RecordType.DeveloperName}=&quot;HDT_RT_Residenziale&quot;, &quot; Pagamento Residenziale&quot;, &quot; Pagamento Non Residenziale&quot;), 3, &quot; Bolletta&quot;, 4, &quot; Pagamento e Fatturazione&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Field_Form_0</name>
        <dataType>String</dataType>
        <expression>&quot;Modifica Contr Preattivazione&quot; &amp; CASE({!Modifiche_Desiderate_0_0}, 1, IF({!CaseRecived.Account.RecordType.DeveloperName}=&quot;HDT_RT_Residenziale&quot;, &quot; Anagr Res&quot;, &quot; Anagr Non Res&quot;), 2, 
IF({!CaseRecived.Account.RecordType.DeveloperName}=&quot;HDT_RT_Residenziale&quot;, &quot; Pagamento Residenziale&quot;, &quot; Pagamento Non Residenziale&quot;), 3, &quot; Bolletta&quot;, 4, &quot; Pagamento e Fatturazione&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Header</name>
        <dataType>String</dataType>
        <expression>CASE({!Modifiche_Desiderate_0}, 1, &quot; Modifica dati contratto/dati anagrafici&quot;, 2, 
&quot;Modifica modalità di pagamento&quot;, 3, &quot; Modifica modalità di invio bolletta e indirizzo di fatturazione&quot;, 4, &quot;Modifica modalità di pagamento e fatturazione&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Header_0</name>
        <dataType>String</dataType>
        <expression>CASE({!Modifiche_Desiderate_0_0}, 1, &quot; Modifica dati contratto/dati anagrafici&quot;, 2, 
&quot;Modifica modalità di pagamento&quot;, 3, &quot; Modifica modalità di invio bolletta e indirizzo di fatturazione&quot;, 4, &quot;Modifica modalità di pagamento e fatturazione&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>HDT_FL_ModificaContrattoInPreAttivazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_ModificaContrattoInPreAttivazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CaseRecived</name>
        <label>CaseRecived</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Innesco_da_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>AssignOutput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Formula_Field_Form</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase_0</name>
        <label>UpdateCase</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>AssignOutput_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Formula_Field_Form_0</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Selezione_Modifiche</name>
        <label>Selezione Modifiche</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <fields>
            <name>Selezione_Modifiche_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selezione_Modifiche_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Modifiche_Desiderate_0</name>
                    <choiceReferences>ContrattoAnagrafica</choiceReferences>
                    <choiceReferences>PagamentoFatturazione</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Tipo Modifica:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selezione_Modifiche_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selezione_Modifiche_0</name>
        <label>Selezione Modifiche</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCase_0</targetReference>
        </connector>
        <fields>
            <name>Selezione_Modifiche_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selezione_Modifiche_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Modifiche_Desiderate_0_0</name>
                    <choiceReferences>ContrattoAnagrafica</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Tipo Modifica:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selezione_Modifiche_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelPod</name>
        <label>SelPod</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignOutput_0</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Inserire Punto di Fornitura&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelPod_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelPod_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pod_Pdr</name>
                    <dataType>String</dataType>
                    <fieldText>Pod/Pdr</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Il pod/pdr contiene 14 caratteri&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Pod_Pdr})=14</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelPod_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseId_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>headerOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>pod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
