force-app/main/default/flows/HDT_FL_PostSalesMasterDispatchSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assegna_Case_Id_0_0_0_0_0_0</name>
        <label>Assegna Case Id</label>
        <locationX>138</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Case_1_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Case_Id</name>
        <label>assign Case Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertIdTo18</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCaseToRestore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ProcessType</name>
        <label>set ProcessType</label>
        <locationX>402</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCaseToRestore.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inserimento_Dati_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ModificaDatiContattoChoice</name>
        <choiceText>Modifica Dati di Contatto (Telefono, Email, PEC, Fax, Marcatura)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica Dati di Contatto</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModificaDatiFiscaliChoice</name>
        <choiceText>Modifica Dati Fiscali (Nome, Cognome/Ragione sociale, Codice Fiscale, Partita IVA, Indirizzo Residenza/Sede legale)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica Dati Fiscali</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModificaDatiRecapitoChoice</name>
        <choiceText>Modifica Dati di Recapito (Modalità Invio Bolletta, Recapito Invio Bolletta, Fatturazione Elettronica)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica Dati di Recapito</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModificaDatiRecapitoVotivaModenaChoice</name>
        <choiceText>Modifica Dati di Recapito su Votiva Modena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifica Dati di Recapito Votiva Modena</stringValue>
        </value>
    </choices>
    <choices>
        <name>VariazioneGruppoIVAChoice</name>
        <choiceText>Variazione Gruppo IVA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Variazione Gruppo IVA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Next_Step</name>
        <label>Next Step?</label>
        <locationX>490</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Set_Fase_in_lavorazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Cancel_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Save_In_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseToDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva In Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>RiprendiProcesso</name>
        <label>Riprendi Processo</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Get_RT_VotiveModena</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Crea Processo</defaultConnectorLabel>
        <rules>
            <name>Riprendi_Processo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RipristinaFase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserimento_Dati_Votiva</targetReference>
            </connector>
            <label>Riprendi Processo</label>
        </rules>
    </decisions>
    <decisions>
        <name>RiprendiProcesso_0</name>
        <label>Riprendi Processo</label>
        <locationX>534</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Screen_Selezione_Fornitura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Crea Processo</defaultConnectorLabel>
        <rules>
            <name>Riprendi_Processo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RipristinaFase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_ProcessType</targetReference>
            </connector>
            <label>Riprendi Processo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ripristina_Fase</name>
        <label>Ripristina Fase?</label>
        <locationX>490</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Cerca_Contatto_Primario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Ripristinare Fase</defaultConnectorLabel>
        <rules>
            <name>RipristinaFase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ripristina Fase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Case_Id</targetReference>
            </connector>
            <label>Ripristina Fase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Subflow</name>
        <label>Switch Subflow</label>
        <locationX>490</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Votive_Modena</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_VotiveModena</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Votive_Resume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RiprendiProcesso</targetReference>
            </connector>
            <label>Votive Modena</label>
        </rules>
        <rules>
            <name>Modifica_Contratto_Preattivazione</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica Contratto Preattivazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Modifica_Contr_Resume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RiprendiProcesso_0</targetReference>
            </connector>
            <label>Modifica Contratto Preattivazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Process_To_Go_Back</name>
        <label>Which Process To Go Back</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Switch_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Votive_Resume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToRestore.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDT_RT_VotiveModena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Subflow</targetReference>
            </connector>
            <label>Votive Resume</label>
        </rules>
        <rules>
            <name>Modifica_Contr_Resume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseToRestore.Type</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Modifica Contr Preattivazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Subflow</targetReference>
            </connector>
            <label>Modifica Contr Resume</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcolo_Iban_ModificaContratto</name>
        <dataType>String</dataType>
        <expression>{!Order_preattivazione.IbanCountry__c} &amp; {!Order_preattivazione.IbanCIN_IBAN__c} &amp; {!Order_preattivazione.IbanCIN__c} &amp; 
{!Order_preattivazione.IbanABI__c} &amp; {!Order_preattivazione.IbanCAB__c} &amp; {!Order_preattivazione.IbanCodeNumber__c}</expression>
    </formulas>
    <formulas>
        <name>convertIdTo18</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!AccountId})=15, CASESAFEID({!AccountId}), {!AccountId})</expression>
    </formulas>
    <formulas>
        <name>votiveModenaCluster</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!ProcessType}, &quot;Votive Modena Contestazione Fattura&quot;), 
     &quot;Reclami&quot;,
      IF(CONTAINS({!ProcessType}, &quot;Spostamento Votive Modena&quot;),&quot;Preventivi&quot;,
      IF(CONTAINS({!ProcessType}, &quot;Votive Modena Pagamenti Morosità&quot;),&quot;Morosità&quot;,
      IF(CONTAINS({!ProcessType}, &quot;Votive Modena Cessazione&quot;),&quot;Disattivazioni&quot;,&quot;&quot;
)
)
)
)</expression>
    </formulas>
    <interviewLabel>PostSales Master Dispatch Sales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PostSales Master Dispatch Sales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Case_1_0</name>
        <label>Crea Case</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assegna_Case_Id_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <stringValue>Generiche Attivazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyOwner__c</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Account.CompanyOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_VotiveModena.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>ProcessType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Case_1_0_0</name>
        <label>Crea Case</label>
        <locationX>666</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Order_Fill_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <stringValue>Generiche Attivazioni</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyOwner__c</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Account.CompanyOwner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>SelForniture.ordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Generiche.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicePoint__c</field>
            <value>
                <elementReference>Order_preattivazione.ServicePoint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Cerca_Contatto_Primario.Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Cerca_Contatto_Primario</name>
        <label>Cerca Contatto Primario</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Generiche</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsDirect</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Titolare</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Fatturazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Generiche</name>
        <label>Get RT Generiche</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_VotiveModena</name>
        <label>Get RT Votive Modena</label>
        <locationX>138</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Case_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseToRestore</name>
        <label>getCase To Restore</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Process_To_Go_Back</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_preattivazione</name>
        <label>Order preattivazione</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Case_1_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelForniture.ordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Order_Fill_Case</name>
        <label>Order Fill Case</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Contratto_Preattivazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountholderTypeBeneficiary__c</field>
            <value>
                <elementReference>Order_preattivazione.AccountholderTypeBeneficiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryFirstName__c</field>
            <value>
                <elementReference>Order_preattivazione.BankAccountSignatoryFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryFiscalCode__c</field>
            <value>
                <elementReference>Order_preattivazione.BankAccountSignatoryFiscalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryLastName__c</field>
            <value>
                <elementReference>Order_preattivazione.BankAccountSignatoryLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillSendingMethod__c</field>
            <value>
                <elementReference>Order_preattivazione.BillSendMode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingProfile__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingProfile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Order_preattivazione.DivergentSubject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentPaymentMethod__c</field>
            <value>
                <elementReference>Order_preattivazione.PaymentMode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ElectronicInvoiceCertifiedEmailAddress__c</field>
            <value>
                <elementReference>Order_preattivazione.InvoiceCertifiedEmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ElectronicInvoicingMethod__c</field>
            <value>
                <elementReference>Order_preattivazione.ElectronicInvoicingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>Order_preattivazione.Account.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FiscalCode__c</field>
            <value>
                <elementReference>Order_preattivazione.Account.FiscalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanABI__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanABI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCAB__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanCAB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCIN_IBAN__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanCIN_IBAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCIN__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanCIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCodeNumber__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanCodeNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanIsForeign__c</field>
            <value>
                <elementReference>Order_preattivazione.IbanIsForeign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Iban__c</field>
            <value>
                <elementReference>calcolo_Iban_ModificaContratto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceCertifiedEmailAddress__c</field>
            <value>
                <elementReference>Order_preattivazione.InvoiceCertifiedEmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceEmail__c</field>
            <value>
                <elementReference>Order_preattivazione.InvoiceEmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingCityCode__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingCityCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingCity__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingCountry__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingPlace__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingPlace__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingPostalCode__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingProvince__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingStreetName__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingStreetName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoicingStreetNumber__c</field>
            <value>
                <elementReference>Order_preattivazione.BillingStreetNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>Order_preattivazione.Account.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OfficeSubjectCode__c</field>
            <value>
                <elementReference>Order_preattivazione.SubjectCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicePointCode__c</field>
            <value>
                <elementReference>Order_preattivazione.ServicePointCodeFormula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VatNumber__c</field>
            <value>
                <elementReference>Order_preattivazione.Account.VATNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XMLType__c</field>
            <value>
                <elementReference>Order_preattivazione.XMLType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fase_in_lavorazione</name>
        <label>Set Fase in lavorazione</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Indirizzi_Fatturazione</name>
        <label>Update Indirizzi Fatturazione</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Inserimento_Dati_Votiva</targetReference>
        </connector>
        <inputReference>get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen_0</label>
        <locationX>930</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(253, 0, 0);&quot;&gt;Attenzione! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0);&quot;&gt;Si è verificato un errore inaspettato!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0);&quot;&gt;Contatta l&apos;amministratore del sistema.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inserimento_Dati_Case</name>
        <label>Inserimento Dati Case</label>
        <locationX>534</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <fields>
            <name>headerDatiVotiva_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!get_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formModAnag_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelCase</assignToReference>
                <name>cancelCase</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseToDraft</assignToReference>
                <name>saveInDraft</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inserimento_Dati_Votiva</name>
        <label>Inserimento Dati Votiva</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <fields>
            <name>headerDatiVotiva</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!get_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formModAnag_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Votive Modena Attivazioni</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cancelCase</assignToReference>
                <name>cancelCase</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CaseToDraft</assignToReference>
                <name>saveInDraft</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Fatturazione</name>
        <label>Screen Fatturazione</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Indirizzi_Fatturazione</targetReference>
        </connector>
        <fields>
            <name>headerIndirizzoFatt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Seleziona Indirizzo Fatturazione&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>checkAddress</name>
            <extensionName>c:hdtTargetObjectAddressForFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>theCase</name>
                <value>
                    <elementReference>get_Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>get_Case</assignToReference>
                <name>theCase</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Selezione_Fornitura</name>
        <label>Screen Selezione Fornitura</label>
        <locationX>666</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_preattivazione</targetReference>
        </connector>
        <fields>
            <name>SelForniture</name>
            <extensionName>c:hdtSelezioneFornituraFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupOption</name>
                <value>
                    <stringValue>Ordini in corso</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ripristina_Fase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contratto_Preattivazione</name>
        <label>Contratto Preattivazione</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Inserimento_Dati_Case</targetReference>
        </connector>
        <flowName>HDT_FL_ModificaContrattoInPreAttivazione</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProcessType</assignToReference>
            <name>ProcessType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento_Subflow</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>226</locationX>
        <locationY>2222</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordToCancell</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Account Id passato in input dal Service Catalog</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billingProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancelCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseToDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Commodity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Context</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createDocuments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deleteCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContenitore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Tipo processo passato in input dal Service Catalog</description>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordToCancell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeCalculated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeModificaAnagrafica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nome del Record Type</description>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCatalogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicePointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectRecordToCancell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
