force-app/main/default/flows/HDT_FL_GestioneVerifiche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Amount_Quote</name>
        <label>Get Amount Quote</label>
        <locationX>688</locationX>
        <locationY>446</locationY>
        <actionName>HDT_UTL_AmountQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Aggiorna_Amount</targetReference>
        </connector>
        <inputParameters>
            <name>caliber</name>
            <value>
                <elementReference>Get_Case.CaliberAvailable__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>Get_Case.AddressFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>distributor</name>
            <value>
                <elementReference>Get_Case.DistributorFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasCorrector</name>
            <value>
                <elementReference>Get_Case.ExistCorrector__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>market</name>
            <value>
                <elementReference>Get_Case.Market__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Quote_Management</name>
        <label>Quote Management</label>
        <locationX>446</locationX>
        <locationY>1262</locationY>
        <actionName>HDT_UTL_QuoteManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_trovata</targetReference>
        </connector>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>Get_Case.Commodity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationtype</name>
            <value>
                <elementReference>Get_Case.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <stringValue>Verifiche</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assenga_Process_Type</name>
        <label>Assenga Process Type</label>
        <locationX>556</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche EE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0</name>
        <label>Assenga Process Type</label>
        <locationX>820</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche Gas</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0_0</name>
        <label>Assenga Process Type</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche EE Modifica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0_0_0</name>
        <label>Assenga Process Type</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche Gas Modifica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Energia_Elettrica_o_Gas</name>
        <label>Energia Elettrica o Gas?</label>
        <locationX>688</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Assenga_Process_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gas</defaultConnectorLabel>
        <rules>
            <name>Energia_Elettrica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assenga_Process_Type</targetReference>
            </connector>
            <label>Energia Elettrica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energia_Elettrica_o_Gas_0</name>
        <label>Energia Elettrica o Gas?</label>
        <locationX>1326</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Assenga_Process_Type_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gas</defaultConnectorLabel>
        <rules>
            <name>Energia_Elettrica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assenga_Process_Type_0_0</targetReference>
            </connector>
            <label>Energia Elettrica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>1006</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Energia_Elettrica_o_Gas_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Solo Correzione dati</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Amount_Quote</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_trovata</name>
        <label>Quote trovata?</label>
        <locationX>200</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>Regola_non_trovata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovata</defaultConnectorLabel>
        <rules>
            <name>Trovata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Management</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Conferma_Case</targetReference>
            </connector>
            <label>Trovata</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozza_o_Conferma</name>
        <label>SalvaInBozza o Conferma?</label>
        <locationX>688</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Management</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <description>Flow per la gestione delle verifiche</description>
    <formulas>
        <name>DemoEntitlementName</name>
        <dataType>String</dataType>
        <expression>&quot;Entitlement - &quot; &amp; TEXT( NOW() ) &amp; &quot; - &quot; &amp; {!Get_Case.CaseNumber}</expression>
    </formulas>
    <interviewLabel>HDT_FL_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_GestioneVerifiche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1007</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Il_Case_in_Bozza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Amount</name>
        <label>Aggiorna Amount</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Energia_Elettrica_o_Gas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_Amount_Quote.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Conferma_Case</name>
        <label>Aggiorna Fase in Inviare Preventivo</label>
        <locationX>208</locationX>
        <locationY>1472</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CausalCode__c</field>
            <value>
                <elementReference>Quote_Management.CausalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperationCode__c</field>
            <value>
                <elementReference>Quote_Management.OperationCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Inviare preventivo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteType__c</field>
            <value>
                <elementReference>Quote_Management.QuoteType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>LWC_hdtRecordEditForm</name>
        <label>LWC hdtRecordEditForm</label>
        <locationX>688</locationX>
        <locationY>1022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>Intestazione</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>auto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Regola_non_trovata</name>
        <label>Regola non trovata</label>
        <locationX>421</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </connector>
        <fields>
            <name>RuleNotFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Attenzione nessuna regola di preventivo trovata!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Si prega di modificare i dati precedentemente inseriti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Intestazione_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>auto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Fine</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveOrConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
