force-app/main/default/flows/HDT_FL_SocialPostActivityAndCaseHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Inserisco i valori &quot;Social&quot; nel Case del SocialPost e assegno al case il record type &quot;Altre Informative&quot;</description>
        <name>Inserimento_valori_Social_Case_SocialPost</name>
        <label>Inserimento valori Social e Record Type &quot;Altre Informative&quot;</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Case_SocialPost.Cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_SocialPost.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_SocialPost.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Altre_Informative_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_SocialPost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Condizione per verificare che ci siano i valori &quot;Social&quot; nei campi chiamati in causa, ovvero, Cluster e Canale, e verificare che il case abbia il record type &quot;Altre Informative&quot;.</description>
        <name>Ci_sono_valori_Social</name>
        <label>Valori &quot;Social&quot; e Record Type &quot;Altre Informative&quot;?</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Inserimento_valori_Social_Case_SocialPost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Ci_sono_valori_Social_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_SocialPost.Cluster__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_SocialPost.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_SocialPost.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RecordType_Altre_Informative_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>open_activities_get</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>gestione_richiesta_social_activity_exist_decision</name>
        <label>Esiste un&apos;Attività Gestione Richiesta Social?</label>
        <locationX>374</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Creazione_Attivita_Gestione_Richiesta_Social_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>gestione_richiesta_social_activity_exist_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Gestione_Richiesta_Social.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creazione_Attivita_Gestione_Richiesta_Social_0_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>open_activity_exists_decision</name>
        <label>Esiste Activity Aperta?</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Activity_Gestione_Richiesta_Social</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>open_activity_exists_decision_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>open_activities_get.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <interviewLabel>Social Studio - Attività Social Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Social Studio - Gestisci Attività e Case Social Post</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creazione_Attivita_Gestione_Richiesta_Social_0_0</name>
        <label>Creazione Attività Integrazione Richiesta Social</label>
        <locationX>242</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentActivity__c</field>
            <value>
                <elementReference>Activity_Gestione_Richiesta_Social.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Integrazione Richiesta Social</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creazione_Attivita_Gestione_Richiesta_Social_0_0_0</name>
        <label>Creazione Attività Gestione Richiesta Social</label>
        <locationX>506</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Gestione Richiesta Social</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Activity_Gestione_Richiesta_Social</name>
        <label>Activity Gestione Richiesta Social</label>
        <locationX>374</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>gestione_richiesta_social_activity_exist_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestione Richiesta Social</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Ottengo il record del Case correlato al SocialPost</description>
        <name>Case_SocialPost</name>
        <label>Case SocialPost</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Altre_Informative_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cluster__c</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Altre_Informative_0</name>
        <label>Get RecordType Altre Informative</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ci_sono_valori_Social</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_AltreInformative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>open_activities_get</name>
        <label>Attività Aperte</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>open_activity_exists_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aperta</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__Activity__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Aggiorno il case del SocialPost inserendo nei Campi &quot;Cluster&quot; e &quot;Canale&quot; i valori &quot;Social&quot;</description>
        <name>Update_Case_SocialPost</name>
        <label>Update Case SocialPost</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>open_activities_get</targetReference>
        </connector>
        <inputReference>Case_SocialPost</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_SocialPost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SocialPost</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
