force-app/main/default/flows/HDT_FL_ActivityForwardToAgency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>go_to_new_activity_acton</name>
        <label>Vai a Nuova Attività</label>
        <locationX>358</locationX>
        <locationY>2006</locationY>
        <actionName>c:HDT_LCP_RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>forwarding_activity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_activities_to_lists_assignment</name>
        <label>Aggiungi Attività a Liste</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>activities_to_insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forwarding_activity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activities_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parent_activity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>activities_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_recordId_to_list_assignment</name>
        <label>Aggiungi RecordId a Lista</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>activities_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>forwarding_activity_set</name>
        <label>Compila Attività di Inoltro</label>
        <locationX>270</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>forwarding_activity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestione Agenzia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.ParentActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activities_loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_get.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forwarding_activity.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>note_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>suspend_parent_activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>id_save_assignment</name>
        <label>Salva ID</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>forwarding_activity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>select_created_activity_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>select_created_activity_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>suspend_parent_activity</name>
        <label>Sospendi Attività Madre</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>parent_activity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>activities_loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parent_activity.wrts_prcgvr__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sospesa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_activities_to_lists_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>massive_forwarding_decision</name>
        <label>Inoltro Massivo?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>select_created_activity_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>massive_forwarding_yes_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>massive_operation_decision</name>
        <label>Operazione Massiva?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>activities_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>massive_operation_no_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_recordId_to_list_assignment</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Activity - Inoltro ad Agenzia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activity - Inoltro ad Agenzia</label>
    <loops>
        <name>activities_loop</name>
        <label>Loop su Attività</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>forwarding_activity_set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>forwarding_activity_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>select_created_activity_loop</name>
        <label>Seleziona Attività Creata</label>
        <locationX>358</locationX>
        <locationY>1670</locationY>
        <collectionReference>activities_to_insert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>id_save_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>go_to_new_activity_acton</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>forwarding_activity_create</name>
        <label>Crea Attività di Inoltro</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>suspend_parent_activities</targetReference>
        </connector>
        <inputReference>activities_to_insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>recordtype_get</name>
        <label>RecordType</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>massive_operation_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wrts_prcgvr__Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>suspend_parent_activities</name>
        <label>Sospendi Attività Inoltrate</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>massive_forwarding_decision</targetReference>
        </connector>
        <inputReference>activities_to_update</inputReference>
    </recordUpdates>
    <screens>
        <name>insert_note</name>
        <label>Inserisci Note</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordtype_get</targetReference>
        </connector>
        <fields>
            <name>note_input</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>insert_note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activities_to_insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>activities_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>forwarding_activity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_activity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
