force-app/main/default/flows/HDT_FL_GestioneReclami_VerificheDatiAlDl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chiudi_Attivit_0</name>
        <label>Chiudi Attività</label>
        <locationX>1370</locationX>
        <locationY>4934</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Case_Per_Risottomissione_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_a_CaseFlow</name>
        <label>Assegna a CaseFlow</label>
        <locationX>1348</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FlowCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Creato</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processo_Parent_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_a_CaseFlow_0</name>
        <label>Assegna a CaseFlow</label>
        <locationX>1788</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FlowCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Processo_Parent_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_a_CaseFlow_Scarto</name>
        <label>Assegna a CaseFlow</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>FlowCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaEffectiveDate</name>
        <label>AssegnaEffectiveDate</label>
        <locationX>1755</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Flow_Case_Aggiornato.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>aggiornaCase_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaEffectiveDate_0</name>
        <label>AssegnaEffectiveDate</label>
        <locationX>2019</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>aggiornaCase_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>1502</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>GetCaseFinale.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseFinale.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseFinale.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseFinale.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcoloCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DiscardActivity_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0</name>
        <label>AssegnaValori</label>
        <locationX>1194</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtCustomPicklist.outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.CustomerPresence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.ReadingDateDisputed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisputedDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Tipo_di_richiesta_Cliente_Finale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0_0</name>
        <label>AssegnaValori</label>
        <locationX>1491</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.ReadingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadingDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLetture</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_1_0</name>
        <label>AssegnaValori</label>
        <locationX>1436</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Tentativo_Esistente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_1_0_0</name>
        <label>AssegnaValori</label>
        <locationX>1700</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Tentativo_Esistente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriLetture</name>
        <label>AssegnaValoriLetture</label>
        <locationX>1491</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>GetLetture.DisputedMeterValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LetturaContestataGas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLetture.DisputedReadingValue1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContestataF1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLetture.DisputedReadingValue2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContestataF2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLetture.DisputedReadingValue3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContestataF3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaLettura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriParent</name>
        <label>AssegnaValoriParent</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetParentCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sospeso per verifica DL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fase_Case_Reclamo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValoriParent_0</name>
        <label>AssegnaValoriParent</label>
        <locationX>1348</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetParentCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Istruttoria Creata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Fase_Case_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegnazione_Tipo_di_richiesta_Cliente_Finale</name>
        <label>Assegnazione Tipo di richiesta Cliente Finale</label>
        <locationX>1194</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtCustomPicklistM03Ele.outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assegnazione_Tipo_di_richiesta_Cliente_Finale</name>
        <label>Assegnazione Tipo di richiesta Cliente Finale</label>
        <locationX>930</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.EndCustomerRequestType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtCustomPicklist2.outcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Da_Inviare</name>
        <label>Da Inviare</label>
        <locationX>578</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Case_Per_Risottomissione_0</name>
        <label>Init Case Per Risottomissione</label>
        <locationX>1370</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>GetCaseFinale.HerokuPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseFinale.DistributorPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nuovo_Tentativo_SI</name>
        <label>Nuovo Tentativo SI</label>
        <locationX>1436</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>FlowCase.NewAttempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rimuovi_EndDate</name>
        <label>Rimuovi EndDate</label>
        <locationX>578</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Flow_Case_Aggiornato.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M03</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assegna_Tipo_di_richiesta_Cliente_Finale</name>
        <label>Assegna Tipo di richiesta Cliente Finale?</label>
        <locationX>1194</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>AggiornaCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>M03 Gas</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.Subprocess__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Processo M03</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assegnazione_Tipo_di_richiesta_Cliente_Finale</targetReference>
            </connector>
            <label>Non M03</label>
        </rules>
        <rules>
            <name>M03_Ele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processo M03</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegnazione_Tipo_di_richiesta_Cliente_Finale</targetReference>
            </connector>
            <label>M03 Ele</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>1194</locationX>
        <locationY>3230</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Annulla</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6) OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormM01.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM01.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Ele.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Ele.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Gas.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Gas.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)  OR (7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormM01.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM01.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Ele.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Ele.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Gas.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM03Gas.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dati_Tecnici_M03_0_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Nuovo_tentativo</name>
        <label>Check Nuovo tentativo</label>
        <locationX>1568</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primo Tentativo</defaultConnectorLabel>
        <rules>
            <name>Nuovo_Tentativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Tentativo_Esistente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nuovo_Tentativo_SI</targetReference>
            </connector>
            <label>Nuovo Tentativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CommodityDecision</name>
        <label>Servizio?</label>
        <locationX>578</locationX>
        <locationY>3662</locationY>
        <defaultConnectorLabel>No Energy</defaultConnectorLabel>
        <rules>
            <name>EnergiaElettrica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Processo_M03</targetReference>
            </connector>
            <label>Energia Elettrica</label>
        </rules>
        <rules>
            <name>Gas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Processo_M03</targetReference>
            </connector>
            <label>Gas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dati_Tecnici_M03_0</name>
        <label>Dati Tecnici M03?</label>
        <locationX>1304</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>GetCaseFinale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>M01/M02</defaultConnectorLabel>
        <rules>
            <name>M03_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processo M03</stringValue>
                </rightValue>
            </conditions>
            <label>M03</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dati_Tecnici_M03_0_0</name>
        <label>Dati Tecnici M03?</label>
        <locationX>1133</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>M02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>M01/M02</defaultConnectorLabel>
        <rules>
            <name>M03_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processo M03</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rimuovi_EndDate</targetReference>
            </connector>
            <label>M03</label>
        </rules>
    </decisions>
    <decisions>
        <name>DiscardActivity_0</name>
        <label>DiscardActivity</label>
        <locationX>1502</locationX>
        <locationY>4826</locationY>
        <defaultConnector>
            <targetReference>Passa_a_Da_Inviare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attivit_da_scartare_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chiudi_Attivit_0</targetReference>
            </connector>
            <label>Attività da scartare?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fornitura_Cessata_0</name>
        <label>Fornitura Cessata?</label>
        <locationX>1887</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>AssegnaEffectiveDate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Cessato</defaultConnectorLabel>
        <rules>
            <name>Cessato_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Case_Aggiornato.EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaEffectiveDate</targetReference>
            </connector>
            <label>Cessato</label>
        </rules>
    </decisions>
    <decisions>
        <name>M02</name>
        <label>M02?</label>
        <locationX>1689</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Fornitura_Cessata_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>M02</defaultConnectorLabel>
        <rules>
            <name>M02_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Processo M01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Layout</targetReference>
            </connector>
            <label>M01</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processo_Parent_Case</name>
        <label>Processo Parent Case?</label>
        <locationX>1348</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Verifica_Dati_al_DL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reclamo_Scritto_Rich_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo Scritto/Rich. Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValoriParent</targetReference>
            </connector>
            <label>Reclamo Scritto/Rich. Info</label>
        </rules>
        <rules>
            <name>Prescrizione_Fattura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prescrizione Fatture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValoriParent_0</targetReference>
            </connector>
            <label>Prescrizione Fattura</label>
        </rules>
    </decisions>
    <decisions>
        <name>Processo_Parent_Case_0</name>
        <label>Processo Parent Case?</label>
        <locationX>1568</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>AssegnaValori_1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reclamo_Scritto_Rich_Info_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo Scritto/Rich. Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori_1_0</targetReference>
            </connector>
            <label>Reclamo Scritto/Rich. Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Richiesta_Parere_Esterno</name>
        <label>Richiesta Parere Esterno?</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assegna_a_CaseFlow_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stand Alone</defaultConnectorLabel>
        <rules>
            <name>Parere_Esterno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetParentCase</targetReference>
            </connector>
            <label>Parere Esterno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_Bozza_o_Conferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>1689</locationX>
        <locationY>4286</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>hdtSelfReading.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtSelfReading.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dati_Tecnici_M03_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_0</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>hdtSelfReading.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtSelfReading.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormM02.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scarto</name>
        <label>Scarto?</label>
        <locationX>1194</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Richiesta_Parere_Esterno</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DiscardReworkTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Input_case</targetReference>
            </connector>
            <label>DiscardReworkTrue</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del Processo Verifiche Dati al DL</description>
    <environments>Default</environments>
    <formulas>
        <name>BlankDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>CheckIsBozza</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!InputCase.Phase__c}, &apos;Bozza&apos;)</expression>
    </formulas>
    <formulas>
        <name>CreatedDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Get_Flow_Case_Aggiornato.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>CreatedDateLessThanFifthy</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 50</expression>
    </formulas>
    <formulas>
        <name>DisputedDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!DataLetturaStringa})</expression>
    </formulas>
    <formulas>
        <name>EndCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ParentRecordId}), &quot;Flusso di misura mancante&quot;,IF(TEXT({!GetParentCase.ComplaintType__c})=&quot;Reclamo Scritto&quot;,&quot;Reclamo Scritto&quot;,&quot;Richiesta Info Scritta&quot;))</expression>
    </formulas>
    <formulas>
        <name>ReadingDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT({!hdtSelfReading.readingCustomerDate}))</expression>
    </formulas>
    <formulas>
        <name>VecchioTentativoNonScaduto</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!Get_Case_Tentativo_Esistente.CreatedDate}) + 50 &lt; DATEVALUE({!FlowCase.CreatedDate})</expression>
    </formulas>
    <interviewLabel>GestioneReclami_VerificheDatiAlDl {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Verifiche Dati Al DL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Case_di_Verifica_Dati_al_DL</name>
        <label>Crea Case di Verifica Dati al DL</label>
        <locationX>1348</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Arricchimento_Dati</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetParentCase.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cluster__c</field>
            <value>
                <stringValue>Reclami</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetParentCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>GetParentCase.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistributorNote__c</field>
            <value>
                <elementReference>GetParentCase.DistributorNote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>GetParentCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>GetParentCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>GetParentCase.PhoneNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Verifica_Dati_al_DL.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicePoint__c</field>
            <value>
                <elementReference>GetParentCase.ServicePoint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Verifica Dati al DL</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CalcoloCodiceCausale</name>
        <label>CalcoloCodiceCausale</label>
        <locationX>1502</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseFinale.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseFinale.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseFinale.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseFinale.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1194</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayHeader_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Creato</name>
        <label>Get Case Creato</label>
        <locationX>1348</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_a_CaseFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crea_Case_di_Verifica_Dati_al_DL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Tentativo_Esistente</name>
        <label>Get Case Tentativo Esistente</label>
        <locationX>1568</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Nuovo_tentativo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServicePoint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.ServicePoint__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreatedDateLessThanFifthy</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Case_Aggiornato</name>
        <label>Get Flow Case Aggiornato</label>
        <locationX>1194</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_case</name>
        <label>Get Input case</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assegna_a_CaseFlow_Scarto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subprocess__c</queriedFields>
        <queriedFields>ContractCode__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Verifica_Dati_al_DL</name>
        <label>Get Record Type Verifica Dati al DL</label>
        <locationX>1348</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Case_di_Verifica_Dati_al_DL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_VerificaDatiAlDl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseFinale</name>
        <label>GetCaseFinale</label>
        <locationX>1502</locationX>
        <locationY>4502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalcoloCodiceCausale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLetture</name>
        <label>GetLetture</label>
        <locationX>1491</locationX>
        <locationY>3770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValoriLetture</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CaseEle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseGas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reading__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentCase</name>
        <label>GetParentCase</label>
        <locationX>1348</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>1568</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputReference>FlowCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Fase_Case_Parent</name>
        <label>Aggiorna Fase Parent Case</label>
        <locationX>1348</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Record_Type_Verifica_Dati_al_DL</targetReference>
        </connector>
        <inputReference>GetParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Fase_Case_Reclamo_0</name>
        <label>Aggiorna Fase Case Reclamo</label>
        <locationX>1084</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Record_Type_Verifica_Dati_al_DL</targetReference>
        </connector>
        <inputReference>GetParentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>1194</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <inputReference>Get_Flow_Case_Aggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>aggiornaCase_0_0</name>
        <label>aggiornaCase</label>
        <locationX>1689</locationX>
        <locationY>4178</locationY>
        <connector>
            <targetReference>Salva_in_Bozza_o_Conferma</targetReference>
        </connector>
        <inputReference>Get_Flow_Case_Aggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaLettura</name>
        <label>AggiornaLettura</label>
        <locationX>1491</locationX>
        <locationY>3986</locationY>
        <connector>
            <targetReference>aggiornaCase_0_0</targetReference>
        </connector>
        <inputReference>GetLetture</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare</name>
        <label>Passa a Da Inviare</label>
        <locationX>1502</locationX>
        <locationY>5234</locationY>
        <inputReference>GetCaseFinale</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare_0</name>
        <label>AggiornaCase</label>
        <locationX>578</locationX>
        <locationY>4070</locationY>
        <inputReference>Get_Flow_Case_Aggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>578</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>CommodityDecision</targetReference>
        </connector>
        <inputReference>Get_Flow_Case_Aggiornato</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Layout</name>
        <label>Inserimento letture</label>
        <locationX>1491</locationX>
        <locationY>3554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssegnaValori_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!FlowCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordViewForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Processo M01 - Riepilogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtSelfReading</name>
            <extensionName>c:hdtSelfReading</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowSmallerReading</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>commodity</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.CommodityFormula__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledReadingDate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isVolture</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>servicePointId</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.ServicePoint__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showBackButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDraftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resumedFromDraft</name>
                <value>
                    <elementReference>ResumeFromDraft</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Processo_M03</name>
        <label>Copy 1 of Processo M03</label>
        <locationX>578</locationX>
        <locationY>3770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Da_Inviare</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_RecEditFormM03Ele</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.Casuistry__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayHeader_0</name>
        <label>Inserimento Dati Tecnici</label>
        <locationX>1194</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Flow_Case_Aggiornato</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!FlowCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtCustomPicklist</name>
            <extensionName>c:hdtCustomPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sottoprocesso</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;Processo M01&quot;,&quot;label&quot;:&quot;Processo M01&quot;},{&quot;value&quot;:&quot;Processo M02&quot;,&quot;label&quot;:&quot;Processo M02&quot;},{&quot;value&quot;:&quot;Processo M03&quot;,&quot;label&quot;:&quot;Processo M03&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Selezionare Processo...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FlowCase.Subprocess__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtMeterReadingTable</name>
            <extensionName>c:hdtMeterReadingDetailTableFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nonStandAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractNumber</name>
                <value>
                    <elementReference>FlowCase.ContractCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRows</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractService</name>
                <value>
                    <elementReference>Get_Case.Commodity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContestataF1</assignToReference>
                <name>disputedReadingOne</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContestataF2</assignToReference>
                <name>disputedReadingTwo</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContestataF3</assignToReference>
                <name>disputedReadingThree</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DataLetturaStringa</assignToReference>
                <name>selectedReadingDateString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LetturaContestataGas</assignToReference>
                <name>disputedReading</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M01</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtCustomPicklist2</name>
            <extensionName>c:hdtCustomPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>options</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;Conciliazione paritetica&quot;,&quot;label&quot;:&quot;Conciliazione paritetica&quot;},{&quot;value&quot;:&quot;Reclamo Scritto&quot;,&quot;label&quot;:&quot;Reclamo Scritto&quot;},{&quot;value&quot;:&quot;Reclamo Telefonico&quot;,&quot;label&quot;:&quot;Reclamo Telefonico&quot;},{&quot;value&quot;:&quot;Richiesta Info Scritta&quot;,&quot;label&quot;:&quot;Richiesta Info Scritta&quot;},{&quot;value&quot;:&quot;Richiesta info Telefonica&quot;,&quot;label&quot;:&quot;Richiesta info Telefonica&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FlowCase.EndCustomerRequestType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tipo di richiesta Cliente Finale</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M01</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M02</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditFormM01</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Processo M01</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserisci Documenti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentRecordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M01</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditFormM02</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>documentRecordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Processo M02</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>FlowCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxFileSize</name>
                <value>
                    <stringValue>5000000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M02</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtCustomPicklistM03Ele</name>
            <extensionName>c:hdtCustomPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>options</name>
                <value>
                    <stringValue>[ {&quot;value&quot;:&quot;Flusso di misura mancante&quot;,&quot;label&quot;:&quot;Flusso di misura mancante&quot;}, {&quot;value&quot;:&quot;Flusso di misura errato&quot;,&quot;label&quot;:&quot;Flusso di misura errato&quot;}, {&quot;value&quot;:&quot;Fatture di trasporto errate&quot;,&quot;label&quot;:&quot;Fatture di trasporto errate&quot;}, {&quot;value&quot;:&quot;Fatture di connessione errate&quot;,&quot;label&quot;:&quot;Fatture di connessione errate&quot;}, {&quot;value&quot;:&quot;Fatture di trasporto mancante&quot;,&quot;label&quot;:&quot;Fatture di trasporto mancante&quot;}, {&quot;value&quot;:&quot;Fatture di connessione mancante&quot;,&quot;label&quot;:&quot;Fatture di connessione mancante&quot;}, {&quot;value&quot;:&quot;Sollecito attività di connessione&quot;,&quot;label&quot;:&quot;Sollecito attività di connessione&quot;}, {&quot;value&quot;:&quot;Segnalazioni relative a impianti di e-distribuzione&quot;,&quot;label&quot;:&quot;Segnalazioni relative a impianti di e-distribuzione&quot;}, {&quot;value&quot;:&quot;Sisma - Attivazione agevolazione non automatica &quot;,&quot;label&quot;:&quot;Sisma - Attivazione agevolazione non automatica &quot;}, {&quot;value&quot;:&quot;Certificazione per contenzioso legale&quot;,&quot;label&quot;:&quot;Certificazione per contenzioso legale&quot;}, {&quot;value&quot;:&quot;Verifiche_segnalazione dati errati o mancanti&quot;,&quot;label&quot;:&quot;Verifiche_segnalazione dati errati o mancanti&quot;}, {&quot;value&quot;:&quot;Altro&quot;,&quot;label&quot;:&quot;Altro&quot;}, {&quot;value&quot;:&quot;Modifica indirizzo di fornitura&quot;,&quot;label&quot;:&quot;Modifica indirizzo di fornitura&quot;}, {&quot;value&quot;:&quot;Sollecito cessazione fornitura temporanea&quot;,&quot;label&quot;:&quot;Sollecito cessazione fornitura temporanea&quot;}, {&quot;value&quot;:&quot;Informazioni richieste respinte&quot;,&quot;label&quot;:&quot;Informazioni richieste respinte&quot;}, {&quot;value&quot;:&quot;Prescrizione breve&quot;,&quot;label&quot;:&quot;Prescrizione breve&quot;}, {&quot;value&quot;:&quot;Lettura errata/anomala&quot;,&quot;label&quot;:&quot;Lettura errata/anomala&quot;} ]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>FlowCase.EndCustomerRequestType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tipo di richiesta Cliente Finale</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M03</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Energia Elettrica</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditFormM03Ele</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Processo M03 Ele</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxFileSize</name>
                <value>
                    <stringValue>5000000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M03</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Energia Elettrica</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditFormM03Gas</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Processo M03 Gas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FlowCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxFileSize</name>
                <value>
                    <stringValue>5000000</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Processo M03</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Gas</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Processo_M03</name>
        <label>Processo M03</label>
        <locationX>314</locationX>
        <locationY>3770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Da_Inviare</targetReference>
        </connector>
        <fields>
            <name>RecEditFormM03Ele</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Flow_Case_Aggiornato.EndCustomerRequestType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scarto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annulla_Prestazione</name>
        <label>Annulla Prestazione</label>
        <locationX>50</locationX>
        <locationY>3338</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0</name>
        <label>Annulla Prestazione</label>
        <locationX>1810</locationX>
        <locationY>4394</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>FlowCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Arricchimento_Dati</name>
        <label>Arricchimento Dati</label>
        <locationX>1348</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Case_Creato</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>GetParentCase.Contract__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Crea_Case_di_Verifica_Dati_al_DL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>GetParentCase.ServicePoint__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContestataF1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContestataF2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContestataF3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DataLetturaStringa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputCaseReclamo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>LetturaContestataGas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
