force-app/main/default/flows/HDT_FL_GestioneScript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>formatTextAction</name>
        <label>formatTextAction</label>
        <locationX>1327</locationX>
        <locationY>837</locationY>
        <actionName>HDT_UTL_FormatTextScriptInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_While_Condition</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERRORE</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textScript</name>
            <value>
                <elementReference>GetChildScripts.TextScript__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>textFormatted</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Do_Another_Loop</name>
        <label>Do Another Loop</label>
        <locationX>1144</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>fakeListForWhileLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentScriptId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChildScripts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Script_Decision_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Fake_List</name>
        <label>Initialize Fake List</label>
        <locationX>550</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>fakeListForWhileLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>While_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Option1</name>
        <choiceText>{!GetChildScripts.LabelOption1__c}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Option2</name>
        <choiceText>{!GetChildScripts.LabelOption2__c}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Option3</name>
        <choiceText>{!GetChildScripts.LabelOption3__c}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>check_Script_Record</name>
        <label>check Script Record</label>
        <locationX>1293</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>EndCall_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Script Not Found</defaultConnectorLabel>
        <rules>
            <name>Script_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChildScripts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formatTextAction</targetReference>
            </connector>
            <label>Script Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_While_Condition</name>
        <label>Check While Condition</label>
        <locationX>817</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>While_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avvia Registrazione</defaultConnectorLabel>
        <rules>
            <name>Child_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChildScripts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndCall_Screen</targetReference>
            </connector>
            <label>Child Not Found</label>
        </rules>
        <rules>
            <name>Child_Scripts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChildScripts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetChildScripts.StartRecording__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Another_Loop</targetReference>
            </connector>
            <label>Child Scripts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Why_Loop_Ended</name>
        <label>Why Loop Ended</label>
        <locationX>301</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>End Flow</defaultConnectorLabel>
        <rules>
            <name>Prosegui_Registrazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndCall_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetChildScripts.StartRecording__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registra_Chiamata_Screen</targetReference>
            </connector>
            <label>Prosegui Registrazione</label>
        </rules>
    </decisions>
    <formulas>
        <description>Use this formula to filter script query</description>
        <name>FormulaChoiceQueryScript</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!X2_Choice_Button}), IF(ISBLANK({!X3_Choice_Button}), 1,  {!X3_Choice_Button}   ), {!X2_Choice_Button})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Gestione Script {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Script</label>
    <loops>
        <name>While_Loop</name>
        <label>While Loop</label>
        <locationX>556</locationX>
        <locationY>496</locationY>
        <collectionReference>fakeListForWhileLoop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetChildScripts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Why_Loop_Ended</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetChildScripts</name>
        <label>GetChildScripts</label>
        <locationX>1081</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Script_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERRORE</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentSection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentScriptId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SectionOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaChoiceQueryScript</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ScriptConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProcessScript</name>
        <label>getProcessScript</label>
        <locationX>550</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Fake_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScriptProcessName</elementReference>
            </value>
        </filters>
        <object>ScriptConfig__c</object>
        <outputAssignments>
            <assignToReference>ParentScriptId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EndCall_Screen</name>
        <label>Termina Chiamata Screen</label>
        <locationX>963</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>While_Loop</targetReference>
        </connector>
        <fields>
            <name>EndCallText</name>
            <fieldText>&lt;p&gt;La chiamata termina qui&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ERRORE</name>
        <label>ERRORE</label>
        <locationX>1168</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EndCall_Screen</targetReference>
        </connector>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(253, 0, 0); font-size: 20px;&quot;&gt;ERRORE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registra_Chiamata_Screen</name>
        <label>Registra Chiamata Screen</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextScript_Registra_chiamata</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;INIZIO REGISTRAZIONE - ATTIVARE TASTO REGISTRA&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayTextFormatted</name>
            <fieldText>&lt;p&gt;{!textFormatted}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Link</name>
            <dataType>String</dataType>
            <fieldText>Link</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Script_Decision_Screen</name>
        <label>Script Decision Screen</label>
        <locationX>456</locationX>
        <locationY>994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>While_Loop</targetReference>
        </connector>
        <fields>
            <name>Script_Decision_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Script_Decision_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>apexText</name>
                    <fieldText>&lt;p&gt;{!textFormatted}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Script_Decision_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2_Choice_Button</name>
                    <choiceReferences>Option1</choiceReferences>
                    <choiceReferences>Option2</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Risposta Cliente</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption3__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue/>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption3__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption1__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue/>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption1__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X3_Choice_Button</name>
                    <choiceReferences>Option1</choiceReferences>
                    <choiceReferences>Option2</choiceReferences>
                    <choiceReferences>Option3</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>Risposta Cliente</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption3__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetChildScripts.LabelOption3__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue/>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>424</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProcessScript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fakeListForWhileLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentScriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScriptProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textFormatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
