force-app/main/default/flows/HDT_FL_GestioneVotiveModena.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Quale_Processo_di_Votive</name>
        <label>Quale Processo di Votive?</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Cessazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Cessazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cluster_Disattivazioni</targetReference>
            </connector>
            <label>Cessazione</label>
        </rules>
        <rules>
            <name>Spostamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spostamento Votive Modena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cluster_Preventivi</targetReference>
            </connector>
            <label>Spostamento</label>
        </rules>
        <rules>
            <name>Contestazione_Fattura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Contestazione Fattura</stringValue>
                </rightValue>
            </conditions>
            <label>Contestazione Fattura</label>
        </rules>
        <rules>
            <name>Morosita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Pagamenti Morosità</stringValue>
                </rightValue>
            </conditions>
            <label>Morosità</label>
        </rules>
    </decisions>
    <description>Flow per il dispatch dei Case di Votive Modena</description>
    <interviewLabel>Gestione Votive Modena {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Votive Modena</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Processo_di_Votive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Errore</name>
        <label>Screen Errore</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si è verificato un errore.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si prega di contattare l&apos;amministratore di sistema&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cluster_Disattivazioni</name>
        <label>Cluster Disattivazioni</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneDisattivazioni</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cluster_Preventivi</name>
        <label>Cluster Preventivi</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestionePreventivi</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
