force-app/main/default/flows/HDT_FL_GestioneVerifiche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chiudi_Activity_Scarto</name>
        <label>Chiudi Activity Scarto</label>
        <locationX>1942</locationX>
        <locationY>1430</locationY>
        <actionName>HDT_LC_EditScartiComplessi</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Case_Per_Risottomissione</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <elementReference>discardActivityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Amount_Quote</name>
        <label>Get Amount Quote</label>
        <locationX>1161</locationX>
        <locationY>518</locationY>
        <actionName>HDT_UTL_AmountQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Company_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caliber</name>
            <value>
                <elementReference>Get_Case.CaliberAvailable__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>Get_Case.SupplyCity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>Get_Case.CommodityFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>distributor</name>
            <value>
                <elementReference>Get_Case.DistributorName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hasCorrector</name>
            <value>
                <elementReference>Get_Case.ExistCorrector__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>manufactureYear</name>
            <value>
                <elementReference>Get_Case.YearManufactureMeter__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>market</name>
            <value>
                <elementReference>Get_Case.Market__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <elementReference>Get_Case.Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Quote_Management</name>
        <label>Quote Management</label>
        <locationX>776</locationX>
        <locationY>2246</locationY>
        <actionName>HDT_UTL_QuoteManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_trovata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>commodity</name>
            <value>
                <elementReference>Get_Case.CommodityFormula__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationtype</name>
            <value>
                <elementReference>Get_Case.Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processType</name>
            <value>
                <stringValue>Verifiche</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subprocess</name>
            <value>
                <elementReference>GetRecordAfterUpdate.Subprocess__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Aggiorna_Da_Inviare</name>
        <label>Aggiorna Preventivo Accettato</label>
        <locationX>2074</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preventivo accettato</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Rilavorazione_Scarto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_Preventivo</name>
        <label>Assegna Fase Preventivo e Importo</label>
        <locationX>314</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>FasePreventivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Importo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Conferma_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Inserito assignment poichè per il processo di Interventi con Verifica, uno dei subprocess prevede importo a 0.</description>
        <name>Assegna_Importo</name>
        <label>Assegna Importo</label>
        <locationX>1293</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Importo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Amount_Quote.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Label_Conferma</name>
        <label>Assegna Label Conferma</label>
        <locationX>1029</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>SaveLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conferma Pratica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Operation_Code</name>
        <label>Assegna Operation Code</label>
        <locationX>622</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>OperationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Management.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rapido_o_Predeterminabile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Processo_Acqua</name>
        <label>Assegna Processo Acqua</label>
        <locationX>1161</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assegna_Quotation_Validity_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Quotation_Validity_Date</name>
        <label>Assegna Quotation Validity Date</label>
        <locationX>1161</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.QuotationValidityDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calcola_Quotation_Validity_Date_Acqua</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferma_o_Avanti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type</name>
        <label>Assenga Process Type</label>
        <locationX>897</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche EE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferma_o_Avanti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0</name>
        <label>Assenga Process Type</label>
        <locationX>1425</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche Gas</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conferma_o_Avanti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0_0</name>
        <label>Assenga Process Type</label>
        <locationX>1942</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche EE Modifica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assenga_Process_Type_0_0_0</name>
        <label>Assenga Process Type</label>
        <locationX>2206</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Verifiche Gas Modifica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Case_Per_Risottomissione</name>
        <label>Init Case Per Risottomissione</label>
        <locationX>1942</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.HerokuPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.DistributorPracticeCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Predeterminabile</name>
        <label>Predeterminabile</label>
        <locationX>2338</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Rilavorazione_Scarto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Annullamento</name>
        <label>Annullamento?</label>
        <locationX>688</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>OperationCode_Valorizzato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Annullare</defaultConnectorLabel>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtDocumentSignature.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow_0</targetReference>
            </connector>
            <label>Annullare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rilavorazione_Scarto</name>
        <label>Rilavorazione Scarto?</label>
        <locationX>2074</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wizard Normale</defaultConnectorLabel>
        <rules>
            <name>Wizard_Scarto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discardRework</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chiudi_Activity_Scarto</targetReference>
            </connector>
            <label>Wizard Scarto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Owner</name>
        <label>Company Owner and Commodity</label>
        <locationX>1161</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assegna_Importo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altro</defaultConnectorLabel>
        <rules>
            <name>MMS_H2O</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verifica GDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Amount_0</targetReference>
            </connector>
            <label>MMS H2O</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conferma_o_Avanti</name>
        <label>Conferma o Avanti</label>
        <locationX>1161</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>Conferma_Label</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifica Rottura Impianto Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifica Interna</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interventi con verifica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Label_Conferma</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energia_Elettrica_o_Gas</name>
        <label>Commodity?</label>
        <locationX>1161</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Assenga_Process_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gas</defaultConnectorLabel>
        <rules>
            <name>Energia_Elettrica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assenga_Process_Type</targetReference>
            </connector>
            <label>Energia Elettrica</label>
        </rules>
        <rules>
            <name>Acqua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Processo_Acqua</targetReference>
            </connector>
            <label>Acqua</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energia_Elettrica_o_Gas_0</name>
        <label>Energia Elettrica o Gas?</label>
        <locationX>2074</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assenga_Process_Type_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gas</defaultConnectorLabel>
        <rules>
            <name>Energia_Elettrica_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Energia Elettrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assenga_Process_Type_0_0</targetReference>
            </connector>
            <label>Energia Elettrica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>1617</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Energia_Elettrica_o_Gas_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Solo Correzione dati</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Amount_Quote</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>OperationCode_Valorizzato</name>
        <label>OperationCode Valorizzato?</label>
        <locationX>534</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Assegna_Operation_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Management.OperationCode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rapido_o_Predeterminabile</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_trovata</name>
        <label>Quote trovata?</label>
        <locationX>776</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Regola_non_trovata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovata</defaultConnectorLabel>
        <rules>
            <name>Trovata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Management</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Documentale</targetReference>
            </connector>
            <label>Trovata</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rapido_o_Predeterminabile</name>
        <label>Rapido o Predeterminabile?</label>
        <locationX>534</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assegna_Fase_Preventivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Predeterminabile</defaultConnectorLabel>
        <rules>
            <name>Rapido_0_euro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_Preventivo</targetReference>
            </connector>
            <label>Rapido a 0€</label>
        </rules>
        <rules>
            <name>Rapido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote_Management.QuoteType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rapido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Conferma_Case</targetReference>
            </connector>
            <label>Rapido</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozza_o_Conferma</name>
        <label>SalvaInBozza o Conferma?</label>
        <locationX>1161</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordAfterUpdate</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annullato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow</targetReference>
            </connector>
            <label>Annullato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Documentale</name>
        <label>Skip Documentale?</label>
        <locationX>534</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Skip_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Commodity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acqua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verifica GDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OperationCode_Valorizzato</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Preventivo</name>
        <label>Tipo Preventivo</label>
        <locationX>2074</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Predeterminabile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rapido_a_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.CompanyOwner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Verifica GDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Predeterminabile</targetReference>
            </connector>
            <label>Rapido a 0</label>
        </rules>
        <rules>
            <name>Rapido_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.QuotationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rapido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Da_Inviare</targetReference>
            </connector>
            <label>Rapido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipologia_Case</name>
        <label>Tipologia Case?</label>
        <locationX>833</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Il_Case_in_Bozza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri Processi</defaultConnectorLabel>
        <rules>
            <name>Verifica_Fuga_Idrica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifica Fuga Idrica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Fuga_Idrica_Subflow</targetReference>
            </connector>
            <label>Verifica Fuga Idrica</label>
        </rules>
    </decisions>
    <description>Adeguamenti per Gestione Scarti</description>
    <environments>Default</environments>
    <formulas>
        <name>Calcola_Quotation_Validity_Date_Acqua</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 1,MONTH(TODAY()),DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>processTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.CommodityFormula__c} = &quot;Gas&quot;,&quot;Verifiche Gas&quot;,&quot;Verifiche EE&quot;)</expression>
    </formulas>
    <formulas>
        <name>processTypeRecapFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Case.CommodityFormula__c} = &quot;Gas&quot;,&quot;Verifiche Gas Modifica&quot;,&quot;Verifiche EE Modifica&quot;)</expression>
    </formulas>
    <interviewLabel>HDT_FL_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Verifiche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>833</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipologia_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Aggiunta Query Case perchè per Verifica Interna il Codice Causale va calcolato anche in base al sottoprocesso che viene valorizzato nello Screen di inserimento dati,</description>
        <name>GetRecordAfterUpdate</name>
        <label>GetRecordAfterUpdate</label>
        <locationX>776</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Management</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Amount</name>
        <label>Aggiorna Amount</label>
        <locationX>1293</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Energia_Elettrica_o_Gas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_Amount_Quote.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationType__c</field>
            <value>
                <stringValue>Rapido</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Amount_0</name>
        <label>Aggiorna Amount a 0</label>
        <locationX>1029</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Energia_Elettrica_o_Gas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationType__c</field>
            <value>
                <stringValue>Rapido</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>2074</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>LoadSpinner</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Conferma_Case</name>
        <label>Aggiorna Fase in Inviare Preventivo</label>
        <locationX>534</locationX>
        <locationY>3950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Importo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CausalCode__c</field>
            <value>
                <elementReference>Quote_Management.CausalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperationCode__c</field>
            <value>
                <elementReference>OperationCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <elementReference>FasePreventivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationType__c</field>
            <value>
                <elementReference>Quote_Management.QuoteType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationValidityDate__c</field>
            <value>
                <elementReference>Get_Case.QuotationValidityDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>LoadSpinner</name>
        <label>LoadSpinner</label>
        <locationX>2074</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Spinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LWC_hdtRecordEditForm</name>
        <label>LWC hdtRecordEditForm</label>
        <locationX>1161</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>Intestazione</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <elementReference>SaveLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Regola_non_trovata</name>
        <label>Regola non trovata</label>
        <locationX>1018</locationX>
        <locationY>2486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LWC_hdtRecordEditForm</targetReference>
        </connector>
        <fields>
            <name>RuleNotFound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Attenzione nessuna regola di preventivo trovata!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Si prega di modificare i dati precedentemente inseriti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>688</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignature</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteType</name>
                <value>
                    <elementReference>Quote_Management.QuoteType__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <elementReference>Get_Case.Origin</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Preventivo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>2074</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tipo_Preventivo</targetReference>
        </connector>
        <fields>
            <name>Intestazione_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compila manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Dati di Processo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>707</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Gestione_Annullamento_Subflow</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>1282</locationX>
        <locationY>2126</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento_Subflow_0</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>556</locationX>
        <locationY>2846</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Verifica_Fuga_Idrica_Subflow</name>
        <label>Verifica Fuga Idrica Subflow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneVerificaFugaIdrica</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>discardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FasePreventivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Attesa conferma preventivo cliente</stringValue>
        </value>
    </variables>
    <variables>
        <name>Importo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Avanti</stringValue>
        </value>
    </variables>
    <variables>
        <name>SaveOrConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
