force-app/main/default/flows/HDT_FL_GestioneInnescoDocumentalePaperless.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Show_Block_Screen</name>
        <label>Show Block Screen?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N</defaultConnectorLabel>
        <rules>
            <name>Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.EnableShowFirstScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Screen</targetReference>
            </connector>
            <label>Y</label>
        </rules>
    </decisions>
    <interviewLabel>Gestione Innesco Documentale - Case (Paperless) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Innesco Documentale - Case (Paperless)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Block_Screen</name>
        <label>Block Screen</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
        <fields>
            <name>BlockScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Premendo il tasto &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(81, 91, 231);&quot;&gt;Stampa &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;verrà generato il PDF richiesto&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtViewPdfForPaperless</name>
            <extensionName>c:hdtViewPdfForPaperless</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Show_Block_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
