force-app/main/default/flows/HDT_FL_GestioneInnescoDocumentaleCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Status_and_Law80</name>
        <label>Assign Status and Law80</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Order.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In attesa validazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order.DocumentLow80__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Richiesto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>processType_reclamo</name>
        <label>processType = reclamo</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessTypeCalculated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>processType_VariazioneTARI</name>
        <label>processType = VariazioneTARI</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessTypeCalculated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VariazioneTARI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_processType_case_type</name>
        <label>processType = case type</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessTypeCalculated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_processType_domiciliazione</name>
        <label>processType = domiciliazione</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessTypeCalculated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Domiciliazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_processType_preventivo</name>
        <label>processType = preventivo</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ProcessTypeCalculated</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Preventivo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Documentale</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Valorizzare il processType da passare al component Documentale, in base al tipo di plico che deve essere stampato.</description>
        <name>Check_Tipo_Plico</name>
        <label>Tipo Plico?</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>set_processType_case_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preventivo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Cluster__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventivi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Cluster__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verifiche</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_processType_preventivo</targetReference>
            </connector>
            <label>Preventivo</label>
        </rules>
        <rules>
            <name>Domiciliazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Cluster__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagamenti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Piano Rateizzazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rimborso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_processType_domiciliazione</targetReference>
            </connector>
            <label>Domiciliazione</label>
        </rules>
        <rules>
            <name>Reclamo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Cluster__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclami</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>processType_reclamo</targetReference>
            </connector>
            <label>Reclamo</label>
        </rules>
        <rules>
            <name>Modifica_Dati_Contrattuali</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica dati contrattuali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>processType_VariazioneTARI</targetReference>
            </connector>
            <label>Modifica Dati Contrattuali</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_o_Case</name>
        <label>Order o Case?</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectRecordToCancell</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Variazione_TARI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessTypeCalculated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VariazioneTARI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Case_In_attesa_validazione</targetReference>
            </connector>
            <label>Variazione TARI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Gestione Innesco Documentale - Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Innesco Documentale - Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Tipo_Plico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status_and_Law80</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case_In_attesa_validazione</name>
        <label>Aggiorna Case In attesa validazione</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In attesa validazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <inputReference>Get_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quale_Processo</targetReference>
        </connector>
        <fields>
            <name>hdtDocumentSignatureManagerFlow</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>source</name>
                <value>
                    <elementReference>$User.LoginChannel__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessTypeCalculated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discardRework</name>
                <value>
                    <elementReference>DiscardRework</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discardActivityId</name>
                <value>
                    <elementReference>DiscardActivityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale_0</name>
        <label>Screen Documentale</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <fields>
            <name>hdtAdvanceDocumentManager</name>
            <extensionName>c:hdtAdvanceDocumentManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isLawEighty</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_o_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscardActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DiscardRework</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessTypeCalculated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectRecordToCancell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
</Flow>
