force-app/main/default/flows/HDT_FL_GestionePagamenti_VariazioneDomiciliazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validazione_Iban</name>
        <label>Validazione Iban</label>
        <locationX>2459</locationX>
        <locationY>1310</locationY>
        <actionName>HDT_UTL_ValidateIban</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Iban_OK</targetReference>
        </connector>
        <inputParameters>
            <name>iban</name>
            <value>
                <elementReference>Iban</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Dati_Intestatario</name>
        <label>Assegna Dati Intestatario</label>
        <locationX>1370</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Aggiornato.BankAccountSignatoryFiscalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Account.FiscalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Aggiornato.BankAccountSignatoryFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Aggiornato.BankAccountSignatoryLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Iban</name>
        <label>Assegna Iban</label>
        <locationX>2129</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItalianIbanFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanIsForeign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Iban_0</name>
        <label>Assegna Iban</label>
        <locationX>2393</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato.Iban__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanIsForeign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase</name>
        <label>AssegnaFase</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Annullato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0</name>
        <label>AssegnaFase</label>
        <locationX>314</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Annullato_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_00</name>
        <label>AssegnaFase</label>
        <locationX>3746</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoNonBozza.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoNonBozza.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCaseNonBozza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0</name>
        <label>AssegnaFase</label>
        <locationX>842</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Annullato_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>1106</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Annullato_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>1634</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Elaborazione_Manuale_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>2162</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Elaborazione_Manuale_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>578</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0_0_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>1370</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0_0_0_0_0_0_0_0</name>
        <label>AssegnaFase</label>
        <locationX>1898</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato2.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcolaCodiceCausale.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>1964</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Iban__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iban</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanIsForeign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanIsForeign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Iban_Selezionato</name>
        <label>Assign Iban Selezionato</label>
        <locationX>2657</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ibans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanABI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanABI_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanCAB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanCAB_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanCIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanCIN_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanCIN_IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanNumeriControllo_CC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.IbanCodeNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IbanContoCorrente_CC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AbiNonObsolete</name>
        <choiceText>ABI Non Obsoleto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABI Non Obsoleto</stringValue>
        </value>
    </choices>
    <choices>
        <name>AbiObsolete</name>
        <choiceText>ABI Obsoleto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABI Obsoleto</stringValue>
        </value>
    </choices>
    <choices>
        <name>BlankIban</name>
        <choiceText>Inserimento Manuale</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IbanForeign</name>
        <choiceText>Estero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estero</stringValue>
        </value>
    </choices>
    <choices>
        <name>IbanItalian</name>
        <choiceText>Italia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italia</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ABI_Uguale</name>
        <label>ABI Uguale?</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Uguale e Non Obsoleto</defaultConnectorLabel>
        <rules>
            <name>Uguale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato2.IbanABI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseInput.BillingProfile__r.IbanABI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Contattare_Banca</targetReference>
            </connector>
            <label>Uguale</label>
        </rules>
        <rules>
            <name>Obsoleto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ABI_Obsoleto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AbiObsolete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Iban_Obsoleto</targetReference>
            </connector>
            <label>Obsoleto</label>
        </rules>
    </decisions>
    <decisions>
        <name>ABI_Uguale_0</name>
        <label>ABI Uguale?</label>
        <locationX>1106</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Uguale e Non Obsoleto</defaultConnectorLabel>
        <rules>
            <name>Uguale_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IbanABI_CC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseInput.BillingProfile__r.IbanABI__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IbanCAB_CC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseInput.BillingProfile__r.IbanCAB__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IbanContoCorrente_CC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseInput.BillingProfile__r.IbanCodeNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Contattare_Banca_0</targetReference>
            </connector>
            <label>Uguale</label>
        </rules>
        <rules>
            <name>Obsoleto_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ABI_Obsoleto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AbiObsolete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Iban_Obsoleto_0</targetReference>
            </connector>
            <label>Obsoleto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>2970</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormIt.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormIt.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecrodEditFormExt.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecrodEditFormExt.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtFlowNav.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtFlowNav.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_0</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormIt.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditFormIt.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecrodEditFormExt.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecrodEditFormExt.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtFlowNav.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtFlowNav.saveDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iban_Italiano</name>
        <label>Iban Italiano?</label>
        <locationX>2261</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assegna_Iban_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estero</defaultConnectorLabel>
        <rules>
            <name>Italiano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provenienza_Iban</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IbanItalian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Iban</targetReference>
            </connector>
            <label>Italiano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iban_Uguale</name>
        <label>Iban Uguale?</label>
        <locationX>1766</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>CalcolaCodiceCausale_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Iban Non Uguale</defaultConnectorLabel>
        <rules>
            <name>Ibanuguale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iban</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseInput.BillingProfile__r.IBAN__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaFase_0_0_0_0</targetReference>
            </connector>
            <label>Iban Uguale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>3490</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ibans</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
        <rules>
            <name>Comunicazione_Verso_Heroku_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione verso Heroku KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inserimento_Dati_0</targetReference>
            </connector>
            <label>Comunicazione Verso Heroku KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserimento_Manuale</name>
        <label>Inserimento Manuale?</label>
        <locationX>2459</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Iban_Selezionato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Iban Selezionato</defaultConnectorLabel>
        <rules>
            <name>Inserimento_Iban_Manuale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IbanSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankIban</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iban_Italiano</targetReference>
            </connector>
            <label>Inserimento Iban Manuale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserimento_Manule_o_Automatico</name>
        <label>Inserimento Manule o Automatico?</label>
        <locationX>1238</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Assegna_Dati_Intestatario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Automatico</defaultConnectorLabel>
        <rules>
            <name>Manuale</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.AccountholderTypeBeneficiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rappresentante Legale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Famiglie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parti Comuni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ditta Individuale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.AccountholderTypeBeneficiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagatore Alternativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipologia_Intestatario_Manuale</targetReference>
            </connector>
            <label>Manuale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_tipo_di_Variazione</name>
        <label>Quale tipo di Variazione?</label>
        <locationX>1238</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Screen_Documentale_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errata Domiciliazione/Non richiesta o Domiciliazione non attiva</defaultConnectorLabel>
        <rules>
            <name>Cambio_Conto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato2.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio Conto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABI_Uguale</targetReference>
            </connector>
            <label>Cambio Conto</label>
        </rules>
        <rules>
            <name>Inserimento_Manuale_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato2.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambio Banca</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABI_Uguale_0</targetReference>
            </connector>
            <label>Cambio Banca</label>
        </rules>
        <rules>
            <name>Cambio_da_Click_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseAggiornato2.Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cambio da Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Documentale_0_0</targetReference>
            </connector>
            <label>Cambio da Click&amp;Pay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_Bozza_o_Conferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>1964</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Aggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Iban_OK</name>
        <label>Validate Iban OK?</label>
        <locationX>2459</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Screen_Iban_Non_Validato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validazione_Iban</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaValori</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del processo di Variazione Domiciliazione del cluster Pagamenti</description>
    <dynamicChoiceSets>
        <name>Ibans</name>
        <dataType>String</dataType>
        <displayField>IBAN__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Account.Id</elementReference>
            </value>
        </filters>
        <object>BillingProfile__c</object>
        <outputAssignments>
            <assignToReference>IbanABI_CC</assignToReference>
            <field>IbanABI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanCAB_CC</assignToReference>
            <field>IbanCAB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanNumeriControllo_CC</assignToReference>
            <field>IbanCIN_IBAN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanCIN_CC</assignToReference>
            <field>IbanCIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanContoCorrente_CC</assignToReference>
            <field>IbanCodeNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanIsForeign</assignToReference>
            <field>IbanIsForeign__c</field>
        </outputAssignments>
        <valueField>IBAN__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Case_Aggiornato.Account.Name}, FIND( &quot; &quot;, {!Get_Case_Aggiornato.Account.Name} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>AccountLastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Case_Aggiornato.Account.Name}, LEN({!Get_Case_Aggiornato.Account.Name}) - FIND(&quot; &quot;, {!Get_Case_Aggiornato.Account.Name}))</expression>
    </formulas>
    <formulas>
        <name>ItalianIbanFormula</name>
        <dataType>String</dataType>
        <expression>&quot;IT&quot;&amp;{!GetCaseAggiornato.IbanCIN_IBAN__c}&amp;{!GetCaseAggiornato.IbanCIN__c}&amp;{!GetCaseAggiornato.IbanABI__c}&amp;{!GetCaseAggiornato.IbanCAB__c}&amp;{!GetCaseAggiornato.IbanCodeNumber__c}</expression>
    </formulas>
    <formulas>
        <name>ProcessTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!IbanIsForeign} = false, &quot;Variazione Domiciliazione - Italiano&quot;,&quot;Variazione Domiciliazione - Estero&quot;)</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestionePagamenti_VariazioneDomiciliazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Pagamenti - Variazione Domiciliazione</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CalcolaCodiceCausale</name>
        <label>CalcolaCodiceCausale</label>
        <locationX>578</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CalcolaCodiceCausale_0</name>
        <label>CalcolaCodiceCausale</label>
        <locationX>1370</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CalcolaCodiceCausale_0_0</name>
        <label>CalcolaCodiceCausale</label>
        <locationX>1898</locationX>
        <locationY>3206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato2.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Aggiornato</name>
        <label>Get Case Aggiornato</label>
        <locationX>1238</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserimento_Manule_o_Automatico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ibans</name>
        <label>Get Ibans</label>
        <locationX>2970</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Ibans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>2459</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserimento_Manuale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato2</name>
        <label>GetCaseAggiornato2</label>
        <locationX>1238</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Da_Sostituire_con_GetABiOsbolete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoNonBozza</name>
        <label>GetCaseAggiornatoNonBozza</label>
        <locationX>3746</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase_00</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Iban</name>
        <label>Aggiorna Iban</label>
        <locationX>1964</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>1370</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>GetCaseAggiornato2</targetReference>
        </connector>
        <inputReference>Get_Case_Aggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCaseNonBozza</name>
        <label>AggiornaCaseNonBozza</label>
        <locationX>3746</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loading_Screen_0_0_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornatoNonBozza</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Annullato</name>
        <label>Passa a &quot;Annullato&quot;</label>
        <locationX>50</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Annullato_0</name>
        <label>Passa a &quot;Annullato&quot;</label>
        <locationX>314</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Annullato_0_0</name>
        <label>Passa a &quot;Annullato&quot;</label>
        <locationX>842</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Annullato_0_0_0</name>
        <label>Passa a &quot;Annullato&quot;</label>
        <locationX>1106</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare</name>
        <label>Passa a &quot;Da Inviare&quot;</label>
        <locationX>578</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Loading_Screen</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare_0</name>
        <label>Passa a &quot;Da Inviare&quot;</label>
        <locationX>1370</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Loading_Screen_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare_0_0</name>
        <label>Passa a &quot;Da Inviare&quot;</label>
        <locationX>1898</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Loading_Screen_0_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Elaborazione_Manuale_0_0</name>
        <label>Passa a &quot;Elaborazione Manuale&quot;</label>
        <locationX>1634</locationX>
        <locationY>3326</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Elaborazione_Manuale_0_0_0</name>
        <label>Passa a &quot;Elaborazione Manuale&quot;</label>
        <locationX>2162</locationX>
        <locationY>3206</locationY>
        <inputReference>GetCaseAggiornato2</inputReference>
    </recordUpdates>
    <screens>
        <name>Alert_Contattare_Banca</name>
        <label>Alert Contattare Banca</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaFase</targetReference>
        </connector>
        <fields>
            <name>AlertABIBank</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Codice ABI uguale a quello già presente sulla domiciliazione attiva.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;La pratica verrà annullata.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Per poter procedere alla variazione il cliente dovrà contattare la propria Banca.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavEnd</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alert_Contattare_Banca_0</name>
        <label>Alert Contattare Banca</label>
        <locationX>842</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaFase_0_0</targetReference>
        </connector>
        <fields>
            <name>AlertABIBank_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Impossibile Procedere &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;la domiciliazione richiesta è già presente. La pratica verrà annullata.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavEnd_1</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alert_Iban_Obsoleto</name>
        <label>Alert Iban Obsoleto</label>
        <locationX>314</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaFase_0</targetReference>
        </connector>
        <fields>
            <name>AlertABIBank_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Il Codice ABI risulta obsoleto&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;La pratica verrà annullata&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavEnd_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Alert_Iban_Obsoleto_0</name>
        <label>Alert Iban Obsoleto</label>
        <locationX>1106</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaFase_0_0_0</targetReference>
        </connector>
        <fields>
            <name>AlertABIBank_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Il Codice ABI risulta obsoleto&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;La pratica verrà annullata&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavEnd_0_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Da_Sostituire_con_GetABiOsbolete</name>
        <label>Da Sostituire con GetABiOsbolete</label>
        <locationX>1238</locationX>
        <locationY>2726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quale_tipo_di_Variazione</targetReference>
        </connector>
        <fields>
            <name>DsiplayHeader_00</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ABI_Obsoleto</name>
            <choiceReferences>AbiObsolete</choiceReferences>
            <choiceReferences>AbiNonObsolete</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AbiObsolete</defaultSelectedChoiceReference>
            <fieldText>ABI Obsoleto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen</name>
        <label>Loading Screen</label>
        <locationX>578</locationX>
        <locationY>3566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCaseAggiornato2.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0</name>
        <label>Loading Screen</label>
        <locationX>1370</locationX>
        <locationY>3566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCaseAggiornato2.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0_0</name>
        <label>Loading Screen</label>
        <locationX>1898</locationX>
        <locationY>3566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner_0_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCaseAggiornato2.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0_0_0</name>
        <label>Loading Screen</label>
        <locationX>3746</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingSpinner_0_0_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale</name>
        <label>Screen Documentale</label>
        <locationX>578</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CalcolaCodiceCausale</targetReference>
        </connector>
        <fields>
            <name>DisplayTextDocumentSignature</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignature</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>CaseInput.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale_0</name>
        <label>Screen Documentale</label>
        <locationX>1370</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CalcolaCodiceCausale_0</targetReference>
        </connector>
        <fields>
            <name>DisplayTextDocumentSignature_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignature_0</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>CaseInput.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale_0_0</name>
        <label>Screen Documentale</label>
        <locationX>1766</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iban_Uguale</targetReference>
        </connector>
        <fields>
            <name>DisplayTextDocumentSignature_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignature_0_0</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>CaseInput.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documentale_0_0_0</name>
        <label>Screen Documentale</label>
        <locationX>2162</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssegnaFase_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayTextDocumentSignature_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignature_0_0_0</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>CaseInput.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>CaseInput.Type</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Iban_Non_Validato</name>
        <label>Screen Iban Non Validato</label>
        <locationX>2954</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Annulla_Prestazione_0</targetReference>
        </connector>
        <fields>
            <name>DisplayIbanNonValidato</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Iban Non validato&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Premere il tasto Indietro per modificare i dati; premere Annulla per procedere con l&apos;annullamento&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtNavigatonButtons</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annulla</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>1964</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_Bozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Variazione Domiciliazione</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>3746</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCaseAggiornatoNonBozza</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Fine</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Variazione Domiciliazione Non Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Ibans</name>
        <label>Show Ibans</label>
        <locationX>2970</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IbanSelection</name>
            <choiceReferences>Ibans</choiceReferences>
            <choiceReferences>BlankIban</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleziona un Iban oppure procedi per inserirne uno manualmente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Provenienza_Iban</name>
            <choiceReferences>IbanItalian</choiceReferences>
            <choiceReferences>IbanForeign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Provenienza Iban</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IbanSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BlankIban</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecordEditFormIt</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Richiesta Domiciliazione IT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Provenienza_Iban</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IbanItalian</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtRecrodEditFormExt</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Richiesta Domiciliazione Estero</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Provenienza_Iban</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IbanForeign</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtFlowNav</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IbanSelection</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>BlankIban</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tipologia_Intestatario_Manuale</name>
        <label>Tipologia Intestatario Manuale</label>
        <locationX>1106</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCaseAggiornato2</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditInt</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Richiesta Domiciliazione - Intestatario</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Il_Case_in_Bozza</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Annulla_Prestazione</name>
        <label>Annulla Prestazione</label>
        <locationX>3218</locationX>
        <locationY>638</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0</name>
        <label>Annulla Prestazione</label>
        <locationX>2954</locationX>
        <locationY>1670</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0_0</name>
        <label>Annulla Prestazione</label>
        <locationX>2426</locationX>
        <locationY>2030</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annulla prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CFIntestatarioCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CognomeIntestatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Iban</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanABI_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanCAB_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanCIN_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanContoCorrente_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanIsForeign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanNumeriControllo_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanPaese_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeIntestatarioCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessTypeFormFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
