force-app/main/default/flows/HDT_FL_GestioneMorosita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Fase_In_Da_Inviare</name>
        <label>Assegna Fase In Da Inviare</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Da_Inviare_0</name>
        <label>Assegna Fase In Da Inviare</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Lavorazione</name>
        <label>Assegna Fase In Lavorazione</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Fase_In_Lavorazione_0</name>
        <label>Assegna Fase In Lavorazione</label>
        <locationX>1458</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFaseBozzaAnnullata</name>
        <label>Assegna Fase Bozza Annullata</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bozza Annullata</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaPreventivo</name>
        <label>Assegna Preventivo</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetInputCase.QuotationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RicercaPreventivo.QuoteType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetInputCase.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IlCaseInBozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>1639</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Non Bozza</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QualeProcesso</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreventivoTrovato</name>
        <label>Preventivo Trovato?</label>
        <locationX>336</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ScreenErrore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Trovato</defaultConnectorLabel>
        <rules>
            <name>Trovato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RicercaPreventivo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssegnaPreventivo</targetReference>
            </connector>
            <label>Trovato</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualeProcesso</name>
        <label>Quale Processo?</label>
        <locationX>1117</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ScreenErroreType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Riattivazione_Fornitura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riattivazione Fornitura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RicercaPreventivo</targetReference>
            </connector>
            <label>Riattivazione Fornitura</label>
        </rules>
        <rules>
            <name>Gestione_Disalimentabilit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestione Disalimentabilità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputDati_0</targetReference>
            </connector>
            <label>Gestione Disalimentabilità</label>
        </rules>
        <rules>
            <name>Votive_Modena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Pagamenti Morosità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputDati_0_0</targetReference>
            </connector>
            <label>Votive Modena</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma</name>
        <label>Salva in Bozza o Conferma?</label>
        <locationX>1590</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_In_Lavorazione_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma_0</name>
        <label>Salva In Bozza O Conferma?</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_In_Da_Inviare_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalvaInBozzaOrConferma_0_0</name>
        <label>Salva In Bozza O Conferma?</label>
        <locationX>1084</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditFormFlow_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serivizio_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serivizio_0</name>
        <label>Serivizio?</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assegna_Fase_In_Da_Inviare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Energia Elettrica</defaultConnectorLabel>
        <rules>
            <name>Gas_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputCase.CommodityFormula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Fase_In_Lavorazione</targetReference>
            </connector>
            <label>Gas</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del cluster morosità</description>
    <formulas>
        <name>DefaultAmount</name>
        <dataType>Currency</dataType>
        <expression>100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Gestione Morosità {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Morosità</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetInputCase</name>
        <label>Get Input Case</label>
        <locationX>1639</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IlCaseInBozza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RicercaPreventivo</name>
        <label>Ricerca Preventivo</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PreventivoTrovato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operation_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputCase.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>Aggiorna Case</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>InputDati</targetReference>
        </connector>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0</name>
        <label>Aggiorna Case</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>886</locationX>
        <locationY>1094</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0_0</name>
        <label>Aggiorna Case</label>
        <locationX>1458</locationX>
        <locationY>878</locationY>
        <inputReference>GetInputCase</inputReference>
    </recordUpdates>
    <screens>
        <name>InputDati</name>
        <label>Input Dati</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDati_0</name>
        <label>Input Dati</label>
        <locationX>1084</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserire Allegati</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputDati_0_0</name>
        <label>Input Dati</label>
        <locationX>1590</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SalvaInBozzaOrConferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compilare manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditFormFlow_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetInputCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetInputCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrore</name>
        <label>Screen Errore</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssegnaFaseBozzaAnnullata</targetReference>
        </connector>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetInputCase.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Nessun preventivo disponibile. &lt;/p&gt;&lt;p&gt;Alla pressione del tasto Fine la pratica verrà annullata.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErroreType</name>
        <label>Screen Errore Type</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Errore&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Processo non selezionato correttamente, si prega di innescare nuovamente il Case dal Catalogo Servizi&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1513</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInputCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
