force-app/main/default/flows/HDT_FL_GenericProcessTari.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_service_point</name>
        <label>assign service point</label>
        <locationX>72</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>theCase.ServicePointCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_di_Fornitura_Tari</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.Birthday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emptyDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.Birthcity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.AlternativeAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.SubscriberType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.Cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generiche Attivazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theCase.Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>è necessario trasmettere copia delle ricevute per attestare l&apos;errata o mancata imputazione dello sconto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_the_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isCompatible</name>
        <label>isCompatible</label>
        <locationX>72</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Wizard_Processo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Compatibile</defaultConnectorLabel>
        <rules>
            <name>Non_Compatibile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Compatibility.IsCompatible</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flow_Compatibility.IsCompatible</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Non Compatibile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Step</name>
        <label>Next Step</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>In_Lavorazione_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Lavorazione</defaultConnectorLabel>
        <rules>
            <name>Annullamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_Subflow</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Salva_in_Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseToDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva in Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_Generica</name>
        <label>Tipo Generica</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Riduzione_Agevolazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Riduzione Agevolazione dopo Accertamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selezione_Fornitura</targetReference>
            </connector>
            <label>Riduzione Agevolazione</label>
        </rules>
        <rules>
            <name>Riprendi_Processo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theCase.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wizard_Processo</targetReference>
            </connector>
            <label>Riprendi Processo</label>
        </rules>
    </decisions>
    <formulas>
        <name>emptyDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>HDT_FL_GenericProcessTari {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_GenericProcessTari</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insert_the_case</name>
        <label>insert the case</label>
        <locationX>72</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Flow_Compatibility</targetReference>
        </connector>
        <inputReference>theCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>caseAccount</name>
        <label>caseAccount</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mandatoryAttachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>mandatoryAttachments</name>
        <label>mandatoryAttachments</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tipo_Generica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theCase.BillingCity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MandatoryAttachments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>In_Lavorazione_Case</name>
        <label>In Lavorazione Case</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>theCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Selezione_Fornitura</name>
        <label>Selezione Fornitura</label>
        <locationX>72</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_service_point</targetReference>
        </connector>
        <fields>
            <name>Punto_di_Fornitura_Tari</name>
            <dataType>String</dataType>
            <fieldText>Punto di Fornitura Tari</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wizard_Processo</name>
        <label>Wizard Processo</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step</targetReference>
        </connector>
        <fields>
            <name>wizardLwc</name>
            <extensionName>c:hdtRecordEditFormFlowAdvanced</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>theCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>theCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>caseAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>caseAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Compatibility</name>
        <label>Flow Compatibility</label>
        <locationX>72</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>isCompatible</targetReference>
        </connector>
        <flowName>HDT_FL_SubFlowCompatibility</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>theCase.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento_Subflow</name>
        <label>Gestione Annullamento Subflow</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>theCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordToCancell</name>
            <value>
                <elementReference>theCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cancelCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseToDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
