force-app/main/default/flows/HDT_FL_GestionePagamenti_RichiestaDomiciliazione.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validazione_Iban</name>
        <label>Validazione Iban</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <actionName>HDT_UTL_ValidateIban</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Iban_OK</targetReference>
        </connector>
        <inputParameters>
            <name>iban</name>
            <value>
                <elementReference>Iban</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AI</name>
        <label>Assegna Iban It</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT{!Numeri_Controllo}{!CIN}{!ABI}{!CAB}{!Numero_Conto_Corrente}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanABI_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanCAB_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CAB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanCIN_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanContoCorrente_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_Conto_Corrente</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanNumeriControllo_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numeri_Controllo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanIsForeign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Iban_Ex</name>
        <label>Assign Iban Ex.</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inserire_Iban_Estero</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IbanIsForeign</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Iban_Selezionato</name>
        <label>Assign Iban Selezionato</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Iban</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ibans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validazione_Iban</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intestatario</name>
        <label>Assign Intestatario</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>CFIntestatarioCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Codice_Fiscale_Intestatario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomeIntestatarioCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Intestatario_c_c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CognomeIntestatario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cognome_Intestatario_c_c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iban_Italiano_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intestatario_0</name>
        <label>Assign Intestatario</label>
        <locationX>314</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>CFIntestatarioCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Account.FiscalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomeIntestatarioCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CognomeIntestatario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iban_Italiano_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankIban</name>
        <choiceText>Inserimento Manuale</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IbanForeign</name>
        <choiceText>Estero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estero</stringValue>
        </value>
    </choices>
    <choices>
        <name>IbanItalian</name>
        <choiceText>Italia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italia</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Iban_Italiano</name>
        <label>Iban Italiano?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Insert_Iban_Ex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estero</defaultConnectorLabel>
        <rules>
            <name>Italiano</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inserire_Provenienza_IBAN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IbanItalian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Iban_IT</targetReference>
            </connector>
            <label>Italiano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Iban_Italiano_0</name>
        <label>Iban Italiano?</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Passa_a_Elaborazione_Manuale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estero</defaultConnectorLabel>
        <rules>
            <name>Italiano_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IbanIsForeign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_a_Da_Inviare</targetReference>
            </connector>
            <label>Italiano</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>743</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Da Inviare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ibans</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
        <rules>
            <name>Comunicazione_verso_Heroku_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInput.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione Verso Heroku KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Inserimento_Dati</targetReference>
            </connector>
            <label>Comunicazione verso Heroku KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserimento_Dati_Manualmente</name>
        <label>Inserimento Dati Manualmente?</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Assign_Intestatario_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inserimento Automatico</defaultConnectorLabel>
        <rules>
            <name>Inserimento_Manuale_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.AccountholderTypeBeneficiary__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CaseInput.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Famiglie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInput.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Parti Comuni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseInput.ClientCategory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ditta Individuale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.AccountholderTypeBeneficiary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pagatore Alternativo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inserimento_Dati_Manuale</targetReference>
            </connector>
            <label>Inserimento Manuale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inserimento_Manuale</name>
        <label>Inserimento Manuale?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Iban_Selezionato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Iban Selezionato</defaultConnectorLabel>
        <rules>
            <name>Inserimento_Iban_Manuale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ibans</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BlankIban</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paese_IBAN</targetReference>
            </connector>
            <label>Inserimento Iban Manuale</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_In_Bozza_o_Conferma_0</name>
        <label>Salva In Bozza o Conferma?</label>
        <locationX>380</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Aggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Iban_OK</name>
        <label>Validate Iban OK?</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Screen_IBAN_non_validato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validazione_Iban</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aggiorna_Case_Bozza</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <description>Flow per la gestione del processo di Richiesta Domiciliazione (o Attivazione Click&amp;Pay) del cluster Pagamenti</description>
    <dynamicChoiceSets>
        <name>Ibans</name>
        <dataType>String</dataType>
        <displayField>IBAN__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Account.Id</elementReference>
            </value>
        </filters>
        <object>BillingProfile__c</object>
        <outputAssignments>
            <assignToReference>IbanABI_CC</assignToReference>
            <field>IbanABI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanCAB_CC</assignToReference>
            <field>IbanCAB__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanNumeriControllo_CC</assignToReference>
            <field>IbanCIN_IBAN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanCIN_CC</assignToReference>
            <field>IbanCIN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanContoCorrente_CC</assignToReference>
            <field>IbanCodeNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IbanIsForeign</assignToReference>
            <field>IbanIsForeign__c</field>
        </outputAssignments>
        <valueField>IBAN__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Case_Aggiornato.Account.Name}, FIND( &quot; &quot;, {!Get_Case_Aggiornato.Account.Name} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>AccountLastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Case_Aggiornato.Account.Name}, LEN({!Get_Case_Aggiornato.Account.Name}) - FIND(&quot; &quot;, {!Get_Case_Aggiornato.Account.Name}))</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestionePagamenti_RichiestaDomiciliazione {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Pagamenti - Richiesta Domiciliazione/Attivazione Click&amp;Pay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Aggiornato</name>
        <label>Get Case Aggiornato</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserimento_Dati_Manualmente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ibans</name>
        <label>Get Ibans</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Ibans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case_Bozza</name>
        <label>Aggiorna Iban Case Bozza</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Screen_Mostra_Dati</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IbanABI__c</field>
            <value>
                <elementReference>IbanABI_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCAB__c</field>
            <value>
                <elementReference>IbanCAB_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCIN_IBAN__c</field>
            <value>
                <elementReference>IbanNumeriControllo_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCIN__c</field>
            <value>
                <elementReference>IbanCIN_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanCodeNumber__c</field>
            <value>
                <elementReference>IbanContoCorrente_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IbanIsForeign__c</field>
            <value>
                <elementReference>IbanIsForeign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Iban__c</field>
            <value>
                <elementReference>Iban</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare</name>
        <label>Passa a &quot;Da Inviare&quot;</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccountSignatoryFirstName__c</field>
            <value>
                <elementReference>NomeIntestatarioCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryFiscalCode__c</field>
            <value>
                <elementReference>CFIntestatarioCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryLastName__c</field>
            <value>
                <elementReference>CognomeIntestatario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Elaborazione_Manuale</name>
        <label>Passa a &quot;Elaborazione Manuale&quot;</label>
        <locationX>314</locationX>
        <locationY>2822</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BankAccountSignatoryFirstName__c</field>
            <value>
                <elementReference>NomeIntestatarioCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryFiscalCode__c</field>
            <value>
                <elementReference>CFIntestatarioCC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankAccountSignatoryLastName__c</field>
            <value>
                <elementReference>CognomeIntestatario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Inserimento_Dati_Manuale</name>
        <label>Inserimento Dati Manuale</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Intestatario</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_6</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codice_Fiscale_Intestatario</name>
            <dataType>String</dataType>
            <fieldText>Codice Fiscale Intestatario c/c</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Codice Fiscale non valido&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Codice_Fiscale_Intestatario},&quot;^[a-zA-Z]{6}[0-9]{2}[abcdehlmprstABCDEHLMPRST]{1}[0-9]{2}([a-zA-Z]{1}[0-9]{3})[a-zA-Z]{1}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Nome_Intestatario_c_c</name>
            <dataType>String</dataType>
            <fieldText>Nome Intestatario c/c</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cognome_Intestatario_c_c</name>
            <dataType>String</dataType>
            <fieldText>Cognome Intestatario c/c</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Insert_Iban_Ex</name>
        <label>Insert Iban Ex.</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Iban_Ex</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserire_Iban_Estero</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Iban</elementReference>
            </defaultValue>
            <fieldText>Inserire Iban Estero</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Insert_Iban_IT</name>
        <label>Insert Iban IT</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AI</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Numeri_Controllo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IbanNumeriControllo_CC</elementReference>
            </defaultValue>
            <fieldText>Numeri Controllo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;I numeri di controllo sono composti da due numeri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Numeri_Controllo}) = 2</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CIN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IbanCIN_CC</elementReference>
            </defaultValue>
            <fieldText>CIN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Il codice CIN è composto da un solo carattere&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!CIN}) = 1</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ABI</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IbanABI_CC</elementReference>
            </defaultValue>
            <fieldText>ABI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Il codice ABI è composto da cinque numeri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ABI}) = 5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CAB</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IbanCAB_CC</elementReference>
            </defaultValue>
            <fieldText>CAB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Il codice CAB è composto da cinque numeri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!CAB}) = 5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Numero_Conto_Corrente</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>IbanContoCorrente_CC</elementReference>
            </defaultValue>
            <fieldText>Numero Conto Corrente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Il conto corrente è composto di dodici numeri&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Numero_Conto_Corrente}) = 12</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Paese_IBAN</name>
        <label>Paese IBAN</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Iban_Italiano</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inserire_Provenienza_IBAN</name>
            <choiceReferences>IbanItalian</choiceReferences>
            <choiceReferences>IbanForeign</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>IbanItalian</defaultSelectedChoiceReference>
            <fieldText>Inserire Provenienza IBAN</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_IBAN_non_validato</name>
        <label>Screen IBAN non validato</label>
        <locationX>468</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Aggiorna_Case_Bozza</targetReference>
        </connector>
        <fields>
            <name>DisplayIbanNonValidato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Iban Non validato&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Premere il tasto Indietro per modificare i dati; premere Avanti se si desidera procedere ugualmente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Fine</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Richiesta Domiciliazione Non Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Mostra_Dati</name>
        <label>Screen Mostra Dati</label>
        <locationX>380</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_In_Bozza_o_Conferma_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Richiesta Domiciliazione 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseInput.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Ibans</name>
        <label>Show Ibans</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Inserimento_Manuale</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!CaseInput.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seleziona_un_Iban_oppure_procedi_per_inserirne_uno_manualmente</name>
            <choiceReferences>Ibans</choiceReferences>
            <choiceReferences>BlankIban</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>BlankIban</defaultSelectedChoiceReference>
            <fieldText>Seleziona un Iban oppure procedi per inserirne uno manualmente</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Il_Case_in_Bozza</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CFIntestatarioCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CognomeIntestatario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Iban</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanABI_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanCAB_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanCIN_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanContoCorrente_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanIsForeign</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanNumeriControllo_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IbanPaese_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeIntestatarioCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
