force-app/main/default/flows/HDT_FL_GestionePagamenti.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ManageDocuments</name>
        <label>ManageDocuments</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_0</name>
        <label>ManageDocuments</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_1</name>
        <label>ManageDocuments</label>
        <locationX>3328</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_2</name>
        <label>ManageDocuments</label>
        <locationX>3988</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_3</name>
        <label>ManageDocuments</label>
        <locationX>4560</locationX>
        <locationY>638</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_4</name>
        <label>ManageDocuments</label>
        <locationX>5484</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_5</name>
        <label>ManageDocuments</label>
        <locationX>6056</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ManageDocuments_6</name>
        <label>ManageDocuments</label>
        <locationX>6848</locationX>
        <locationY>518</locationY>
        <actionName>HDT_SRV_DocumentSelectedManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetContract_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createDocuments</name>
            <value>
                <elementReference>createDocuments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>manageDocuments</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>serviceCatalogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_BP_al_Case</name>
        <label>Assegna BP al Case</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtBillingProfile.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Billing_Profile_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_BP_al_Case_0</name>
        <label>Assegna BP al Case</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtBillingProfile_0.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Billing_Profile_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_BP_al_Case_0_0</name>
        <label>Assegna BP al Case</label>
        <locationX>2602</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hdtBillingProfile_0_0.results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Billing_Profile_Case_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase</name>
        <label>AssegnaFase</label>
        <locationX>2404</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Elaborazione_Manuale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaFase_0</name>
        <label>AssegnaFase</label>
        <locationX>3196</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elaborazione Manuale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Elaborazione_Manuale_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo</name>
        <label>AssegnaInfo</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0</name>
        <label>AssegnaInfo</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>3328</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>3988</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>4560</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>5484</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0_0_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>6056</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfo_0_0_0_0_0_0_0_0</name>
        <label>AssegnaInfo</label>
        <locationX>6848</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Input_Case.BillingProfile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingProfile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Input_Case.ServicePoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaInfoBillingProfile</name>
        <label>AssegnaInfoBillingProfile</label>
        <locationX>3328</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_1.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato_1.BillingProfile__r.InvoicingAddressFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_1.InvoiceEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseAggiornato_1.BillingProfile__r.InvoiceEmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori</name>
        <label>AssegnaValori</label>
        <locationX>4428</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0.CausalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausalCode.CausalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0.OperationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCausalCode.OperationCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da Inviare</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0.VatNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdEnteFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0</name>
        <label>AssegnaValori</label>
        <locationX>5220</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoNonBozza.Phase__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornatoNonBozza.Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_Da_Inviare_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0_0</name>
        <label>AssegnaValori</label>
        <locationX>5924</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0_0.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_0_0_0.Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AggiornaCase_00</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_0_0_0</name>
        <label>AssegnaValori</label>
        <locationX>6716</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_2.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseAggiornato_2.Status</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Passa_a_In_Lavorazione_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssegnaValori_Paperless</name>
        <label>AssegnaValoriPaperless</label>
        <locationX>4692</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>GetInputCaseAggiornatoBozza.TotalPaperless__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputCaseAggiornatoBozza.TotalResidue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Inserimento_Dati_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Avanzamento</name>
        <label>Avanzamento</label>
        <locationX>1062</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assegna_BP_al_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>Annulla_billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtBillingProfile.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0</name>
        <label>Avanzamento</label>
        <locationX>1766</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assegna_BP_al_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>Annulla_billing_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtBillingProfile_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Avanzamento_0_0</name>
        <label>Avanzamento</label>
        <locationX>2470</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assegna_BP_al_Case_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanti</defaultConnectorLabel>
        <rules>
            <name>Annulla_billing_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtBillingProfile_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento_0_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>BP_assegnato</name>
        <label>BP assegnato?</label>
        <locationX>1260</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assegnato</defaultConnectorLabel>
        <rules>
            <name>NonAssegnato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.BillingProfile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelezionaBillingProfile</targetReference>
            </connector>
            <label>Non Assegnato</label>
        </rules>
    </decisions>
    <decisions>
        <name>BP_assegnato_0</name>
        <label>BP assegnato?</label>
        <locationX>1964</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assegnato</defaultConnectorLabel>
        <rules>
            <name>NonAssegnato_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.BillingProfile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelezionaBillingProfile_0</targetReference>
            </connector>
            <label>Non Assegnato</label>
        </rules>
    </decisions>
    <decisions>
        <name>BP_assegnato_0_0</name>
        <label>BP assegnato?</label>
        <locationX>2668</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Inserimento_Dati_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assegnato</defaultConnectorLabel>
        <rules>
            <name>NonAssegnato_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.BillingProfile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelezionaBillingProfile_0_0</targetReference>
            </connector>
            <label>Non Assegnato</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_Case_in_Bozza</name>
        <label>Il Case è in Bozza?</label>
        <locationX>4956</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Inserimento_Dati_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Inviato a SAP</defaultConnectorLabel>
        <rules>
            <name>Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bozza</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0_0_0</targetReference>
            </connector>
            <label>Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo</name>
        <label>Quale Processo?</label>
        <locationX>3911</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen_Inserimento_Dati_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Altri Processi</defaultConnectorLabel>
        <rules>
            <name>Comunicazione_Pagamento</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comunicazione Pagamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doppi Pagamenti/Incassi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza</targetReference>
            </connector>
            <label>Comunicazione Pagamento</label>
        </rules>
        <rules>
            <name>Piano_Rateizzazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Piano Rateizzazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0</targetReference>
            </connector>
            <label>Piano Rateizzazione</label>
        </rules>
        <rules>
            <name>Richiesta_Domiciliazione</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Richiesta Domiciliazione</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attivazione Click&amp;Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BP_assegnato</targetReference>
            </connector>
            <label>Richiesta Domiciliazione/Attivazione Click&amp;Pay</label>
        </rules>
        <rules>
            <name>Variazione_Domiciliazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Domiciliazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BP_assegnato_0</targetReference>
            </connector>
            <label>Variazione Domiciliazione</label>
        </rules>
        <rules>
            <name>Revoca_Domiciliazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revoca Domiciliazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BP_assegnato_0_0</targetReference>
            </connector>
            <label>Revoca Domiciliazione</label>
        </rules>
        <rules>
            <name>Copia_Bolletta_Bollettino</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copia Bolletta/Bollettino</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0</targetReference>
            </connector>
            <label>Copia Bolletta/Bollettino</label>
        </rules>
        <rules>
            <name>Rimborso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rimborso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0_0</targetReference>
            </connector>
            <label>Rimborso</label>
        </rules>
        <rules>
            <name>Paperless</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paperless</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Il_Case_in_Bozza</targetReference>
            </connector>
            <label>Paperless</label>
        </rules>
        <rules>
            <name>Blocco_Sollecito_ed_Interessi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocco Sollecito/Interessi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0_0_0_0</targetReference>
            </connector>
            <label>Blocco Sollecito ed Interessi</label>
        </rules>
        <rules>
            <name>Storno_Rateizzazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storno Rateizzazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Storno Rateizzazione</label>
        </rules>
        <rules>
            <name>Contenzioso_In_Corso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contenzioso In Corso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Riprendi_Da_Bozza_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Contenzioso In Corso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_0</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>3460</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Documenti_Selezionati_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_1</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>4120</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_2</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>4692</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Screen_Documenti_Selezionati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_3</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0_0_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>5616</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetCasePreFlow_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_4</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0_0_0_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>6188</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Documenti_Selezionati_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_5</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Riprendi_Da_Bozza_0_0_0_0_0_0_0</name>
        <label>Riprendi Da Bozza?</label>
        <locationX>6980</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Riprendi Da Bozza</defaultConnectorLabel>
        <rules>
            <name>Nuovo_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResumeFromDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ManageDocuments_6</targetReference>
            </connector>
            <label>Nuovo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>6980</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato_2</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0_0_0_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma_0</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>4692</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato_0_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma_0_0</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>2668</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma_0_0_0</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>7640</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_0_0_0_0.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passa_a_In_Lavorazione</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma_0_0_0_0</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>3460</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtDocumentSignatureFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtDocumentSignatureFlow.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salva_in_bozza_o_Conferma_0_0_0_0_0</name>
        <label>Salva in bozza o Conferma?</label>
        <locationX>6188</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Salva In Bozza</defaultConnectorLabel>
        <rules>
            <name>Conferma_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_2.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_2.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseAggiornato_0_0_0</targetReference>
            </connector>
            <label>Conferma</label>
        </rules>
        <rules>
            <name>Annulla_00_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtRecordEditForm_2.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hdtRecordEditForm_2.saveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Annulla_Prestazione_0_0_0</targetReference>
            </connector>
            <label>Annulla</label>
        </rules>
    </decisions>
    <description>Flow per la gestione dei pagamenti</description>
    <formulas>
        <description>Formula per calcolare l&apos;ID Ente per il QR Code Paperless: si tratta della PIVA della Società Tesoriera (Hera SpA oppure MMS), ricavata in base al company owner dell&apos;Account.</description>
        <name>IdEnteFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Input_Case.Account.CompanyOwner__c}) = &apos;MMS&apos; , &apos;02059030417&apos;, &apos;03819031208&apos;)</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestionePagamenti {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Pagamenti</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>3911</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Processo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato</name>
        <label>GetCaseAggiornato</label>
        <locationX>2404</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato_0</name>
        <label>GetCaseAggiornato</label>
        <locationX>3196</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaFase_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato_0_0</name>
        <label>GetCaseAggiornato</label>
        <locationX>4428</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCausalCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato_0_0_0</name>
        <label>GetCaseAggiornato</label>
        <locationX>5924</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato_1</name>
        <label>GetCaseAggiornato</label>
        <locationX>3328</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfoBillingProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornato_2</name>
        <label>GetCaseAggiornato</label>
        <locationX>6716</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseAggiornatoNonBozza</name>
        <label>GetCaseAggiornatoNonBozza</label>
        <locationX>5220</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow</name>
        <label>GetCasePreFlow</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comunicazione_Pagamento_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow_0</name>
        <label>GetCasePreFlow</label>
        <locationX>622</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Piano_Rateizzazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow_0_0</name>
        <label>GetCasePreFlow</label>
        <locationX>1260</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Richiesta_Domiciliazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow_0_0_0</name>
        <label>GetCasePreFlow</label>
        <locationX>1964</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Variazione_Domiciliazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow_0_0_0_0</name>
        <label>GetCasePreFlow</label>
        <locationX>4120</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Rimborso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCasePreFlow_0_0_0_0_0</name>
        <label>GetCasePreFlow</label>
        <locationX>5616</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Processo_Blocco_Sollecito_ed_Interessi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCausalCode</name>
        <label>GetCausalCode</label>
        <locationX>4428</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato_0_0.Cluster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato_0_0.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subprocess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato_0_0.Subprocess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commodity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseAggiornato_0_0.CommodityFormula__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDT_CausalCodeCalculation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0</name>
        <label>GetContract</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_0.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0</name>
        <label>GetContract</label>
        <locationX>3328</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_1.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0_0</name>
        <label>GetContract</label>
        <locationX>3988</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_2.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0_0_0</name>
        <label>GetContract</label>
        <locationX>4560</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_3.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0_0_0_0</name>
        <label>GetContract</label>
        <locationX>5484</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_4.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0_0_0_0_0</name>
        <label>GetContract</label>
        <locationX>6056</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_5.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContract_0_0_0_0_0_0_0</name>
        <label>GetContract</label>
        <locationX>6848</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaInfo_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAPContractCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManageDocuments_5.contractCode</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>billingProfile</assignToReference>
            <field>BillingProfile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contract</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServicePointId</assignToReference>
            <field>ServicePoint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetInputCaseAggiornatoBozza</name>
        <label>GetInputCaseAggiornatoBozza</label>
        <locationX>4692</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssegnaValori_Paperless</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Billing_Profile_Case</name>
        <label>Aggiorna Billing Profile Case</label>
        <locationX>1194</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>GetCasePreFlow_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Billing_Profile_Case_0</name>
        <label>Aggiorna Billing Profile Case</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>GetCasePreFlow_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Billing_Profile_Case_0_0</name>
        <label>Aggiorna Billing Profile Case</label>
        <locationX>2602</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Screen_Inserimento_Dati_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase</name>
        <label>AggiornaCase</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0</name>
        <label>AggiornaCase</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_00</name>
        <label>AggiornaCase</label>
        <locationX>5924</locationX>
        <locationY>1814</locationY>
        <inputReference>GetCaseAggiornato_0_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0</name>
        <label>AggiornaCase</label>
        <locationX>3328</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0</name>
        <label>AggiornaCase</label>
        <locationX>3988</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0</name>
        <label>AggiornaCase</label>
        <locationX>4560</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0</name>
        <label>AggiornaCase</label>
        <locationX>5484</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0_0</name>
        <label>AggiornaCase</label>
        <locationX>6056</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0_0_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_0_0_0_0_0_0_0</name>
        <label>AggiornaCase</label>
        <locationX>6848</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>ArricchimentoDati_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputReference>Get_Input_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AggiornaCase_3</name>
        <label>AggiornaCase</label>
        <locationX>3328</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Screen_Documenti_Selezionati_0_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato_1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare</name>
        <label>Passa a Da Inviare</label>
        <locationX>4428</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Loading_Screen</targetReference>
        </connector>
        <inputReference>GetCaseAggiornato_0_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Da_Inviare_0</name>
        <label>Passa a Da Inviare</label>
        <locationX>5220</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Loading_Screen_0</targetReference>
        </connector>
        <inputReference>GetCaseAggiornatoNonBozza</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Elaborazione_Manuale</name>
        <label>Passa a Elaborazione Manuale</label>
        <locationX>2404</locationX>
        <locationY>1670</locationY>
        <inputReference>GetCaseAggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_Elaborazione_Manuale_0</name>
        <label>Passa a Elaborazione Manuale</label>
        <locationX>3196</locationX>
        <locationY>2174</locationY>
        <inputReference>GetCaseAggiornato_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_In_Lavorazione</name>
        <label>Passa a In Lavorazione</label>
        <locationX>7508</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Passa_a_In_Lavorazione_0</name>
        <label>Passa a In Lavorazione</label>
        <locationX>6716</locationX>
        <locationY>1694</locationY>
        <inputReference>GetCaseAggiornato_2</inputReference>
    </recordUpdates>
    <screens>
        <name>Loading_Screen</name>
        <label>Loading Screen</label>
        <locationX>4428</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingScreen</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loading_Screen_0</name>
        <label>Loading Screen</label>
        <locationX>5220</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hdtLoadingScreen_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>loadingSpinner</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documenti_Selezionati</name>
        <label>Screen Documenti Selezionati</label>
        <locationX>4692</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetInputCaseAggiornatoBozza</targetReference>
        </connector>
        <fields>
            <name>DisplayDocumentSelected</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSelector</name>
            <extensionName>c:hdtAccountStatementPickerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>codiceCliente</name>
                <value>
                    <elementReference>Get_Input_Case.Account.CustomerCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractAccount</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.ContractAccountCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingProfileId</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documenti_Selezionati_0</name>
        <label>Screen Documenti Selezionati</label>
        <locationX>6188</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Inserimento_Dati_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayDocumentSelected_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSelector_0</name>
            <extensionName>c:hdtAccountStatementPickerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>codiceCliente</name>
                <value>
                    <elementReference>Get_Input_Case.Account.CustomerCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractAccount</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.ContractAccountCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingProfileId</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Documenti_Selezionati_0_0</name>
        <label>Screen Documenti Selezionati</label>
        <locationX>3460</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_Inserimento_Dati_1</targetReference>
        </connector>
        <fields>
            <name>DisplayDocumentSelected_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSelector_0_0</name>
            <extensionName>c:hdtAccountStatementPickerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>codiceCliente</name>
                <value>
                    <elementReference>Get_Input_Case.Account.CustomerCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contractAccount</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.ContractAccountCode__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>billingProfileId</name>
                <value>
                    <elementReference>Get_Input_Case.BillingProfile__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati</name>
        <label>Screen Inserimento Dati</label>
        <locationX>6980</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addContentDocument</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentLabel</name>
                <value>
                    <stringValue>Inserire documenti se necessario</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>4692</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>5220</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCaseAggiornatoNonBozza</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Fine</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0_0_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>2668</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0_0_0_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>7640</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_0_0_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_0_0_0_0_0</name>
        <label>Screen Inserimento Dati</label>
        <locationX>6188</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_2_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_2</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Inserimento_Dati_1</name>
        <label>Screen Inserimento Dati</label>
        <locationX>3460</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salva_in_bozza_o_Conferma_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtDocumentSignatureFlow</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>Get_Input_Case.Type</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelezionaBillingProfile</name>
        <label>Seleziona Billing Profile</label>
        <locationX>1062</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Seleziona il Billing Profile del cliente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtBillingProfile</name>
            <extensionName>c:hdtBillingProfileSelectionFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionType</name>
                <value>
                    <stringValue>BillingProfile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchLabel</name>
                <value>
                    <stringValue>search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Affina la ricerca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchVariant</name>
                <value>
                    <stringValue>Label-Hidden</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelezionaBillingProfile_0</name>
        <label>Seleziona Billing Profile</label>
        <locationX>1766</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_4_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Seleziona il Billing Profile del cliente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtBillingProfile_0</name>
            <extensionName>c:hdtBillingProfileSelectionFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionType</name>
                <value>
                    <stringValue>BillingProfile_VarDom</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchLabel</name>
                <value>
                    <stringValue>search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Affina la ricerca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchVariant</name>
                <value>
                    <stringValue>Label-Hidden</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelezionaBillingProfile_0_0</name>
        <label>Seleziona Billing Profile</label>
        <locationX>2470</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avanzamento_0_0</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_4_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Seleziona il Billing Profile del cliente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtBillingProfile_0_0</name>
            <extensionName>c:hdtBillingProfileSelectionFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_Input_Case.Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionType</name>
                <value>
                    <stringValue>BillingProfile_RevDom</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchLabel</name>
                <value>
                    <stringValue>search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Affina la ricerca</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchVariant</name>
                <value>
                    <stringValue>Label-Hidden</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3785</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Annulla_Prestazione</name>
        <label>Annulla Prestazione</label>
        <locationX>2668</locationX>
        <locationY>1430</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0</name>
        <label>Annulla Prestazione</label>
        <locationX>3460</locationX>
        <locationY>1934</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0_0</name>
        <label>Annulla Prestazione</label>
        <locationX>4692</locationX>
        <locationY>1934</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0_0_0</name>
        <label>Annulla Prestazione</label>
        <locationX>6188</locationX>
        <locationY>1574</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Annulla_Prestazione_0_0_0_0</name>
        <label>Annulla Prestazione</label>
        <locationX>6980</locationX>
        <locationY>1454</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati</name>
        <label>ArricchimentoDati</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetCasePreFlow</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0</name>
        <label>ArricchimentoDati</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetCasePreFlow_0</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>3328</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetCaseAggiornato_1</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>3988</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetCasePreFlow_0_0_0_0</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>4560</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Screen_Documenti_Selezionati</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0_0_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>5484</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>GetCasePreFlow_0_0_0_0_0</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0_0_0_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>6056</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Screen_Documenti_Selezionati_0</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ArricchimentoDati_0_0_0_0_0_0_0</name>
        <label>ArricchimentoDati</label>
        <locationX>6848</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Screen_Inserimento_Dati</targetReference>
        </connector>
        <flowName>HDT_FL_DataEnrichmentPostSales</flowName>
        <inputAssignments>
            <name>ContractId</name>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServicePointId</name>
            <value>
                <elementReference>ServicePointId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Comunicazione_Pagamento_0</name>
        <label>Comunicazione Pagamento</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <flowName>HDT_FL_GestionePagamenti_ComunicazionePagamento</flowName>
        <inputAssignments>
            <name>CaseInput</name>
            <value>
                <elementReference>GetCasePreFlow</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento</name>
        <label>Gestione Annullamento</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento_0</name>
        <label>Gestione Annullamento</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento_0_0</name>
        <label>Gestione Annullamento</label>
        <locationX>2338</locationX>
        <locationY>758</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Processo_Blocco_Sollecito_ed_Interessi</name>
        <label>Processo Blocco Sollecito ed Interessi</label>
        <locationX>5616</locationX>
        <locationY>1334</locationY>
        <flowName>HDT_FL_GestionePagamenti_BloccoSollecitoInteressi</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>GetCasePreFlow_0_0_0_0_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Processo_Piano_Rateizzazione</name>
        <label>Processo Piano Rateizzazione</label>
        <locationX>622</locationX>
        <locationY>1334</locationY>
        <flowName>HDT_FL_GestionePagamenti_PianoRateizzazione</flowName>
        <inputAssignments>
            <name>CaseInput</name>
            <value>
                <elementReference>GetCasePreFlow_0</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Processo_Richiesta_Domiciliazione</name>
        <label>Processo Richiesta Domiciliazione</label>
        <locationX>1260</locationX>
        <locationY>1310</locationY>
        <flowName>HDT_FL_GestionePagamenti_RichiestaDomiciliazione</flowName>
        <inputAssignments>
            <name>CaseInput</name>
            <value>
                <elementReference>GetCasePreFlow_0_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Processo_Rimborso</name>
        <label>Processo Rimborso</label>
        <locationX>4120</locationX>
        <locationY>1334</locationY>
        <flowName>HDT_FL_GestionePagamenti_Rimborso</flowName>
        <inputAssignments>
            <name>CaseInput</name>
            <value>
                <elementReference>GetCasePreFlow_0_0_0_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Processo_Variazione_Domiciliazione</name>
        <label>Processo Variazione Domiciliazione</label>
        <locationX>1964</locationX>
        <locationY>1310</locationY>
        <flowName>HDT_FL_GestionePagamenti_VariazioneDomiciliazione</flowName>
        <inputAssignments>
            <name>CaseInput</name>
            <value>
                <elementReference>GetCasePreFlow_0_0_0</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>billingProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createDocuments</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResumeFromDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveOrConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceCatalogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicePointId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
