force-app/main/default/flows/HDT_FL_GestioneVariazioniTari.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createCaseAllineamentoAnagrafica</name>
        <label>createCaseAllineamentoAnagrafica</label>
        <locationX>710</locationX>
        <locationY>1238</locationY>
        <actionName>HDT_SRV_AnagAlignment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignStatus</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCase</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>context</name>
            <value>
                <stringValue>VARIAZIONI_INDIRIZZO_FORNITURA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCase</name>
            <value>
                <elementReference>getCase</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assegna_punto_fornitura</name>
        <label>Assegna punto fornitura</label>
        <locationX>281</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>getCase.SupplyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.ServicePoint__r.SupplyType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSupplyType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignmentPostForm</name>
        <label>assignmentPostForm</label>
        <locationX>1768</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>getCase.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Birthday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.BirthDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.Birthcity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.BirthProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.AlternativeAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Account.BillingAddressFormula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>commitPostForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPreForm</name>
        <label>AssignmentPreForm</label>
        <locationX>1678</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>getCase.SubscriberType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.DeclarationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.RequestSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Da contribuente</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.SubscriptionPlace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.BillingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updatePreForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhaseDoc</name>
        <label>assignPhaseDoc</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>getCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestione documentale</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminderAllegati</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPhaseLav</name>
        <label>assignPhaseLav</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>getCase.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignProcessType</name>
        <label>assignProcessType</label>
        <locationX>1678</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>processType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCase.Subprocess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignStatus</name>
        <label>assignStatus</label>
        <locationX>710</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>getCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modulo_prodotto_da_contribuente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignStringConcatenazione</name>
        <label>assignStringConcatenazione</label>
        <locationX>2291</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>stringToDocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatenazioneLwc.resultString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenReminderDocumentale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSubProcess_1</name>
        <label>assignSubProcess_1</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubprocessPicklist_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSubProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSubProcess_2</name>
        <label>assignSubProcess_2</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubprocessPicklist_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSubProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSubProcess_3</name>
        <label>assignSubProcess_3</label>
        <locationX>1810</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubprocessPicklist_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSubProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSubProcess_4</name>
        <label>assignSubProcess_4</label>
        <locationX>2074</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>getCase.Subprocess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubprocessPicklist_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSubProcess</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agevolazione</name>
        <choiceText>Agevolazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agevolazione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coabitazioni</name>
        <choiceText>Coabitazioni</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coabitazioni</stringValue>
        </value>
    </choices>
    <choices>
        <name>Componentinonresidenti</name>
        <choiceText>Componenti non residenti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Componenti non residenti</stringValue>
        </value>
    </choices>
    <choices>
        <name>Componentiresidenti</name>
        <choiceText>Componenti residenti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Componenti residenti</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Ufficio</name>
        <choiceText>D&apos;Ufficio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D&apos;Ufficio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Da_Contribuente</name>
        <choiceText>Da Contribuente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Da Contribuente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daticatastali</name>
        <choiceText>Dati catastali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dati catastali</stringValue>
        </value>
    </choices>
    <choices>
        <name>istatRonchi</name>
        <choiceText>ISTAT/Ronchi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISTAT/Ronchi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Superficie</name>
        <choiceText>Superficie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Superficie</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Annullamento</name>
        <label>Annullamento</label>
        <locationX>1392</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>whichPicklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0</name>
        <label>Annullamento</label>
        <locationX>1900</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>GestioneAllegati</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AgevolazioneFormLwc_0_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0_0</name>
        <label>Annullamento</label>
        <locationX>2170</locationX>
        <locationY>3242</locationY>
        <defaultConnector>
            <targetReference>ConcatenazionePreDocumentale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons_9.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0_0_0</name>
        <label>Annullamento</label>
        <locationX>2291</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>checkRavvedimentoOperoso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons_10.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0_0_0_0</name>
        <label>Annullamento</label>
        <locationX>2445</locationX>
        <locationY>4334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons_11.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0_0_0_0_0</name>
        <label>Annullamento</label>
        <locationX>1524</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>AssignmentPreForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtFlowNavButtons_1_0.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Annullamento_0_0_0_0_0_0_0</name>
        <label>Annullamento</label>
        <locationX>1678</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>tryGet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>subFlowAnnullamento_0_0_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScreenFormLwc.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenFormLwcPost.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>subFlowAnnullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnnullamentoSreenIndirizzo</name>
        <label>Annullamento</label>
        <locationX>512</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>updateFieldsRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnnullamentoFromIndirizzo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fieldsFormVarIndirizzo.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>flowAnnullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>caseType</name>
        <label>caseType</label>
        <locationX>836</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SubprocessChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modifica Dati Contrattuali/Post accertamento</defaultConnectorLabel>
        <rules>
            <name>Variazione_indirizzo_fornitura_tari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione indirizzo di fornitura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_punto_fornitura</targetReference>
            </connector>
            <label>Variazione indirizzo fornitura tari</label>
        </rules>
    </decisions>
    <decisions>
        <name>changeCity</name>
        <label>cambio comune</label>
        <locationX>281</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Selezione_Indirizzo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>changeCityOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newMunicipality</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getCase.ServicePoint__r.SupplyCity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>alertChangeCity</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConcatenazionePreDocumentale</name>
        <label>ConcatenazionePreDocumentale</label>
        <locationX>2445</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>checkRavvedimentoOperoso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>altri sottoprocessi</defaultConnectorLabel>
        <rules>
            <name>ComponentiNonResidentiContrattuali</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica dati contrattuali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Componentinonresidenti</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConcatenazioneLogic</targetReference>
            </connector>
            <label>ComponentiNonResidentiContrattuali</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modulo_prodotto_da_contribuente</name>
        <label>Modulo prodotto da contribuente</label>
        <locationX>710</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>assignPhaseDoc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>checkModuloOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.ModuleFromContributor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPhaseLav</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualitaSoggetto</name>
        <label>Qualità Soggetto Passivo?</label>
        <locationX>1900</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>SecondFormDipendenti_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SoggettoPassivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tryGet.SubscriberType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soggetto passivo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignmentPostForm</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichPicklist</name>
        <label>whichPicklist</label>
        <locationX>1678</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>assignSubProcess_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>assignPicklist_4</defaultConnectorLabel>
        <rules>
            <name>assignPicklist_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubprocessPicklist_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSubProcess_1</targetReference>
            </connector>
            <label>assignPicklist_1</label>
        </rules>
        <rules>
            <name>assignPicklist_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubprocessPicklist_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSubProcess_2</targetReference>
            </connector>
            <label>assignPicklist_2</label>
        </rules>
        <rules>
            <name>assignPicklist_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubprocessPicklist_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSubProcess_3</targetReference>
            </connector>
            <label>assignPicklist_3</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichType</name>
        <label>WhichType</label>
        <locationX>1678</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>AssignmentPreForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modifica dati contrattuali</defaultConnectorLabel>
        <rules>
            <name>TypeModificaPostAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Modifica post accertamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verificaAccertamentiTari_0</targetReference>
            </connector>
            <label>Modifica post accertamento</label>
        </rules>
    </decisions>
    <description>SubFlow chiamato da HDT_FL_GestioneVariazioni per la gestione dei processi di Variazioni Tari</description>
    <formulas>
        <description>generazione process type per prelevare il meta dato corretto per il form di compilazione</description>
        <name>generationProcessTypeGetForm</name>
        <dataType>String</dataType>
        <expression>{!processType}&amp;&apos;Post&apos;</expression>
    </formulas>
    <interviewLabel>HDT_FL_GestioneVariazioniTari {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_GestioneVariazioniTari</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>836</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>tryGet</name>
        <label>tryGet</label>
        <locationX>1900</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QualitaSoggetto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>commitPostForm</name>
        <label>commitPostForm</label>
        <locationX>1768</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>SecondFormDipendenti_0</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateFieldsRequest</name>
        <label>updateFieldsRequest</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>createCaseAllineamentoAnagrafica</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePreForm</name>
        <label>updatePreForm</label>
        <locationX>1678</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>ScreenForm</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSubProcess</name>
        <label>updateSubProcess</label>
        <locationX>1678</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>assignProcessType</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupplyType</name>
        <label>updateSupplyType</label>
        <locationX>281</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>checkMunicipality</targetReference>
        </connector>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <screens>
        <name>alertChangeCity</name>
        <label>alertChangeCity</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>flowAnnullamento</targetReference>
        </connector>
        <fields>
            <name>screenAlertChangeCity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 140, 0); font-size: 20px;&quot;&gt;&lt;em&gt;&lt;u&gt;ATTENZIONE!&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Il comune ha subito una variazione!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;Da: &lt;/em&gt;{!getCase.ServicePoint__r.SupplyCity__c} A: {!newMunicipality}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Si proceda con l&apos;annullamento del processo corrente e innescare il processo di Cambio Offerta&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtflownavButtons_14</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Annullamento</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>checkMunicipality</name>
        <label>checkMunicipality</label>
        <locationX>281</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>changeCity</targetReference>
        </connector>
        <fields>
            <name>showProcess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Processo di {!getCase.Type}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Inserire il nuovo comune per verifica dei criteri di eleggibilità&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newMunicipality</name>
            <dataType>String</dataType>
            <fieldText>Nuovo Comune</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hdtflownavButtons_13</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>checkRavvedimentoOperoso</name>
        <label>checkRavvedimentoOperoso</label>
        <locationX>2445</locationX>
        <locationY>4214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>hdtCheckRavvedimentoOperoso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;hdtCheckRavvedimentoOperoso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavButtons_11</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConcatenazioneLogic</name>
        <label>ConcatenazioneLogic</label>
        <locationX>2291</locationX>
        <locationY>3482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignStringConcatenazione</targetReference>
        </connector>
        <fields>
            <name>concatenazioneLwc</name>
            <extensionName>c:hdtStringGenerationForDocument</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseProcess</name>
                <value>
                    <elementReference>getCase.Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>caseSubProcess</name>
                <value>
                    <elementReference>getCase.Subprocess__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtFlowNavButtons_10</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GestioneAllegati</name>
        <label>GestioneAllegati</label>
        <locationX>2170</locationX>
        <locationY>3122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0_0</targetReference>
        </connector>
        <fields>
            <name>hdtAttachmentManager</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;hdtAttachmentManager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavButtons_9</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>reminderAllegati</name>
        <label>reminderAllegati</label>
        <locationX>842</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenReminderDocumentaleVar</targetReference>
        </connector>
        <fields>
            <name>screenAllegati</name>
            <fieldText>&lt;p&gt;hdtAttachmentManager&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenForm</name>
        <label>ScreenForm</label>
        <locationX>1678</locationX>
        <locationY>2066</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>headerForm</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Processo di {!getCase.Type}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Sotto processo di {!processType}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Compilare manualmente i dati sottostanti&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenForm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenForm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenFormLwc</name>
                    <extensionName>c:hdtRecordEditFormFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>processType</name>
                        <value>
                            <elementReference>processType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>density</name>
                        <value>
                            <stringValue>Comfy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showReadOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>saveButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordType</name>
                        <value>
                            <elementReference>getCase.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>caseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>previousButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cancelButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>draftButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelDraftButton</name>
                        <value>
                            <stringValue>Salva In Bozza</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelSaveButton</name>
                        <value>
                            <stringValue>Avanti</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelPreviousButton</name>
                        <value>
                            <stringValue>Indietro</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>getCase.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Modifica dati contrattuali</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>getCase.Subprocess__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Agevolazione</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica dati contrattuali</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica post accertamento</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Subprocess__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Agevolazione</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenForm_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenForm_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenFormLwcPost</name>
                    <extensionName>c:hdtRecordEditFormFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cancelButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>density</name>
                        <value>
                            <stringValue>Comfy</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>draftButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelDraftButton</name>
                        <value>
                            <stringValue>Salva In Bozza</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelSaveButton</name>
                        <value>
                            <stringValue>Avanti</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>previousButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>processType</name>
                        <value>
                            <elementReference>generationProcessTypeGetForm</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordType</name>
                        <value>
                            <elementReference>getCase.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>caseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>saveButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showReadOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelPreviousButton</name>
                        <value>
                            <stringValue>Indietro</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getCase.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Modifica post accertamento</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>getCase.Subprocess__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Agevolazione</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica post accertamento</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Subprocess__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Agevolazione</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenReminderDocumentale</name>
        <label>screenReminderDocumentale</label>
        <locationX>2291</locationX>
        <locationY>3722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>documentaleReminder</name>
            <fieldText>&lt;p&gt;chiamata al documentale&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenReminderDocumentaleVar</name>
        <label>ScreenReminderDocumentale</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Reminder</name>
            <fieldText>&lt;p&gt;Chiamare CB Documentale in OP&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>docuLwc</name>
            <extensionName>c:hdtDocumentSignatureManagerFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>nav_15</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Fine</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SecondFormDipendenti_0</name>
        <label>SecondFormDipendenti</label>
        <locationX>1900</locationX>
        <locationY>2882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0</targetReference>
        </connector>
        <fields>
            <name>AgevolazioneFormLwc_0_0</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>VariazioniTariModifica2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>getCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selezione_Indirizzo</name>
        <label>Selezione Indirizzo</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AnnullamentoSreenIndirizzo</targetReference>
        </connector>
        <fields>
            <name>attualeIndirizzo</name>
            <fieldText>&lt;p&gt;L&apos;indirizzo attuale è: {!getCase.ServicePoint__r.SupplyAddress__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newAddressLwc</name>
            <extensionName>c:hdtGenericAddressChooserFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>fieldsFormVarIndirizzo</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva In Bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>getCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Variazione indirizzo di fornitura tari</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SubprocessChoice</name>
        <label>SubprocessChoice</label>
        <locationX>1392</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento</targetReference>
        </connector>
        <fields>
            <name>SubprocessChoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubprocessChoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Surface</name>
                    <fieldText>&lt;p&gt;Superficie: {!getCase.Surface__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getCase.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Modifica dati contrattuali</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SubprocessChoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberOfPeople</name>
                    <fieldText>&lt;p&gt;Numero abitanti: {!getCase.NumberOfPeople__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getCase.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Modifica dati contrattuali</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SubprocessPicklist_1</name>
            <choiceReferences>Coabitazioni</choiceReferences>
            <choiceReferences>Componentinonresidenti</choiceReferences>
            <choiceReferences>Componentiresidenti</choiceReferences>
            <choiceReferences>Daticatastali</choiceReferences>
            <choiceReferences>istatRonchi</choiceReferences>
            <choiceReferences>Superficie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sottoprocesso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Account.VATNumber__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica dati contrattuali</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubprocessPicklist_2</name>
            <choiceReferences>Agevolazione</choiceReferences>
            <choiceReferences>Coabitazioni</choiceReferences>
            <choiceReferences>Componentinonresidenti</choiceReferences>
            <choiceReferences>Componentiresidenti</choiceReferences>
            <choiceReferences>Daticatastali</choiceReferences>
            <choiceReferences>istatRonchi</choiceReferences>
            <choiceReferences>Superficie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sottoprocesso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Account.VATNumber__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica post accertamento</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubprocessPicklist_3</name>
            <choiceReferences>Coabitazioni</choiceReferences>
            <choiceReferences>Componentinonresidenti</choiceReferences>
            <choiceReferences>Componentiresidenti</choiceReferences>
            <choiceReferences>Daticatastali</choiceReferences>
            <choiceReferences>Superficie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sottoprocesso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Account.VATNumber__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica dati contrattuali</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubprocessPicklist_4</name>
            <choiceReferences>Agevolazione</choiceReferences>
            <choiceReferences>Coabitazioni</choiceReferences>
            <choiceReferences>Componentinonresidenti</choiceReferences>
            <choiceReferences>Componentiresidenti</choiceReferences>
            <choiceReferences>Daticatastali</choiceReferences>
            <choiceReferences>Superficie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sottoprocesso</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCase.Account.VATNumber__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getCase.Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifica post accertamento</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>hdtFlowNavButtons</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>verificaAccertamentiTari_0</name>
        <label>verificaAccertamentiTari</label>
        <locationX>1524</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Annullamento_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>hdtCheckAssessments_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;hdtCheckAssessments&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtFlowNavButtons_1_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>710</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>flowAnnullamento</name>
        <label>flowAnnullamento</label>
        <locationX>1392</locationX>
        <locationY>5054</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isCheckOwnerOk</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stringToDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
