force-app/main/default/flows/HDT_FL_GestioneReclami_GestioneReclamiScrittiDue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assegna_Diritto_Rettifica</name>
        <label>Assegna Diritto Rettifica</label>
        <locationX>726</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Aggiornato.CorrectionRight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Diritto_Rettifica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Diritto_Rettifica_0</name>
        <label>Assegna Diritto Rettifica</label>
        <locationX>990</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Aggiornato.CorrectionRight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aggiorna_Diritto_Rettifica</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Id_Contenitore</name>
        <label>Assegna Id Contenitore</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>IdContenitore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Case_Contenitore_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_a_Case_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Id_Contenitore_0</name>
        <label>Assegna Id Contenitore</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>IdContenitore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCaseFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_a_Case_Contenitore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type</name>
        <label>Assegna Process Type</label>
        <locationX>594</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reclamo Scritto Seconda Classificazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Seconda_Classificazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0</name>
        <label>Assegna Process Type</label>
        <locationX>1122</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Richiesta Info Seconda Classificazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Seconda_Classificazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assegna_Process_Type_0_0</name>
        <label>Assegna Process Type</label>
        <locationX>858</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ProcessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rettifica Seconda Classificazione</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Seconda_Classificazione</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Rimuovere_Link_Reiterazione</name>
        <label>Non Rimuovere Link Reiterazione</label>
        <locationX>380</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>CaseReiterazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.RelatedCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsReiterato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Vecchio_Scaduto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rimuovi_Link_Reiterazione</name>
        <label>Rimuovi Link Reiterazione</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>CaseReiterazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsReiterato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reclamo_Scritto_Richiesta_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rimuovi_Link_Reiterazione_0</name>
        <label>Rimuovi Link Reiterazione</label>
        <locationX>1106</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>CaseReiterazione</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsReiterato</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reclamo_Scritto_Richiesta_Info</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BlankValue</name>
        <choiceText>Nessuna Classificazione Selezionata</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Conferma</name>
        <choiceText>SI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confermare</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonConfermare</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Confermare</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Blocco_Sollecito_0</name>
        <label>Blocco Sollecito?</label>
        <locationX>858</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>Aggiorna_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Blocco</defaultConnectorLabel>
        <rules>
            <name>Blocco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Input_Case_Aggiornato.ReminderBlock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivityBloccoSollecito</targetReference>
            </connector>
            <label>Blocco</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Contenitore_esiste</name>
        <label>Case Contenitore esiste?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assegna_Id_Contenitore_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contenitore Esiste</defaultConnectorLabel>
        <rules>
            <name>Contenitore_Esiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.RelatedCase__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_Case_Contenitore_0</targetReference>
            </connector>
            <label>Contenitore Non Esiste</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Vecchio_Scaduto</name>
        <label>Case Vecchio Scaduto?</label>
        <locationX>380</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Inserimento_Sollecito_Vecchio_Reclamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Scaduto</defaultConnectorLabel>
        <rules>
            <name>Scaduto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.RelatedCase__r.ComplaintEndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Contenitore_esiste</targetReference>
            </connector>
            <label>Scaduto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diritto_Rettifica</name>
        <label>Diritto Rettifica?</label>
        <locationX>858</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assegna_Diritto_Rettifica_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Diritto alla Rettifica</defaultConnectorLabel>
        <rules>
            <name>Diritto_alla_Rettifica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rettifica Doppia Fatturazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Diritto_Rettifica</targetReference>
            </connector>
            <label>Diritto alla Rettifica</label>
        </rules>
    </decisions>
    <decisions>
        <name>Presenza_Reiterazione</name>
        <label>Presenza Reiterazione?</label>
        <locationX>858</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Rimuovi_Link_Reiterazione_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assente</defaultConnectorLabel>
        <rules>
            <name>Presente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.IsReiteration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Conferma_Reiterazione</targetReference>
            </connector>
            <label>Presente</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reclamo_Scritto_Richiesta_Info</name>
        <label>Reclamo Scritto/Richiesta Info?</label>
        <locationX>858</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Assegna_Process_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Richiesta info</defaultConnectorLabel>
        <rules>
            <name>Reclamo_Scritto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reclamo Scritto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type</targetReference>
            </connector>
            <label>Reclamo Scritto</label>
        </rules>
        <rules>
            <name>Rettifica_Doppia_Fatturazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Aggiornato.FirstLevelComplaintClassification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rettifica Doppia Fatturazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assegna_Process_Type_0_0</targetReference>
            </connector>
            <label>Rettifica Doppia Fatturazione</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reiterazione_Confermata</name>
        <label>Reiterazione Confermata?</label>
        <locationX>611</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Rimuovi_Link_Reiterazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Confermata</defaultConnectorLabel>
        <rules>
            <name>Confermata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hdtCustomPicklist.outcome</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Rimuovere_Link_Reiterazione</targetReference>
            </connector>
            <label>Confermata</label>
        </rules>
    </decisions>
    <description>Flow per la seconda classificazione dei Reclami Scritti/Rich. Info
--&gt; Modifiche per primo release devw1</description>
    <dynamicChoiceSets>
        <name>PrimoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FirstLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuartoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FourthLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuintoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FithLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SecondoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SecondLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TerzoLivello</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ThirdLevelComplaintClassification__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ParentCaseFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Case_Aggiornato.ParentId}),{!Get_Case_Aggiornato.RelatedCase__r.ParentId},{!Get_Case_Aggiornato.ParentId} )</expression>
    </formulas>
    <interviewLabel>GestioneReclami_GestioneReclamiScritti 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Reclami - Reclami Scritti 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Activity_Blocco_Sollecito</name>
        <label>Crea Activity Blocco Sollecito</label>
        <locationX>726</locationX>
        <locationY>3374</locationY>
        <connector>
            <targetReference>Aggiorna_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Input_Case_Aggiornato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__ActivityTemplate__c</field>
            <value>
                <elementReference>GetActivityBloccoSollecito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>wrts_prcgvr__Description__c</field>
            <value>
                <stringValue>Creare e Risolvere Case di Blocco Sollecito</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_Case_Contenitore_0</name>
        <label>Crea Case Contenitore</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Assegna_Id_Contenitore</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case_Aggiornato.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ComplaintType__c</field>
            <value>
                <elementReference>Get_Case_Aggiornato.ComplaintType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstLevelComplaintClassification__c</field>
            <value>
                <elementReference>Get_Case_Aggiornato.FirstLevelComplaintClassification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsContainer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>Get_Case_Aggiornato.Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Get_Case_Aggiornato.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Aggiornato.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendDate__c</field>
            <value>
                <elementReference>Get_Case_Aggiornato.SendDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServicePoint__c</field>
            <value>
                <elementReference>Get_Case_Aggiornato.ServicePoint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Bozza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Case_Aggiornato.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Aggiornato</name>
        <label>Get Case Aggiornato</label>
        <locationX>858</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diritto_Rettifica</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Input_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case</name>
        <label>Get Input Case</label>
        <locationX>858</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Controllo_Classificazione</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Case_Aggiornato</name>
        <label>Get Input Case Aggiornato Seconda Classificazione</label>
        <locationX>858</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blocco_Sollecito_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetActivityBloccoSollecito</name>
        <label>Get Activity Blocco Sollecito</label>
        <locationX>726</locationX>
        <locationY>3254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Activity_Blocco_Sollecito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocco Sollecito</stringValue>
            </value>
        </filters>
        <filters>
            <field>wrts_prcgvr__ObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>wrts_prcgvr__ActivityTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Aggiorna_Case</name>
        <label>Aggiorna Case</label>
        <locationX>858</locationX>
        <locationY>3590</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChangePhaseDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReiteration__c</field>
            <value>
                <elementReference>IsReiterato</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCase__c</field>
            <value>
                <elementReference>CaseReiterazione</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Aggiorna_Diritto_Rettifica</name>
        <label>Aggiorna Diritto Rettifica</label>
        <locationX>858</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Presenza_Reiterazione</targetReference>
        </connector>
        <inputReference>Get_Case_Aggiornato</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Chiudi_il_Case</name>
        <label>Annulla il Case</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NotCancellable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Annullato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_a_Case_Contenitore</name>
        <label>Link a Case Contenitore</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Link_a_Case_Contenitore_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdContenitore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_a_Case_Contenitore_0</name>
        <label>Link a Case Contenitore</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Reclamo_Scritto_Richiesta_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Aggiornato.RelatedCase__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdContenitore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Controllo_Classificazione</name>
        <label>Controllo Classificazione</label>
        <locationX>858</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Aggiornato</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Input_Case.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Ricontrolla la Classificazione del Case&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm_00</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>Riclassificazione</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Input_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inserimento_Sollecito_Vecchio_Reclamo</name>
        <label>Inserimento Sollecito Vecchio Reclamo</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chiudi_il_Case</targetReference>
        </connector>
        <fields>
            <name>AddSollecito</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case_Aggiornato.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Alla pressione del taso &quot;Conferma Pratica&quot; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;verrà inserito un &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;sollecito&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt; sul Case &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!Get_Case_Aggiornato.RelatedCase__r.CaseNumber} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;mentre il presente Case &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!Get_Input_Case.CaseNumber}&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; verrà &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Annullato&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtNavigationButton</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Conferma_Reiterazione</name>
        <label>Screen Conferma Reiterazione</label>
        <locationX>611</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reiterazione_Confermata</targetReference>
        </connector>
        <fields>
            <name>DispayHeader_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case_Aggiornato.Type}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtCustomPicklist</name>
            <extensionName>c:hdtCustomPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>SI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>options</name>
                <value>
                    <stringValue>[{&quot;value&quot;:&quot;si&quot;,&quot;label&quot;:&quot;SI&quot;},{&quot;value&quot;:&quot;no&quot;,&quot;label&quot;:&quot;NO&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confermare Reiterazione?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Scegliere se confermare o meno la reiterazione</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>hdtFlowNavigationButton_0</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Avanti</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Seconda_Classificazione</name>
        <label>Screen Seconda Classificazione</label>
        <locationX>858</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Input_Case_Aggiornato</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!Get_Case_Aggiornato.Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Compila manualmente i dati sottostanti&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtRecordEditForm</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>ProcessType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case_Aggiornato.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelInputSection</name>
                <value>
                    <stringValue>Variabili di Processo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelPreviousButton</name>
                <value>
                    <stringValue>Indietro</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variantSaveButton</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Input_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollectionReiterazione</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Case_Aggiornato.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseReiterazione</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContenitore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsReiterato</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
