force-app/main/default/flows/HDT_FL_Modifica_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignPostActiveRepentant</name>
        <label>assignPostActiveRepentant</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>getCase.BlockOnComputation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.bloccoCalcolo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.EffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.dateDecorrenza</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.DeclarationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.dateDichiarazione</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.CustomerRepentanceRefusal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.declineSupport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.OnerousReviewableStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.dateX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCase.OnerousUnreviewableStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>componentActiveRepentant.outputWrp.dateY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>exitFlow</name>
        <label>exitFlow?</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>assignPostActiveRepentant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExitFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowNavigation.cancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>toDoActiveRepentant</name>
        <label>toDoActiveRepentant?</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ActiveRepentant</name>
            <conditionLogic>9 AND (6 OR ( (1 OR 2 OR 3 OR 4) AND 7 ) OR ( 5 AND 8 ))</conditionLogic>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM_Componenti non residenti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM_Componenti residenti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOM_Coabitazioni</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domiciliato in nucleo residente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Superficie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NON DOM_ISTAT/Ronchi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.NumberMembers__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>newComponentsNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.DeclaredArea__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>getCase.Surface__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica dati contrattuali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenActiveRepentant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow che permette di modificare data dichiarazione e data decorrenza prima di procedere con l&apos;invio della pratica</description>
    <environments>Default</environments>
    <formulas>
        <name>newComponentsNumber</name>
        <dataType>Number</dataType>
        <expression>MAX({!getCase.NotResidentMembers__c},{!getCase.CohabitantsNumber__c},{!getCase.ResidentMembers__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Modifica Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HDT_FL_Modifica_Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>toDoActiveRepentant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <inputReference>getCase</inputReference>
    </recordUpdates>
    <screens>
        <name>ScreenActiveRepentant</name>
        <label>ScreenActiveRepentant</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>exitFlow</targetReference>
        </connector>
        <fields>
            <name>screenHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Modifica Dati&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>componentActiveRepentant</name>
            <extensionName>c:hdtActiveRepentant</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getCase.SupplyCity__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sottotipo</name>
                <value>
                    <elementReference>getCase.Subprocess__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>companyOwner</name>
                <value>
                    <elementReference>getCase.ServicePoint__r.Company__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>textGerav</name>
            <fieldText>&lt;p&gt;Ravvedimento operoso:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://gerav.bingest.net/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GE*RAV Gestione Ravvedimento Operoso&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowNavigation</name>
            <extensionName>c:hdtFlowNavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDraft</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isPrevious</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextVariant</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standAlone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenDate</name>
        <label>ScreenDate</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>headerChangeDates</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Modifica Dati&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>editScreenDate</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>density</name>
                <value>
                    <stringValue>Comfy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <stringValue>changeDates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordType</name>
                <value>
                    <elementReference>getCase.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
