force-app/main/default/flows/HDT_FL_ActivityForwardToAgency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>go_to_new_activity_acton</name>
        <label>Vai a Nuova Attività</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>c:HDT_LCP_RedirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>activity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>forwarding_activity_set</name>
        <label>Prepara Activity di Riassegnazione</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>activity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gestione Agenzia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activity.ParentActivity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>activity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_get.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forwarding_activity_create</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Activity - Inoltro ad Agenzia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activity - Inoltro ad Agenzia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>forwarding_activity_create</name>
        <label>Crea Attività di Inoltro</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>activity_pause</targetReference>
        </connector>
        <inputReference>activity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>recordtype_get</name>
        <label>RecordType</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forwarding_activity_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HDT_RT_Default</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>wrts_prcgvr__Activity__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>activity_pause</name>
        <label>Sospendi Attività</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>go_to_new_activity_acton</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>wrts_prcgvr__Status__c</field>
            <value>
                <stringValue>Sospesa</stringValue>
            </value>
        </inputAssignments>
        <object>wrts_prcgvr__Activity__c</object>
    </recordUpdates>
    <screens>
        <name>insert_note</name>
        <label>Inserisci Note</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordtype_get</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>activity.Note__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>insert_note</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>activity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>wrts_prcgvr__Activity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
