force-app/main/default/flows/HDT_FL_GestioneVotiveModena.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Next_Step_VotivaModAnag</name>
        <label>Next Step?</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Fase_In_Lavorazione</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conferma Pratica</defaultConnectorLabel>
        <rules>
            <name>Annullamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CancelCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestione_Annullamento</targetReference>
            </connector>
            <label>Annullamento</label>
        </rules>
        <rules>
            <name>Salva_in_Bozza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveInDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Salva in Bozza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quale_Processo_di_Votive</name>
        <label>Quale Processo di Votive?</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen_Errore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Cessazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Cessazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cluster_Disattivazioni</targetReference>
            </connector>
            <label>Cessazione</label>
        </rules>
        <rules>
            <name>Spostamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spostamento Votive Modena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cluster_Preventivi</targetReference>
            </connector>
            <label>Spostamento</label>
        </rules>
        <rules>
            <name>Contestazione_Fattura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Contestazione Fattura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cluster_Reclami</targetReference>
            </connector>
            <label>Contestazione Fattura</label>
        </rules>
        <rules>
            <name>Morosita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Votive Modena Pagamenti Morosità</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sublflow_Morosita</targetReference>
            </connector>
            <label>Morosità</label>
        </rules>
        <rules>
            <name>Modifica_Dati_di_Recapito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variazione Anagrafica Cliente</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Subprocess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifica Dati di Recapito Votiva Modena</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selezione_Billing_Profile</targetReference>
            </connector>
            <label>Modifica Dati di Recapito</label>
        </rules>
    </decisions>
    <description>Flow per il dispatch dei Case di Votive Modena</description>
    <interviewLabel>Gestione Votive Modena {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestione Votive Modena</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quale_Processo_di_Votive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Billing_Profile</name>
        <label>Set Billing Profile</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Inserimento_Dati_Votiva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingProfile__c</field>
            <value>
                <elementReference>SelectedBillingProfileId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fase_In_Lavorazione</name>
        <label>Set Fase In Lavorazione</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>In Lavorazione</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Inserimento_Dati_Votiva</name>
        <label>Inserimento Dati Votiva</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Next_Step_VotivaModAnag</targetReference>
        </connector>
        <fields>
            <name>DTModAnag</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetCase.Subprocess__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formModAnag</name>
            <extensionName>c:hdtRecordEditFormFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>draftButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelDraftButton</name>
                <value>
                    <stringValue>Salva in bozza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelSaveButton</name>
                <value>
                    <stringValue>Conferma Pratica</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStep</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processType</name>
                <value>
                    <elementReference>GetCase.Subprocess__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>InputCase</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CancelCase</assignToReference>
                <name>cancelCase</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SaveInDraft</assignToReference>
                <name>saveInDraft</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Errore</name>
        <label>Screen Errore</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si è verificato un errore.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Si prega di contattare l&apos;amministratore di sistema&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selezione_Billing_Profile</name>
        <label>Selezione Billing Profile</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Billing_Profile</targetReference>
        </connector>
        <fields>
            <name>DTModAnag_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Processo di {!GetCase.Subprocess__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Selezionare il Billing Profile afferente alla Votiva Modena:&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hdtBillingProfileSelectionFlow</name>
            <extensionName>c:hdtBillingProfileSelectionFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>GetCase.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchVariant</name>
                <value>
                    <stringValue>Label-Hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchPlaceholder</name>
                <value>
                    <stringValue>Affina la ricerca...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchLabel</name>
                <value>
                    <stringValue>search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionType</name>
                <value>
                    <stringValue>BillingProfile</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBillingProfileId</assignToReference>
                <name>results</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cluster_Disattivazioni</name>
        <label>Cluster Disattivazioni</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneDisattivazioni</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cluster_Preventivi</name>
        <label>Cluster Preventivi</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestionePreventivi</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Cluster_Reclami</name>
        <label>Cluster Reclami</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneReclami</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gestione_Annullamento</name>
        <label>Gestione Annullamento</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <flowName>HDT_FL_GestioneAnnullamento</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessType</name>
            <value>
                <stringValue>Annullamento prestazione</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordToCancell</name>
            <value>
                <elementReference>InputCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectRecordToCancell</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sublflow_Morosita</name>
        <label>Sublflow Morosita</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <flowName>HDT_FL_GestioneMorosita</flowName>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CancelCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SaveInDraft</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBillingProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
